Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

docs(core): the commit door's ordinal counted an enumeration the tree does not have (#2196)
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/claim-census-ledger.json
Due: core

test(core): the prototype-term census declares what it cannot see (#2197)
  packages/core/tests/functional/prototype-term-authority-2197.test.ts
Due: none

core: seal the pending navigation target at every handout (#2222)
  .changeset/seal-pending-target-2144.md
  packages/core/INVARIANTS.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/completeTransition.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/claim-census-ledger.json
  packages/core/tests/functional/pending-shell-sealed-2144.test.ts
  packages/core/tests/functional/pending-target-authority.test.ts
  packages/core/tests/functional/state-freeze-authority.test.ts
  packages/core/tests/property/subscribeLeave.properties.ts
Due: core

docs(config): measure the variant at its best boundary, not at the issue's
  .claude/commands/enhance.md
Due: none

feat(route-utils): drop the static segment-tester facade (#2209)
  .changeset/drop-static-facade-2209.md
  IMPLEMENTATION_NOTES.md
  packages/core/tests/functional/claim-census-ledger.json
  packages/route-utils/README.md
  packages/route-utils/src/RouteUtils.ts
  packages/route-utils/tests/functional/segmentTesters.test.ts
Due: none

feat(route-utils): drop the static segment-tester facade (#2209) (#2224)
  .changeset/drop-static-facade-2209.md
  IMPLEMENTATION_NOTES.md
  packages/core/tests/functional/claim-census-ledger.json
  packages/route-utils/README.md
  packages/route-utils/src/RouteUtils.ts
  packages/route-utils/tests/functional/segmentTesters.test.ts
Due: none

release: version packages (#2209 #2210)
  .changeset/drop-static-facade-2209.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#2209 #2210) (#2225)
  .changeset/drop-static-facade-2209.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

docs(config): the __PURE__ blocker has a fix in flight, so name the trigger
  IMPLEMENTATION_NOTES.md
  packages/core/tests/functional/claim-census-ledger.json
Due: none

ci: a trusted workflow so a fork PR can pass the quality gate (#1868)
  .github/workflows/ci.yml
  .github/workflows/sonar-trusted.yml
  IMPLEMENTATION_NOTES.md
  packages/core/tests/functional/claim-census-ledger.json
Due: none

ci: retire the in-CI scan; the trusted workflow produces SonarCloud (#1868)
  .github/workflows/ci.yml
  .github/workflows/sonar-trusted.yml
  IMPLEMENTATION_NOTES.md
  packages/core/tests/functional/claim-census-ledger.json
  scripts/check-coverage-scope.mjs
  scripts/ci-gate-completeness.test.mjs
  scripts/sonar-local.sh
Due: none

test(dom-utils): the scroll-key pins measure the key, not a replica of it (#1923)
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/angular/tests/property/scrollRestoration.properties.ts
  packages/preact/CLAUDE.md
  packages/preact/INVARIANTS.md
  packages/preact/tests/property/scrollRestoreKey.properties.ts
  packages/solid/CLAUDE.md
  packages/solid/tests/property/scrollRestoreKey.properties.ts
  packages/svelte/CLAUDE.md
  shared/dom-utils/scroll-restore.ts
Due: none

fix(dom-utils): the scroll key names a location, not a state's contents (#1923)
  .changeset/scroll-key-location-1923-angular.md
  .changeset/scroll-key-location-1923-preact.md
  .changeset/scroll-key-location-1923-react.md
  .changeset/scroll-key-location-1923-solid.md
  .changeset/scroll-key-location-1923-svelte.md
  .changeset/scroll-key-location-1923-vue.md
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/angular/tests/functional/scroll-restore.test.ts
  packages/preact/tests/functional/RouterProvider.scroll.test.tsx
  packages/preact/tests/functional/scroll-restore-key-1923.test.ts
  packages/react/tests/functional/RouterProvider.scroll.test.tsx
  packages/react/tests/functional/dom-utils/scroll-restore.test.ts
  packages/solid/tests/functional/RouterProvider.scroll.test.tsx
  packages/svelte/tests/functional/RouterProvider.scroll.test.ts
  packages/vue/tests/functional/RouterProvider.scroll.test.ts
  shared/dom-utils/scroll-restore.ts
Due: none

refactor(dom-utils): the scroll key's serializer goes with the key (#1923)
  IMPLEMENTATION_NOTES.md
  examples/web/react/hash-examples/scroll-restoration/README.md
  examples/web/react/hash-examples/scroll-restoration/src/pages/Home.tsx
  packages/angular/src/dom-utils/direction-tracker.ts
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/angular/tests/functional/scroll-restore.test.ts
  packages/angular/tests/property/scrollRestoration.properties.ts
  packages/core/tests/functional/claim-census-authority-2092.test.ts
  packages/core/tests/functional/claim-census-ledger.json
  packages/preact/INVARIANTS.md
  packages/preact/tests/property/scrollRestoreKey.properties.ts
  packages/react/tests/functional/dom-utils/authority-1838.test.ts
  packages/react/tests/functional/dom-utils/scroll-restore.test.ts
  packages/solid/tests/property/scrollRestoreKey.properties.ts
  packages/solid/tests/stress/scroll-restoration-rapid.stress.tsx
  packages/svelte/tests/stress/scroll-restoration-rapid.stress.ts
  packages/vue/tests/stress/scroll-restoration-rapid.stress.ts
  shared/dom-utils/direction-tracker.ts
  shared/dom-utils/scroll-restore.ts
Due: none

docs(browser-env,dom-utils): two claims the audit's control arm falsified
  packages/browser-plugin/tests/functional/browser-env/captured-intrinsics-1971.test.ts
  packages/core/tests/functional/claim-census-ledger.json
  shared/browser-env/validation.ts
  shared/dom-utils/CLAUDE.md
Due: none

fix(dom-utils): three pieces of module state carry identity (#1924)
  .changeset/module-state-identity-1924-angular.md
  .changeset/module-state-identity-1924-preact.md
  .changeset/module-state-identity-1924-react.md
  .changeset/module-state-identity-1924-solid.md
  .changeset/module-state-identity-1924-svelte.md
  .changeset/module-state-identity-1924-vue.md
  packages/angular/src/dom-utils/direction-tracker.ts
  packages/angular/src/dom-utils/route-announcer.ts
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/angular/tests/functional/direction-tracker.test.ts
  packages/core/tests/functional/claim-census-ledger.json
  packages/react/tests/functional/dom-utils/direction-tracker.test.ts
  packages/react/tests/functional/dom-utils/module-state-identity-1924.test.ts
  packages/react/tests/property/dom-utils/lifecycle.properties.ts
  shared/dom-utils/CLAUDE.md
  shared/dom-utils/direction-tracker.ts
  shared/dom-utils/route-announcer.ts
  shared/dom-utils/scroll-restore.ts
Due: none

docs(changeset): the upgrade note says what holds, not what a past release did
  .changeset/scroll-key-location-1923-angular.md
  .changeset/scroll-key-location-1923-preact.md
  .changeset/scroll-key-location-1923-react.md
  .changeset/scroll-key-location-1923-solid.md
  .changeset/scroll-key-location-1923-svelte.md
  .changeset/scroll-key-location-1923-vue.md
Due: none

ci: drop ten allowlist entries whose advisories were withdrawn upstream
  IMPLEMENTATION_NOTES.md
  scripts/osv-scanner.toml
Due: none

release: version packages (#1923 #1924 #781 #782)
  .changeset/module-state-identity-1924-angular.md
  .changeset/module-state-identity-1924-preact.md
  .changeset/module-state-identity-1924-react.md
  .changeset/module-state-identity-1924-solid.md
  .changeset/module-state-identity-1924-svelte.md
  .changeset/module-state-identity-1924-vue.md
  .changeset/scroll-key-location-1923-angular.md
  .changeset/scroll-key-location-1923-preact.md
  .changeset/scroll-key-location-1923-react.md
  .changeset/scroll-key-location-1923-solid.md
  .changeset/scroll-key-location-1923-svelte.md
  .changeset/scroll-key-location-1923-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#1923 #1924 #781 #782) (#2228)
  .changeset/module-state-identity-1924-angular.md
  .changeset/module-state-identity-1924-preact.md
  .changeset/module-state-identity-1924-react.md
  .changeset/module-state-identity-1924-solid.md
  .changeset/module-state-identity-1924-svelte.md
  .changeset/module-state-identity-1924-vue.md
  .changeset/scroll-key-location-1923-angular.md
  .changeset/scroll-key-location-1923-preact.md
  .changeset/scroll-key-location-1923-react.md
  .changeset/scroll-key-location-1923-solid.md
  .changeset/scroll-key-location-1923-svelte.md
  .changeset/scroll-key-location-1923-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

chore(deps): carry the @analogjs bump c46ad39c3 claimed but did not make (#2226)
  benchmarks/package.json
  examples/web/angular/combined/package.json
  examples/web/angular/dynamic-routes/package.json
  examples/web/angular/nested-routes/package.json
  packages/angular/package.json
  pnpm-lock.yaml
Due: none

docs(browser-plugin): a v8 ignore goes before its construct, not inside it
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/src/factory.ts
  packages/core/tests/functional/claim-census-ledger.json
Due: browser-plugin

docs(core): the reason for a per-call read names an API removed in #63 (#1873)
  packages/core/src/wiring/wireNamespaces.ts
Due: core

ci: the line-anchor ratchet joins the two censuses in pre-commit
  .husky/pre-commit
  IMPLEMENTATION_NOTES.md
  package.json
  packages/core/tests/functional/claim-census-ledger.json
Due: none

docs(core): four JSDoc blocks bind to their subject again (#1872)
  packages/angular/src/dom-utils/link-utils.ts
  packages/core/src/routerFSM.ts
  shared/dom-utils/link-utils.ts
Due: core

docs(benchmarks): the probe stops asserting what its own changeset withdrew (#1844)
  benchmarks/audit-probes/segment-matcher-own-property-reads-2026-08-18/probe-01-buildpath-own-property-cost.ts
Due: none

docs(core): the published 0.95.0 entry says what 0.95.0 shipped (#1844)
  packages/core/CHANGELOG.md
Due: none

docs(config): immutable releases — what it freezes and the three things it does not (#2229)
  IMPLEMENTATION_NOTES.md
  packages/core/tests/functional/claim-census-ledger.json
Due: none

fix(core): the identity arm describes the transition it performed (#2007)
  .changeset/identity-arm-transition-meta-2007.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/tests/functional/api/getRoutesApi/identity-arm-transition-meta-2007.test.ts
  packages/core/tests/functional/claim-census-ledger.json
  packages/core/tests/functional/read-count-authority.test.ts
Due: core

fix(core): the revalidation window is one rule, not a permission per door (#1758 #1759)
  .changeset/revalidation-window-crud-ban-1758.md
  .changeset/revalidation-window-navigation-ban-1759.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/api/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/tests/functional/api/getRoutesApi/replaceRoutes.test.ts
  packages/core/tests/functional/api/getRoutesApi/revalidation-window-ban-1758-1759.test.ts
  packages/core/tests/functional/claim-census-ledger.json
  packages/core/tests/functional/comment-historiography-authority.test.ts
  packages/core/tests/functional/commit-door-authority-1753.test.ts
  packages/core/tests/functional/navigation/pre-commit-refusal-1644.test.ts
  packages/core/tests/functional/read-count-authority.test.ts
  packages/core/tests/functional/reentrancy-ban-messages.test.ts
  packages/core/tests/functional/revalidation-window-doors-1758.test.ts
  packages/core/tests/functional/state/query-strategy-formats-1796.test.ts
Due: core

docs(core): three window docblocks state the rule instead of narrating the defect
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/tests/functional/claim-census-ledger.json
Due: core

test(core): the historiography ratchet sees past-tense narration, not only stock phrases
  packages/core/tests/functional/comment-historiography-authority.test.ts
Due: none

docs(core): the docs describe the window, not the door it replaced (#1758 #1759)
  packages/core/INVARIANTS.md
  packages/core/src/namespaces/RoutesNamespace/CLAUDE.md
  packages/core/tests/functional/claim-census-ledger.json
Due: core

fix(core): the two revalidation refusals say less and cover more
  packages/core/src/Router.ts
  packages/core/src/api/helpers.ts
Due: core

fix(core): the two revalidation refusals cut the clause that was actually long
  packages/core/src/Router.ts
  packages/core/src/api/helpers.ts
Due: core
