Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

feat: add `navigateToNotFound()` method, refactor start() lifecycle, optimize hash-plugin (#241) (#242)
  .changeset/navigate-to-not-found-browser-plugin-feature.md
  .changeset/navigate-to-not-found-core-feature.md
  .changeset/navigate-to-not-found-hash-plugin-feature.md
  .changeset/navigate-to-not-found-types-feature.md
  .changeset/start-navigate-refactor.md
  ARCHITECTURE.md
  packages/browser-env/README.md
  packages/browser-env/src/popstate-handler.ts
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/core-types/src/router.ts
  packages/core/ARCHITECTURE.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/transitionPath.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/src/wiring/wireRouter.ts
  packages/core/tests/functional/navigation/navigate/unknown-route.test.ts
  packages/core/tests/functional/navigation/navigateToNotFound.test.ts
  packages/core/tests/functional/routerLifecycle/start/arguments-validation.test.ts
  packages/core/tests/functional/routerLifecycle/start/path-string-scenarios.test.ts
  packages/core/tests/functional/state.test.ts
  packages/hash-plugin/ARCHITECTURE.md
  packages/hash-plugin/src/factory.ts
  packages/hash-plugin/src/hash-utils.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
  packages/hash-plugin/tests/functional/url.test.ts
  packages/hash-plugin/tests/helpers/mockPlugins.ts
Due: core, browser-plugin

release: version packages (#123 #241 #37 #42)
  .changeset/navigate-to-not-found-browser-plugin-feature.md
  .changeset/navigate-to-not-found-core-feature.md
  .changeset/navigate-to-not-found-hash-plugin-feature.md
  .changeset/navigate-to-not-found-types-feature.md
  .changeset/start-navigate-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-env/CHANGELOG.md
  packages/browser-env/package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#123 #241 #37 #42) (#243)
  .changeset/navigate-to-not-found-browser-plugin-feature.md
  .changeset/navigate-to-not-found-core-feature.md
  .changeset/navigate-to-not-found-hash-plugin-feature.md
  .changeset/navigate-to-not-found-types-feature.md
  .changeset/start-navigate-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-env/CHANGELOG.md
  packages/browser-env/package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

fix(core): abort in-flight transition when navigateToNotFound is called
  packages/core/ARCHITECTURE.md
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/functional/navigation/navigateToNotFound.test.ts
Due: core

refactor(core): apply send*/emit* naming convention to EventBusNamespace (#244)
  packages/core/ARCHITECTURE.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

refactor(core): extract throwIfDisposed to shared api/helpers.ts (#244)
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/api/helpers.ts
Due: core

refactor(core): consolidate namespace DI and remove cross-namespace coupling (#244)
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/index.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/types.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/types.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

refactor(core): optimize wiring builder and navigation namespace DI (#244)
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

chore: add changeset file
  .changeset/error-routing-refactor.md
  .changeset/navigate-to-not-found-fix.md
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
Due: core

refactor(core): simplify error routing and consolidate namespace DI (#244) (#245)
  .changeset/error-routing-refactor.md
  .changeset/navigate-to-not-found-fix.md
  packages/core/ARCHITECTURE.md
  packages/core/src/Router.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/api/helpers.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/index.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/types.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/types.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/navigation/navigateToNotFound.test.ts
Due: core

release: version packages (#123 #244 #37 #42)
  .changeset/error-routing-refactor.md
  .changeset/navigate-to-not-found-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #244 #37 #42) (#246)
  .changeset/error-routing-refactor.md
  .changeset/navigate-to-not-found-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

refactor(persistent-params-plugin): extract constants and fix exports (#247)
  packages/persistent-params-plugin/src/constants.ts
  packages/persistent-params-plugin/src/index.ts
  packages/persistent-params-plugin/src/types.ts
  packages/persistent-params-plugin/src/validation.ts
Due: none

refactor(persistent-params-plugin): move init to factory level and type noop (#247)
  packages/persistent-params-plugin/src/factory.ts
Due: none

refactor(persistent-params-plugin): move side effects to constructor, simplify teardown (#247)
  packages/persistent-params-plugin/src/plugin.ts
Due: none

refactor(persistent-params-plugin): remove duplicate extractOwnParams call (#247)
  packages/persistent-params-plugin/src/param-utils.ts
  packages/persistent-params-plugin/tests/unit/param-utils.test.ts
Due: none

test(persistent-params-plugin): fix test name and add negative persistence test (#247)
  packages/persistent-params-plugin/tests/functional/plugin.test.ts
Due: none

docs(persistent-params-plugin): add ARCHITECTURE.md and changeset (#247)
  .changeset/persistent-params-refactor.md
  packages/persistent-params-plugin/ARCHITECTURE.md
Due: none

refactor(persistent-params-plugin): to align with browser-plugin architecture (#247) (#248)
  .changeset/persistent-params-refactor.md
  packages/persistent-params-plugin/ARCHITECTURE.md
  packages/persistent-params-plugin/src/constants.ts
  packages/persistent-params-plugin/src/factory.ts
  packages/persistent-params-plugin/src/index.ts
  packages/persistent-params-plugin/src/param-utils.ts
  packages/persistent-params-plugin/src/plugin.ts
  packages/persistent-params-plugin/src/types.ts
  packages/persistent-params-plugin/src/validation.ts
  packages/persistent-params-plugin/tests/functional/plugin.test.ts
  packages/persistent-params-plugin/tests/unit/param-utils.test.ts
Due: none

release: version packages (#123 #247 #37 #42)
  .changeset/persistent-params-refactor.md
  CHANGELOG.md
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
Due: none

release: version packages (#123 #247 #37 #42) (#249)
  .changeset/persistent-params-refactor.md
  CHANGELOG.md
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
Due: none

refactor(logger-plugin): align with plugin architecture conventions (#250)
  .changeset/logger-plugin-refactor.md
  packages/logger-plugin/ARCHITECTURE.md
  packages/logger-plugin/README.md
  packages/logger-plugin/src/constants.ts
  packages/logger-plugin/src/factory.ts
  packages/logger-plugin/src/index.ts
  packages/logger-plugin/src/internal/console-groups.ts
  packages/logger-plugin/src/internal/formatting.ts
  packages/logger-plugin/src/internal/params-diff.ts
  packages/logger-plugin/src/internal/performance-marks.ts
  packages/logger-plugin/src/internal/timing.ts
  packages/logger-plugin/src/plugin.ts
  packages/logger-plugin/src/types.ts
  packages/logger-plugin/src/validation.ts
  packages/logger-plugin/tests/functional/plugin.test.ts
  packages/logger-plugin/tests/unit/validation.test.ts
Due: none

refactor(logger-plugin): align with plugin architecture conventions (#250) (#251)
  .changeset/logger-plugin-refactor.md
  packages/logger-plugin/ARCHITECTURE.md
  packages/logger-plugin/README.md
  packages/logger-plugin/src/constants.ts
  packages/logger-plugin/src/factory.ts
  packages/logger-plugin/src/index.ts
  packages/logger-plugin/src/internal/console-groups.ts
  packages/logger-plugin/src/internal/formatting.ts
  packages/logger-plugin/src/internal/params-diff.ts
  packages/logger-plugin/src/internal/performance-marks.ts
  packages/logger-plugin/src/internal/timing.ts
  packages/logger-plugin/src/plugin.ts
  packages/logger-plugin/src/types.ts
  packages/logger-plugin/src/validation.ts
  packages/logger-plugin/tests/functional/plugin.test.ts
  packages/logger-plugin/tests/unit/validation.test.ts
Due: none

release: version packages (#123 #250 #37 #42)
  .changeset/logger-plugin-refactor.md
  CHANGELOG.md
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
Due: none

release: version packages (#123 #250 #37 #42) (#252)
  .changeset/logger-plugin-refactor.md
  CHANGELOG.md
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
Due: none

refactor(react): downgrade hooks to useContext for React 18 compatibility (#257)
  packages/react/src/hooks/useNavigator.tsx
  packages/react/src/hooks/useRoute.tsx
  packages/react/src/hooks/useRouter.tsx
Due: react

refactor(react): use .Provider syntax in RouterProvider (#257)
  packages/react/src/RouterProvider.tsx
Due: react

feat(react): add ./legacy subpath export for React 18+ (#257)
  packages/react/package.json
  packages/react/src/legacy.ts
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tsup.config.mts
Due: react

docs(react): add ARCHITECTURE.md and update README (#257)
  packages/react/ARCHITECTURE.md
  packages/react/README.md
Due: none

docs: update root docs for React 18/19 split (#257)
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  README.md
Due: none

chore(react): add changeset for legacy entry feature (#257)
  .changeset/react-legacy-entry-feature.md
Due: none

fix(react): add typesVersions for node10 resolution of ./legacy subpath (#257)
  packages/react/package.json
Due: none

fix(react): add typesVersions for node10 resolution of ./legacy subpath (#257)
  packages/react/src/RouterProvider.tsx
  packages/react/src/hooks/useNavigator.tsx
  packages/react/src/hooks/useRoute.tsx
  packages/react/src/hooks/useRouter.tsx
  packages/react/tests/functional/legacy-entry.test.tsx
Due: react

feat(react): add `./legacy` subpath export for React 18+ compatibility (#257) (#263)
  .changeset/react-legacy-entry-feature.md
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  README.md
  packages/react/ARCHITECTURE.md
  packages/react/README.md
  packages/react/package.json
  packages/react/src/legacy.ts
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tsup.config.mts
Due: react

release: version packages (#123 #257 #37 #42)
  .changeset/react-legacy-entry-feature.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#123 #257 #37 #42) (#264)
  .changeset/react-legacy-entry-feature.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(react): consolidate Link components — remove BaseLink and ConnectedLink (#258)
  .changeset/link-optimization.md
  packages/react/ARCHITECTURE.md
  packages/react/README.md
  packages/react/src/components/BaseLink.tsx
  packages/react/src/components/ConnectedLink.tsx
  packages/react/src/components/Link.tsx
  packages/react/src/components/interfaces.ts
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/src/types.ts
  packages/react/tests/functional/BaseLink.test.tsx
  packages/react/tests/functional/ConnectedLink.test.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/integration/Link.test.tsx
  packages/react/tests/performance/BaseLink.test.tsx
  packages/react/tests/performance/Link.test.tsx
Due: react

chore: add task number to changeset file
  .changeset/link-optimization.md
Due: none

feat(react)!: consolidate Link components, remove BaseLink and ConnectedLink (#258) (#266)
  .changeset/link-optimization.md
  packages/react/ARCHITECTURE.md
  packages/react/README.md
  packages/react/src/components/BaseLink.tsx
  packages/react/src/components/ConnectedLink.tsx
  packages/react/src/components/Link.tsx
  packages/react/src/components/interfaces.ts
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/src/types.ts
  packages/react/tests/functional/BaseLink.test.tsx
  packages/react/tests/functional/ConnectedLink.test.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/integration/Link.test.tsx
  packages/react/tests/performance/BaseLink.test.tsx
  packages/react/tests/performance/Link.test.tsx
Due: react

release: version packages (#123 #258 #37 #42)
  .changeset/link-optimization.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
