Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

ci(benchmarks): put the href door under the gate with the plugins installed (#1938)
  .github/workflows/codspeed.yml
  IMPLEMENTATION_NOTES.md
  benchmarks/adapter-bench/codspeed.mts
  benchmarks/package.json
  benchmarks/plugin-seam/bench.mts
  benchmarks/seam-rig/.gitignore
  benchmarks/seam-rig/README.md
  benchmarks/seam-rig/bench-core.mjs
  benchmarks/seam-rig/bench-plugins.mjs
  benchmarks/seam-rig/build.sh
  benchmarks/seam-rig/drive.mjs
  benchmarks/seam-rig/entry-core.ts
  benchmarks/seam-rig/entry-plugins.ts
Due: none

test(benchmarks): take the "before" snapshot for #1938, while it still exists
  benchmarks/audit-probes/seam-1938-before-2026-09-02/BEFORE.txt
  benchmarks/audit-probes/seam-1938-before-2026-09-02/README.md
  benchmarks/audit-probes/seam-1938-before-2026-09-02/before.json
  benchmarks/audit-probes/seam-1938-before-2026-09-02/snapshot.mjs
Due: none

docs(core): the WRITE side's reflex, next to the rule it owns (#1856)
  packages/core/CLAUDE.md
Due: none

docs(core): a docblock that drifted off its function, and two counts with an owner
  packages/core/src/channels/guard.ts
Due: core

docs(config): audit-bugfix — the metric itself needs a control, and so does the control
  .claude/commands/audit-bugfix.md
Due: none

docs(config): audit-bugfix — prose:code counted gross inverts the sign
  .claude/commands/audit-bugfix.md
Due: none

docs(config): audit-bugfix — the rule added yesterday had its own number wrong
  .claude/commands/audit-bugfix.md
Due: none

docs(config): audit-bugfix — a prose round shifts lines, and anchors elsewhere break
  .claude/commands/audit-bugfix.md
Due: none

fix(deps): raise three security floors so pre-push stops refusing every push
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(core/validation-plugin): re-derive the round's claims from what the code does
  packages/core/src/Router.ts
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/guardPhase.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/materialize.ts
  packages/core/src/routerFSM.ts
  packages/core/tests/functional/comment-historiography-authority.test.ts
  packages/validation-plugin/src/validators/retrospective.ts
Due: core

fix(core/validation-plugin): addInterceptor refuses what core cannot run (#2088)
  .changeset/core-interceptor-seam-guard-2088.md
  .changeset/validation-plugin-drop-interceptor-mirror-2088.md
  packages/core/ARCHITECTURE.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/guards.ts
  packages/core/src/internals.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/tests/functional/api/getPluginApi/addBuildPathInterceptor.test.ts
  packages/core/tests/functional/observable/addEventListener.test.ts
  packages/validation-plugin/ARCHITECTURE.md
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/README.md
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/plugins.ts
  packages/validation-plugin/tests/functional/bare-core-message-parity.test.ts
  packages/validation-plugin/tests/functional/plugin-api.validation.test.ts
  packages/validation-plugin/tests/property/helpers.ts
  packages/validation-plugin/tests/property/validation.properties.ts
Due: core

docs(core): the historiography ratchet learns the form that names a location
  packages/core/src/Router.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/tests/functional/comment-historiography-authority.test.ts
Due: core

fix(validation-plugin): pin the limits that coerce cleanly, and drop three claims that do not hold
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
  packages/core/src/routerFSM.ts
  packages/core/tests/functional/comment-historiography-authority.test.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
Due: core

test(core): the empty backlog took the ratchet's only positive control with it
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/pipeline/port.ts
  packages/core/tests/functional/comment-historiography-authority.test.ts
Due: core

docs(core): retire the named leftovers — line anchors, the last narrations, and an ALL-CAPS blind spot
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/NavigationNamespace/transition/completeTransition.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/routerFSM.ts
  packages/core/tests/functional/comment-historiography-authority.test.ts
Due: core

test(core): the historiography ratchet was not looking where it says it looks
  packages/core/tests/functional/comment-historiography-authority.test.ts
Due: none

docs(core/navigation-plugin/persistent-params-plugin): empty the historiography backlog
  packages/core/src/engine/search-params/searchParams.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeNavigation.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/routerFSM.ts
  packages/core/tests/functional/comment-historiography-authority.test.ts
  packages/navigation-plugin/src/navigate-handler.ts
  packages/persistent-params-plugin/src/validation.ts
Due: core

fix(core/validation-plugin): addInterceptor refuses what core cannot run (#2088) (#2093)
  .changeset/core-interceptor-seam-guard-2088.md
  .changeset/validation-plugin-drop-interceptor-mirror-2088.md
  packages/core/ARCHITECTURE.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
  packages/core/src/engine/search-params/searchParams.ts
  packages/core/src/guards.ts
  packages/core/src/helpers.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/completeTransition.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeNavigation.ts
  packages/core/src/namespaces/NavigationNamespace/transition/guardPhase.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/materialize.ts
  packages/core/src/pipeline/port.ts
  packages/core/src/routerFSM.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/tests/functional/api/getPluginApi/addBuildPathInterceptor.test.ts
  packages/core/tests/functional/comment-historiography-authority.test.ts
  packages/core/tests/functional/observable/addEventListener.test.ts
  packages/navigation-plugin/src/navigate-handler.ts
  packages/persistent-params-plugin/src/validation.ts
  packages/validation-plugin/ARCHITECTURE.md
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/README.md
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/plugins.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tests/functional/bare-core-message-parity.test.ts
  packages/validation-plugin/tests/functional/plugin-api.validation.test.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
  packages/validation-plugin/tests/property/helpers.ts
  packages/validation-plugin/tests/property/validation.properties.ts
Due: core

docs(config): audit-rfc — three incident citations pointed at line numbers, all three rotted
  .claude/commands/audit-rfc.md
Due: none

docs(config): debt-map, wiki-sync — the last three line anchors in the skills, all rotted
  .claude/commands/debt-map.md
  .claude/commands/wiki-sync.md
Due: none

test(core): hold the line-anchor count at zero with a ratchet of its own
  packages/core/tests/functional/comment-historiography-authority.test.ts
  packages/core/tests/functional/line-anchor-authority.test.ts
Due: none

test(core): close the line-anchor guard's own blind spot, and drop the exemption that bought one for nothing
  packages/core/tests/functional/line-anchor-authority.test.ts
Due: none

docs(config): the prose:code pathspec needs a trailing /* or it silently matches nothing
  .claude/commands/audit-bugfix.md
Due: none

docs(core): two claims in the UNSAFE_KEY docblock, corrected (#2071)
  .changeset/unsafe-key-docblock-fix.md
  packages/core/src/constants.ts
Due: none

docs(core): two docblock claims argued from edges that exist (#1669 #2071)
  .changeset/fsm-inflight-claim-fix.md
  .changeset/unsafe-key-docblock-fix.md
  packages/core/src/constants.ts
  packages/core/src/routerFSM.ts
Due: core

docs(core): the hand-out rule's two homes disagreed on a countable fact (#1957)
  .changeset/unsafe-key-docblock-fix.md
  packages/core/INVARIANTS.md
  packages/core/src/constants.ts
Due: none

docs(core): cut the UNSAFE_KEY docblock to a pointer (#1957 #2071)
  .changeset/unsafe-key-docblock-fix.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/constants.ts
Due: none

docs(core): repoint the four references that read the cut docblock (#2071)
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/functional/read-count-authority.test.ts
  packages/core/tests/functional/state/proto-key-guarantee.test.ts
Due: core

build(ci): lint:doc-dup — a ratchet against a rule growing a second home
  .github/workflows/ci.yml
  IMPLEMENTATION_NOTES.md
  package.json
  scripts/check-doc-duplication.mjs
  scripts/check-doc-duplication.test.mjs
  scripts/doc-duplication-baseline.json
Due: none

release: version packages (#1669 #1957 #1986 #2071)
  .changeset/fsm-inflight-claim-fix.md
  .changeset/unsafe-key-docblock-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1669 #1957 #1986 #2071) (#2095)
  .changeset/fsm-inflight-claim-fix.md
  .changeset/unsafe-key-docblock-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

docs(browser-env): the guard's reason for not asserting State is the one that holds (#1837 #1838)
  shared/browser-env/state-guard.ts
Due: none

fix(core): one seam, one input shape — the href door canonicalises below it (#2087)
  .changeset/core-href-seam-2087.md
  packages/core/src/Router.ts
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
Due: core

fix(core): the href door runs the injection seam above the route-default merge (#2087)
  .changeset/core-href-seam-2087.md
  .changeset/search-schema-href-2087.md
  packages/core/INVARIANTS.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/pipeline/CLAUDE.md
  packages/core/src/pipeline/port.ts
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
  packages/core/tests/functional/seam-coverage-authority-1938.test.ts
  packages/core/tests/property/searchPathConsistency.properties.ts
  packages/persistent-params-plugin/CLAUDE.md
  packages/persistent-params-plugin/README.md
  packages/search-schema-plugin/ARCHITECTURE.md
  packages/search-schema-plugin/CLAUDE.md
  packages/search-schema-plugin/README.md
  packages/search-schema-plugin/tests/functional/forwardState.test.ts
  packages/search-schema-plugin/tests/functional/integration.test.ts
Due: core

test(core): pin what the href door hands the interceptor chain (#2087)
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
Due: none

fix(browser-env): the history URL is the resolved path, prefixed — not a second derivation (#2087)
  .changeset/core-href-seam-2087.md
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/tests/functional/browser-env/plugin-utils-factories.test.ts
  packages/browser-plugin/tests/functional/replace-history-state-agreement.test.ts
  packages/hash-plugin/src/plugin.ts
  packages/navigation-plugin/src/plugin.ts
  shared/browser-env/plugin-utils.ts
Due: browser-plugin

fix(browser-env): the URL door runs the seam now, so one history record asks it twice (#2087)
  .changeset/core-href-seam-2087.md
  packages/browser-plugin/tests/functional/browser-env/plugin-utils-factories.test.ts
  shared/browser-env/plugin-utils.ts
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
