Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

release: version packages (#37 #40)
  .changeset/rou3-migration-perf.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

release: version packages (#37 #40) (#62)
  .changeset/rou3-migration-perf.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

feat(route-tree): implement URL param matching and buildPath in path-matcher
  packages/path-matcher/package.json
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/buildParamMeta.ts
  packages/path-matcher/src/constraintValidation.ts
  packages/path-matcher/src/encoding.ts
  packages/path-matcher/src/index.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/path-matcher/tests/unit/buildParamMeta.test.ts
  packages/path-matcher/tests/unit/constraintValidation.test.ts
  packages/path-matcher/tsconfig.json
  packages/path-matcher/tsconfig.node.json
  packages/path-matcher/tsup.config.mts
  packages/path-matcher/vitest.config.mts
  packages/route-tree/src/builder/computeCaches.ts
  packages/route-tree/src/builder/types.ts
  packages/route-tree/src/operations/build.ts
  packages/route-tree/src/services/MatcherService.ts
  pnpm-lock.yaml
Due: route-tree

feat(route-tree): implement nested route matching with segments and meta
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
Due: none

feat(route-tree): implement slash-child and optional params in path-matcher
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/buildParamMeta.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/route-tree/tests/functional/operations/build-path.test.ts
Due: none

feat(route-tree): implement splat/wildcard and absolute paths in path-matcher
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
Due: none

chore: migrate eslint-plugin-import to eslint-plugin-import-x
  eslint.config.mjs
  package.json
  packages/react/eslint.config.mjs
  pnpm-lock.yaml
Due: none

refactor(core): switch RoutesNamespace to createMatcher factory
  packages/core/src/Router.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/stateBuilder.ts
  packages/core/tests/functional/error/helpers.test.ts
  packages/core/tests/functional/routes/routePath/buildPath.test.ts
  packages/core/tests/functional/routes/routePath/matchPath.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
  packages/core/tests/functional/state.test.ts
  packages/core/tests/functional/utils.test.ts
  packages/core/tsup.config.mts
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/encoding.ts
  packages/path-matcher/src/index.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/path-matcher/tests/unit/encoding.test.ts
  packages/route-tree/src/createMatcher.ts
  packages/route-tree/src/index.ts
  packages/route-tree/tests/unit/createMatcher.test.ts
Due: core, route-tree

refactor(route-tree): remove MatcherService, build.ts, inject.ts and rou3 dependency
  packages/browser-plugin/tests/functional/browserPlugin.test.ts
  packages/route-tree/package.json
  packages/route-tree/src/builder/computeCaches.ts
  packages/route-tree/src/builder/types.ts
  packages/route-tree/src/operations/build.ts
  packages/route-tree/src/services/MatcherService.ts
  packages/route-tree/src/services/inject.ts
  packages/route-tree/src/services/types.ts
  packages/route-tree/tests/benchmarks/buildPath.bench.ts
  packages/route-tree/tests/benchmarks/match-hotpath.bench.ts
  packages/route-tree/tests/benchmarks/matchPath.bench.ts
  packages/route-tree/tests/benchmarks/realistic-usage.bench.ts
  packages/route-tree/tests/benchmarks/scenarios.bench.ts
  packages/route-tree/tests/functional/operations/absolute-paths.test.ts
  packages/route-tree/tests/functional/operations/build-path-optimizations.test.ts
  packages/route-tree/tests/functional/operations/build-path.test.ts
  packages/route-tree/tests/functional/operations/coverage-improvements.test.ts
  packages/route-tree/tests/functional/operations/edge-cases.test.ts
  packages/route-tree/tests/functional/operations/helpers.ts
  packages/route-tree/tests/functional/operations/match-segments.test.ts
  packages/route-tree/tests/functional/operations/matching-priority.test.ts
  packages/route-tree/tests/unit/services/MatcherService.test.ts
  packages/route-tree/tests/unit/services/inject.test.ts
Due: route-tree

refactor(core): remove setOption, make options immutable
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/OptionsNamespace/OptionsNamespace.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/src/namespaces/OptionsNamespace/index.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/index.ts
  packages/core/tests/benchmarks/navigation/helpers.ts
  packages/core/tests/benchmarks/navigation/options.bench.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/functional/routerLifecycle/start/arguments-validation.test.ts
  packages/core/tests/functional/routerLifecycle/start/edge-cases.test.ts
  packages/core/tests/functional/routerLifecycle/start/error-handling.test.ts
  packages/core/tests/functional/routerLifecycle/start/lifecycle-events.test.ts
  packages/core/tests/functional/routerLifecycle/start/path-string-scenarios.test.ts
  packages/core/tests/functional/routerLifecycle/start/state-object-scenarios.test.ts
  packages/core/tests/functional/routerLifecycle/stop.test.ts
  packages/core/tests/functional/routes/routePath/buildPath.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/utils.test.ts
  packages/react/tests/functional/Link.test.tsx
  packages/router-benchmarks/README.md
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/05-router-options/5.1-initialization.bench.ts
  packages/router-benchmarks/src/05-router-options/5.2-modification.bench.ts
  packages/router-benchmarks/src/05-router-options/5.3-edge-cases.bench.ts
  packages/router-benchmarks/src/helpers/create-router.ts
  packages/router-benchmarks/src/index.ts
Due: core

chore(config): add path-matcher to commitlint scopes
  commitlint.config.mjs
Due: none

refactor(path-matcher): consolidate regex, trailing slash, encoder
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
Due: none

test: add benchmark suites and update size limits
  .size-limit.json
  packages/path-matcher/package.json
  packages/path-matcher/tests/benchmarks/helpers/buildTree.ts
  packages/path-matcher/tests/benchmarks/index.ts
  packages/path-matcher/tests/benchmarks/match-hotpath.bench.ts
  packages/path-matcher/tests/benchmarks/pipeline.bench.ts
  packages/path-matcher/tests/benchmarks/stress.bench.ts
  packages/route-tree/tests/benchmarks/integration-pipeline.bench.ts
  packages/route-tree/tests/benchmarks/match-hotpath.bench.ts
  packages/route-tree/tests/benchmarks/stress.bench.ts
  packages/router-benchmarks/src/isolated-anomalies.ts
  packages/search-params/tests/benchmarks/index.ts
  packages/search-params/tests/benchmarks/stress.bench.ts
Due: none

refactor(search-params): add type safety for array encoding
  packages/search-params/src/searchParams.ts
  packages/search-params/src/strategies/array.ts
  packages/search-params/tests/functional/search-params.test.ts
Due: none

refactor(route-tree): improve buildTree, computeCaches, validation
  packages/route-tree/src/builder/buildTree.ts
  packages/route-tree/src/builder/computeCaches.ts
  packages/route-tree/src/operations/query.ts
  packages/route-tree/src/validation/route-batch.ts
  packages/route-tree/tests/functional/operations/query.test.ts
Due: route-tree

refactor(path-matcher): unify error message format across packages
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/constraintValidation.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/path-matcher/tests/unit/constraintValidation.test.ts
  packages/route-tree/src/validation/route-batch.ts
  packages/route-tree/src/validation/routes.ts
  packages/route-tree/tests/functional/validation-route-batch.test.ts
Due: route-tree

refactor(path-matcher): use discriminated union for SegmentNode
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
Due: none

perf(path-matcher): precompute buildParamNamesSet in CompiledRoute
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
Due: none

revert: remove buildParamNamesSet from CompiledRoute
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
Due: none

test(core): add matchPath regression tests for encoder/defaultParams/forwardTo
  packages/core/tests/functional/routes/routePath/matchPath.test.ts
  packages/path-matcher/tests/benchmarks/isolated-precompute-set.ts
Due: none

perf(core): inline buildPath in matchPath, skip defaultParams re-merge
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/routes/routePath/matchPath.test.ts
Due: core

refactor(core): simplify matchPath with early return guard clause
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
Due: core

refactor(path-matcher): decompose SegmentMatcher into focused modules
  .size-limit.json
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/defaultQueryString.ts
  packages/path-matcher/src/index.ts
  packages/path-matcher/src/pathUtils.ts
  packages/path-matcher/src/percentEncoding.ts
  packages/path-matcher/src/registration.ts
Due: none

chore: add changesets for #63
  .changeset/immutable-options-breaking.md
  .changeset/matchpath-perf.md
  .changeset/segment-trie-matcher-refactor.md
Due: none

docs: update documentation for Segment Trie matcher
  ARCHITECTURE.md
  README.md
  packages/route-tree/README.md
Due: none

chore: update infrastructure docs and remove rou3 license
  .github/dependency-review-config.yml
  IMPLEMENTATION_NOTES.md
  README.md
Due: none

refactor(path-matcher): remove unused buildSegments, simplify traversal
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/registration.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/route-tree/README.md
  packages/route-tree/src/operations/types.ts
Due: none

release: version packages (#37 #63)
  .changeset/immutable-options-breaking.md
  .changeset/matchpath-perf.md
  .changeset/segment-trie-matcher-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

release: version packages (#37 #63) (#70)
  .changeset/immutable-options-breaking.md
  .changeset/matchpath-perf.md
  .changeset/segment-trie-matcher-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

ci: allow MIT-0 license in dependency review
  .github/dependency-review-config.yml
Due: none

feat(types): support callback types for defaultRoute and defaultParams
  packages/core-types/src/router.ts
Due: none

feat(core): add dynamic defaultRoute/defaultParams callback support
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/OptionsNamespace/helpers.ts
  packages/core/src/namespaces/OptionsNamespace/index.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/tests/functional/options.test.ts
Due: core

test(core): add resolveOption unit tests and create changeset
  .changeset/dynamic-default-route-feature.md
  packages/core/tests/unit/namespaces/OptionsNamespace/resolveOption.test.ts
Due: none

fix(core): revert unrelated config change, fix false-positive tests, improve type safety
  packages/core-types/src/index.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/OptionsNamespace/helpers.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/unit/namespaces/OptionsNamespace/resolveOption.test.ts
Due: core

ci: improve changeset validation, fix bundle size limit, split changeset
  .changeset/README.md
  .changeset/dynamic-default-route-feature.md
  .changeset/dynamic-default-route-types.md
  .github/workflows/changeset-check.yml
  .size-limit.json
Due: none
