Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

fix(core): recover FSM from STARTING when start pipeline throws (#668) (#670)
  .changeset/start-pipeline-recovery-668-fix.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
  packages/core/tests/functional/routerLifecycle/start/error-handling.test.ts
Due: core

release: version packages (#123 #37 #42 #668)
  .changeset/start-pipeline-recovery-668-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #37 #42 #668) (#672)
  .changeset/start-pipeline-recovery-668-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(core): race abort signal in subscribe-leave settle, unblock pipeline (#663)
  .changeset/subscribe-leave-signal-race-663-fix.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/guardPhase.ts
  packages/core/tests/functional/observable/subscribe-leave.test.ts
Due: core

docs(core): clarify cloneRouter shallow-merge dependency semantics (#664)
  IMPLEMENTATION_NOTES.md
  packages/core/src/api/cloneRouter.ts
Due: core

docs: add changeset for cloneRouter SSR semantics doc-only PR (#664)
  .changeset/clonerouter-ssr-docs-664.md
Due: none

test: fix pb test
  packages/solid/tests/property/linkUtils.properties.ts
Due: none

docs(core): clarify cloneRouter shallow-merge dependency semantics (#664) (#674)
  .changeset/clonerouter-ssr-docs-664.md
  IMPLEMENTATION_NOTES.md
  packages/core/src/api/cloneRouter.ts
Due: core

release: version packages (#123 #37 #42 #664)
  .changeset/clonerouter-ssr-docs-664.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #37 #42 #664) (#675)
  .changeset/clonerouter-ssr-docs-664.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(core): race abort signal in subscribe-leave settle, unblock pipeline (#663) (#673)
  .changeset/subscribe-leave-signal-race-663-fix.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/guardPhase.ts
  packages/core/tests/functional/observable/subscribe-leave.test.ts
Due: core

refactor(core): split lifecycle factory storage by origin (#661)
  .changeset/lifecycle-factory-origin-split-661.md
  packages/core/src/api/cloneRouter.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/tests/functional/routeLifecycle/RouteLifecycleNamespace.unit.test.ts
Due: core

docs: record RouteLifecycleNamespace origin-split decision in IMPLEMENTATION_NOTES (#661)
  IMPLEMENTATION_NOTES.md
Due: none

refactor(core): split lifecycle factory storage by origin (#661) (#676)
  .changeset/lifecycle-factory-origin-split-661.md
  IMPLEMENTATION_NOTES.md
  packages/core/src/api/cloneRouter.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/tests/functional/routeLifecycle/RouteLifecycleNamespace.unit.test.ts
Due: core

release: version packages (#123 #37 #42 #661 #663 #664)
  .changeset/lifecycle-factory-origin-split-661.md
  .changeset/subscribe-leave-signal-race-663-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #37 #42 #661 #663 #664) (#677)
  .changeset/lifecycle-factory-origin-split-661.md
  .changeset/subscribe-leave-signal-race-663-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(core): snapshot leave-listeners and freeze leave payload (#662)
  .changeset/subscribe-leave-snapshot-freeze-662.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/observable/subscribe-leave.test.ts
Due: core

fix(core): snapshot leave-listeners and freeze leave payload (#662) (#678)
  .changeset/subscribe-leave-snapshot-freeze-662.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/observable/subscribe-leave.test.ts
Due: core

release: version packages (#123 #37 #42 #659 #662 #666)
  .changeset/subscribe-leave-snapshot-freeze-662.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #37 #42 #659 #662 #666) (#679)
  .changeset/subscribe-leave-snapshot-freeze-662.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(dom-utils): unsubscribe router first in scroll-spy destroy to close race (#575)
  packages/angular/src/dom-utils/scroll-spy.ts
  shared/dom-utils/scroll-spy.ts
Due: none

refactor(dom-utils): decompose scroll-spy into 4 subsystem closure factories (#575)
  packages/angular/src/dom-utils/scroll-spy.ts
  shared/dom-utils/scroll-spy.ts
Due: none

fix(navigation-plugin): pass scroll: "manual" to event.intercept() (#575)
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/src/navigation-browser.ts
Due: none

feat(dom-utils): export createScrollSpy + wire scrollSpy prop in 6 adapters (#575)
  packages/angular/src/dom-utils/index.ts
  packages/angular/src/internal/install.ts
  packages/angular/src/providers.ts
  packages/angular/src/providersFactory.ts
  packages/dom-utils/package.json
  packages/preact/src/RouterProvider.tsx
  packages/react/src/RouterProvider.tsx
  packages/solid/src/RouterProvider.tsx
  packages/svelte/src/RouterProvider.svelte
  packages/vue/src/RouterProvider.ts
  pnpm-lock.yaml
  shared/dom-utils/index.ts
  shared/package.json
Due: react

chore(react): move link-hash + scroll-restoration into hash-examples (#575)
  examples/web/react/link-hash/README.md
  examples/web/react/link-hash/e2e/link-hash.spec.ts
  examples/web/react/link-hash/index.html
  examples/web/react/link-hash/package.json
  examples/web/react/link-hash/playwright.config.ts
  examples/web/react/link-hash/src/App.tsx
  examples/web/react/link-hash/src/main.tsx
  examples/web/react/link-hash/src/pages/Dashboard.tsx
  examples/web/react/link-hash/src/pages/HashControls.tsx
  examples/web/react/link-hash/src/pages/Home.tsx
  examples/web/react/link-hash/src/pages/Settings.tsx
  examples/web/react/link-hash/src/routes.ts
  examples/web/react/link-hash/src/vite-env.d.ts
  examples/web/react/link-hash/tsconfig.json
  examples/web/react/link-hash/vite.config.ts
  examples/web/react/scroll-restoration/README.md
  examples/web/react/scroll-restoration/e2e/scroll-restoration.spec.ts
  examples/web/react/scroll-restoration/index.html
  examples/web/react/scroll-restoration/package.json
  examples/web/react/scroll-restoration/playwright.config.ts
  examples/web/react/scroll-restoration/src/App.tsx
  examples/web/react/scroll-restoration/src/components/BehaviorToggle.tsx
  examples/web/react/scroll-restoration/src/components/DirectionBadge.tsx
  examples/web/react/scroll-restoration/src/components/ModeToggle.tsx
  examples/web/react/scroll-restoration/src/components/ProgrammaticReloadDemo.tsx
  examples/web/react/scroll-restoration/src/components/ReplaceDemo.tsx
  examples/web/react/scroll-restoration/src/components/ScrollMeter.tsx
  examples/web/react/scroll-restoration/src/main.tsx
  examples/web/react/scroll-restoration/src/pages/Article.tsx
  examples/web/react/scroll-restoration/src/pages/Articles.tsx
  examples/web/react/scroll-restoration/src/pages/Documentation.tsx
  examples/web/react/scroll-restoration/src/pages/Gallery.tsx
  examples/web/react/scroll-restoration/src/pages/Home.tsx
  examples/web/react/scroll-restoration/src/pages/Settings.tsx
  examples/web/react/scroll-restoration/src/routes.ts
  examples/web/react/scroll-restoration/src/styles.css
  examples/web/react/scroll-restoration/src/vite-env.d.ts
  examples/web/react/scroll-restoration/tsconfig.json
  examples/web/react/scroll-restoration/vite.config.ts
Due: none

docs(dom-utils): document scroll-spy across root + 6 adapter packages (#575)
  ARCHITECTURE.md
  CLAUDE.md
  IMPLEMENTATION_NOTES.md
  README.md
  packages/angular/README.md
  packages/preact/README.md
  packages/react/ARCHITECTURE.md
  packages/react/README.md
  packages/solid/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

fix(dom-utils): restore scroll on back/forward under navigation-plugin (#657)
  .changeset/scroll-restoration-angular-fix.md
  .changeset/scroll-restoration-preact-fix.md
  .changeset/scroll-restoration-react-fix.md
  .changeset/scroll-restoration-solid-fix.md
  .changeset/scroll-restoration-svelte-fix.md
  .changeset/scroll-restoration-vue-fix.md
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/dom-utils/tests/functional/scroll-restore.test.ts
  shared/dom-utils/scroll-restore.ts
Due: none

chore(deps): bump axios to >=1.16.0 and tmp to >=0.2.6 to clear OSV advisories
  package.json
  pnpm-lock.yaml
Due: none

chore(ci): drop unused OSV / Dependency-Review allowlist entries
  .github/workflows/codeql.yml
  scripts/osv-scanner.toml
Due: none

docs(dom-utils): retarget scroll-restoration changesets to issue #694
  .changeset/scroll-restoration-angular-fix.md
  .changeset/scroll-restoration-preact-fix.md
  .changeset/scroll-restoration-react-fix.md
  .changeset/scroll-restoration-solid-fix.md
  .changeset/scroll-restoration-svelte-fix.md
  .changeset/scroll-restoration-vue-fix.md
Due: none

ci: run all example e2e specs despite failures for a complete log
  .github/workflows/examples.yml
  IMPLEMENTATION_NOTES.md
Due: none

release: version packages (#123 #37 #42 #532 #575 #657 #694)
  .changeset/scroll-restoration-angular-fix.md
  .changeset/scroll-restoration-preact-fix.md
  .changeset/scroll-restoration-react-fix.md
  .changeset/scroll-restoration-solid-fix.md
  .changeset/scroll-restoration-svelte-fix.md
  .changeset/scroll-restoration-vue-fix.md
  .changeset/scroll-spy-angular.md
  .changeset/scroll-spy-navigation-plugin.md
  .changeset/scroll-spy-preact.md
  .changeset/scroll-spy-react.md
  .changeset/scroll-spy-solid.md
  .changeset/scroll-spy-svelte.md
  .changeset/scroll-spy-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #532 #575 #657 #694) (#696)
  .changeset/scroll-restoration-angular-fix.md
  .changeset/scroll-restoration-preact-fix.md
  .changeset/scroll-restoration-react-fix.md
  .changeset/scroll-restoration-solid-fix.md
  .changeset/scroll-restoration-svelte-fix.md
  .changeset/scroll-restoration-vue-fix.md
  .changeset/scroll-spy-angular.md
  .changeset/scroll-spy-navigation-plugin.md
  .changeset/scroll-spy-preact.md
  .changeset/scroll-spy-react.md
  .changeset/scroll-spy-solid.md
  .changeset/scroll-spy-svelte.md
  .changeset/scroll-spy-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

chore(deps): dedupe lockfile
  pnpm-lock.yaml
Due: none

fix(deps): pin fflate to 0.8.2 to keep attw (lint:types) working
  IMPLEMENTATION_NOTES.md
  package.json
  pnpm-lock.yaml
Due: none

chore(config): add jsdoc no-types + require-returns-check rules
  eslint.config.mjs
  packages/core/src/namespaces/NavigationNamespace/types.ts
Due: none

chore(deps): bump eslint-plugin-jsdoc from 62.9.0 to 63.0.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump turbo and eslint-config-turbo from 2.9.14 to 2.9.16
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
