Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

feat(core): modular architecture — standalone APIs, WeakMap internals, and RoutesStore consolidation (#185)
  .changeset/routes-store-core.md
  .size-limit.js
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/routeTreeOps.ts
  packages/core/src/namespaces/RoutesNamespace/routesCrud.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

feat(core): move addEventListener and buildNavigationState to getPluginApi (#182)
  .changeset/move-addeventlistener-buildnavigationstate.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/types.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/api/getPluginApi.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/observable/addEventListener.test.ts
  packages/core/tests/functional/state/buildNavigationState.test.ts
  packages/router-benchmarks/src/11-events/11.1-addEventListener.bench.ts
  packages/router-benchmarks/src/11-events/11.3-invokeEventListeners.bench.ts
  packages/router-benchmarks/src/11-events/11.4-edge-cases.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.5-comparative.bench.ts
  packages/router-benchmarks/src/13-cloning/13.5-isolation.bench.ts
  packages/router-benchmarks/src/helpers/index.ts
  packages/router-benchmarks/src/helpers/router-adapter.ts
  packages/router-benchmarks/src/index.ts
Due: core

feat(core): add getLifecycleApi factory function
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/index.ts
  packages/core/src/api/types.ts
  packages/core/src/index.ts
  packages/core/tests/functional/api/getLifecycleApi.test.ts
Due: core

refactor(core): rewire guard registration to use namespace directly
  packages/core/src/api/cloneRouter.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

fix(react): migrate BaseLink test to use getLifecycleApi
  packages/react/tests/integration/BaseLink.test.tsx
Due: none

chore: add changeset for getLifecycleApi
  .changeset/lifecycle-api-core.md
Due: none

fix(core): make getLifecycleApi tree-shakeable
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
Due: core

feat(core): decouple getRoutesApi from route-tree via store.ops injection
  .changeset/routes-api-core.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/routesCrud.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
Due: core

feat(types)!: consolidate Router-dependent types into @real-router/types (#184)
  .changeset/type-consolidation-browser-plugin.md
  .changeset/type-consolidation-core.md
  .changeset/type-consolidation-types.md
  packages/browser-plugin/src/plugin.ts
  packages/core-types/src/api.ts
  packages/core-types/src/constants.ts
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/api/types.ts
  packages/core/src/getNavigator.ts
  packages/core/src/index.ts
  packages/core/src/internals.ts
  packages/core/src/types.ts
  packages/core/tests/functional/api/getPluginApi.test.ts
  packages/core/tests/functional/plugins.test.ts
Due: core, browser-plugin

chore(types): reorder exports in index.ts
  packages/core-types/src/index.ts
Due: none

refactor(core): merge routeTreeOps into routesStore and inline stateBuilder
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/routeTreeOps.ts
  packages/core/src/namespaces/RoutesNamespace/routesCrud.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/RoutesNamespace/stateBuilder.ts
  packages/core/tests/functional/state.test.ts
Due: core

refactor(core): inject heavy functions via store.treeOperations for tree-shaking
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/forwardToValidation.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/routesCrud.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
Due: core

refactor(core): replace DependenciesNamespace class with plain DependenciesStore
  .changeset/dependencies-store-core.md
  ARCHITECTURE.md
  packages/core/src/Router.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/DependenciesNamespace/DependenciesNamespace.ts
  packages/core/src/namespaces/DependenciesNamespace/dependenciesStore.ts
  packages/core/src/namespaces/DependenciesNamespace/index.ts
  packages/core/src/namespaces/DependenciesNamespace/validators.ts
  packages/core/src/namespaces/index.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/src/wiring/types.ts
  packages/core/tests/functional/dependencies.test.ts
  packages/core/tests/functional/dependencies/setup.ts
Due: core

refactor(core): rename executeLifecycleHooks to executeLifecycleGuards
  packages/core/src/namespaces/NavigationNamespace/transition/errorHandling.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleGuards.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
Due: core

feat(types)!: remove ActivationFn and ActivationFnFactory types
  .changeset/remove-activation-fn-core.md
  .changeset/remove-activation-fn-types.md
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
  packages/core/src/index.ts
  packages/core/src/types.ts
Due: none

test(core): reorganize tests into api/ subdirectories
  packages/core/tests/functional/api/getDependenciesApi/getDependencies.test.ts
  packages/core/tests/functional/api/getDependenciesApi/getDependenciesApi.test.ts
  packages/core/tests/functional/api/getDependenciesApi/hasDependency.test.ts
  packages/core/tests/functional/api/getDependenciesApi/removeDependency.test.ts
  packages/core/tests/functional/api/getDependenciesApi/resetDependencies.test.ts
  packages/core/tests/functional/api/getDependenciesApi/setDependencies.test.ts
  packages/core/tests/functional/api/getDependenciesApi/setDependency.test.ts
  packages/core/tests/functional/api/getDependenciesApi/setup.ts
  packages/core/tests/functional/api/getLifecycleApi/addActivateGuard.test.ts
  packages/core/tests/functional/api/getLifecycleApi/addDeactivateGuard.test.ts
  packages/core/tests/functional/api/getLifecycleApi/getLifecycleApi.test.ts
  packages/core/tests/functional/api/getLifecycleApi/removeGuard.test.ts
  packages/core/tests/functional/api/getLifecycleApi/setup.ts
  packages/core/tests/functional/api/getPluginApi/areStatesEqual.test.ts
  packages/core/tests/functional/api/getPluginApi/buildState.test.ts
  packages/core/tests/functional/api/getPluginApi/forwardState.test.ts
  packages/core/tests/functional/api/getPluginApi/getPluginApi.test.ts
  packages/core/tests/functional/api/getPluginApi/makeState.test.ts
  packages/core/tests/functional/api/getRoutesApi/addRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/clearRoutes.test.ts
  packages/core/tests/functional/api/getRoutesApi/getRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/getRouteConfig.test.ts
  packages/core/tests/functional/api/getRoutesApi/getRoutesApi.test.ts
  packages/core/tests/functional/api/getRoutesApi/hasRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/removeRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/updateRoute.test.ts
  packages/core/tests/functional/dependencies.test.ts
  packages/core/tests/functional/routes/buildPath.test.ts
  packages/core/tests/functional/routes/isActiveRoute.test.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/core/tests/functional/routes/shouldUpdateNode.test.ts
  packages/core/tests/functional/state.test.ts
Due: none

chore: clean up cross-package devDependencies and integration tests
  packages/browser-plugin/package.json
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/persistent-params-plugin/package.json
  packages/persistent-params-plugin/tests/unit/utils.test.ts
  packages/route-tree/package.json
  packages/route-tree/src/operations/types.ts
  packages/router-benchmarks/package.json
  packages/router-benchmarks/src/14-rx/14.1-state$.bench.ts
  packages/router-benchmarks/src/helpers/suppress-console.ts
  pnpm-lock.yaml
Due: none

chore: dedupe lockfile after dependency cleanup
  pnpm-lock.yaml
Due: none

docs: update documentation for modular architecture
  .changeset/modular-architecture-docs.md
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  README.md
  packages/core/README.md
Due: none

chore(changesets): add PR reference (#187) to changesets missing it
  .changeset/dependencies-store-core.md
  .changeset/modular-architecture-docs.md
  .changeset/remove-activation-fn-core.md
  .changeset/remove-activation-fn-types.md
Due: none

fix(browser-plugin): remove redundant async from router.start override
  packages/browser-plugin/src/plugin.ts
Due: browser-plugin

release: version packages (#170 #171 #172 #173 #174 #180 #182 #183 #184 #187 #37)
  .changeset/clone-router-api-core.md
  .changeset/dependencies-api-core.md
  .changeset/dependencies-store-core.md
  .changeset/factory-api-browser-plugin.md
  .changeset/factory-api-core.md
  .changeset/factory-api-persistent-params-plugin.md
  .changeset/factory-api-rx.md
  .changeset/lifecycle-api-core.md
  .changeset/modular-architecture-docs.md
  .changeset/move-addeventlistener-buildnavigationstate.md
  .changeset/remove-activation-fn-core.md
  .changeset/remove-activation-fn-types.md
  .changeset/routes-api-core.md
  .changeset/routes-store-core.md
  .changeset/type-consolidation-browser-plugin.md
  .changeset/type-consolidation-core.md
  .changeset/type-consolidation-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

fix(deps): resolve Dependabot security alerts for transitive devDependencies
  package.json
  pnpm-lock.yaml
Due: none

release: version packages (#170 #171 #172 #173 #174 #180 #182 #183 #184 #187 #37) (#189)
  .changeset/clone-router-api-core.md
  .changeset/dependencies-api-core.md
  .changeset/dependencies-store-core.md
  .changeset/factory-api-browser-plugin.md
  .changeset/factory-api-core.md
  .changeset/factory-api-persistent-params-plugin.md
  .changeset/factory-api-rx.md
  .changeset/lifecycle-api-core.md
  .changeset/modular-architecture-docs.md
  .changeset/move-addeventlistener-buildnavigationstate.md
  .changeset/remove-activation-fn-core.md
  .changeset/remove-activation-fn-types.md
  .changeset/routes-api-core.md
  .changeset/routes-store-core.md
  .changeset/type-consolidation-browser-plugin.md
  .changeset/type-consolidation-core.md
  .changeset/type-consolidation-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(core-types): add signal to NavigationOptions and GuardFn
  packages/core-types/src/base.ts
  packages/core-types/src/router.ts
Due: none

test(core): add AbortController integration tests
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
Due: none

feat(core): integrate AbortController in navigation pipeline
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleGuards.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
Due: core

refactor(core): use _signal prefix instead of eslint-disable for unused destructure
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
Due: core

chore(core): add sonarjs lint-disable for intentional unused signal destructure
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
Due: core

fix(core): opt-in signal delivery to guards and clarify concurrent nav abort
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleGuards.ts
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
Due: core

refactor(core): remove unnecessary v8 ignore comments from AbortController code
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleGuards.ts
Due: core

refactor(core): always pass signal to guards — remove Function.length hack
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleGuards.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
Due: core

refactor(types): remove index signature from NavigationOptions, enforce strict fields only
  packages/core-types/src/base.ts
  packages/core/src/Router.ts
  packages/core/tests/functional/error/helpers.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-input-validation.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-proxy.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-success.test.ts
  packages/core/tests/functional/navigation/navigate/navigation-options.test.ts
  packages/core/tests/functional/navigation/navigate/route-not-found.test.ts
  packages/core/tests/functional/navigation/navigate/router-not-started.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/property/error/circular-refs.properties.ts
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
Due: core

fix(core): abort previous controller on concurrent navigation, validate signal field (#188)
  .changeset/abort-controller-core-feature.md
  .changeset/abort-controller-types-feature.md
  .changeset/navigation-options-refactor.md
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
  packages/core/tests/functional/navigation/navigate/events-listeners.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/type-guards/src/guards/navigation.ts
  packages/type-guards/tests/functional/guards/navigation.test.ts
Due: core

docs: update documentation for AbortController API integration (#188)
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  README.md
  packages/core/README.md
Due: none

feat: integrate AbortController API into router.navigate() (#188) (#192)
  .changeset/abort-controller-core-feature.md
  .changeset/abort-controller-types-feature.md
  .changeset/navigation-options-refactor.md
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  README.md
  packages/core-types/src/base.ts
  packages/core-types/src/router.ts
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleGuards.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
  packages/core/tests/functional/error/helpers.test.ts
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-input-validation.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-proxy.test.ts
  packages/core/tests/functional/navigation/navigate/events-listeners.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-success.test.ts
  packages/core/tests/functional/navigation/navigate/navigation-options.test.ts
  packages/core/tests/functional/navigation/navigate/route-not-found.test.ts
  packages/core/tests/functional/navigation/navigate/router-not-started.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/core/tests/property/error/circular-refs.properties.ts
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/type-guards/src/guards/navigation.ts
  packages/type-guards/tests/functional/guards/navigation.test.ts
Due: core

release: version packages (#188 #37)
  .changeset/abort-controller-core-feature.md
  .changeset/abort-controller-types-feature.md
  .changeset/navigation-options-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
