Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

docs(commands): treat a self-authored fix-direction as a hypothesis at fix time
  .claude/commands/bugfix.md
Due: none

refactor(validation-plugin): reach the engine via core, not a direct route-tree import (#1301)
  .changeset/core-reexport-validate-route-validation-subpath-1301.md
  .changeset/validation-plugin-drop-route-tree-import-1301.md
  packages/core/CLAUDE.md
  packages/core/src/validation.ts
  packages/route-tree/CLAUDE.md
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/package.json
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/forwardTo.ts
  packages/validation-plugin/src/validators/routes.ts
  packages/validation-plugin/tests/functional/integration/routes-coverage.test.ts
  packages/validation-plugin/tests/functional/no-route-tree.test.ts
  pnpm-lock.yaml
Due: core

refactor(validation-plugin): reach the engine via core, not a direct route-tree import (#1301) (#1304)
  .changeset/core-reexport-validate-route-validation-subpath-1301.md
  .changeset/validation-plugin-drop-route-tree-import-1301.md
  packages/core/CLAUDE.md
  packages/core/src/validation.ts
  packages/route-tree/CLAUDE.md
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/package.json
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/forwardTo.ts
  packages/validation-plugin/src/validators/routes.ts
  packages/validation-plugin/tests/functional/integration/routes-coverage.test.ts
  packages/validation-plugin/tests/functional/no-route-tree.test.ts
  pnpm-lock.yaml
Due: core

release: version packages (#1301)
  .changeset/core-reexport-validate-route-validation-subpath-1301.md
  .changeset/validation-plugin-drop-route-tree-import-1301.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

release: version packages (#1301) (#1305)
  .changeset/core-reexport-validate-route-validation-subpath-1301.md
  .changeset/validation-plugin-drop-route-tree-import-1301.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

docs(commands): a removal issue's reachability metric is not removability (bugfix 0.6)
  .claude/commands/bugfix.md
Due: none

refactor: remove core-unreachable API from the foundation packages (#1302)
  .changeset/route-tree-remove-builder-skipfreeze-phantom-1302.md
  .changeset/search-params-remove-omit-keep-1302.md
  packages/route-tree/CLAUDE.md
  packages/route-tree/INVARIANTS.md
  packages/route-tree/src/builder/computeCaches.ts
  packages/route-tree/src/builder/createRouteTree.ts
  packages/route-tree/src/builder/index.ts
  packages/route-tree/src/builder/types.ts
  packages/route-tree/src/index.ts
  packages/route-tree/src/operations/types.ts
  packages/route-tree/src/types.ts
  packages/route-tree/tests/functional/builder.test.ts
  packages/route-tree/tests/functional/operations/helpers.ts
  packages/route-tree/tests/property/tree.properties.ts
  packages/search-params/CLAUDE.md
  packages/search-params/INVARIANTS.md
  packages/search-params/src/index.ts
  packages/search-params/src/searchParams.ts
  packages/search-params/src/types.ts
  packages/search-params/tests/functional/search-params.test.ts
  packages/search-params/tests/property/omitKeep.properties.ts
  packages/search-params/tests/stress/omit-keep-scale.stress.ts
Due: route-tree

refactor: remove core-unreachable API from the foundation packages (#1302) (#1306)
  .changeset/route-tree-remove-builder-skipfreeze-phantom-1302.md
  .changeset/search-params-remove-omit-keep-1302.md
  packages/route-tree/CLAUDE.md
  packages/route-tree/INVARIANTS.md
  packages/route-tree/src/builder/computeCaches.ts
  packages/route-tree/src/builder/createRouteTree.ts
  packages/route-tree/src/builder/index.ts
  packages/route-tree/src/builder/types.ts
  packages/route-tree/src/index.ts
  packages/route-tree/src/operations/types.ts
  packages/route-tree/src/types.ts
  packages/route-tree/tests/functional/builder.test.ts
  packages/route-tree/tests/functional/operations/helpers.ts
  packages/route-tree/tests/property/tree.properties.ts
  packages/search-params/CLAUDE.md
  packages/search-params/INVARIANTS.md
  packages/search-params/src/index.ts
  packages/search-params/src/searchParams.ts
  packages/search-params/src/types.ts
  packages/search-params/tests/functional/search-params.test.ts
  packages/search-params/tests/property/omitKeep.properties.ts
  packages/search-params/tests/stress/omit-keep-scale.stress.ts
Due: route-tree

release: version packages (#1302)
  .changeset/route-tree-remove-builder-skipfreeze-phantom-1302.md
  .changeset/search-params-remove-omit-keep-1302.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1302) (#1307)
  .changeset/route-tree-remove-builder-skipfreeze-phantom-1302.md
  .changeset/search-params-remove-omit-keep-1302.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

feat(core): wire opt-in case-insensitive routing via caseSensitive (#1303)
  .changeset/core-wire-casesensitive-option-1303.md
  .changeset/types-add-casesensitive-option-1303.md
  .changeset/validation-plugin-validate-casesensitive-1303.md
  examples/web/react/hash-routing/src/main.tsx
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/tests/functional/routes/caseSensitive.test.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/functional/validators.test.ts
Due: core

feat(core): wire opt-in case-insensitive routing via caseSensitive (#1303) (#1308)
  .changeset/core-wire-casesensitive-option-1303.md
  .changeset/types-add-casesensitive-option-1303.md
  .changeset/validation-plugin-validate-casesensitive-1303.md
  examples/web/react/hash-routing/src/main.tsx
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/tests/functional/routes/caseSensitive.test.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/functional/validators.test.ts
Due: core

docs(search-params): drop omit/keep from ARCHITECTURE.md, add parseQuery
  packages/search-params/ARCHITECTURE.md
Due: none

refactor(path-matcher): remove the write-only depth field from CompiledRoute (#1310)
  .changeset/remove-path-matcher-depth-field-1310.md
  packages/path-matcher/src/registration.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
Due: none

fix(path-matcher): reject a <...> constraint in a clean static segment (#1311)
  .changeset/reject-constraint-in-static-segment-1311.md
  packages/path-matcher/CLAUDE.md
  packages/path-matcher/src/constraint-grammar.ts
  packages/path-matcher/src/index.ts
  packages/path-matcher/src/registration.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/route-tree/CLAUDE.md
  packages/route-tree/INVARIANTS.md
  packages/route-tree/src/validation/routes.ts
  packages/route-tree/tests/functional/validation-routes.test.ts
Due: route-tree

fix(path-matcher): dead depth-field cleanup + constraint-in-static reject (#1310 #1311) (#1313)
  .changeset/reject-constraint-in-static-segment-1311.md
  .changeset/remove-path-matcher-depth-field-1310.md
  packages/path-matcher/CLAUDE.md
  packages/path-matcher/src/constraint-grammar.ts
  packages/path-matcher/src/index.ts
  packages/path-matcher/src/registration.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/route-tree/CLAUDE.md
  packages/route-tree/INVARIANTS.md
  packages/route-tree/src/validation/routes.ts
  packages/route-tree/tests/functional/validation-routes.test.ts
Due: route-tree

refactor(path-matcher): single-source the fused-suffix scan + query-name regex (#1320 Tier 1)
  .changeset/single-source-validation-scans-tier1-1320.md
  packages/path-matcher/CLAUDE.md
  packages/path-matcher/src/constraint-grammar.ts
  packages/path-matcher/src/index.ts
  packages/path-matcher/src/registration.ts
  packages/route-tree/CLAUDE.md
  packages/route-tree/src/validation/routes.ts
Due: route-tree

test(route-tree): lock gate <-> backstop parity for the parallel scans (#1320 Tier 2)
  packages/route-tree/CLAUDE.md
  packages/route-tree/INVARIANTS.md
  packages/route-tree/tests/property/gate-backstop-parity.properties.ts
Due: none

refactor(path-matcher): single-source the fused-suffix scan + query-name regex (gate ↔ backstop, #1320 Tier 1) (#1322)
  .changeset/single-source-validation-scans-tier1-1320.md
  packages/path-matcher/CLAUDE.md
  packages/path-matcher/src/constraint-grammar.ts
  packages/path-matcher/src/index.ts
  packages/path-matcher/src/registration.ts
  packages/route-tree/CLAUDE.md
  packages/route-tree/src/validation/routes.ts
Due: route-tree

release: version packages (#1320)
  .changeset/single-source-validation-scans-tier1-1320.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1320) (#1325)
  .changeset/single-source-validation-scans-tier1-1320.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

test(route-tree): lock gate ↔ backstop parity for the parallel scans (#1320 Tier 2) (#1323)
  packages/route-tree/CLAUDE.md
  packages/route-tree/INVARIANTS.md
  packages/route-tree/tests/property/gate-backstop-parity.properties.ts
Due: none

test(route-tree): add property generators for VP9-VP15 gate rejections (#1312)
  packages/route-tree/INVARIANTS.md
  packages/route-tree/tests/property/validation.properties.ts
Due: none

docs(benchmarks): refresh REPORTs from clean 2026-07-06 run + /bench-report regression-mode
  .claude/commands/bench-report.md
  benchmarks/cross-router/REPORT-angular.md
  benchmarks/cross-router/REPORT-react.md
  benchmarks/cross-router/REPORT-solid.md
  benchmarks/cross-router/REPORT-svelte.md
  benchmarks/cross-router/REPORT-vue.md
Due: none

fix(benchmarks): drop per-nav from the over-baseline table — negative for vue/svelte/angular (#1326)
  benchmarks/cross-router/REPORT-angular.md
  benchmarks/cross-router/REPORT-react.md
  benchmarks/cross-router/REPORT-solid.md
  benchmarks/cross-router/REPORT-svelte.md
  benchmarks/cross-router/REPORT-vue.md
  benchmarks/cross-router/harness/report.mjs
Due: none

docs(benchmarks): sync stale REPORT blurbs to the 2026-07-06 n=30 run
  benchmarks/cross-router/REPORT-angular.md
  benchmarks/cross-router/REPORT-svelte.md
  benchmarks/cross-router/harness/report.mjs
Due: none

docs(benchmarks): /bench-report self-correction from the 2026-07-07 analysis run
  .claude/commands/bench-report.md
Due: none

docs(benchmarks): /bench-report — baseline is not a per-nav floor (#1326 follow-up)
  .claude/commands/bench-report.md
Due: none

fix(search-params): totalize encode (safeEncode) + O(n) key-only parse (#1314 #1316)
  packages/search-params/src/encode.ts
  packages/search-params/src/searchParams.ts
  packages/search-params/src/strategies/array.ts
  packages/search-params/src/utils.ts
Due: none

fix(path-matcher): totalize buildPath encode on a lone surrogate — all 3 modes (#1315)
  packages/path-matcher/src/encoding.ts
Due: none

test(search-params): surrogate totality generators + loss/1.3 oracles + key-only quadratic guard (#1314 #1316 #1317)
  packages/search-params/tests/property/inverse-pair-brutal.properties.ts
  packages/search-params/tests/stress/parse-scale.stress.ts
Due: none

test(path-matcher): lone + paired surrogate encoding tests — buildPath totality (#1315)
  packages/path-matcher/tests/unit/encoding.test.ts
Due: none

docs(search-params,path-matcher): lone-surrogate totality + 1.3 lock + stale-INVARIANTS fixes (#1314 #1315 #1317)
  packages/path-matcher/CLAUDE.md
  packages/path-matcher/INVARIANTS.md
  packages/search-params/CLAUDE.md
  packages/search-params/INVARIANTS.md
Due: none

test(search-params): cover safeEncode surrogate branch (functional) + changeset (#1314)
  .changeset/encode-totality-lone-surrogate-1314.md
  packages/search-params/tests/functional/search-params.test.ts
Due: none

fix(search-params,path-matcher): lib-agnostic lone-surrogate regex, not toWellFormed (#1314 #1315)
  packages/path-matcher/CLAUDE.md
  packages/path-matcher/INVARIANTS.md
  packages/path-matcher/src/encoding.ts
  packages/search-params/CLAUDE.md
  packages/search-params/INVARIANTS.md
  packages/search-params/src/utils.ts
Due: none

fix(search-params): safeEncode rethrows non-URIError — a Symbol param must still reject (#1314)
  packages/search-params/src/utils.ts
  packages/search-params/tests/functional/search-params.test.ts
Due: none
