Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

release: version packages (#1194 #1205) (#1345)
  .changeset/core-update-nonexistent-noop-1205.md
  .changeset/validation-plugin-constructor-dotcheck-1194.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

fix(core): origin-explicit guard clearing — config guards survive external-guard ops (#1171)
  .changeset/loud-guards-linger.md
  packages/core/ARCHITECTURE.md
  packages/core/INVARIANTS.md
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/api/cloneRouter.test.ts
  packages/core/tests/functional/api/getLifecycleApi/removeGuard.test.ts
  packages/core/tests/functional/api/getRoutesApi/getRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/replaceRoutes.test.ts
  packages/core/tests/functional/navigation/navigate/auto-cleanup.test.ts
  packages/core/tests/property/route-lifecycle-storage.properties.ts
Due: core

fix(core): definition canDeactivate survives leave — origin-explicit guard clearing (#1171) (#1346)
  .changeset/loud-guards-linger.md
  packages/core/ARCHITECTURE.md
  packages/core/INVARIANTS.md
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/api/cloneRouter.test.ts
  packages/core/tests/functional/api/getLifecycleApi/removeGuard.test.ts
  packages/core/tests/functional/api/getRoutesApi/getRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/replaceRoutes.test.ts
  packages/core/tests/functional/navigation/navigate/auto-cleanup.test.ts
  packages/core/tests/property/route-lifecycle-storage.properties.ts
Due: core

fix(core): guard pre-bound usePlugin after dispose (#1196)
  .changeset/tame-zombies-rest.md
  packages/core/src/Router.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
Due: core

fix(core): make addInterceptor unsubscribe idempotent (#1198)
  .changeset/silent-otters-share.md
  packages/core/src/api/getPluginApi.ts
  packages/core/tests/functional/api/getPluginApi/addBuildPathInterceptor.test.ts
Due: core

fix(core): clear ctx.interceptors on dispose (#1199)
  .changeset/brave-clocks-clean.md
  packages/core/ARCHITECTURE.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
Due: core

fix(core): make subscribeLeave unsubscribe idempotent (#1349)
  .changeset/quick-lions-leave.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/observable/subscribe-leave.test.ts
Due: core

fix(core): dispose / unsubscribe safety-net + idempotency symmetry (#1196 #1198 #1199 #1349) (#1348)
  .changeset/brave-clocks-clean.md
  .changeset/quick-lions-leave.md
  .changeset/silent-otters-share.md
  .changeset/tame-zombies-rest.md
  packages/core/ARCHITECTURE.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/api/getPluginApi/addBuildPathInterceptor.test.ts
  packages/core/tests/functional/observable/subscribe-leave.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
Due: core

release: version packages (#1196 #1198 #1199 #1349 #946)
  .changeset/brave-clocks-clean.md
  .changeset/quick-lions-leave.md
  .changeset/silent-otters-share.md
  .changeset/tame-zombies-rest.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1196 #1198 #1199 #1349 #946) (#1350)
  .changeset/brave-clocks-clean.md
  .changeset/quick-lions-leave.md
  .changeset/silent-otters-share.md
  .changeset/tame-zombies-rest.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

docs(commands): sharpen bugfix-batch + chain-resolve self-corrections
  .claude/commands/bugfix-batch.md
  .claude/commands/chain-resolve.md
Due: none

perf(browser-plugin, hash-plugin): skip no-op popstate replaceState (#1353)
  .changeset/browser-plugin-popstate-perf.md
  .changeset/hash-plugin-popstate-perf.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/CLAUDE.md
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/browser-plugin/tests/property/browser-env/canSkipPopstateHistoryWrite.properties.ts
  packages/hash-plugin/ARCHITECTURE.md
  packages/hash-plugin/CLAUDE.md
  packages/hash-plugin/src/index.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
  shared/browser-env/history-api.ts
  shared/browser-env/index.ts
  shared/browser-env/popstate-utils.ts
  shared/browser-env/safe-browser.ts
  shared/browser-env/types.ts
Due: browser-plugin

perf(browser-plugin, hash-plugin): skip no-op popstate replaceState on back/forward (#1353) (#1354)
  .changeset/browser-plugin-popstate-perf.md
  .changeset/hash-plugin-popstate-perf.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/CLAUDE.md
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/browser-plugin/tests/property/browser-env/canSkipPopstateHistoryWrite.properties.ts
  packages/hash-plugin/ARCHITECTURE.md
  packages/hash-plugin/CLAUDE.md
  packages/hash-plugin/src/index.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
  shared/browser-env/history-api.ts
  shared/browser-env/index.ts
  shared/browser-env/popstate-utils.ts
  shared/browser-env/safe-browser.ts
  shared/browser-env/types.ts
Due: browser-plugin

release: version packages (#1353)
  .changeset/browser-plugin-popstate-perf.md
  .changeset/hash-plugin-popstate-perf.md
  CHANGELOG.md
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
Due: none

release: version packages (#1353) (#1355)
  .changeset/browser-plugin-popstate-perf.md
  .changeset/hash-plugin-popstate-perf.md
  CHANGELOG.md
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
Due: none

fix(core): reject duplicate + reserved @@ names in createRouter([...]) initial routes (#1351)
  .changeset/createrouter-duplicate-name-1351-fix.md
  .claude/commands/bugfix.md
  .claude/commands/create-issue.md
  packages/core/INVARIANTS.md
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/validation-plugin/tests/functional/createRouter.validation.test.ts
  packages/validation-plugin/tests/functional/integration/plugin-lifecycle.test.ts
  packages/validation-plugin/tests/functional/integration/retrospective-integration.test.ts
  packages/validation-plugin/tests/functional/validationPlugin.test.ts
  packages/vue/tests/functional/RouterProvider.a11y.test.ts
Due: core

refactor(validation-plugin): drop the now-unreachable retrospective dup-name check (#1226)
  .changeset/validation-plugin-drop-dead-retrospective-dup-check.md
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
Due: none

fix(core): reject duplicate + reserved @@ names in createRouter([...]) initial routes (#1351) (#1359)
  .changeset/createrouter-duplicate-name-1351-fix.md
  .changeset/validation-plugin-drop-dead-retrospective-dup-check.md
  .claude/commands/bugfix.md
  .claude/commands/create-issue.md
  packages/core/INVARIANTS.md
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tests/functional/createRouter.validation.test.ts
  packages/validation-plugin/tests/functional/integration/plugin-lifecycle.test.ts
  packages/validation-plugin/tests/functional/integration/retrospective-integration.test.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
  packages/validation-plugin/tests/functional/validationPlugin.test.ts
  packages/vue/tests/functional/RouterProvider.a11y.test.ts
Due: core

release: version packages (#1153 #1226 #1351 #953 #954 #968)
  .changeset/createrouter-duplicate-name-1351-fix.md
  .changeset/validation-plugin-drop-dead-retrospective-dup-check.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

release: version packages (#1153 #1226 #1351 #953 #954 #968) (#1360)
  .changeset/createrouter-duplicate-name-1351-fix.md
  .changeset/validation-plugin-drop-dead-retrospective-dup-check.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

fix(fsm): guard transition-table closure against dangling targets (#1159)
  .changeset/fsm-table-closure-guard-1159.md
  packages/fsm/ARCHITECTURE.md
  packages/fsm/CLAUDE.md
  packages/fsm/INVARIANTS.md
  packages/fsm/src/fsm.ts
  packages/fsm/tests/functional/fsm.test.ts
  packages/fsm/tests/property/fsm.properties.ts
Due: none

fix(fsm): guard transition-table closure against dangling targets (#1159) (#1361)
  .changeset/fsm-table-closure-guard-1159.md
  packages/fsm/ARCHITECTURE.md
  packages/fsm/CLAUDE.md
  packages/fsm/INVARIANTS.md
  packages/fsm/src/fsm.ts
  packages/fsm/tests/functional/fsm.test.ts
  packages/fsm/tests/property/fsm.properties.ts
Due: none

release: version packages (#1 #10 #1159 #5 #754 #885)
  .changeset/fsm-table-closure-guard-1159.md
  CHANGELOG.md
  packages/fsm/CHANGELOG.md
  packages/fsm/package.json
Due: none

release: version packages (#1 #10 #1159 #5 #754 #885) (#1362)
  .changeset/fsm-table-closure-guard-1159.md
  CHANGELOG.md
  packages/fsm/CHANGELOG.md
  packages/fsm/package.json
Due: none

chore: trim README scroll-spy bullet + pin TypeScript major for Dependabot
  .github/dependabot.yml
  README.md
Due: none

feat(benchmarks): add cross-router back-forward (popstate) scenario
  .claude/commands/bench-report.md
  benchmarks/CLAUDE.md
  benchmarks/cross-router/REPORT-angular.md
  benchmarks/cross-router/REPORT-react.md
  benchmarks/cross-router/REPORT-solid.md
  benchmarks/cross-router/REPORT-svelte.md
  benchmarks/cross-router/REPORT-vue.md
  benchmarks/cross-router/harness/report.mjs
  benchmarks/cross-router/run-all.mjs
  benchmarks/cross-router/run.mjs
  benchmarks/cross-router/scenarios/back-forward.mjs
Due: none

fix(memory-plugin): attribute the history-restore flag by identity, not timing (#1234)
  .changeset/memory-plugin-restore-source-identity-1234.md
  packages/memory-plugin/CLAUDE.md
  packages/memory-plugin/INVARIANTS.md
  packages/memory-plugin/src/plugin.ts
  packages/memory-plugin/tests/functional/plugin.test.ts
  packages/memory-plugin/tests/stress/async-guard-back-navigate-race.stress.ts
Due: none

fix(memory-plugin): attribute the history-restore flag by identity, not timing (#1234) (#1372)
  .changeset/memory-plugin-restore-source-identity-1234.md
  packages/memory-plugin/CLAUDE.md
  packages/memory-plugin/INVARIANTS.md
  packages/memory-plugin/src/plugin.ts
  packages/memory-plugin/tests/functional/plugin.test.ts
  packages/memory-plugin/tests/stress/async-guard-back-navigate-race.stress.ts
Due: none

release: version packages (#1234 #1235 #807)
  .changeset/memory-plugin-restore-source-identity-1234.md
  CHANGELOG.md
  packages/memory-plugin/CHANGELOG.md
  packages/memory-plugin/package.json
Due: none

release: version packages (#1234 #1235 #807) (#1373)
  .changeset/memory-plugin-restore-source-identity-1234.md
  CHANGELOG.md
  packages/memory-plugin/CHANGELOG.md
  packages/memory-plugin/package.json
Due: none

test(react): un-ignore reachable useRouteEnter previousRoute guard (#1218)
  .changeset/react-useRouteEnter-guard-coverage-docs-1218-1219.md
  packages/react/src/hooks/useRouteEnter.tsx
  packages/react/tests/functional/useRouteEnter.test.tsx
  packages/react/tests/integration/reactive-lifecycle.test.tsx
Due: react

docs(react): correct stale Activity/reconcile caveat + useRouteExit reentrancy (#1219)
  packages/react/CLAUDE.md
  packages/react/INVARIANTS.md
  packages/react/src/RouterProviderCore.tsx
  packages/react/src/hooks/useRouteExit.tsx
Due: react

docs(sources): correct hash:"" active semantics + sync INVARIANTS/ARCHITECTURE with reconcile-wave (#1208)
  .changeset/sources-hash-jsdoc-invariants-docs-1208.md
  packages/sources/ARCHITECTURE.md
  packages/sources/CLAUDE.md
  packages/sources/INVARIANTS.md
  packages/sources/README.md
  packages/sources/src/types.ts
Due: none

react: un-ignore reachable useRouteEnter previousRoute guard + lifecycle doc corrections (#1218, #1219) (#1374)
  .changeset/react-useRouteEnter-guard-coverage-docs-1218-1219.md
  packages/react/CLAUDE.md
  packages/react/INVARIANTS.md
  packages/react/src/RouterProviderCore.tsx
  packages/react/src/hooks/useRouteEnter.tsx
  packages/react/src/hooks/useRouteExit.tsx
  packages/react/tests/functional/useRouteEnter.test.tsx
  packages/react/tests/integration/reactive-lifecycle.test.tsx
Due: react

release: version packages (#1218 #1219 #765)
  .changeset/react-useRouteEnter-guard-coverage-docs-1218-1219.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#1218 #1219 #765) (#1376)
  .changeset/react-useRouteEnter-guard-coverage-docs-1218-1219.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(react): duplicate <RouteView.NotFound> is first-wins, symmetric with <Self> (#1220)
  .changeset/react-routeview-notfound-first-wins-1220.md
  packages/react/CLAUDE.md
  packages/react/INVARIANTS.md
  packages/react/src/components/modern/RouteView/helpers.tsx
  packages/react/tests/functional/RouteView.test.tsx
  packages/react/tests/property/routeView.pipeline.properties.ts
Due: react

docs(sources): correct hash:"" active semantics + sync INVARIANTS with reconcile-wave (#1208) (#1375)
  .changeset/sources-hash-jsdoc-invariants-docs-1208.md
  packages/sources/ARCHITECTURE.md
  packages/sources/CLAUDE.md
  packages/sources/INVARIANTS.md
  packages/sources/README.md
  packages/sources/src/types.ts
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
