Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

release: version packages (#142 #37) (#155)
  .changeset/buildpath-precompute-set.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

perf(helpers): cache compiled RegExp in segment tester functions (#147)
  .changeset/segment-tester-cache-perf.md
  packages/helpers/src/helpers.ts
Due: helpers

perf(helpers): cache compiled RegExp in segment tester functions (#147) (#156)
  .changeset/segment-tester-cache-perf.md
  packages/helpers/src/helpers.ts
Due: helpers

release: version packages (#147 #37)
  .changeset/segment-tester-cache-perf.md
  CHANGELOG.md
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
Due: none

release: version packages (#147 #37) (#157)
  .changeset/segment-tester-cache-perf.md
  CHANGELOG.md
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
Due: none

feat(cache-manager): scaffold package structure
  packages/cache-manager/package.json
  packages/cache-manager/src/types.ts
  packages/cache-manager/tsconfig.json
  packages/cache-manager/tsconfig.node.json
  packages/cache-manager/tsup.config.mts
  packages/cache-manager/vitest.config.mts
  pnpm-lock.yaml
Due: none

feat(cache-manager): implement KeyIndexCache with LRU eviction
  packages/cache-manager/src/KeyIndexCache.ts
  packages/cache-manager/tests/functional/KeyIndexCache.test.ts
Due: none

feat(cache-manager): implement CacheManager registry
  packages/cache-manager/src/CacheManager.ts
  packages/cache-manager/tests/functional/CacheManager.test.ts
Due: none

feat(cache-manager): add singleton export and finalize
  packages/cache-manager/src/index.ts
Due: none

feat(cache-manager): add singleton export and finalize
  .changeset/cache-manager-feature.md
  commitlint.config.mjs
  packages/cache-manager/package.json
  packages/cache-manager/src/CacheManager.ts
  packages/cache-manager/src/KeyIndexCache.ts
  packages/cache-manager/tests/property/KeyIndexCache.properties.ts
  packages/cache-manager/tests/property/helpers.ts
  packages/cache-manager/vitest.config.properties.mts
Due: none

docs(cache-manager): add README, CHANGELOG and update root docs (#158)
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  packages/cache-manager/CHANGELOG.md
  packages/cache-manager/README.md
Due: none

feat(cache-manager): create @real-router/cache-manager package (#158) (#164)
  .changeset/cache-manager-feature.md
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  commitlint.config.mjs
  packages/cache-manager/CHANGELOG.md
  packages/cache-manager/README.md
  packages/cache-manager/package.json
  packages/cache-manager/src/CacheManager.ts
  packages/cache-manager/src/KeyIndexCache.ts
  packages/cache-manager/src/index.ts
  packages/cache-manager/src/types.ts
  packages/cache-manager/tests/functional/CacheManager.test.ts
  packages/cache-manager/tests/functional/KeyIndexCache.test.ts
  packages/cache-manager/tests/property/KeyIndexCache.properties.ts
  packages/cache-manager/tests/property/helpers.ts
  packages/cache-manager/tsconfig.json
  packages/cache-manager/tsconfig.node.json
  packages/cache-manager/tsup.config.mts
  packages/cache-manager/vitest.config.mts
  packages/cache-manager/vitest.config.properties.mts
  pnpm-lock.yaml
Due: none

build(cache-manager): add cache-manager to size-limit config (#158)
  .size-limit.js
Due: none

release: version packages (#158 #37)
  .changeset/cache-manager-feature.md
  CHANGELOG.md
  packages/cache-manager/CHANGELOG.md
  packages/cache-manager/package.json
Due: none

release: version packages (#158 #37) (#166)
  .changeset/cache-manager-feature.md
  CHANGELOG.md
  packages/cache-manager/CHANGELOG.md
  packages/cache-manager/package.json
Due: none

perf(cache-manager): replace LRU with FIFO eviction in KeyIndexCache (#165)
  .changeset/cache-manager-fifo-perf.md
  packages/cache-manager/src/CacheManager.ts
  packages/cache-manager/src/KeyIndexCache.ts
  packages/cache-manager/tests/benchmarks/cache-manager.bench.ts
  packages/cache-manager/tests/functional/KeyIndexCache.test.ts
  packages/core/tests/benchmarks/transitionPath/cache-overhead-isolation.bench.ts
  packages/core/tests/benchmarks/transitionPath/getTransitionPath-cache.bench.ts
Due: none

perf(cache-manager): replace LRU with FIFO eviction in KeyIndexCache (#165) (#167)
  .changeset/cache-manager-fifo-perf.md
  packages/cache-manager/src/CacheManager.ts
  packages/cache-manager/src/KeyIndexCache.ts
  packages/cache-manager/tests/benchmarks/cache-manager.bench.ts
  packages/cache-manager/tests/functional/KeyIndexCache.test.ts
  packages/core/tests/benchmarks/transitionPath/cache-overhead-isolation.bench.ts
  packages/core/tests/benchmarks/transitionPath/getTransitionPath-cache.bench.ts
Due: none

release: version packages (#165 #37)
  .changeset/cache-manager-fifo-perf.md
  CHANGELOG.md
  packages/cache-manager/CHANGELOG.md
  packages/cache-manager/package.json
Due: none

release: version packages (#165 #37) (#168)
  .changeset/cache-manager-fifo-perf.md
  CHANGELOG.md
  packages/cache-manager/CHANGELOG.md
  packages/cache-manager/package.json
Due: none

feat(core): add factory API and migrate browser-plugin/rx to getPluginApi() (#170)
  .changeset/factory-api-browser-plugin.md
  .changeset/factory-api-core.md
  .changeset/factory-api-rx.md
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/utils.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/browser-plugin/tests/functional/utils.test.ts
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/api/index.ts
  packages/core/src/api/types.ts
  packages/core/src/index.ts
  packages/core/tests/functional/api/cloneRouter.test.ts
  packages/core/tests/functional/api/getDependenciesApi.test.ts
  packages/core/tests/functional/api/getPluginApi.test.ts
  packages/core/tests/functional/api/getRoutesApi.test.ts
  packages/rx/src/events$.ts
  packages/rx/src/state$.ts
Due: core, browser-plugin

refactor(core): combine navigate() overloads into single signature (#170)
  packages/core/src/Router.ts
Due: core

feat(core): add factory API and migrate browser-plugin/rx to getPluginApi() (#170) (#176)
  .changeset/factory-api-browser-plugin.md
  .changeset/factory-api-core.md
  .changeset/factory-api-rx.md
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/utils.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/browser-plugin/tests/functional/utils.test.ts
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/api/index.ts
  packages/core/src/api/types.ts
  packages/core/src/index.ts
  packages/core/tests/functional/api/cloneRouter.test.ts
  packages/core/tests/functional/api/getDependenciesApi.test.ts
  packages/core/tests/functional/api/getPluginApi.test.ts
  packages/core/tests/functional/api/getRoutesApi.test.ts
  packages/rx/src/events$.ts
  packages/rx/src/state$.ts
Due: core, browser-plugin

refactor(core): extract validators from namespace classes for getPluginApi
  .changeset/factory-api-persistent-params-plugin.md
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/EventBusNamespace/validators.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/namespaces/StateNamespace/validators.ts
  packages/router-benchmarks/src/helpers/bench-router-augment.d.ts
Due: core

feat(core): switch getDependenciesApi to standalone via WeakMap (#172)
  .changeset/dependencies-api-core.md
  packages/core/src/Router.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/DependenciesNamespace/DependenciesNamespace.ts
  packages/core/tests/functional/api/getDependenciesApi.test.ts
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/dependencies.test.ts
  packages/core/tests/functional/dependencies/getDependencies.test.ts
  packages/core/tests/functional/dependencies/getDependency.test.ts
  packages/core/tests/functional/dependencies/hasDependency.test.ts
  packages/core/tests/functional/dependencies/removeDependency.test.ts
  packages/core/tests/functional/dependencies/resetDependencies.test.ts
  packages/core/tests/functional/dependencies/setDependencies.test.ts
  packages/core/tests/functional/dependencies/setDependency.test.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/observable/addEventListener.test.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/functional/plugins.test.ts
  packages/core/tests/functional/routeLifecycle/addActivateGuard.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/router-benchmarks/src/02-navigation-plugins/2.1-sync-extensions.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.1-initialization.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.2-adding.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.4-edge-cases.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.5-router-comparison.bench.ts
Due: core

feat(core): switch getDependenciesApi to standalone via WeakMap (#172) (#178)
  .changeset/dependencies-api-core.md
  packages/core/src/Router.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/DependenciesNamespace/DependenciesNamespace.ts
  packages/core/tests/functional/api/getDependenciesApi.test.ts
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/dependencies.test.ts
  packages/core/tests/functional/dependencies/getDependencies.test.ts
  packages/core/tests/functional/dependencies/getDependency.test.ts
  packages/core/tests/functional/dependencies/hasDependency.test.ts
  packages/core/tests/functional/dependencies/removeDependency.test.ts
  packages/core/tests/functional/dependencies/resetDependencies.test.ts
  packages/core/tests/functional/dependencies/setDependencies.test.ts
  packages/core/tests/functional/dependencies/setDependency.test.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/observable/addEventListener.test.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/functional/plugins.test.ts
  packages/core/tests/functional/routeLifecycle/addActivateGuard.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/router-benchmarks/src/02-navigation-plugins/2.1-sync-extensions.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.1-initialization.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.2-adding.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.4-edge-cases.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.5-router-comparison.bench.ts
Due: core

feat(core): switch cloneRouter to standalone via WeakMap (#173)
  .changeset/clone-router-api-core.md
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/CloneNamespace/index.ts
  packages/core/src/namespaces/CloneNamespace/types.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/index.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/src/wiring/types.ts
  packages/core/src/wiring/wireRouter.ts
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/functional/navigator.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
  packages/core/tests/functional/routes/routeTree/getRouteConfig.test.ts
  packages/core/tests/functional/ssr/race-conditions.test.ts
  packages/router-benchmarks/src/13-cloning/13.1-ssr-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.2-testing-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.3-clone-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.4-configuration.bench.ts
  packages/router-benchmarks/src/13-cloning/13.5-isolation.bench.ts
  packages/router-benchmarks/src/13-cloning/13.6-edge-cases.bench.ts
Due: core

feat(core): switch cloneRouter to standalone via WeakMap (#173) (#179)
  .changeset/clone-router-api-core.md
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/CloneNamespace/index.ts
  packages/core/src/namespaces/CloneNamespace/types.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/index.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/src/wiring/types.ts
  packages/core/src/wiring/wireRouter.ts
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/functional/navigator.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
  packages/core/tests/functional/routes/routeTree/getRouteConfig.test.ts
  packages/core/tests/functional/ssr/race-conditions.test.ts
  packages/router-benchmarks/src/13-cloning/13.1-ssr-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.2-testing-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.3-clone-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.4-configuration.bench.ts
  packages/router-benchmarks/src/13-cloning/13.5-isolation.bench.ts
  packages/router-benchmarks/src/13-cloning/13.6-edge-cases.bench.ts
Due: core

feat(core): extend RouterInternals with route CRUD entries and switch getRoutesApi to standalone
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/api/types.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/api/getRoutesApi.test.ts
Due: core

test(core): migrate route CRUD tests and benchmarks from Router facade to getRoutesApi
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/functional/routeLifecycle/guardApi.test.ts
  packages/core/tests/functional/routeLifecycle/removeGuard.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
  packages/core/tests/functional/routes/routePath/buildPath.test.ts
  packages/core/tests/functional/routes/routePath/matchPath.test.ts
  packages/core/tests/functional/routes/routeQuery/isActiveRoute.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/routes/routeTree/getRoute.test.ts
  packages/core/tests/functional/routes/routeTree/getRouteConfig.test.ts
  packages/core/tests/functional/routes/routeTree/hasRoute.test.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/core/tests/functional/state.test.ts
  packages/core/tests/functional/state/buildNavigationState.test.ts
  packages/router-benchmarks/src/12-stress-testing/12.1-high-load-sequential.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.2-route-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.3-extension-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.4-auto-cleanup.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.5-comparative.bench.ts
  packages/router-benchmarks/src/13-cloning/13.3-clone-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.4-configuration.bench.ts
Due: none

feat(core)!: remove Route CRUD methods from public Router API
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/api/cloneRouter.test.ts
  packages/core/tests/functional/api/getRoutesApi.test.ts
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/routes/routeTree/getRouteConfig.test.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/core/tests/functional/ssr/race-conditions.test.ts
  packages/react/tests/functional/ConnectedLink.test.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/functional/useIsActiveRoute.test.tsx
  packages/react/tests/functional/useRouteNode.test.tsx
  packages/router-benchmarks/src/12-stress-testing/12.1-high-load-sequential.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.2-route-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.3-extension-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.4-auto-cleanup.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.5-comparative.bench.ts
  packages/router-benchmarks/src/13-cloning/13.3-clone-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.4-configuration.bench.ts
Due: core

refactor(core)extract CRUD logic from RoutesNamespace for tree-shaking
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routeTreeOps.ts
  packages/core/src/namespaces/RoutesNamespace/routesCrud.ts
Due: core

refactor(core): add commitTreeChanges, remove dead code, use direct validator imports
  packages/core/src/Router.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routeTreeOps.ts
  packages/core/src/namespaces/RoutesNamespace/routesCrud.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

chore: add changeset for getRoutesApi standalone migration (#174)
  .changeset/routes-api-core.md
Due: none

chore: add changeset for getRoutesApi standalone migration (#174)
  .changeset/routes-api-core.md
  packages/core/src/api/getRoutesApi.ts
Due: core

feat(core): modular architecture — standalone APIs, WeakMap internals, and RoutesStore consolidation (#180)
  .changeset/routes-store-core.md
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/routeTreeOps.ts
  packages/core/src/namespaces/RoutesNamespace/routesCrud.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

fix: exclude core from plugin size-limit and extract pure functions
  .size-limit.js
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
Due: core
