Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

release: version packages (#31 #34)
  .changeset/fort-knox-architecture.md
  .changeset/move-router-types-to-core.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

refactor(core): inject functions into namespaces instead of router object
  .github/workflows/changesets.yml
  packages/core/src/Router.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/index.ts
  packages/core/src/namespaces/MiddlewareNamespace/types.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/index.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/index.ts
  packages/core/src/namespaces/PluginsNamespace/types.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/index.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/types.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/helpers.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/index.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
Due: core

test(core): fix or remove failing tests
  packages/core/src/Router.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/routerLifecycle/start/error-handling.test.ts
  packages/core/tests/functional/routerLifecycle/start/lifecycle-events.test.ts
  packages/core/tests/functional/routerLifecycle/start/path-string-scenarios.test.ts
  packages/core/tests/functional/routerLifecycle/start/state-object-scenarios.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
Due: core

refactor(core): remove dead code, mark defensive checks with v8 ignore
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/utils.ts
  packages/browser-plugin/tests/functional/utils.test.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/validators.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/middleware.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/core/tests/functional/plugins.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/core/tests/functional/state.test.ts
  packages/persistent-params-plugin/src/plugin.ts
  packages/persistent-params-plugin/tests/functional/persistentParamsPluginFactory.test.ts
  packages/router-benchmarks/src/04-plugins-management/4.1-adding.bench.ts
  packages/router-benchmarks/src/08-current-state/8.2-comparing.bench.ts
  packages/router-benchmarks/src/08-current-state/8.3-creating.bench.ts
  packages/router-benchmarks/src/11-events/11.1-addEventListener.bench.ts
  packages/router-benchmarks/src/11-events/11.4-edge-cases.bench.ts
  packages/router-benchmarks/src/13-cloning/13.5-isolation.bench.ts
Due: core, browser-plugin

docs(core): align documentation with public api audit
  .changeset/public-api-audit.md
  packages/core/README.md
  packages/core/src/Router.ts
Due: core

fix(ci): improve lockfile sync check to ignore non-dependency changes
  dangerfile.ts
Due: none

chore: bump turbo version to 2.8.0
  .changeset/public-api-audit.md
  package.json
  pnpm-lock.yaml
Due: none

release: version packages (#36)
  .changeset/public-api-audit.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
Due: none

perf: add turbo-macos performance notes
  .changeset/browser-plugin-api-update.md
  .changeset/persistent-params-plugin-api-update.md
  .changeset/public-api-audit.md
  IMPLEMENTATION_NOTES.md
  turbo.json
Due: none

release: version packages (#36)
  .changeset/browser-plugin-api-update.md
  .changeset/persistent-params-plugin-api-update.md
  .changeset/public-api-audit.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
Due: none

release: version packages (#36) (#48)
  .changeset/browser-plugin-api-update.md
  .changeset/persistent-params-plugin-api-update.md
  .changeset/public-api-audit.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
Due: none

release: version packages (#36) (#48)
  .changeset/browser-plugin-api-update.md
  .changeset/persistent-params-plugin-api-update.md
  .changeset/public-api-audit.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/src/router.ts
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/Router.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/README.md
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/package.json
  packages/router-benchmarks/src/helpers/constants.ts
  packages/router-benchmarks/src/helpers/router-adapter.ts
  packages/router-benchmarks/src/index.ts
  turbo.json
Due: core

fix(core): move validation from route-tree to core
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/route-tree/src/builder/createRouteTree.ts
  packages/route-tree/src/builder/types.ts
  packages/route-tree/src/builder/validateRoutes.ts
  packages/route-tree/tests/benchmarks/add.bench.ts
  packages/route-tree/tests/functional/builder.test.ts
  packages/route-tree/tests/functional/operations/create-route-tree.test.ts
Due: core, route-tree

feat(core): add noValidate option + perf optimizations
  packages/core/package.json
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/NavigationNamespace/validators.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/transitionPath.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/src/01-navigation-basic/1.1-success.bench.ts
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/04-plugins-management/4.2-edge-cases.bench.ts
  packages/router-benchmarks/src/09-redirects/9.1-middleware.bench.ts
  packages/router-benchmarks/src/09-redirects/9.2-guards.bench.ts
  packages/router-benchmarks/src/09-redirects/9.3-forwardTo.bench.ts
  packages/router-benchmarks/src/09-redirects/9.5-edge-cases.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.4-lifecycle-edge-cases.bench.ts
  packages/router-benchmarks/src/11-events/11.2-subscribe.bench.ts
  packages/router-benchmarks/src/11-events/11.3-invokeEventListeners.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.1-high-load-sequential.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.2-route-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.3-extension-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.5-comparative.bench.ts
  packages/router-benchmarks/src/13-cloning/13.6-edge-cases.bench.ts
  packages/router-benchmarks/src/helpers/constants.ts
  packages/router-benchmarks/src/helpers/router-adapter.ts
  packages/router-benchmarks/src/index.ts
Due: core

fix(router-benchmarks): stabilize measurements with batching and warmup
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/src/01-navigation-basic/1.1-success.bench.ts
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.1-initialization.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.3-getting.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.4-edge-cases.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.5-router-comparison.bench.ts
  packages/router-benchmarks/src/04-plugins-management/4.1-adding.bench.ts
  packages/router-benchmarks/src/04-plugins-management/4.2-edge-cases.bench.ts
  packages/router-benchmarks/src/07-path-operations/7.1-buildPath.bench.ts
  packages/router-benchmarks/src/07-path-operations/7.2-matchPath.bench.ts
  packages/router-benchmarks/src/07-path-operations/7.3-setRootPath.bench.ts
  packages/router-benchmarks/src/07-path-operations/7.4-edge-cases.bench.ts
  packages/router-benchmarks/src/08-current-state/8.7-edge-cases.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.1-start-success.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.2-stop-success.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.4-lifecycle-edge-cases.bench.ts
  packages/router-benchmarks/src/11-events/11.2-subscribe.bench.ts
  packages/router-benchmarks/src/11-events/11.4-edge-cases.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.2-route-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.1-ssr-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.2-testing-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.3-clone-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.4-configuration.bench.ts
  packages/router-benchmarks/src/13-cloning/13.5-isolation.bench.ts
  packages/router-benchmarks/src/13-cloning/13.6-edge-cases.bench.ts
Due: none

fix: fetch master ref for turbo --affected comparison
  .github/workflows/ci.yml
Due: none

chore(ci): allow lgpl-3.0-only license for dev-dependencies
  .github/dependency-review-config.yml
Due: none

feat(router-benchmarks): add RME verification tooling
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/package.json
  packages/router-benchmarks/scripts/check-rme.sh
Due: none

fix(router-benchmarks): stabilize section 8 and remove unstable tests
  packages/router-benchmarks/README.md
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/src/08-current-state/8.2-comparing.bench.ts
  packages/router-benchmarks/src/08-current-state/8.7-edge-cases.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.1-start-success.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.2-stop-success.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.4-lifecycle-edge-cases.bench.ts
  packages/router-benchmarks/src/index.ts
Due: none

fix(router-benchmarks): stabilize section 4 plugin tests
  packages/router-benchmarks/src/04-plugins-management/4.1-adding.bench.ts
Due: none

fix(router-benchmarks): remove 12 unstable tests, document systemic variability
  packages/router-benchmarks/src/04-plugins-management/4.1-adding.bench.ts
  packages/router-benchmarks/src/04-plugins-management/4.2-edge-cases.bench.ts
  packages/router-benchmarks/src/11-events/11.2-subscribe.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.1-high-load-sequential.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.2-route-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.3-extension-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.1-ssr-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.3-clone-scaling.bench.ts
Due: none

fix(core): add idempotent flag to middleware unsubscribe function
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/tests/functional/middleware.test.ts
  packages/router-benchmarks/src/04-plugins-management/4.1-adding.bench.ts
  packages/router-benchmarks/src/04-plugins-management/4.2-edge-cases.bench.ts
Due: core

perf(core): optimize usePlugin validation to avoid array/Set allocation
  packages/core/src/Router.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/validators.ts
Due: core

perf(core): add fast path for single-plugin usePlugin calls
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/tests/functional/plugins.test.ts
Due: core

fix(router-benchmarks): improve benchmark stability and fairness
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/07-path-operations/7.1-buildPath.bench.ts
  packages/router-benchmarks/src/helpers/suppress-console.ts
Due: none

chore(router-benchmarks): add @real-router/logger dependency
  packages/router-benchmarks/package.json
  pnpm-lock.yaml
Due: none

feat(ci): require changesets for source changes
  .changeset/middleware-unsubscribe-fix.md
  .changeset/novalidate-feature.md
  .changeset/useplugin-perf.md
  .github/workflows/changeset-check.yml
Due: none

docs: add detailed changeset guidelines and improve CI feedback
  .changeset/README.md
  .github/workflows/changeset-check.yml
  .github/workflows/codeql.yml
Due: none

docs: add PR/issue references to changesets for traceability
  .changeset/README.md
  .changeset/middleware-unsubscribe-fix.md
  .changeset/novalidate-feature.md
  .changeset/useplugin-perf.md
Due: none

fix(ci): remove invalid allow-dependencies-licenses parameter
  .github/workflows/codeql.yml
Due: none

fix(deps): update @isaacs/brace-expansion to 5.0.1 (security fix)
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none
