Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

docs(ssr): the #1917 cell describes what it pins, in present tense
  packages/ssr-data-plugin/tests/functional/shared-loader-plugin.test.ts
Due: none

docs(ssr): deferWireFormat comments describe what holds, not what they said
  shared/ssr/deferWireFormat.ts
Due: none

fix(ssr): five defects in the shared SSR loader factory (#1914 #1915 #1916 #1917 #1918) (#2065)
  .changeset/defer-read-once-1914-data.md
  .changeset/defer-read-once-1914-rsc.md
  .changeset/mode-marker-every-navigation-1915-data.md
  .changeset/mode-marker-every-navigation-1915-rsc.md
  .changeset/refuse-defer-without-channel-1917-data.md
  .changeset/refuse-defer-without-channel-1917-rsc.md
  .changeset/resolver-boolean-message-1918-data.md
  .changeset/resolver-boolean-message-1918-rsc.md
  .changeset/stale-flag-after-write-1916-data.md
  .changeset/stale-flag-after-write-1916-rsc.md
  packages/rsc-server-plugin/ARCHITECTURE.md
  packages/rsc-server-plugin/tests/functional/rsc-loader.test.ts
  packages/ssr-data-plugin/CLAUDE.md
  packages/ssr-data-plugin/tests/functional/data-loader.test.ts
  packages/ssr-data-plugin/tests/functional/defer-read-once-1914.test.ts
  packages/ssr-data-plugin/tests/functional/mode-marker-1915.test.ts
  packages/ssr-data-plugin/tests/functional/resolver-boolean-1918.test.ts
  packages/ssr-data-plugin/tests/functional/shared-loader-plugin.test.ts
  packages/ssr-data-plugin/tests/functional/stale-flag-after-write-1916.test.ts
  shared/ssr/createLoadersValidator.ts
  shared/ssr/createSsrLoaderPlugin.ts
  shared/ssr/defer.ts
  shared/ssr/deferWireFormat.ts
Due: none

release: version packages (#1835 #1914 #1915 #1916 #1917 #1918 #809)
  .changeset/defer-read-once-1914-data.md
  .changeset/defer-read-once-1914-rsc.md
  .changeset/mode-marker-every-navigation-1915-data.md
  .changeset/mode-marker-every-navigation-1915-rsc.md
  .changeset/refuse-defer-without-channel-1917-data.md
  .changeset/refuse-defer-without-channel-1917-rsc.md
  .changeset/resolver-boolean-message-1918-data.md
  .changeset/resolver-boolean-message-1918-rsc.md
  .changeset/stale-flag-after-write-1916-data.md
  .changeset/stale-flag-after-write-1916-rsc.md
  CHANGELOG.md
  packages/rsc-server-plugin/CHANGELOG.md
  packages/rsc-server-plugin/package.json
  packages/ssr-data-plugin/CHANGELOG.md
  packages/ssr-data-plugin/package.json
Due: none

release: version packages (#1835 #1914 #1915 #1916 #1917 #1918 #809) (#2066)
  .changeset/defer-read-once-1914-data.md
  .changeset/defer-read-once-1914-rsc.md
  .changeset/mode-marker-every-navigation-1915-data.md
  .changeset/mode-marker-every-navigation-1915-rsc.md
  .changeset/refuse-defer-without-channel-1917-data.md
  .changeset/refuse-defer-without-channel-1917-rsc.md
  .changeset/resolver-boolean-message-1918-data.md
  .changeset/resolver-boolean-message-1918-rsc.md
  .changeset/stale-flag-after-write-1916-data.md
  .changeset/stale-flag-after-write-1916-rsc.md
  CHANGELOG.md
  packages/rsc-server-plugin/CHANGELOG.md
  packages/rsc-server-plugin/package.json
  packages/ssr-data-plugin/CHANGELOG.md
  packages/ssr-data-plugin/package.json
Due: none

config: six skill corrections from the #1802 batch and its audit
  .claude/commands/audit-bugfix.md
  .claude/commands/bugfix-batch.md
  .claude/commands/bugfix.md
Due: none

ci: the doc-anchor walk survives a directory that vanishes mid-walk
  scripts/check-doc-anchors.mjs
Due: none

fix(browser-env): discard a queued popstate on stop and teardown (#1922)
  .changeset/browser-plugin-deferred-popstate-1922-fix.md
  .changeset/hash-plugin-deferred-popstate-1922-fix.md
  packages/browser-plugin/CLAUDE.md
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/tests/functional/browser-env/popstate-handler.test.ts
  packages/browser-plugin/tests/functional/deferred-popstate-discarded-1922.test.ts
  packages/hash-plugin/CLAUDE.md
  shared/browser-env/index.ts
  shared/browser-env/popstate-handler.ts
Due: browser-plugin

fix(navigation-plugin): retire the pending traverse record on a refused navigation (#1802)
  .changeset/navigation-plugin-pending-traverse-1802-fix.md
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/tests/functional/pending-traverse-retired-1802.test.ts
Due: none

fix(memory-plugin): unwind the optimistic index on a synchronous restore refusal (#1803)
  .changeset/memory-plugin-go-refusal-1803-fix.md
  packages/memory-plugin/CLAUDE.md
  packages/memory-plugin/src/plugin.ts
  packages/memory-plugin/tests/functional/go-refusal-unwind-1803.test.ts
Due: none

fix(core): give a context claim an identity so a released one is inert (#2059 #1929)
  .changeset/core-claim-identity-2059-fix.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/src/types/api.ts
  packages/core/tests/functional/api/getPluginApi/claimContextNamespace.test.ts
  packages/core/tests/functional/api/getPluginApi/stale-claim-inert-2059.test.ts
Due: core

docs(navigation-plugin): point the traverse-record warning at the shape it names (#2067)
  packages/navigation-plugin/src/plugin.ts
Due: none

fix(ssr): key the post-hydration skip by the committed state, not the route name (#2060)
  .changeset/rsc-server-plugin-hydration-identity-2060-fix.md
  .changeset/ssr-data-plugin-hydration-identity-2060-fix.md
  packages/rsc-server-plugin/CLAUDE.md
  packages/ssr-data-plugin/CLAUDE.md
  packages/ssr-data-plugin/tests/functional/shared-ssr/authority-1838.test.ts
  packages/ssr-data-plugin/tests/functional/shared-ssr/hydration-identity-2060.test.ts
  shared/ssr/createSsrLoaderPlugin.ts
Due: none

test(ssr): pin the Array.isArray term, and drop a claim about a foreign function (#2060)
  packages/ssr-data-plugin/tests/functional/shared-ssr/hydration-identity-2060.test.ts
  shared/ssr/createSsrLoaderPlugin.ts
Due: none

test(ssr): pin the four remaining terms of the hydration gate (#2060)
  packages/ssr-data-plugin/tests/functional/shared-ssr/hydration-identity-2060.test.ts
Due: none

docs(core,navigation-plugin,browser-env): cut historiography from three fix docblocks
  packages/core/src/api/getPluginApi.ts
  packages/navigation-plugin/src/plugin.ts
  shared/browser-env/popstate-handler.ts
Due: core

fix: five records that outlive their owner (#1802 #1803 #1922 #2059 #2060) (#2068)
  .changeset/browser-plugin-deferred-popstate-1922-fix.md
  .changeset/core-claim-identity-2059-fix.md
  .changeset/hash-plugin-deferred-popstate-1922-fix.md
  .changeset/memory-plugin-go-refusal-1803-fix.md
  .changeset/navigation-plugin-pending-traverse-1802-fix.md
  .changeset/rsc-server-plugin-hydration-identity-2060-fix.md
  .changeset/ssr-data-plugin-hydration-identity-2060-fix.md
  packages/browser-plugin/CLAUDE.md
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/tests/functional/browser-env/popstate-handler.test.ts
  packages/browser-plugin/tests/functional/deferred-popstate-discarded-1922.test.ts
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/src/types/api.ts
  packages/core/tests/functional/api/getPluginApi/claimContextNamespace.test.ts
  packages/core/tests/functional/api/getPluginApi/stale-claim-inert-2059.test.ts
  packages/hash-plugin/CLAUDE.md
  packages/memory-plugin/CLAUDE.md
  packages/memory-plugin/src/plugin.ts
  packages/memory-plugin/tests/functional/go-refusal-unwind-1803.test.ts
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/tests/functional/pending-traverse-retired-1802.test.ts
  packages/rsc-server-plugin/CLAUDE.md
  packages/ssr-data-plugin/CLAUDE.md
  packages/ssr-data-plugin/tests/functional/shared-ssr/authority-1838.test.ts
  packages/ssr-data-plugin/tests/functional/shared-ssr/hydration-identity-2060.test.ts
  shared/browser-env/index.ts
  shared/browser-env/popstate-handler.ts
  shared/ssr/createSsrLoaderPlugin.ts
Due: core, browser-plugin

release: version packages (#1213 #1234 #1610 #1802 #1803 #1835 #1837 #1922 #1929 #2059 #2060 #505 #758)
  .changeset/browser-plugin-deferred-popstate-1922-fix.md
  .changeset/core-claim-identity-2059-fix.md
  .changeset/hash-plugin-deferred-popstate-1922-fix.md
  .changeset/memory-plugin-go-refusal-1803-fix.md
  .changeset/navigation-plugin-pending-traverse-1802-fix.md
  .changeset/rsc-server-plugin-hydration-identity-2060-fix.md
  .changeset/ssr-data-plugin-hydration-identity-2060-fix.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/memory-plugin/CHANGELOG.md
  packages/memory-plugin/package.json
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
  packages/rsc-server-plugin/CHANGELOG.md
  packages/rsc-server-plugin/package.json
  packages/ssr-data-plugin/CHANGELOG.md
  packages/ssr-data-plugin/package.json
Due: none

release: version packages (#1213 #1234 #1610 #1802 #1803 #1835 #1837 #1922 #1929 #2059 #2060 #505 #758) (#2069)
  .changeset/browser-plugin-deferred-popstate-1922-fix.md
  .changeset/core-claim-identity-2059-fix.md
  .changeset/hash-plugin-deferred-popstate-1922-fix.md
  .changeset/memory-plugin-go-refusal-1803-fix.md
  .changeset/navigation-plugin-pending-traverse-1802-fix.md
  .changeset/rsc-server-plugin-hydration-identity-2060-fix.md
  .changeset/ssr-data-plugin-hydration-identity-2060-fix.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/memory-plugin/CHANGELOG.md
  packages/memory-plugin/package.json
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
  packages/rsc-server-plugin/CHANGELOG.md
  packages/rsc-server-plugin/package.json
  packages/ssr-data-plugin/CHANGELOG.md
  packages/ssr-data-plugin/package.json
Due: none

chore(deps): bump browserslist and postcss-selector-parser off three advisories
  pnpm-lock.yaml
Due: none

fix(core): decide state equality by the own-key list
  .changeset/arestatesequal-inherited-keys-fix.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/helpers.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/api/getPluginApi/areStatesEqual.test.ts
  packages/core/tests/functional/chain-walk-authority.test.ts
  packages/core/tests/property/areStatesEqual.properties.ts
Due: core

refactor(core): ask the declared-slot arm through the whole-bag reader
  .changeset/arestatesequal-inherited-keys-fix.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/helpers.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/api/getPluginApi/areStatesEqual.test.ts
Due: core

docs(core): put SegmentMatcher.ts's comments in the present tense
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
Due: core

docs(core): put Router.ts's comments in the present tense
  packages/core/src/Router.ts
Due: core

docs(changeset): declare the comment cleanup as a core patch
  .changeset/comment-historiography-refactor.md
Due: none

release: version packages (#2071)
  .changeset/comment-historiography-refactor.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

docs(changeset): state the real cost, on the arm that actually pays
  .changeset/arestatesequal-inherited-keys-fix.md
Due: none

release: version packages (#2071) (#2074)
  .changeset/comment-historiography-refactor.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(core): areStatesEqual decides on the own-enumerable surface, on both arms (#1815) (#2070)
  .changeset/arestatesequal-inherited-keys-fix.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/helpers.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/api/getPluginApi/areStatesEqual.test.ts
  packages/core/tests/functional/chain-walk-authority.test.ts
  packages/core/tests/property/areStatesEqual.properties.ts
Due: core

fix: the prototype-less record is built through a captured Object.create (#2072)
  .changeset/captured-build-intrinsic-angular-2072-fix.md
  .changeset/captured-build-intrinsic-core-2072-fix.md
  .changeset/captured-build-intrinsic-preact-2072-fix.md
  .changeset/captured-build-intrinsic-react-2072-fix.md
  .changeset/captured-build-intrinsic-rsc-server-plugin-2072-fix.md
  .changeset/captured-build-intrinsic-solid-2072-fix.md
  .changeset/captured-build-intrinsic-sources-2072-fix.md
  .changeset/captured-build-intrinsic-ssr-data-plugin-2072-fix.md
  .changeset/captured-build-intrinsic-ssr-utils-2072-fix.md
  .changeset/captured-build-intrinsic-svelte-2072-fix.md
  .changeset/captured-build-intrinsic-vue-2072-fix.md
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/core/src/Router.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/engine/path-matcher/registration/trie.ts
  packages/core/src/guards.ts
  packages/core/src/namespaces/DependenciesNamespace/dependenciesStore.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/utils/fsm/fsm.ts
  packages/core/src/utils/ingest.ts
  packages/core/tests/functional/captured-build-intrinsics-behaviour-2072.test.ts
  packages/core/tests/functional/computed-key-write-authority-1852.test.ts
  packages/sources/src/canonicalJson.ts
  packages/ssr-utils/src/serializeRouterState.ts
  shared/dom-utils/scroll-restore.ts
  shared/ssr/createSsrLoaderPlugin.ts
Due: core

test(react): re-key the dom-utils authority registry after the capture insertion
  packages/react/tests/functional/dom-utils/authority-1838.test.ts
Due: none

fix: every runtime freeze reads a captured Object.freeze, and the doctrine grows a second category (#2073)
  .changeset/captured-freeze-browser-plugin-2073-fix.md
  .changeset/captured-freeze-core-2073-fix.md
  .changeset/captured-freeze-memory-plugin-2073-fix.md
  .changeset/captured-freeze-navigation-plugin-2073-fix.md
  .changeset/captured-freeze-persistent-params-plugin-2073-fix.md
  .changeset/captured-freeze-route-utils-2073-fix.md
  .changeset/captured-freeze-rsc-server-plugin-2073-fix.md
  .changeset/captured-freeze-search-schema-plugin-2073-fix.md
  .changeset/captured-freeze-ssr-data-plugin-2073-fix.md
  packages/browser-plugin/src/factory.ts
  packages/core/src/Router.ts
  packages/core/src/RouterError.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/engine/builder/computeCaches.ts
  packages/core/src/engine/path-matcher/registration/index.ts
  packages/core/src/getNavigator.ts
  packages/core/src/limits.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/transitionPath.ts
  packages/core/tests/functional/captured-build-intrinsics-behaviour-2073.test.ts
  packages/core/tests/functional/captured-intrinsics-authority-1971.test.ts
  packages/core/tests/functional/type-mirror-authority.test.ts
  packages/memory-plugin/src/factory.ts
  packages/navigation-plugin/src/plugin.ts
  packages/persistent-params-plugin/src/factory.ts
  packages/persistent-params-plugin/src/plugin.ts
  packages/route-utils/src/RouteUtils.ts
  packages/search-schema-plugin/src/factory.ts
  shared/ssr/defer.ts
Due: core, browser-plugin

test(core): the BUILD arm is scoped to what RUNS AFTER BOOT, not to functions
  packages/core/src/guards.ts
  packages/core/tests/functional/captured-intrinsics-authority-1971.test.ts
Due: core

docs(core): the doctrine's second category is stated in the present tense
  packages/core/src/guards.ts
  packages/core/tests/functional/captured-intrinsics-authority-1971.test.ts
Due: core

docs(core): two claims in helpers.ts name something they do not describe
  packages/core/src/helpers.ts
Due: core

test(react,browser-plugin): the #1838 registries address by matched TEXT, not by line
  packages/browser-plugin/tests/functional/browser-env/authority-1838.test.ts
  packages/react/tests/functional/dom-utils/authority-1838.test.ts
Due: none
