Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

refactor(core): move guard registration logic from Router facade into RouteLifecycleNamespace
  .changeset/fsm-refactor.md
  .changeset/guard-registration-refactor.md
  .sisyphus/summaries/fsm-migration-summary.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
Due: core

refactor(core): move clone callbacks setup from Router into RouterWiringBuilder
  .changeset/clone-wiring-refactor.md
  .sisyphus/summaries/fsm-migration-summary.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/src/wiring/wireRouter.ts
Due: core

docs: consolidate changeset files for FSM migration
  .changeset/clone-wiring-refactor.md
  .changeset/event-emitter-refactor.md
  .changeset/fsm-refactor.md
  .changeset/guard-registration-refactor.md
Due: none

docs(event-emitter): add README for internal package
  packages/event-emitter/README.md
Due: none

docs(path-matcher): add README for internal package
  packages/path-matcher/README.md
Due: none

docs: add CHANGELOG.md for path-matcher and event-emitter packages
  packages/event-emitter/CHANGELOG.md
  packages/path-matcher/CHANGELOG.md
Due: none

docs: update ARCHITECTURE.md and IMPLEMENTATION_NOTES.md for FSM migration
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
Due: none

refactor(core): remove dead getState() and v8 ignore from EventBusNamespace
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
Due: core

refactor(core): replace definite assignment assertions with null-slot pattern
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

refactor(core): v8 ignore audit - eliminate 30 unnecessary coverage exclusions
  .sisyphus/summaries/fsm-migration-summary.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/makeError.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/options.test.ts
Due: core

fix: fix param names in EventBusNamespace
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
Due: core

fix: fix changeset files
  .changeset/browser-plugin-navigatetostate.md
  .changeset/cancel-removal.md
  .changeset/dispose-feature.md
  .changeset/emitsuccess-removal.md
  .changeset/event-emitter-emit-perf.md
  .changeset/fsm-cansend-feature.md
  .changeset/fsm-on-feature.md
  .changeset/fsm-refactor.md
  .changeset/hot-path-perf.md
  .changeset/logger-import-fix.md
  .changeset/transition-meta-feature.md
  .changeset/transition-meta-types.md
  .changeset/warn-listeners-feature.md
Due: none

fix: fix sonar bug
  .size-limit.json
  packages/core/src/namespaces/NavigationNamespace/transition/makeError.ts
Due: core

release: version packages (#123 #37)
  .changeset/browser-plugin-navigatetostate.md
  .changeset/cancel-removal.md
  .changeset/dispose-feature.md
  .changeset/emitsuccess-removal.md
  .changeset/event-emitter-emit-perf.md
  .changeset/fsm-cansend-feature.md
  .changeset/fsm-on-feature.md
  .changeset/fsm-refactor.md
  .changeset/hot-path-perf.md
  .changeset/logger-import-fix.md
  .changeset/transition-meta-feature.md
  .changeset/transition-meta-types.md
  .changeset/warn-listeners-feature.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/fsm/CHANGELOG.md
  packages/fsm/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#123 #37) (#125)
  .changeset/browser-plugin-navigatetostate.md
  .changeset/cancel-removal.md
  .changeset/dispose-feature.md
  .changeset/emitsuccess-removal.md
  .changeset/event-emitter-emit-perf.md
  .changeset/fsm-cansend-feature.md
  .changeset/fsm-on-feature.md
  .changeset/fsm-refactor.md
  .changeset/hot-path-perf.md
  .changeset/logger-import-fix.md
  .changeset/transition-meta-feature.md
  .changeset/transition-meta-types.md
  .changeset/warn-listeners-feature.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/fsm/CHANGELOG.md
  packages/fsm/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

refactor(react): migrate eslint-plugin-react to @eslint-react/eslint-plugin
  IMPLEMENTATION_NOTES.md
  package.json
  packages/react/eslint.config.mjs
  packages/react/src/RouterProvider.tsx
  packages/react/src/hooks/useIsActiveRoute.tsx
  packages/react/src/hooks/useNavigator.tsx
  packages/react/src/hooks/useRoute.tsx
  packages/react/src/hooks/useRouter.tsx
  packages/react/tests/functional/RouterProvider.test.tsx
  packages/react/tests/integration/RouterProvider.test.tsx
  packages/react/tests/performance/RouterProvider.test.tsx
  pnpm-lock.yaml
Due: react

refactor: replace tsconfig paths with customConditions + development export condition
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/package.json
  packages/core-types/package.json
  packages/core/package.json
  packages/core/src/namespaces/MiddlewareNamespace/types.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleHooks.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/event-emitter/package.json
  packages/fsm/package.json
  packages/helpers/package.json
  packages/logger-plugin/package.json
  packages/logger/package.json
  packages/path-matcher/package.json
  packages/persistent-params-plugin/package.json
  packages/react/package.json
  packages/react/src/components/ConnectedLink.tsx
  packages/react/src/components/Link.tsx
  packages/react/src/hooks/useRouteNode.tsx
  packages/route-tree/package.json
  packages/router-benchmarks/package.json
  packages/rx/package.json
  packages/search-params/package.json
  packages/type-guards/package.json
  pnpm-lock.yaml
  tsconfig.json
Due: core, react

chore: publish src/ in all packages for development export condition
  packages/browser-plugin/package.json
  packages/core-types/package.json
  packages/core/package.json
  packages/event-emitter/package.json
  packages/fsm/package.json
  packages/helpers/package.json
  packages/logger-plugin/package.json
  packages/logger/package.json
  packages/path-matcher/package.json
  packages/persistent-params-plugin/package.json
  packages/react/package.json
  packages/route-tree/package.json
  packages/rx/package.json
  packages/search-params/package.json
  packages/type-guards/package.json
Due: none

chore: deduplicate mitata dependency to root package.json
  packages/fsm/package.json
  packages/router-benchmarks/package.json
  pnpm-lock.yaml
Due: none

refactor(event-emitter): extract #callListener to deduplicate switch dispatch
  packages/event-emitter/src/EventEmitter.ts
Due: none

refactor(rx): extract createOperator helper to deduplicate operator boilerplate
  packages/rx/src/operators/createOperator.ts
  packages/rx/src/operators/distinctUntilChanged.ts
  packages/rx/src/operators/filter.ts
  packages/rx/src/operators/map.ts
  packages/search-params/src/searchParams.ts
Due: none

refactor(core-types,route-tree): deduplicate RouteParams type definition
  packages/core-types/src/index.ts
  packages/core-types/src/route-node-types.ts
  packages/route-tree/package.json
  packages/route-tree/src/operations/types.ts
  pnpm-lock.yaml
Due: none

fix(deps): upgrade @vitest/eslint-plugin to 1.6.9 to fix lint crash
  package.json
  pnpm-lock.yaml
Due: none

fix(react): prevent changesets major bump on peer dep update
  .changeset/config.json
  knip.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Due: none

fix(config): add development condition to eslint-import-resolver-typescript
  eslint.config.mjs
  packages/rx/src/operators/createOperator.ts
Due: none

fix(router-benchmarks): add mitata to package dependencies
  packages/router-benchmarks/package.json
  pnpm-lock.yaml
Due: none

fix(ci): fix size-limit script in ci file
  .github/workflows/ci.yml
Due: none

fix(ci): fix size-limit table
  .github/workflows/ci.yml
Due: none

fix(ci): fix size-limit config
  .size-limit.js
  .size-limit.json
Due: none

release: version packages (#121 #37)
  .changeset/statemeta-browser-plugin-refactor.md
  .changeset/statemeta-core-refactor.md
  .changeset/statemeta-types-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-tree/CHANGELOG.md
  packages/route-tree/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#121 #37) (#128)
  .changeset/statemeta-browser-plugin-refactor.md
  .changeset/statemeta-core-refactor.md
  .changeset/statemeta-types-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-tree/CHANGELOG.md
  packages/route-tree/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

refactor(core): align PluginsNamespace and MiddlewareNamespace patterns (#129)
  packages/core/src/Router.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/constants.ts
  packages/core/src/namespaces/MiddlewareNamespace/validators.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/validators.ts
  packages/core/tests/functional/plugins.test.ts
Due: core

chore: add changeset file
  .changeset/namespace-alignment-refactor.md
Due: none

refactor(core): align PluginsNamespace and MiddlewareNamespace patterns (#131)
  .changeset/namespace-alignment-refactor.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/constants.ts
  packages/core/src/namespaces/MiddlewareNamespace/validators.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/validators.ts
  packages/core/tests/functional/plugins.test.ts
Due: core

release: version packages (#129 #37)
  .changeset/namespace-alignment-refactor.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#129 #37) (#132)
  .changeset/namespace-alignment-refactor.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

feat(core)!: introduce GuardFn type, remove ActivationFn from guards (#130)
  .changeset/guardfn-core-feature.md
  .changeset/guardfn-types-feature.md
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/index.ts
  packages/core/src/namespaces/CloneNamespace/types.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleHooks.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
  packages/core/src/namespaces/NavigationNamespace/transition/processLifecycleResult.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/validators.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/types.ts
  packages/core/tests/benchmarks/navigation/guards.bench.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/guards-cannot-redirect.test.ts
  packages/core/tests/functional/navigation/navigate/navigation-options.test.ts
  packages/core/tests/functional/navigation/navigate/promise-resolve-values.test.ts
  packages/core/tests/functional/routeLifecycle/addActivateGuard.test.ts
  packages/core/tests/functional/routeLifecycle/addDeactivateGuard.test.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/getRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/core/tests/functional/transition/executeLifecycleHooks.test.ts
  packages/router-benchmarks/src/04-plugins-management/4.2-edge-cases.bench.ts
  packages/router-benchmarks/src/09-redirects/9.2-guards.bench.ts
Due: core
