Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

test(react): regression guard for H1 — useRoute stable on SAME_STATES nav (#466)
  packages/react/tests/performance/useRoute.test.tsx
Due: none

feat(lifecycle-plugin): add onNavigate hook (combined onEnter + onStay) (#463)
  .changeset/onnavigate-feature.md
  packages/lifecycle-plugin/ARCHITECTURE.md
  packages/lifecycle-plugin/INVARIANTS.md
  packages/lifecycle-plugin/README.md
  packages/lifecycle-plugin/src/factory.ts
  packages/lifecycle-plugin/src/index.ts
  packages/lifecycle-plugin/tests/functional/lifecycle.test.ts
  packages/lifecycle-plugin/tests/property/lifecycle.properties.ts
Due: none

refactor(lifecycle-plugin): switch onNavigate to orthogonal dispatch (#463)
  .changeset/onnavigate-feature.md
  packages/lifecycle-plugin/ARCHITECTURE.md
  packages/lifecycle-plugin/INVARIANTS.md
  packages/lifecycle-plugin/README.md
  packages/lifecycle-plugin/src/factory.ts
  packages/lifecycle-plugin/tests/functional/lifecycle.test.ts
  packages/lifecycle-plugin/tests/property/lifecycle.properties.ts
Due: none

feat(lifecycle-plugin): add onNavigate hook (combined onEnter + onStay) (#463) (#476)
  .changeset/onnavigate-feature.md
  packages/lifecycle-plugin/ARCHITECTURE.md
  packages/lifecycle-plugin/INVARIANTS.md
  packages/lifecycle-plugin/README.md
  packages/lifecycle-plugin/src/factory.ts
  packages/lifecycle-plugin/src/index.ts
  packages/lifecycle-plugin/tests/functional/lifecycle.test.ts
  packages/lifecycle-plugin/tests/property/lifecycle.properties.ts
Due: none

release: version packages (#123 #37 #42 #463)
  .changeset/onnavigate-feature.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/lifecycle-plugin/CHANGELOG.md
  packages/lifecycle-plugin/package.json
Due: none

release: version packages (#123 #37 #42 #463) (#477)
  .changeset/onnavigate-feature.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/lifecycle-plugin/CHANGELOG.md
  packages/lifecycle-plugin/package.json
Due: none

feat: generic type parameter for useRoute across all adapters (#464)
  .changeset/useroute-generic-angular.md
  .changeset/useroute-generic-preact.md
  .changeset/useroute-generic-react.md
  .changeset/useroute-generic-solid.md
  .changeset/useroute-generic-sources.md
  .changeset/useroute-generic-svelte.md
  .changeset/useroute-generic-vue.md
  packages/angular/src/functions/injectRoute.ts
  packages/angular/src/types.ts
  packages/angular/tests/functional/inject-functions.test.ts
  packages/preact/src/hooks/useRoute.tsx
  packages/preact/src/types.ts
  packages/preact/tests/functional/useRoute.test.tsx
  packages/react/src/hooks/useRoute.tsx
  packages/react/src/types.ts
  packages/react/tests/functional/useRoute.test.tsx
  packages/solid/src/hooks/useRoute.tsx
  packages/solid/tests/functional/useRoute.test.tsx
  packages/sources/src/types.ts
  packages/svelte/src/composables/useRoute.svelte.ts
  packages/svelte/src/types.ts
  packages/svelte/tests/functional/useRoute.test.ts
  packages/vue/src/composables/useRoute.ts
  packages/vue/src/types.ts
  packages/vue/tests/functional/useRoute.test.ts
Due: react

feat: generic type parameter for useRoute across all adapters (#464) (#479)
  .changeset/useroute-generic-angular.md
  .changeset/useroute-generic-preact.md
  .changeset/useroute-generic-react.md
  .changeset/useroute-generic-solid.md
  .changeset/useroute-generic-sources.md
  .changeset/useroute-generic-svelte.md
  .changeset/useroute-generic-vue.md
  packages/angular/src/functions/injectRoute.ts
  packages/angular/src/types.ts
  packages/angular/tests/functional/inject-functions.test.ts
  packages/preact/src/hooks/useRoute.tsx
  packages/preact/src/types.ts
  packages/preact/tests/functional/useRoute.test.tsx
  packages/react/src/hooks/useRoute.tsx
  packages/react/src/types.ts
  packages/react/tests/functional/useRoute.test.tsx
  packages/solid/src/hooks/useRoute.tsx
  packages/solid/tests/functional/useRoute.test.tsx
  packages/sources/src/types.ts
  packages/svelte/src/composables/useRoute.svelte.ts
  packages/svelte/src/types.ts
  packages/svelte/tests/functional/useRoute.test.ts
  packages/vue/src/composables/useRoute.ts
  packages/vue/src/types.ts
  packages/vue/tests/functional/useRoute.test.ts
Due: react

release: version packages (#123 #37 #42 #464)
  .changeset/useroute-generic-angular.md
  .changeset/useroute-generic-preact.md
  .changeset/useroute-generic-react.md
  .changeset/useroute-generic-solid.md
  .changeset/useroute-generic-sources.md
  .changeset/useroute-generic-svelte.md
  .changeset/useroute-generic-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #464) (#480)
  .changeset/useroute-generic-angular.md
  .changeset/useroute-generic-preact.md
  .changeset/useroute-generic-react.md
  .changeset/useroute-generic-solid.md
  .changeset/useroute-generic-sources.md
  .changeset/useroute-generic-svelte.md
  .changeset/useroute-generic-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

ci(ci): fill dist/ for non-affected packages before measuring bundle size
  .github/workflows/ci.yml
  README.md
Due: none

feat: lock undefined params contract at core boundary (#465)
  .changeset/params-contract-docs.md
  .changeset/query-string-di-refactor.md
  .changeset/search-schema-plugin-coercion-docs.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/helpers.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/navigation/navigate/query-params.test.ts
  packages/core/tests/functional/utils/normalizeParams.test.ts
  packages/path-matcher/ARCHITECTURE.md
  packages/path-matcher/INVARIANTS.md
  packages/path-matcher/README.md
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/defaultQueryString.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/benchmarks/helpers/buildTree.ts
  packages/path-matcher/tests/benchmarks/isolated-precompute-set.ts
  packages/path-matcher/tests/benchmarks/pipeline.bench.ts
  packages/path-matcher/tests/benchmarks/stress.bench.ts
  packages/path-matcher/tests/helpers/createTestMatcher.ts
  packages/path-matcher/tests/property/helpers.ts
  packages/path-matcher/tests/property/undefined-strip.properties.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/path-matcher/tests/unit/createTestMatcher.test.ts
  packages/search-params/README.md
  packages/search-schema-plugin/README.md
Due: core

feat: lock undefined params contract at core boundary (#465) (#481)
  .changeset/params-contract-docs.md
  .changeset/query-string-di-refactor.md
  .changeset/search-schema-plugin-coercion-docs.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/helpers.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/navigation/navigate/query-params.test.ts
  packages/core/tests/functional/utils/normalizeParams.test.ts
  packages/path-matcher/ARCHITECTURE.md
  packages/path-matcher/INVARIANTS.md
  packages/path-matcher/README.md
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/defaultQueryString.ts
  packages/path-matcher/src/types.ts
  packages/path-matcher/tests/benchmarks/helpers/buildTree.ts
  packages/path-matcher/tests/benchmarks/isolated-precompute-set.ts
  packages/path-matcher/tests/benchmarks/pipeline.bench.ts
  packages/path-matcher/tests/benchmarks/stress.bench.ts
  packages/path-matcher/tests/helpers/createTestMatcher.ts
  packages/path-matcher/tests/property/helpers.ts
  packages/path-matcher/tests/property/undefined-strip.properties.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/path-matcher/tests/unit/createTestMatcher.test.ts
  packages/search-params/README.md
  packages/search-schema-plugin/README.md
Due: core

release: version packages (#123 #37 #42 #465)
  .changeset/params-contract-docs.md
  .changeset/query-string-di-refactor.md
  .changeset/search-schema-plugin-coercion-docs.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/search-schema-plugin/CHANGELOG.md
  packages/search-schema-plugin/package.json
Due: none

release: version packages (#123 #37 #42 #465) (#482)
  .changeset/params-contract-docs.md
  .changeset/query-string-di-refactor.md
  .changeset/search-schema-plugin-coercion-docs.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/search-schema-plugin/CHANGELOG.md
  packages/search-schema-plugin/package.json
Due: none

feat: validate defaultRoute resolution in validation-plugin (#471)
  .changeset/default-route-validation-feature.md
  .changeset/navigate-to-default-promise-contract-fix.md
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tests/functional/integration/retrospective-integration.test.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
Due: core

feat(validation-plugin): reject warnListeners > maxListeners (#471)
  .changeset/warn-listeners-cross-field-feature.md
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/functional/integration/retrospective-integration.test.ts
  packages/validation-plugin/tests/functional/validators.test.ts
  packages/validation-plugin/tests/property/helpers.ts
  packages/validation-plugin/tests/property/validateOptions.properties.ts
Due: none

fix(core): honor trailingSlash preserve when rewritePathOnMatch is on (#471)
  .changeset/preserve-trailing-slash-on-rewrite-fix.md
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/vue/tests/functional/useRoute.test.ts
Due: core

feat(validation-plugin): detect callbackIgnoresLevel without callback (#471)
  .changeset/callback-ignores-level-without-callback-feature.md
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/functional/validators.test.ts
  packages/validation-plugin/tests/property/helpers.ts
Due: none

docs: sync core-types + validation-plugin docs with #471 changes
  .size-limit.js
  packages/core-types/src/router.ts
  packages/validation-plugin/ARCHITECTURE.md
  packages/validation-plugin/README.md
Due: none

feat: cross-field validation and trailingSlash preserve fix (#471) (#484)
  .changeset/callback-ignores-level-without-callback-feature.md
  .changeset/default-route-validation-feature.md
  .changeset/navigate-to-default-promise-contract-fix.md
  .changeset/preserve-trailing-slash-on-rewrite-fix.md
  .changeset/warn-listeners-cross-field-feature.md
  .size-limit.js
  packages/core-types/src/router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/validation-plugin/ARCHITECTURE.md
  packages/validation-plugin/README.md
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tests/functional/integration/retrospective-integration.test.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
  packages/validation-plugin/tests/functional/validators.test.ts
  packages/validation-plugin/tests/property/helpers.ts
  packages/validation-plugin/tests/property/validateOptions.properties.ts
  packages/vue/tests/functional/useRoute.test.ts
Due: core

feat: unify strict-mode behavior — remove silent defaultRoute fallback (#483)
  .changeset/browser-plugin-strict-mode-break.md
  .changeset/hash-plugin-strict-mode-break.md
  .changeset/navigation-plugin-strict-mode-break.md
  .changeset/strict-mode-unified-behavior-feature.md
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/browser-plugin/tests/stress/popstate-storm.stress.ts
  packages/core-types/src/api.ts
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/api/getPluginApi/emitTransitionError.test.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/tests/functional/navigate.test.ts
  packages/navigation-plugin/tests/stress/navigate-event-storm.stress.ts
  shared/browser-env/popstate-handler.ts
Due: core

docs: sync architecture docs with #483 strict-mode unification
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/core/README.md
  packages/hash-plugin/ARCHITECTURE.md
  packages/navigation-plugin/ARCHITECTURE.md
Due: none

feat: unify strict-mode behavior — remove silent defaultRoute fallback (#483) (#487)
  .changeset/browser-plugin-strict-mode-break.md
  .changeset/hash-plugin-strict-mode-break.md
  .changeset/navigation-plugin-strict-mode-break.md
  .changeset/strict-mode-unified-behavior-feature.md
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/browser-plugin/tests/stress/popstate-storm.stress.ts
  packages/core-types/src/api.ts
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/api/getPluginApi/emitTransitionError.test.ts
  packages/hash-plugin/ARCHITECTURE.md
  packages/hash-plugin/tests/functional/popstate.test.ts
  packages/navigation-plugin/ARCHITECTURE.md
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/tests/functional/navigate.test.ts
  packages/navigation-plugin/tests/stress/navigate-event-storm.stress.ts
  shared/browser-env/popstate-handler.ts
Due: core

ci: propagate type-check invalidation through `dependsOn: ^type-check` (#478)
  turbo.json
Due: none

ci: upload turbo run summaries to diagnose unstable cache (#478 phase 2)
  .github/workflows/ci.yml
Due: none

ci: revert temporary --summarize/upload — phase 2 diagnostic complete (#478)
  .github/workflows/ci.yml
Due: none

ci: propagate type-check invalidation through ^type-check (#478) (#489)
  turbo.json
Due: none

ci: switch turbo remote cache to self-hosted ducktors (#490)
  .github/turbo-remote-cache-deployment.md
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .github/workflows/post-merge.yml
  IMPLEMENTATION_NOTES.md
Due: none

chore(types): drop stale file-path header comments
  packages/core-types/src/api.ts
  packages/core-types/src/base.ts
  packages/core-types/src/constants.ts
  packages/core-types/src/index.ts
  packages/core-types/src/route-node-types.ts
  packages/core-types/src/router.ts
Due: none

chore: add changeset for types header cleanup
  .changeset/types-header-cleanup.md
Due: none

docs(types): add JSDoc to `Unsubscribe` type (#490)
  .changeset/types-unsubscribe-docs.md
  packages/core-types/src/base.ts
Due: none

docs(memory-plugin): inline JSDoc for `maxHistoryLength` (#490)
  .changeset/memory-plugin-options-docs.md
  packages/memory-plugin/src/types.ts
Due: none

docs: remive doc file
  .github/turbo-remote-cache-deployment.md
Due: none

docs: record empirical cache results and Variables/Secrets gotcha (#490)
  IMPLEMENTATION_NOTES.md
Due: none

docs: record empirical cache results and Variables/Secrets gotcha (#490)
  .size-limit.js
  IMPLEMENTATION_NOTES.md
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
