Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

release: version packages (#53)
  .changeset/middleware-unsubscribe-fix.md
  .changeset/novalidate-feature.md
  .changeset/useplugin-perf.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(types): add navigator interface for safe router subset (#37)
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
Due: none

feat(core,react)!: implement Navigator interface and update React hooks (#37)
  .changeset/navigator-feature.md
  eslint.config.mjs
  packages/browser-plugin/src/plugin.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/index.ts
  packages/core/tests/functional/navigator.test.ts
  packages/react/src/RouterProvider.tsx
  packages/react/src/components/ConnectedLink.tsx
  packages/react/src/context.ts
  packages/react/src/hooks/useNavigator.tsx
  packages/react/src/hooks/useRouteNode.tsx
  packages/react/src/index.ts
  packages/react/src/types.ts
  packages/react/tests/functional/useNavigator.test.tsx
  packages/react/tests/functional/useRoute.test.tsx
  packages/react/tests/functional/useRouteNode.test.tsx
  packages/react/tests/integration/RouterProvider.test.tsx
  packages/react/tests/integration/useRouteNode.test.tsx
  packages/react/tests/performance/useRoute.test.tsx
  packages/react/tests/performance/useRouteNode.test.tsx
Due: core, react, browser-plugin

release: version packages (#53) (#54)
  .changeset/middleware-unsubscribe-fix.md
  .changeset/novalidate-feature.md
  .changeset/useplugin-perf.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

docs: update changeset guidelines to prefer separate files per package
  .changeset/README.md
  .changeset/navigator-core.md
  .changeset/navigator-feature.md
  .changeset/navigator-react.md
  .changeset/navigator-types.md
Due: none

fix(react): memoize RouteContext value to prevent unnecessary re-renders
  packages/react/src/RouterProvider.tsx
Due: react

feat(core)!: add getNavigator() method for safe UI router access (#55)
  .changeset/README.md
  .changeset/navigator-core.md
  .changeset/navigator-react.md
  .changeset/navigator-types.md
  eslint.config.mjs
  packages/browser-plugin/src/plugin.ts
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/index.ts
  packages/core/tests/functional/navigator.test.ts
  packages/react/src/RouterProvider.tsx
  packages/react/src/components/ConnectedLink.tsx
  packages/react/src/context.ts
  packages/react/src/hooks/useNavigator.tsx
  packages/react/src/hooks/useRouteNode.tsx
  packages/react/src/index.ts
  packages/react/src/types.ts
  packages/react/tests/functional/useNavigator.test.tsx
  packages/react/tests/functional/useRoute.test.tsx
  packages/react/tests/functional/useRouteNode.test.tsx
  packages/react/tests/integration/RouterProvider.test.tsx
  packages/react/tests/integration/useRouteNode.test.tsx
  packages/react/tests/performance/useRoute.test.tsx
  packages/react/tests/performance/useRouteNode.test.tsx
Due: core, react, browser-plugin

release: version packages (#37)
  .changeset/navigator-core.md
  .changeset/navigator-react.md
  .changeset/navigator-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#37) (#56)
  .changeset/navigator-core.md
  .changeset/navigator-react.md
  .changeset/navigator-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(core): implement configurable limits feature (#38)
  .changeset/configurable-limits-core.md
  .changeset/configurable-limits-types.md
  packages/core-types/src/index.ts
  packages/core-types/src/limits.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/DependenciesNamespace/DependenciesNamespace.ts
  packages/core/src/namespaces/DependenciesNamespace/validators.ts
  packages/core/src/namespaces/LimitsNamespace/LimitsNamespace.ts
  packages/core/src/namespaces/LimitsNamespace/constants.ts
  packages/core/src/namespaces/LimitsNamespace/helpers.ts
  packages/core/src/namespaces/LimitsNamespace/index.ts
  packages/core/src/namespaces/LimitsNamespace/validators.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/validators.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/validators.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/validators.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/unit/namespaces/LimitsNamespace.test.ts
Due: core

feat(core): Add configurable limits via options.limits (#38) (#57)
  .changeset/configurable-limits-core.md
  .changeset/configurable-limits-types.md
  ARCHITECTURE.md
  commitlint.config.mjs
  packages/core-types/src/index.ts
  packages/core-types/src/limits.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/DependenciesNamespace/DependenciesNamespace.ts
  packages/core/src/namespaces/DependenciesNamespace/constants.ts
  packages/core/src/namespaces/DependenciesNamespace/index.ts
  packages/core/src/namespaces/DependenciesNamespace/validators.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/constants.ts
  packages/core/src/namespaces/MiddlewareNamespace/index.ts
  packages/core/src/namespaces/MiddlewareNamespace/validators.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/constants.ts
  packages/core/src/namespaces/ObservableNamespace/index.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/constants.ts
  packages/core/src/namespaces/PluginsNamespace/index.ts
  packages/core/src/namespaces/PluginsNamespace/validators.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/constants.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/index.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/validators.ts
  packages/core/src/namespaces/index.ts
  packages/core/src/types.ts
  packages/core/tests/functional/dependencies.test.ts
  packages/core/tests/functional/dependencies/setDependencies.test.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/functional/middleware.test.ts
  packages/core/tests/functional/observable/addEventListener.test.ts
  packages/core/tests/functional/plugins.test.ts
  packages/core/tests/functional/routeLifecycle/canActivate.test.ts
  packages/core/tests/functional/routeLifecycle/canDeactivate.test.ts
Due: core

ci(ci): skip redundant checks for release PRs and docs-only changes
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
Due: none

ci(ci): skip redundant checks for release PRs and docs-only changes
  .github/workflows/ci.yml
Due: none

release: version packages (#37 #38)
  .changeset/configurable-limits-core.md
  .changeset/configurable-limits-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#37 #38) (#58)
  .changeset/configurable-limits-core.md
  .changeset/configurable-limits-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(rx): scaffold @real-router/rx package
  packages/rx/package.json
  packages/rx/src/index.ts
  packages/rx/src/types.ts
  packages/rx/tsconfig.json
  packages/rx/tsconfig.node.json
  packages/rx/tsup.config.mts
  packages/rx/vitest.config.mts
Due: none

feat(core)!: remove Symbol.observable from core — moved to @real-router/rx
  packages/core/src/Router.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/index.ts
  packages/core/src/namespaces/ObservableNamespace/types.ts
  packages/core/tests/functional/createRouter.test.ts
  packages/core/tests/functional/observable/observable.test.ts
Due: core

feat(rx): add @real-router/rx package with Observable API
  .changeset/rx-core-breaking.md
  .changeset/rx-initial.md
  .size-limit.json
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  README.md
  commitlint.config.mjs
  eslint.config.mjs
  packages/core/README.md
  packages/core/src/namespaces/ObservableNamespace/index.ts
  packages/core/src/namespaces/ObservableNamespace/types.ts
  packages/core/tests/functional/middleware.test.ts
  packages/core/tests/functional/routeLifecycle/canActivate.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/router-benchmarks/package.json
  packages/router-benchmarks/src/14-rx/14.1-state$.bench.ts
  packages/router-benchmarks/src/index.ts
  packages/rx/.eslintrc.json
  packages/rx/README.md
  packages/rx/src/RxObservable.ts
  packages/rx/src/events$.ts
  packages/rx/src/index.ts
  packages/rx/src/observable.ts
  packages/rx/src/operators/debounceTime.ts
  packages/rx/src/operators/distinctUntilChanged.ts
  packages/rx/src/operators/filter.ts
  packages/rx/src/operators/index.ts
  packages/rx/src/operators/map.ts
  packages/rx/src/operators/takeUntil.ts
  packages/rx/src/state$.ts
  packages/rx/src/types.ts
  packages/rx/tests/integration/full-pipeline.test.ts
  packages/rx/tests/unit/RxObservable.test.ts
  packages/rx/tests/unit/observable.test.ts
  packages/rx/tests/unit/operators/debounceTime.test.ts
  packages/rx/tests/unit/operators/errorHandling.test.ts
  packages/rx/tests/unit/operators/takeUntil.test.ts
  pnpm-lock.yaml
Due: none

fix(config): add ^build dependency to test task in turbo.json
  packages/core/tests/functional/middleware.test.ts
  packages/core/tests/functional/routeLifecycle/canActivate.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/rx/tests/unit/operators/distinctUntilChanged.test.ts
  turbo.json
Due: none

release: version packages (#37 #41)
  .changeset/rx-core-breaking.md
  .changeset/rx-initial.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

release: version packages (#37 #41) (#60)
  .changeset/rx-core-breaking.md
  .changeset/rx-initial.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

fix(ci): reorder changelog packages by priority and fix rx version
  .changeset/aggregate-changelog.mjs
  CHANGELOG.md
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

perf(route-tree): pre-compute match data at registration time
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/stateBuilder.ts
  packages/core/tests/functional/state.test.ts
  packages/route-tree/src/operations/build.ts
  packages/route-tree/src/operations/types.ts
  packages/route-tree/src/services/MatcherService.ts
  packages/route-tree/src/services/buildParamMeta.ts
  packages/route-tree/src/services/types.ts
  packages/route-tree/tests/functional/operations/helpers.ts
  packages/route-tree/tests/unit/services/MatcherService.test.ts
Due: core, route-tree

chore: pin CI actions by SHA, update tooling and benchmarks
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot-automerge.yml
  .github/workflows/release.yml
  .npmrc
  README.md
  SECURITY.md
  knip.json
  package.json
  packages/core/package.json
  packages/route-tree/tests/benchmarks/add.bench.ts
  packages/route-tree/tests/benchmarks/index.ts
  packages/route-tree/tests/benchmarks/match-hotpath.bench.ts
  packages/route-tree/tests/benchmarks/matchPath.bench.ts
  packages/route-tree/tests/benchmarks/realistic-usage.bench.ts
  packages/route-tree/tests/benchmarks/scenarios.bench.ts
  packages/router-benchmarks/src/helpers/router-adapter.ts
  packages/router-benchmarks/src/isolated-anomalies.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.config.common.mts
Due: none

chore: add MS-PL to allowed licenses and document infrastructure changes
  .github/dependency-review-config.yml
  IMPLEMENTATION_NOTES.md
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
