Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

feat(core): dynamic defaultRoute/defaultParams callback support (#39) (#72)
  .changeset/README.md
  .changeset/dynamic-default-route-feature.md
  .changeset/dynamic-default-route-types.md
  .github/dependency-review-config.yml
  .github/workflows/changeset-check.yml
  .size-limit.json
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/OptionsNamespace/helpers.ts
  packages/core/src/namespaces/OptionsNamespace/index.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/unit/namespaces/OptionsNamespace/resolveOption.test.ts
Due: core

release: version packages (#37 #39)
  .changeset/dynamic-default-route-feature.md
  .changeset/dynamic-default-route-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#37 #39) (#73)
  .changeset/dynamic-default-route-feature.md
  .changeset/dynamic-default-route-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(core): implement dynamic forwardTo resolution and wiring
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/CloneNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/src/types.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
Due: core

feat(core): complete dynamic forwardTo implementation with tests
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/routes/routePath/matchPath.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/core/tests/functional/state.test.ts
Due: core

fix(core): fix forwardFnMap cleanup, improve type safety, resolve lint warnings (#43)
  .changeset/dynamic-forward-to-feature.md
  .changeset/dynamic-forward-to-types.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
Due: core

feat(core): add dynamic forwardTo callback support (#43) (#75)
  .changeset/dynamic-forward-to-feature.md
  .changeset/dynamic-forward-to-types.md
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/CloneNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/src/types.ts
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/routes/routePath/matchPath.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/core/tests/functional/state.test.ts
Due: core

release: version packages (#37 #43)
  .changeset/dynamic-forward-to-feature.md
  .changeset/dynamic-forward-to-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#37 #43) (#76)
  .changeset/dynamic-forward-to-feature.md
  .changeset/dynamic-forward-to-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(core)!: remove skipTransition option from NavigationOptions (#44)
  packages/core-types/src/base.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/benchmarks/navigation/options.bench.ts
  packages/core/tests/benchmarks/validation/isNavigationOptions.bench.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-callback.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-success.test.ts
  packages/core/tests/functional/navigation/navigate/skip-transition.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/02-navigation-plugins/2.3-edge-cases.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.5-comparative.bench.ts
  packages/type-guards/src/guards/navigation.ts
  packages/type-guards/tests/benchmarks/guards/navigation.bench.ts
  packages/type-guards/tests/benchmarks/validators/state.bench.ts
  packages/type-guards/tests/functional/guards/navigation.test.ts
  packages/type-guards/tests/property/guards/navigation.properties.ts
  packages/type-guards/tests/property/helpers.ts
Due: core

chore: add changeset for buildNavigationState (#44)
  .changeset/build-navigation-state-feature.md
Due: none

feat(core): add buildNavigationState() method (#44)
  packages/core/src/Router.ts
  packages/core/tests/functional/state/buildNavigationState.test.ts
Due: core

fix(core): fix empty string validation and add missing tests (#44)
  packages/core/src/Router.ts
  packages/core/tests/functional/state/buildNavigationState.test.ts
Due: core

chore: split changeset per package, remove released #43 changesets (#44)
  .changeset/build-navigation-state-feature.md
  .changeset/build-navigation-state-types.md
  .changeset/dynamic-forward-to-feature.md
  .changeset/dynamic-forward-to-types.md
Due: none

refactor(core): return undefined instead of null from buildNavigationState (#44)
  .changeset/build-navigation-state-feature.md
  packages/core/src/Router.ts
  packages/core/tests/functional/state/buildNavigationState.test.ts
  packages/router-benchmarks/package.json
Due: core

feat(core)!: add buildNavigationState() and remove skipTransition (#44) (#78)
  .changeset/build-navigation-state-feature.md
  .changeset/build-navigation-state-types.md
  packages/core-types/src/base.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/benchmarks/navigation/options.bench.ts
  packages/core/tests/benchmarks/validation/isNavigationOptions.bench.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-callback.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-success.test.ts
  packages/core/tests/functional/navigation/navigate/skip-transition.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/state/buildNavigationState.test.ts
  packages/router-benchmarks/package.json
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/02-navigation-plugins/2.3-edge-cases.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.5-comparative.bench.ts
  packages/type-guards/src/guards/navigation.ts
  packages/type-guards/tests/benchmarks/guards/navigation.bench.ts
  packages/type-guards/tests/benchmarks/validators/state.bench.ts
  packages/type-guards/tests/functional/guards/navigation.test.ts
  packages/type-guards/tests/property/guards/navigation.properties.ts
  packages/type-guards/tests/property/helpers.ts
Due: core

release: version packages (#37 #44)
  .changeset/build-navigation-state-feature.md
  .changeset/build-navigation-state-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#37 #44) (#79)
  .changeset/build-navigation-state-feature.md
  .changeset/build-navigation-state-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(core-types): add Navigator interface and guard API type signatures
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
Due: none

feat(core): add checkActivateGuardSync and checkDeactivateGuardSync to RouteLifecycleNamespace
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/tests/unit/namespaces/RouteLifecycleNamespace/checkGuardSync.test.ts
Due: core

fix(core): add input validation to canNavigateTo, remove dead code, fix tests (#42)
  packages/core/src/Router.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/unit/namespaces/RouteLifecycleNamespace/checkGuardSync.test.ts
Due: core

release: version packages (#37 #42)
  .changeset/guard-api-core.md
  .changeset/guard-api-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#37 #42) (#81)
  .changeset/guard-api-core.md
  .changeset/guard-api-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(core): extract getNavigator into standalone function (#83)
  .changeset/extract-get-navigator-core.md
  .changeset/extract-get-navigator-react.md
  .changeset/extract-get-navigator-types.md
  packages/core-types/src/router.ts
  packages/core/codemods/get-navigator-standalone.ts
  packages/core/src/Router.ts
  packages/core/src/getNavigator.ts
  packages/core/src/index.ts
  packages/core/tests/functional/navigator.test.ts
  packages/react/src/RouterProvider.tsx
  packages/react/src/hooks/useRouteNode.tsx
Due: core, react

feat(core)!: extract getNavigator into standalone function (#83) (#85)
  .changeset/extract-get-navigator-core.md
  .changeset/extract-get-navigator-react.md
  .changeset/extract-get-navigator-types.md
  packages/core-types/src/router.ts
  packages/core/codemods/get-navigator-standalone.ts
  packages/core/src/Router.ts
  packages/core/src/getNavigator.ts
  packages/core/src/index.ts
  packages/core/tests/functional/navigator.test.ts
  packages/react/src/RouterProvider.tsx
  packages/react/src/hooks/useRouteNode.tsx
Due: core, react

release: version packages (#37 #83)
  .changeset/extract-get-navigator-core.md
  .changeset/extract-get-navigator-react.md
  .changeset/extract-get-navigator-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

feat(core): add canDeactivate to Route config and updateRoute
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/types.ts
Due: core

test(core): add canDeactivate route config tests
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
Due: none

chore: add changeset for canDeactivate route config feature
  .changeset/candeactivate-route-config.md
Due: none
