Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

fix(validation-plugin): key the diagnostic de-dup caches per router (#1583)
  .changeset/validation-plugin-per-router-diagnostic-cache.md
  .claude/commands/audit-rfc.md
  .claude/commands/mutation-score.md
  packages/core/CLAUDE.md
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/state.ts
  packages/validation-plugin/tests/fixtures/module-level-cache-sample/allowed.ts
  packages/validation-plugin/tests/fixtures/module-level-cache-sample/offender.ts
  packages/validation-plugin/tests/functional/dropped-query-key.test.ts
  packages/validation-plugin/tests/functional/no-module-level-cache.test.ts
  packages/validation-plugin/tests/functional/undeclared-param-key.test.ts
Due: none

fix(core): keep both diagnostics silent about a route that does not exist (#1584)
  .changeset/core-diagnostics-require-route-existence.md
  packages/core/CLAUDE.md
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/port.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/state/producer-agreement-phase2.test.ts
  packages/core/tests/functional/state/undeclared-query-mode-gate.test.ts
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/tests/functional/dropped-query-key.test.ts
  packages/validation-plugin/tests/functional/undeclared-param-key.test.ts
Due: core

test(search-schema-plugin): migrate the property fixture to defaultSearch (#1548)
  .changeset/core-slot-is-the-channel.md
  packages/search-schema-plugin/tests/property/pipeline.properties.ts
Due: none

docs(core): scope the predicate rule to the channel guard it belongs to (#1581)
  packages/core/CLAUDE.md
  packages/core/tests/functional/state/undeclared-query-mode-gate.test.ts
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/tests/functional/dropped-query-key.test.ts
Due: none

fix(browser-env): build replaceHistoryState's URL from the resolved state (#1585)
  .changeset/browser-plugin-replace-history-url-agreement-1585.md
  .changeset/hash-plugin-replace-history-url-agreement-1585.md
  .changeset/navigation-plugin-replace-history-url-agreement-1585.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/CLAUDE.md
  packages/browser-plugin/README.md
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/tests/functional/browser-env/plugin-utils-factories.test.ts
  packages/browser-plugin/tests/functional/replace-history-state-agreement.test.ts
  packages/hash-plugin/ARCHITECTURE.md
  packages/hash-plugin/CLAUDE.md
  packages/hash-plugin/README.md
  packages/hash-plugin/src/plugin.ts
  packages/navigation-plugin/ARCHITECTURE.md
  packages/navigation-plugin/CLAUDE.md
  packages/navigation-plugin/README.md
  packages/navigation-plugin/src/plugin.ts
  shared/browser-env/plugin-utils.ts
Due: browser-plugin

docs(config): add entry-point unification and cited-gate rules to audit-rfc
  .claude/commands/audit-rfc.md
Due: none

docs(config): code-review-rfc — pathspec globs, contaminated probes, non-reproducing probes
  .claude/commands/code-review-rfc.md
Due: none

fix(core): three defects the Phase 2 review found (#1548)
  .changeset/core-registration-guard-prepare-phase.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/namespaces/StateNamespace/types.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/port.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/routes/buildPath.test.ts
  packages/core/tests/functional/state/default-params-channels.test.ts
  packages/core/tests/functional/state/undeclared-query-mode-gate.test.ts
Due: core

docs(core): sync the docs the phase's own removals invalidated (#1548)
  .changeset/core-route-defaults-by-channel-1549.md
  .changeset/default-search-channel-search-schema.md
  .changeset/lazy-parrots-shout.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/property/queryChannelRegistry.properties.ts
  packages/core/tests/property/searchPathConsistency.properties.ts
Due: core

refactor(core): makeState IS the pipeline's literal form — one terminal (#1548)
  .changeset/core-phase-4-single-terminal.md
  packages/core/CLAUDE.md
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/namespaces/StateNamespace/types.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/state/undeclared-query-mode-gate.test.ts
  packages/core/tests/functional/state/undefined-as-absent.test.ts
Due: core

docs(core): helpers.ts — six references Phase 4 invalidated, and an orphaned docstring
  packages/core/src/helpers.ts
Due: core

refactor(core): inline createStateObject into materialize, move createLimits out of helpers
  packages/core/src/Router.ts
  packages/core/src/helpers.ts
  packages/core/src/limits.ts
  packages/core/src/pipeline/materialize.ts
Due: core

refactor(core): channel correctness becomes a subsystem, not a corner of helpers.ts
  .changeset/core-channels-subsystem.md
  packages/core/CLAUDE.md
  packages/core/eslint.config.mjs
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/channels/defaults.ts
  packages/core/src/channels/guard.ts
  packages/core/src/channels/index.ts
  packages/core/src/channels/modeGate.ts
  packages/core/src/helpers.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/pipeline/canonicalize.ts
Due: core

docs(core): pipeline — six stale references, two framings, and an orphaned docstring
  packages/core/src/pipeline/buildURL.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/index.ts
  packages/core/src/pipeline/port.ts
  packages/core/src/pipeline/types.ts
Due: core

docs(core): channels — a borrowed precedent, a collapsed rule, and a caller count that was recalled
  packages/core/src/channels/defaults.ts
  packages/core/src/channels/index.ts
  packages/core/src/channels/modeGate.ts
Due: core

docs(core): RoutesNamespace — a retired routing still described in seven places
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/types/router.ts
Due: core

docs(core): INVARIANTS/ARCHITECTURE — three commits of drift, and a table pointing at deleted files
  packages/core/ARCHITECTURE.md
  packages/core/INVARIANTS.md
Due: none

docs(core): CLAUDE.md — a retired rule with its own heading, three paragraphs above its retirement
  packages/core/CLAUDE.md
Due: none

docs: root README/ARCHITECTURE — two packages that no longer exist, and two subsystems that do
  ARCHITECTURE.md
  README.md
Due: none

fix(benchmarks): the core suite has not run since the registration guard landed (#1548)
  packages/core/tests/benchmarks/default.bench.ts
Due: none

chore(deps): brace-expansion ReDoS #2 and the react-router advisory (pre-push audit)
  .github/workflows/codeql.yml
  benchmarks/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/osv-scanner.toml
Due: none

fix: fix sonar bug
  packages/core/src/api/getPluginApi.ts
Due: core

perf(core): stop charging every producer for a merge that has nothing to merge (#1589)
  packages/core/src/helpers.ts
  packages/core/src/pipeline/canonicalize.ts
Due: core

docs(core): changeset for #1589, and the stress count I got wrong two commits ago
  .changeset/core-canonicalize-fast-path-1589.md
  packages/core/ARCHITECTURE.md
Due: none

perf(core): let the render-path predicates reach the fast path they could not (#1589)
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/pipeline/canonicalize.ts
Due: core

perf(core): hoist the constant option bags out of the call sites (#1589)
  packages/core/src/api/getPluginApi.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/index.ts
  packages/core/src/wiring/wireNamespaces.ts
Due: core

perf(core): read the port once in canNavigateTo (#1589)
  packages/core/src/Router.ts
Due: core

Revert "perf(core): hoist the constant option bags out of the call sites (#1589)"
  packages/core/src/api/getPluginApi.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/index.ts
  packages/core/src/wiring/wireNamespaces.ts
Due: core

test(dom-utils): finish the sessionStorage-mock migration, correct its rationale
  packages/angular/tests/functional/scroll-restore.test.ts
  packages/preact/tests/functional/RouterProvider.scroll.test.tsx
  packages/preact/tests/stress/scroll-restoration-quota.stress.tsx
  packages/react/tests/functional/RouterProvider.scroll.test.tsx
  packages/react/tests/functional/dom-utils/scroll-restore.test.ts
  packages/solid/tests/functional/RouterProvider.scroll.test.tsx
  packages/solid/tests/stress/scroll-restoration-rapid.stress.tsx
  packages/svelte/tests/functional/RouterProvider.scroll.test.ts
  packages/vue/tests/functional/RouterProvider.scroll.test.ts
Due: none

test(sources): observe the async re-throw at the schedule, not at uncaughtException
  packages/lifecycle-plugin/tests/functional/lifecycle.test.ts
  packages/lifecycle-plugin/tests/helpers.ts
  packages/lifecycle-plugin/tests/property/lifecycle.properties.ts
  packages/lifecycle-plugin/tests/stress/rapid-lifecycle-hooks.stress.ts
  packages/sources/tests/helpers.ts
  packages/sources/tests/property/baseSource.properties.ts
  packages/sources/tests/unit/BaseSource.test.ts
  packages/sources/tests/unit/createActiveNameSelector.test.ts
Due: none

docs(config): perf-optimize — six rules from the #1589 run
  .claude/commands/perf-optimize.md
Due: none

test(dom-utils): mock sessionStorage — Node >= 26 shadows jsdom's, spies saw nothing
  IMPLEMENTATION_NOTES.md
Due: none

ci(config): .nvmrc as the Node source of truth — dev/CI major drift was invisible
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/danger.yml
  .github/workflows/dependabot-dedupe.yml
  .github/workflows/examples.yml
  .github/workflows/post-merge.yml
  .husky/pre-commit
  .nvmrc
  CLAUDE.md
  IMPLEMENTATION_NOTES.md
Due: none

docs(config): actualize the npm row in the toolchain table (11.6 -> 11.16)
  CLAUDE.md
Due: none

build(config): cap the changesets GitHub GraphQL batch — 109 changesets broke the release
  IMPLEMENTATION_NOTES.md
  patches/@changesets__get-github-info@0.8.0.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci(config): extract-pr-refs — sub-#100 tokens are prose, not PR references
  .changeset/extract-pr-refs.mjs
Due: none

docs(config): osv-scanner — a newer brace-expansion is not a patched one
  scripts/osv-scanner.toml
Due: none

docs(config): perf-optimize — three rules from the #1589 re-investigation
  .claude/commands/perf-optimize.md
Due: none

perf(core): the fast-path gate reads two values, not three (#1589)
  .changeset/canonicalize-gate-perf.md
  packages/core/ARCHITECTURE.md
  packages/core/CLAUDE.md
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/port.ts
Due: core
