Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

release: version packages (#217 #37) (#219)
  .changeset/react-stores-refactor.md
  .changeset/stores-feature.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

ci: disable persist-credentials to allow PAT-triggered CI on changeset PRs
  .github/workflows/changesets.yml
  .github/workflows/release.yml
Due: none

feat(core): add buildPath interceptor to PluginApi (#220)
  packages/core-types/src/api.ts
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/api/getPluginApi/addBuildPathInterceptor.test.ts
  packages/persistent-params-plugin/src/plugin.ts
Due: core

docs: update architecture and API docs for buildPath interceptor (#220)
  ARCHITECTURE.md
  packages/core/ARCHITECTURE.md
  packages/core/README.md
Due: none

chore: add changeset files
  .changeset/buildpath-interceptor-core.md
  .changeset/buildpath-interceptor-types.md
  .changeset/persistent-params-interceptor-refactor.md
Due: none

feat(core): add buildPath interceptor to PluginApi (#221)
  .changeset/buildpath-interceptor-core.md
  .changeset/buildpath-interceptor-types.md
  .changeset/persistent-params-interceptor-refactor.md
  ARCHITECTURE.md
  packages/core-types/src/api.ts
  packages/core/ARCHITECTURE.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/api/getPluginApi/addBuildPathInterceptor.test.ts
  packages/persistent-params-plugin/src/plugin.ts
Due: core

release: version packages (#220 #37)
  .changeset/buildpath-interceptor-core.md
  .changeset/buildpath-interceptor-types.md
  .changeset/persistent-params-interceptor-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#220 #37) (#222)
  .changeset/buildpath-interceptor-core.md
  .changeset/buildpath-interceptor-types.md
  .changeset/persistent-params-interceptor-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

ci: fix git push --tags authentication in changesets workflow
  .github/workflows/changesets.yml
Due: none

ci: fix GitHub releases creation for published packages
  .github/workflows/changesets.yml
Due: none

refactor(browser-plugin): replace inline URL functions with url-utils imports
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/types.ts
  packages/browser-plugin/src/url-utils.ts
  packages/browser-plugin/tests/functional/url-utils.test.ts
Due: browser-plugin

feat(core)!: replace per-method interceptor APIs with universal addInterceptor
  packages/core-types/src/api.ts
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

test(core, browser-plugin): update tests for addInterceptor API
  packages/browser-plugin/tests/helpers/mockPlugins.ts
  packages/core/tests/functional/api/getPluginApi/addBuildPathInterceptor.test.ts
  packages/core/tests/functional/api/getPluginApi/addStartInterceptor.test.ts
  packages/core/tests/functional/api/getPluginApi/getPluginApi.test.ts
Due: none

refactor(persistent-params-plugin): use addInterceptor instead of legacy APIs
  packages/persistent-params-plugin/src/plugin.ts
  packages/persistent-params-plugin/tests/functional/plugin.test.ts
Due: none

refactor(browser-plugin): extract BrowserPlugin class and remove IE dead code
  packages/browser-plugin/src/browser.ts
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/src/index.ts
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/popstate-utils.ts
  packages/browser-plugin/src/types.ts
  packages/browser-plugin/src/validation.ts
  packages/browser-plugin/tests/functional/browser.test.ts
Due: browser-plugin

refactor(browser-plugin): consolidate URL utilities into url-utils module
  packages/browser-plugin/src/url-utils.ts
  packages/browser-plugin/tests/functional/url-utils.test.ts
Due: browser-plugin

test(browser-plugin): update test imports for module reorganization
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/utils.ts
  packages/browser-plugin/tests/functional/integration.test.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/browser-plugin/tests/functional/utils.test.ts
Due: browser-plugin

feat(core-types): add InterceptableMethodMap and InterceptorFn generic types
  packages/core-types/src/api.ts
  packages/core-types/src/index.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/api/getPluginApi/addBuildPathInterceptor.test.ts
  packages/core/tests/functional/api/getPluginApi/addStartInterceptor.test.ts
  packages/core/tests/functional/api/getPluginApi/getPluginApi.test.ts
  packages/persistent-params-plugin/src/factory.ts
  packages/persistent-params-plugin/src/param-utils.ts
  packages/persistent-params-plugin/src/validation.ts
Due: core

refactor(persistent-params-plugin): decompose into class architecture
  packages/persistent-params-plugin/src/constants.ts
  packages/persistent-params-plugin/src/index.ts
  packages/persistent-params-plugin/src/plugin.ts
  packages/persistent-params-plugin/src/utils.ts
  packages/persistent-params-plugin/tests/functional/plugin.test.ts
  packages/persistent-params-plugin/tests/unit/utils.test.ts
Due: none

refactor(browser-plugin): remove dead code and simplify internals
  packages/browser-plugin/src/browser.ts
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/popstate-utils.ts
  packages/browser-plugin/src/types.ts
  packages/browser-plugin/src/url-utils.ts
  packages/browser-plugin/tests/functional/browser.test.ts
  packages/browser-plugin/tests/functional/integration.test.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/browser-plugin/tests/functional/url-utils.test.ts
  packages/browser-plugin/tests/functional/utils.test.ts
Due: browser-plugin

refactor(core)!: remove navigateToState from public PluginApi
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/popstate-utils.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/core-types/src/api.ts
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/NavigationNamespace/validators.ts
  packages/core/tests/functional/api/getPluginApi/getPluginApi.test.ts
  packages/core/tests/functional/navigation/navigateToState.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/router-benchmarks/src/helpers/bench-router-augment.d.ts
Due: core, browser-plugin

chore: reorder size-limit entries alphabetically
  .size-limit.js
Due: none

chore: add changesets for interceptor API and plugin refactoring
  .changeset/browser-plugin-class-refactor.md
  .changeset/core-add-interceptor-feature.md
  .changeset/core-remove-navigatetostate.md
  .changeset/core-types-interceptor-generics.md
  .changeset/core-types-remove-navigatetostate.md
  .changeset/persistent-params-plugin-class-refactor.md
Due: none

refactor(browser-plugin)!: remove mergeState option and browser.getState()
  .changeset/browser-plugin-remove-mergestate.md
  .size-limit.js
  packages/browser-plugin/README.md
  packages/browser-plugin/src/browser.ts
  packages/browser-plugin/src/constants.ts
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/popstate-utils.ts
  packages/browser-plugin/src/types.ts
  packages/browser-plugin/tests/functional/integration.test.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
Due: browser-plugin

refactor(browser-plugin): remove legacy artifacts from Browser interface
  packages/browser-plugin/src/browser.ts
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/src/index.ts
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/popstate-utils.ts
  packages/browser-plugin/src/types.ts
  packages/browser-plugin/tests/functional/integration.test.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
Due: browser-plugin

refactor(type-guards): remove dead isHistoryState guard
  packages/type-guards/src/guards/index.ts
  packages/type-guards/src/guards/state.ts
  packages/type-guards/src/index.ts
  packages/type-guards/src/internal/meta-fields.ts
  packages/type-guards/tests/benchmarks/guards/state-history.bench.ts
  packages/type-guards/tests/benchmarks/index.ts
  packages/type-guards/tests/functional/guards/state.test.ts
  packages/type-guards/tests/property/guards/state-edge-cases.properties.ts
  packages/type-guards/tests/property/guards/state.properties.ts
  packages/type-guards/tests/property/helpers.ts
Due: none

chore: tighten size limits for path-matcher, route-tree, type-guards, event-emitter
  .size-limit.js
Due: none

refactor(persistent-params-plugin): inline and remove dead parseQueryString/buildQueryString
  packages/persistent-params-plugin/src/param-utils.ts
  packages/persistent-params-plugin/src/plugin.ts
Due: none

chore: fix changeset issue refs and descriptions
  .changeset/browser-plugin-remove-legacy-artifacts.md
  .changeset/browser-plugin-remove-mergestate.md
  .changeset/core-add-interceptor-feature.md
  .changeset/core-remove-navigatetostate.md
  .changeset/core-types-remove-navigatetostate.md
Due: none

fix: resolve DeepSource static analysis issues
  packages/browser-plugin/src/browser.ts
  packages/type-guards/src/internal/meta-fields.ts
Due: browser-plugin

docs: update documentation to match refactored plugin interception API
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/README.md
  packages/core/ARCHITECTURE.md
  packages/core/README.md
Due: none

docs(type-guards): remove isHistoryState from README (deleted in c2cec407)
  packages/type-guards/README.md
Due: none

refactor(browser-plugin): remove dead lastKnownState property (#228)
  .changeset/browser-plugin-remove-legacy-artifacts.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/README.md
  packages/browser-plugin/src/index.ts
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
Due: browser-plugin

release: version packages (#224 #225 #226 #227 #228 #37)
  .changeset/browser-plugin-class-refactor.md
  .changeset/browser-plugin-remove-legacy-artifacts.md
  .changeset/core-add-interceptor-feature.md
  .changeset/core-remove-navigatetostate.md
  .changeset/core-types-interceptor-generics.md
  .changeset/core-types-remove-navigatetostate.md
  .changeset/persistent-params-plugin-class-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#224 #225 #226 #227 #228 #37) (#230)
  .changeset/browser-plugin-class-refactor.md
  .changeset/browser-plugin-remove-legacy-artifacts.md
  .changeset/core-add-interceptor-feature.md
  .changeset/core-remove-navigatetostate.md
  .changeset/core-types-interceptor-generics.md
  .changeset/core-types-remove-navigatetostate.md
  .changeset/persistent-params-plugin-class-refactor.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

ci: fix git push --tags with persist-credentials: false
  .github/workflows/changesets.yml
Due: none

feat: add extendRouter() to PluginApi for formal router instance extension (#231)
  .changeset/extend-router-browser-plugin-feature.md
  .changeset/extend-router-core-feature.md
  .changeset/extend-router-types-feature.md
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/core-types/src/api.ts
  packages/core-types/src/constants.ts
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/constants.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/api/getPluginApi/extendRouter.test.ts
  packages/core/tests/functional/api/getPluginApi/getPluginApi.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
Due: core, browser-plugin

docs: update documentation for extendRouter() API (#231)
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/README.md
  packages/core/ARCHITECTURE.md
  packages/core/README.md
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
