Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

release: version packages (#123 #366 #37 #42) (#371)
  .changeset/error-boundary-preact-feature.md
  .changeset/error-boundary-react-feature.md
  .changeset/error-boundary-solid-feature.md
  .changeset/error-boundary-svelte-feature.md
  .changeset/error-boundary-vue-feature.md
  .changeset/error-source-feature.md
  CHANGELOG.md
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

fix: patch transitive dependency vulnerabilities via pnpm overrides
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

chore: migrate to ESLint 10, remove eslint-plugin-promise and react-hooks, clean adapter configs
  .npmrc
  IMPLEMENTATION_NOTES.md
  README.md
  eslint.config.mjs
  package.json
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/browser-plugin/tests/functional/security.test.ts
  packages/core/src/namespaces/OptionsNamespace/helpers.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
  packages/path-matcher/tests/property/matching.properties.ts
  packages/preact/eslint.config.mjs
  packages/preact/src/components/RouterErrorBoundary.tsx
  packages/preact/src/hooks/useStableValue.tsx
  packages/preact/tests/stress/link-mass-rendering.stress.tsx
  packages/preact/tests/stress/subscription-fanout.stress.tsx
  packages/react/eslint.config.mjs
  packages/react/src/components/RouterErrorBoundary.tsx
  packages/react/src/hooks/useStableValue.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/functional/RouterProvider.test.tsx
  packages/react/tests/stress/link-mass-rendering.stress.tsx
  packages/react/tests/stress/subscription-fanout.stress.tsx
  packages/router-benchmarks/eslint.config.mjs
  packages/search-params/tests/property/formats.properties.ts
  packages/solid/eslint.config.mjs
  packages/solid/tests/stress/link-directive.stress.tsx
  packages/solid/tests/stress/link-mass-rendering.stress.tsx
  packages/svelte/eslint.config.mjs
  packages/svelte/tests/stress/helpers.ts
  packages/svelte/tests/stress/link-action.stress.ts
  packages/vue/eslint.config.mjs
  packages/vue/src/createRouterPlugin.ts
  packages/vue/src/directives/vLink.ts
  packages/vue/tests/functional/vLink.test.ts
  packages/vue/tests/stress/helpers.ts
  packages/vue/tests/stress/vlink-directive.stress.ts
  pnpm-lock.yaml
Due: core, react

chore: migrate to TypeScript 6.0.2
  IMPLEMENTATION_NOTES.md
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: migrate to pnpm@10.33
  IMPLEMENTATION_NOTES.md
  package.json
Due: none

fix: prevent Link crash on render with invalid routeName (#372)
  .changeset/link-crash-preact-fix.md
  .changeset/link-crash-react-fix.md
  .changeset/link-crash-solid-fix.md
  .changeset/link-crash-svelte-fix.md
  .changeset/link-crash-vue-fix.md
  examples/preact/error-handling/src/pages/Home.tsx
  examples/react/error-handling/src/pages/Home.tsx
  examples/solid/error-handling/src/pages/Home.tsx
  examples/svelte/error-handling/src/pages/Home.svelte
  examples/vue/error-handling/src/pages/Home.vue
  packages/dom-utils/src/link-utils.ts
  packages/dom-utils/tests/functional/link-utils.test.ts
  packages/dom-utils/tests/property/linkUtils.properties.ts
  packages/preact/tests/functional/Link.test.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/solid/src/directives/link.tsx
  packages/solid/tests/functional/Link.test.tsx
  packages/solid/tests/functional/link-directive.test.tsx
  packages/svelte/tests/functional/Link.test.ts
  packages/vue/tests/functional/Link.test.ts
Due: none

perf(core): remove Object.values() allocation in freezeClonedRecursive
  packages/core/src/helpers.ts
Due: core

fix: prevent Link crash on render with invalid routeName (#372) (#381)
  .changeset/link-crash-preact-fix.md
  .changeset/link-crash-react-fix.md
  .changeset/link-crash-solid-fix.md
  .changeset/link-crash-svelte-fix.md
  .changeset/link-crash-vue-fix.md
  examples/preact/error-handling/src/pages/Home.tsx
  examples/react/error-handling/src/pages/Home.tsx
  examples/solid/error-handling/src/pages/Home.tsx
  examples/svelte/error-handling/src/pages/Home.svelte
  examples/vue/error-handling/src/pages/Home.vue
  packages/core/src/helpers.ts
  packages/dom-utils/src/link-utils.ts
  packages/dom-utils/tests/functional/link-utils.test.ts
  packages/dom-utils/tests/property/linkUtils.properties.ts
  packages/preact/tests/functional/Link.test.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/solid/src/directives/link.tsx
  packages/solid/tests/functional/Link.test.tsx
  packages/solid/tests/functional/link-directive.test.tsx
  packages/svelte/tests/functional/Link.test.ts
  packages/vue/tests/functional/Link.test.ts
Due: core

release: version packages (#123 #37 #372 #42)
  .changeset/link-crash-preact-fix.md
  .changeset/link-crash-react-fix.md
  .changeset/link-crash-solid-fix.md
  .changeset/link-crash-svelte-fix.md
  .changeset/link-crash-vue-fix.md
  CHANGELOG.md
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #372 #42) (#382)
  .changeset/link-crash-preact-fix.md
  .changeset/link-crash-react-fix.md
  .changeset/link-crash-solid-fix.md
  .changeset/link-crash-svelte-fix.md
  .changeset/link-crash-vue-fix.md
  CHANGELOG.md
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

feat(search-params): add numberFormat strategy and optimize hot paths (#383)
  packages/core-types/src/route-node-types.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/tests/functional/options.test.ts
  packages/route-tree/src/createMatcher.ts
  packages/route-tree/tests/functional/createMatcher.test.ts
  packages/route-tree/tests/functional/operations/match-path.test.ts
  packages/search-params/ARCHITECTURE.md
  packages/search-params/CHANGELOG.md
  packages/search-params/INVARIANTS.md
  packages/search-params/README.md
  packages/search-params/package.json
  packages/search-params/src/decode.ts
  packages/search-params/src/encode.ts
  packages/search-params/src/index.ts
  packages/search-params/src/searchParams.ts
  packages/search-params/src/strategies/array.ts
  packages/search-params/src/strategies/index.ts
  packages/search-params/src/strategies/number.ts
  packages/search-params/src/types.ts
  packages/search-params/tests/benchmarks/search-params.bench.ts
  packages/search-params/tests/functional/search-params.test.ts
  packages/search-params/tests/functional/strategies.test.ts
  packages/search-params/tests/property/formats.properties.ts
  packages/search-params/tests/property/helpers.ts
  packages/search-params/tests/property/parseBuild.properties.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/functional/validators.test.ts
  packages/validation-plugin/tests/property/helpers.ts
Due: route-tree

chore: add changesets for numberFormat feature (#383)
  .changeset/numberformat-core.md
  .changeset/numberformat-types.md
  .changeset/numberformat-validation.md
Due: none

feat(search-params): add numberFormat strategy and optimize hot paths (#383) (#384)
  .changeset/numberformat-core.md
  .changeset/numberformat-types.md
  .changeset/numberformat-validation.md
  packages/core-types/src/route-node-types.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/tests/functional/options.test.ts
  packages/route-tree/src/createMatcher.ts
  packages/route-tree/tests/functional/createMatcher.test.ts
  packages/route-tree/tests/functional/operations/match-path.test.ts
  packages/search-params/ARCHITECTURE.md
  packages/search-params/CHANGELOG.md
  packages/search-params/INVARIANTS.md
  packages/search-params/README.md
  packages/search-params/package.json
  packages/search-params/src/decode.ts
  packages/search-params/src/encode.ts
  packages/search-params/src/index.ts
  packages/search-params/src/searchParams.ts
  packages/search-params/src/strategies/array.ts
  packages/search-params/src/strategies/index.ts
  packages/search-params/src/strategies/number.ts
  packages/search-params/src/types.ts
  packages/search-params/tests/benchmarks/search-params.bench.ts
  packages/search-params/tests/functional/search-params.test.ts
  packages/search-params/tests/functional/strategies.test.ts
  packages/search-params/tests/property/formats.properties.ts
  packages/search-params/tests/property/helpers.ts
  packages/search-params/tests/property/parseBuild.properties.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/functional/validators.test.ts
  packages/validation-plugin/tests/property/helpers.ts
Due: route-tree

perf(path-matcher): optimize match() and buildPath() hot paths
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/defaultQueryString.ts
  packages/path-matcher/src/percentEncoding.ts
  packages/path-matcher/tests/benchmarks/index.ts
  packages/path-matcher/tests/benchmarks/match-hotpath.bench.ts
  packages/path-matcher/tests/benchmarks/pipeline.bench.ts
  packages/path-matcher/tests/benchmarks/stress.bench.ts
Due: none

perf(route-tree): optimize computeCaches build-time and heap allocations
  packages/route-tree/src/builder/computeCaches.ts
  packages/route-tree/src/operations/routeTreeToDefinitions.ts
  packages/route-tree/src/validation/routes.ts
  packages/route-tree/tests/benchmarks/advanced-patterns.bench.ts
  packages/route-tree/tests/benchmarks/index.ts
  packages/route-tree/tests/benchmarks/rebuild-pipeline.bench.ts
  packages/route-tree/tests/benchmarks/tree-serialization.bench.ts
  packages/route-tree/tests/benchmarks/validation.bench.ts
Due: route-tree

chore: upgrade tooling and optimize CI pipeline
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .npmrc
  eslint.config.mjs
  examples/preact/async-guards/test-results/.last-run.json
  examples/preact/auth-guards/test-results/.last-run.json
  examples/preact/combined/test-results/.last-run.json
  examples/preact/data-loading/test-results/.last-run.json
  examples/preact/dynamic-routes/test-results/.last-run.json
  examples/preact/error-handling/test-results/.last-run.json
  examples/preact/hash-routing/test-results/.last-run.json
  examples/preact/nested-routes/test-results/.last-run.json
  examples/react/async-guards/test-results/.last-run.json
  examples/react/auth-guards/test-results/.last-run.json
  examples/react/combined/test-results/.last-run.json
  examples/react/data-loading/test-results/.last-run.json
  examples/react/dynamic-routes/test-results/.last-run.json
  examples/react/error-handling/test-results/.last-run.json
  examples/react/hash-routing/test-results/.last-run.json
  examples/react/nested-routes/test-results/.last-run.json
  knip.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore: upgrade tooling and optimize CI pipeline
  .github/workflows/ci.yml
  .github/workflows/examples.yml
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(search-params): change default booleanFormat/numberFormat to "auto" (#387)
  packages/browser-plugin/tests/functional/url.test.ts
  packages/core-types/src/route-node-types.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/tests/functional/api/getRoutesApi/addRoute.test.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/core/tests/functional/utils.test.ts
  packages/core/tests/property/pathRoundtrip.properties.ts
  packages/hash-plugin/tests/functional/url.test.ts
  packages/route-tree/src/createMatcher.ts
  packages/route-tree/tests/functional/createMatcher.test.ts
  packages/route-tree/tests/functional/operations/match-path.test.ts
  packages/route-tree/tests/property/helpers.ts
  packages/search-params/ARCHITECTURE.md
  packages/search-params/INVARIANTS.md
  packages/search-params/README.md
  packages/search-params/src/encode.ts
  packages/search-params/src/strategies/boolean.ts
  packages/search-params/src/strategies/index.ts
  packages/search-params/src/types.ts
  packages/search-params/tests/benchmarks/search-params.bench.ts
  packages/search-params/tests/functional/search-params.test.ts
  packages/search-params/tests/functional/strategies.test.ts
  packages/search-params/tests/property/formats.properties.ts
  packages/search-params/tests/property/helpers.ts
  packages/validation-plugin/INVARIANTS.md
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/property/helpers.ts
Due: route-tree

refactor: deduplicate types and constants from private packages (#388)
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/route-tree/src/createMatcher.ts
  packages/route-tree/src/index.ts
  packages/route-tree/src/operations/types.ts
  packages/search-params/src/encode.ts
  packages/search-params/src/index.ts
Due: route-tree

chore: add changeset files
  .changeset/boolean-format-types.md
  .changeset/default-query-params-auto.md
  .changeset/validation-boolean-format.md
Due: none

fix(ci): remove --filter incompatible with turbo --affected
  .github/workflows/ci.yml
Due: none

fix(ci): remove --filter incompatible with turbo --affected
  IMPLEMENTATION_NOTES.md
  eslint.config.mjs
  packages/search-params/tests/property/helpers.ts
Due: none

fix: change default booleanFormat/numberFormat to "auto" + deduplicate types (#389)
  .changeset/boolean-format-types.md
  .changeset/default-query-params-auto.md
  .changeset/validation-boolean-format.md
  .github/workflows/ci.yml
  IMPLEMENTATION_NOTES.md
  eslint.config.mjs
  packages/browser-plugin/tests/functional/url.test.ts
  packages/core-types/src/route-node-types.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/tests/functional/api/getRoutesApi/addRoute.test.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/core/tests/functional/utils.test.ts
  packages/core/tests/property/pathRoundtrip.properties.ts
  packages/hash-plugin/tests/functional/url.test.ts
  packages/route-tree/src/createMatcher.ts
  packages/route-tree/src/index.ts
  packages/route-tree/src/operations/types.ts
  packages/route-tree/tests/functional/createMatcher.test.ts
  packages/route-tree/tests/functional/operations/match-path.test.ts
  packages/route-tree/tests/property/helpers.ts
  packages/search-params/ARCHITECTURE.md
  packages/search-params/INVARIANTS.md
  packages/search-params/README.md
  packages/search-params/src/encode.ts
  packages/search-params/src/index.ts
  packages/search-params/src/strategies/boolean.ts
  packages/search-params/src/strategies/index.ts
  packages/search-params/src/types.ts
  packages/search-params/tests/benchmarks/search-params.bench.ts
  packages/search-params/tests/functional/search-params.test.ts
  packages/search-params/tests/functional/strategies.test.ts
  packages/search-params/tests/property/formats.properties.ts
  packages/search-params/tests/property/helpers.ts
  packages/validation-plugin/INVARIANTS.md
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/property/helpers.ts
Due: route-tree

chore: fix stress test
  packages/sources/tests/stress/eager-subscription-leak.stress.ts
Due: none

chore: bump versions eslint-plugin-jsdoc and knip
  package.json
  pnpm-lock.yaml
Due: none

chore: upgrade tooling and improve dev workflow
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .size-limit.js
  CLAUDE.md
  IMPLEMENTATION_NOTES.md
  examples/react/shared/Layout.tsx
  examples/react/shared/tsconfig.json
  package.json
  packages/core/CLAUDE.md
  packages/fsm/CLAUDE.md
  packages/preact/eslint.config.mjs
  packages/preact/src/components/RouterErrorBoundary.tsx
  packages/react/eslint.config.mjs
  packages/react/src/components/RouterErrorBoundary.tsx
  packages/react/src/components/modern/RouteView/RouteView.tsx
  packages/solid/package.json
  pnpm-lock.yaml
  turbo.json
Due: react

refactor(core): rename TRANSITIONING → TRANSITION_STARTED
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  packages/core/ARCHITECTURE.md
  packages/core/src/Router.ts
  packages/core/src/fsm/routerFSM.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/reentrant-currentToState-wipe.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
  packages/fsm/ARCHITECTURE.md
Due: core

feat(core): add LEAVE_APPROVED FSM state and type foundations
  packages/core-types/src/constants.ts
  packages/core-types/src/router.ts
  packages/core/src/constants.ts
  packages/core/src/fsm/routerFSM.ts
  packages/core/src/namespaces/PluginsNamespace/constants.ts
  packages/core/src/types.ts
  packages/core/tests/functional/fsm/leave-approved-fsm.test.ts
Due: core

feat(core): implement EventBusNamespace LEAVE_APPROVE + subscribeLeave
  packages/core-types/src/index.ts
  packages/core-types/src/router.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/observable/subscribe-leave.test.ts
Due: core

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
