Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

fix: use pnpm publish to convert workspace:^ protocol
  .github/workflows/changesets.yml
  .github/workflows/release.yml
Due: none

chore: add changeset for workspace deps fix
  .changeset/fix-workspace-deps.md
Due: none

release: version packages
  .changeset/fix-workspace-deps.md
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: add changeset for types package dependency
  .changeset/types-package-dependency.md
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core-types/src/router.ts
  pnpm-lock.yaml
Due: none

release: version packages
  .changeset/types-package-dependency.md
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(ci): return 0 when package already published
  .github/workflows/changesets.yml
Due: none

ci: add pr references to release commits and validate changesets
  .github/workflows/changeset-check.yml
  .github/workflows/changesets.yml
  IMPLEMENTATION_NOTES.md
Due: none

feat(router-benchmarks): add router6 support and improve stability
  CHANGELOG.md
  commitlint.config.mjs
  cz.config.js
  knip.json
  packages/router-benchmarks/README.md
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/package.json
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/02-navigation-plugins/2.3-edge-cases.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.1-initialization.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.2-adding.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.3-getting.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.4-edge-cases.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.5-router-comparison.bench.ts
  packages/router-benchmarks/src/04-plugins-management/4.1-adding.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.4-lifecycle-edge-cases.bench.ts
  packages/router-benchmarks/src/11-events/11.4-edge-cases.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.1-high-load-sequential.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.2-route-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.3-extension-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.4-auto-cleanup.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.5-comparative.bench.ts
  packages/router-benchmarks/src/13-cloning/13.1-ssr-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.2-testing-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.3-clone-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.4-configuration.bench.ts
  packages/router-benchmarks/src/13-cloning/13.5-isolation.bench.ts
  packages/router-benchmarks/src/13-cloning/13.6-edge-cases.bench.ts
  packages/router-benchmarks/src/helpers/constants.ts
  packages/router-benchmarks/src/helpers/index.ts
  packages/router-benchmarks/src/helpers/router-adapter.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(router-benchmarks): add router6 support and improve stability (#30)
  CHANGELOG.md
  commitlint.config.mjs
  cz.config.js
  knip.json
  packages/router-benchmarks/README.md
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/package.json
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/02-navigation-plugins/2.3-edge-cases.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.1-initialization.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.2-adding.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.3-getting.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.4-edge-cases.bench.ts
  packages/router-benchmarks/src/03-dependencies/3.5-router-comparison.bench.ts
  packages/router-benchmarks/src/04-plugins-management/4.1-adding.bench.ts
  packages/router-benchmarks/src/10-start-stop/10.4-lifecycle-edge-cases.bench.ts
  packages/router-benchmarks/src/11-events/11.4-edge-cases.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.1-high-load-sequential.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.2-route-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.3-extension-scaling.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.4-auto-cleanup.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.5-comparative.bench.ts
  packages/router-benchmarks/src/13-cloning/13.1-ssr-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.2-testing-scenarios.bench.ts
  packages/router-benchmarks/src/13-cloning/13.3-clone-scaling.bench.ts
  packages/router-benchmarks/src/13-cloning/13.4-configuration.bench.ts
  packages/router-benchmarks/src/13-cloning/13.5-isolation.bench.ts
  packages/router-benchmarks/src/13-cloning/13.6-edge-cases.bench.ts
  packages/router-benchmarks/src/helpers/constants.ts
  packages/router-benchmarks/src/helpers/index.ts
  packages/router-benchmarks/src/helpers/router-adapter.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

phase 1 complete
  packages/core-types/src/index.ts
  packages/core/src/Router.ts
  packages/core/src/createRouter.ts
  packages/core/src/index.ts
Due: core

phase 4 complete
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/index.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/index.ts
  packages/core/src/namespaces/index.ts
Due: core

phase 3 complete
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/constants.ts
  packages/core/src/namespaces/MiddlewareNamespace/index.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/constants.ts
  packages/core/src/namespaces/PluginsNamespace/index.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/constants.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/constants.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/namespaces/index.ts
Due: core

phase 2 complete
  packages/core/src/Router.ts
  packages/core/src/namespaces/DependenciesNamespace/DependenciesNamespace.ts
  packages/core/src/namespaces/DependenciesNamespace/constants.ts
  packages/core/src/namespaces/DependenciesNamespace/index.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/constants.ts
  packages/core/src/namespaces/ObservableNamespace/helpers.ts
  packages/core/src/namespaces/ObservableNamespace/index.ts
  packages/core/src/namespaces/ObservableNamespace/types.ts
  packages/core/src/namespaces/OptionsNamespace/OptionsNamespace.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/src/namespaces/OptionsNamespace/helpers.ts
  packages/core/src/namespaces/OptionsNamespace/index.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/namespaces/StateNamespace/index.ts
  packages/core/src/namespaces/index.ts
Due: core

phase 5 complete with failed tests
  packages/core/src/Router.ts
  packages/core/src/index.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/routeLifecycle/canActivate.test.ts
  packages/core/tests/functional/routes/routeQuery/clone.test.ts
  packages/core/tests/functional/routes/routeQuery/isActiveRoute.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/routes/routeTree/forward.test.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/core/tests/functional/state.test.ts
Due: core

fix(core): fix router.ts validation and test compatibility
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/navigation/navigate/events-listeners.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/routeLifecycle/canActivate.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/routes/routeTree/removeRoute.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  packages/core/tests/helpers/testRouters.ts
Due: core

improve architecture
  packages/core/eslint.config.mjs
  packages/core/package.json
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/CloneNamespace/index.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/namespaces/index.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tsconfig.json
Due: core

improve architecture and tests
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/OptionsNamespace/OptionsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/createRouter.test.ts
  packages/core/tests/functional/dependencies.test.ts
  packages/core/tests/functional/dependencies/hasDependency.test.ts
  packages/core/tests/functional/dependencies/removeDependency.test.ts
  packages/core/tests/functional/dependencies/setDependencies.test.ts
  packages/core/tests/functional/dependencies/setDependency.test.ts
  packages/core/tests/functional/dependencies/setup.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/forward.test.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
  vitest.config.unit.mts
Due: core

improve architecture and tests
  packages/core/src/Router.ts
  packages/core/src/core/routes/routeConfig.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/tests/functional/routes/routeTree/updateRoute.test.ts
Due: core

improve architecture and tests
  packages/core/src/Router.ts
  packages/core/src/namespaces/CloneNamespace/CloneNamespace.ts
  packages/core/src/namespaces/DependenciesNamespace/DependenciesNamespace.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/navigation/navigateToState.test.ts
  packages/core/tests/functional/routes/routePath/buildPath.test.ts
  packages/core/tests/functional/routes/routeQuery/clone.test.ts
  packages/core/tests/functional/state.test.ts
Due: core

fix(core): remove stub methods from router class
  .jscpd.json
  knip.json
  packages/core/src/Router.ts
  packages/core/tests/functional/createRouter.test.ts
  packages/react/src/components/BaseLink.tsx
Due: core, react

refactor(core): delete legacy core folder after namespace migration
  .jscpd.json
  knip.json
  packages/core/README.md
  packages/core/eslint.config.mjs
  packages/core/src/Router.ts
  packages/core/src/core/dependencies.ts
  packages/core/src/core/middleware.ts
  packages/core/src/core/navigation.ts
  packages/core/src/core/observable.ts
  packages/core/src/core/options.ts
  packages/core/src/core/plugins.ts
  packages/core/src/core/routeLifecycle.ts
  packages/core/src/core/routerLifecycle.ts
  packages/core/src/core/routes/index.ts
  packages/core/src/core/routes/routeConfig.ts
  packages/core/src/core/routes/routePath.ts
  packages/core/src/core/routes/routeQuery.ts
  packages/core/src/core/routes/routeTree.ts
  packages/core/src/core/state.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/stateBuilder.ts
  packages/core/tests/functional/state.test.ts
  packages/core/tsconfig.json
Due: core

refactor(core): decompose routes-namespace
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  packages/core/src/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
Due: core

fix: sync root version with core via changesets workflow
  .github/workflows/changesets.yml
  package.json
Due: none

fix: resolve ci lint errors and update dependency review config
  .changeset/move-router-types-to-core.md
  .github/dependency-review-config.yml
  .husky/pre-push
  package.json
  packages/browser-plugin/src/plugin.ts
  packages/core/tests/benchmarks/observable/invokeEventListeners.bench.ts
  packages/core/tests/functional/observable/invokeEventListeners/transition-error.test.ts
  packages/core/tests/functional/observable/invokeEventListeners/transition-start-cancel.test.ts
  packages/core/tests/functional/observable/invokeEventListeners/transition-success.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/react/tests/functional/RouterProvider.test.tsx
Due: browser-plugin

fix: fix ci
  .husky/pre-push
  packages/core/package.json
Due: none

fix: fix bugs
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleHooks.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeMiddleware.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
  packages/core/src/namespaces/NavigationNamespace/transition/shared.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/validators.ts
  packages/core/tests/functional/transition/executeLifecycleHooks.test.ts
  packages/core/tests/functional/transition/executeMiddleware.test.ts
Due: core

chore: add changeset for namespace architecture (#34)
  .changeset/fort-knox-architecture.md
Due: none

ci: fix changesets.yml script
  .github/workflows/changesets.yml
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
