Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

fix: drop unnecessary optional chains in Angular stress tests
  packages/angular/tests/stress/concurrent-guards.stress.ts
  packages/angular/tests/stress/factory-n-routers.stress.ts
  packages/angular/tests/stress/rapid-start-stop.stress.ts
Due: none

fix: drop unnecessary optional chains in integration/stress/perf tests
  packages/preact/tests/integration/RouterProvider.test.tsx
  packages/preact/tests/stress/factory-reuse.stress.tsx
  packages/preact/tests/stress/route-deletion-midsession.stress.tsx
  packages/react/tests/integration/RouterProvider.test.tsx
  packages/react/tests/performance/useRoute.test.tsx
  packages/solid/tests/integration/RouterProvider.test.tsx
  packages/vue/tests/integration/RouterProvider.test.ts
  packages/vue/tests/stress/subscription-fanout.stress.ts
Due: none

release: version packages (#123 #37 #42 #535)
  .changeset/useroute-throws-on-undefined-angular.md
  .changeset/useroute-throws-on-undefined-preact.md
  .changeset/useroute-throws-on-undefined-react.md
  .changeset/useroute-throws-on-undefined-solid.md
  .changeset/useroute-throws-on-undefined-svelte.md
  .changeset/useroute-throws-on-undefined-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #535) (#556)
  .changeset/useroute-throws-on-undefined-angular.md
  .changeset/useroute-throws-on-undefined-preact.md
  .changeset/useroute-throws-on-undefined-react.md
  .changeset/useroute-throws-on-undefined-solid.md
  .changeset/useroute-throws-on-undefined-svelte.md
  .changeset/useroute-throws-on-undefined-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

fix(navigation-plugin): report navigationType correctly after cross-document load (#531)
  .changeset/navigation-plugin-531-fix.md
  packages/navigation-plugin/README.md
  packages/navigation-plugin/src/navigation-browser.ts
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/src/ssr-fallback.ts
  packages/navigation-plugin/src/types.ts
  packages/navigation-plugin/tests/functional/navigation-browser.test.ts
  packages/navigation-plugin/tests/functional/navigation-meta-activation.test.ts
  packages/navigation-plugin/tests/helpers/testUtils.ts
Due: none

fix(navigation-plugin): report navigationType correctly after cross-document load (#531) (#557)
  .changeset/navigation-plugin-531-fix.md
  packages/navigation-plugin/README.md
  packages/navigation-plugin/src/navigation-browser.ts
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/src/ssr-fallback.ts
  packages/navigation-plugin/src/types.ts
  packages/navigation-plugin/tests/functional/navigation-browser.test.ts
  packages/navigation-plugin/tests/functional/navigation-meta-activation.test.ts
  packages/navigation-plugin/tests/helpers/testUtils.ts
Due: none

release: version packages (#123 #37 #42 #531)
  .changeset/navigation-plugin-531-fix.md
  CHANGELOG.md
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
Due: none

release: version packages (#123 #37 #42 #531) (#558)
  .changeset/navigation-plugin-531-fix.md
  CHANGELOG.md
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
Due: none

docs(navigation-plugin): activation priming in ARCHITECTURE + INVARIANTS C9 (#531)
  packages/navigation-plugin/ARCHITECTURE.md
  packages/navigation-plugin/INVARIANTS.md
Due: none

refactor(navigation-plugin): flatten plugin-utils into shared/browser-env (#527)
  .changeset/navigation-plugin-utils-refactor.md
  IMPLEMENTATION_NOTES.md
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/src/navigation-browser.ts
  packages/navigation-plugin/src/plugin-utils.ts
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/tests/functional/navigate.test.ts
  packages/navigation-plugin/tests/functional/navigation-browser.test.ts
  shared/browser-env/index.ts
  shared/browser-env/plugin-utils.ts
Due: none

refactor(navigation-plugin): flatten plugin-utils into shared/browser-env (#527) (#559)
  .changeset/navigation-plugin-utils-refactor.md
  IMPLEMENTATION_NOTES.md
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/src/navigation-browser.ts
  packages/navigation-plugin/src/plugin-utils.ts
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/tests/functional/navigate.test.ts
  packages/navigation-plugin/tests/functional/navigation-browser.test.ts
  shared/browser-env/index.ts
  shared/browser-env/plugin-utils.ts
Due: none

release: version packages (#123 #37 #42 #527)
  .changeset/navigation-plugin-utils-refactor.md
  CHANGELOG.md
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
Due: none

release: version packages (#123 #37 #42 #527) (#560)
  .changeset/navigation-plugin-utils-refactor.md
  CHANGELOG.md
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
Due: none

test(core): baseline benchmarks + regression tests for #525
  packages/core/tests/benchmarks/index.ts
  packages/core/tests/benchmarks/navigation/popstate-roundtrip.bench.ts
  packages/core/tests/functional/matchPathInterceptors.test.ts
  packages/core/tests/functional/trailingSlashPreserve.test.ts
Due: none

feat: router.navigateToState — bypass buildNavigateState for plugin-driven nav (#525)
  .changeset/navigate-to-state-core.md
  .changeset/navigate-to-state-plugins.md
  IMPLEMENTATION_NOTES.md
  packages/browser-env/tests/property/browserEnv.properties.ts
  packages/browser-env/tests/property/helpers.ts
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/browser-plugin/tests/stress/cannot-deactivate-storm.stress.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/getNavigator.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/tests/benchmarks/navigation/popstate-roundtrip.bench.ts
  packages/core/tests/functional/navigation/navigateToState.test.ts
  packages/core/tests/functional/navigator.test.ts
  packages/core/tests/functional/trailingSlashPreserve.test.ts
  packages/core/tests/property/getNavigator.properties.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/tests/functional/navigate.test.ts
  packages/navigation-plugin/tests/stress/cannot-deactivate-storm.stress.ts
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/navigation.ts
  packages/validation-plugin/tests/functional/navigation.validation.test.ts
  packages/vue/tests/functional/useNavigator.test.ts
  shared/browser-env/popstate-handler.ts
  shared/browser-env/popstate-utils.ts
Due: core

refactor: move navigateToState from Router to PluginApi (#525)
  .changeset/navigate-to-state-core.md
  .changeset/navigate-to-state-plugins.md
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/browser-plugin/tests/stress/cannot-deactivate-storm.stress.ts
  packages/core-types/src/api.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/getNavigator.ts
  packages/core/src/internals.ts
  packages/core/tests/benchmarks/navigation/popstate-roundtrip.bench.ts
  packages/core/tests/functional/api/getPluginApi/getPluginApi.test.ts
  packages/core/tests/functional/navigation/navigateToState.test.ts
  packages/core/tests/functional/navigator.test.ts
  packages/core/tests/functional/trailingSlashPreserve.test.ts
  packages/core/tests/property/getNavigator.properties.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/tests/functional/navigate.test.ts
  packages/navigation-plugin/tests/stress/cannot-deactivate-storm.stress.ts
  packages/validation-plugin/tests/functional/navigation.validation.test.ts
  packages/vue/tests/functional/useNavigator.test.ts
  shared/browser-env/popstate-handler.ts
Due: core

refactor(core): start(path) commits matchPath result via navigateToState (#525)
  IMPLEMENTATION_NOTES.md
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/trailingSlashPreserve.test.ts
Due: core

refactor(memory-plugin): snapshot semantics for back/forward via api.navigateToState (#561)
  .changeset/memory-plugin-snapshot-semantics.md
  packages/memory-plugin/src/plugin.ts
  packages/memory-plugin/src/types.ts
  packages/memory-plugin/tests/functional/plugin.test.ts
Due: none

feat(preload-plugin): cache pre-resolved State on hover via router.getPreloadedState (#562)
  .changeset/preload-plugin-state-cache.md
  packages/preload-plugin/src/index.ts
  packages/preload-plugin/src/plugin.ts
  packages/preload-plugin/tests/functional/state-cache.test.ts
Due: none

feat(core): SSR hydration helpers — serializeRouterState + hydrateRouter (#563)
  .changeset/core-ssr-hydration.md
  examples/web/react/ssr/e2e/ssr.spec.ts
  examples/web/react/ssr/src/entry-client.tsx
  examples/web/react/ssr/src/entry-server.tsx
  packages/core/src/utils/hydrateRouter.ts
  packages/core/src/utils/index.ts
  packages/core/src/utils/serializeRouterState.ts
  packages/core/tests/functional/utils/hydrateRouter.test.ts
  packages/core/tests/functional/utils/serializeRouterState.test.ts
Due: core

refactor(core): tighten SSR hydration helpers (#563)
  examples/web/react/ssr/src/entry-server.tsx
  packages/core/src/utils/serializeRouterState.ts
  packages/core/tests/functional/utils/hydrateRouter.test.ts
  packages/core/tests/functional/utils/serializeRouterState.test.ts
Due: core

test(core): property tests for serializeRouterState (#563)
  packages/core/INVARIANTS.md
  packages/core/tests/property/serializeRouterState.properties.ts
Due: none

docs(core): split navigate-to-state changeset into per-package files (#525)
  .changeset/navigate-to-state-core.md
  .changeset/navigate-to-state-types.md
  .changeset/navigate-to-state-validation.md
Due: none

docs(core): split navigate-to-state-plugins changeset per package (#525)
  .changeset/navigate-to-state-browser-plugin.md
  .changeset/navigate-to-state-hash-plugin.md
  .changeset/navigate-to-state-navigation-plugin.md
  .changeset/navigate-to-state-plugins.md
Due: none

feat: hash support in URL plugins + React Link (#532 stage 1)
  .changeset/532-browser-plugin-hash.md
  .changeset/532-hash-plugin-limitation.md
  .changeset/532-navigation-plugin-hash.md
  .changeset/532-react-link-hash.md
  .changeset/532-sources-hash-active.md
  knip.json
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/src/index.ts
  packages/browser-plugin/tests/functional/url.test.ts
  packages/dom-utils/tests/functional/link-utils.test.ts
  packages/hash-plugin/package.json
  packages/hash-plugin/src/index.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/lifecycle.test.ts
  packages/navigation-plugin/src/index.ts
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/tests/functional/lifecycle.test.ts
  packages/react/src/components/Link.tsx
  packages/react/src/hooks/useIsActiveRoute.tsx
  packages/react/src/types.ts
  packages/react/tests/integration/Link.test.tsx
  packages/sources/src/createActiveRouteSource.ts
  packages/sources/src/normalizeActiveOptions.ts
  packages/sources/src/stabilizeState.ts
  packages/sources/src/types.ts
  packages/sources/tests/unit/createActiveRouteStore.test.ts
  packages/sources/tests/unit/normalizeActiveOptions.test.ts
  packages/sources/tests/unit/stabilizeState.test.ts
  shared/browser-env/index.ts
  shared/browser-env/plugin-utils.ts
  shared/browser-env/popstate-handler.ts
  shared/browser-env/url-context.ts
  shared/browser-env/url-utils.ts
  shared/dom-utils/index.ts
  shared/dom-utils/link-utils.ts
  shared/dom-utils/scroll-restore.ts
Due: react, browser-plugin

feat: hash support for Preact / Solid / Vue / Svelte / Angular Link (#532 stage 2)
  .changeset/532-angular-link-hash.md
  .changeset/532-preact-link-hash.md
  .changeset/532-react-link-hash.md
  .changeset/532-solid-link-hash.md
  .changeset/532-svelte-link-hash.md
  .changeset/532-vue-link-hash.md
  .size-limit.js
  packages/angular/src/directives/RealLink.ts
  packages/angular/src/dom-utils/index.ts
  packages/angular/src/dom-utils/link-utils.ts
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/angular/src/functions/injectIsActiveRoute.ts
  packages/angular/tests/functional/dom-utils-integration.test.ts
  packages/angular/tests/functional/scroll-restore.test.ts
  packages/preact/src/components/Link.tsx
  packages/preact/src/hooks/useIsActiveRoute.tsx
  packages/preact/src/types.ts
  packages/preact/tests/integration/Link.test.tsx
  packages/solid/src/components/Link.tsx
  packages/solid/src/types.ts
  packages/solid/tests/integration/Link.test.tsx
  packages/svelte/src/components/Link.svelte
  packages/svelte/src/composables/useIsActiveRoute.svelte.ts
  packages/svelte/tests/integration/Link.test.ts
  packages/vue/src/components/Link.ts
  packages/vue/src/composables/useIsActiveRoute.ts
  packages/vue/tests/integration/Link.test.ts
Due: none

feat: link-hash dogfood example for #532 (stage 3)
  examples/web/react/link-hash/README.md
  examples/web/react/link-hash/e2e/link-hash.spec.ts
  examples/web/react/link-hash/index.html
  examples/web/react/link-hash/package.json
  examples/web/react/link-hash/playwright.config.ts
  examples/web/react/link-hash/src/App.tsx
  examples/web/react/link-hash/src/main.tsx
  examples/web/react/link-hash/src/pages/Dashboard.tsx
  examples/web/react/link-hash/src/pages/HashControls.tsx
  examples/web/react/link-hash/src/pages/Home.tsx
  examples/web/react/link-hash/src/pages/Settings.tsx
  examples/web/react/link-hash/src/routes.ts
  examples/web/react/link-hash/src/vite-env.d.ts
  examples/web/react/link-hash/tsconfig.json
  examples/web/react/link-hash/vite.config.ts
  pnpm-lock.yaml
Due: none

docs: actualize wiki + local docs for #532 (stage 4)
  .changeset/532-angular-link-hash.md
  .changeset/532-angular-scroll-restore-fix.md
  .changeset/532-preact-link-hash.md
  .changeset/532-preact-scroll-restore-fix.md
  .changeset/532-react-scroll-restore-fix.md
  .changeset/532-solid-link-hash.md
  .changeset/532-solid-scroll-restore-fix.md
  .changeset/532-svelte-link-hash.md
  .changeset/532-svelte-scroll-restore-fix.md
  .changeset/532-vue-link-hash.md
  .changeset/532-vue-scroll-restore-fix.md
  IMPLEMENTATION_NOTES.md
  packages/angular/README.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/README.md
  packages/hash-plugin/README.md
  packages/navigation-plugin/ARCHITECTURE.md
  packages/navigation-plugin/README.md
  packages/preact/README.md
  packages/react/README.md
  packages/solid/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: none

release: version packages (#123 #37 #42 #532)
  .changeset/532-angular-link-hash.md
  .changeset/532-angular-scroll-restore-fix.md
  .changeset/532-browser-plugin-hash.md
  .changeset/532-hash-plugin-limitation.md
  .changeset/532-navigation-plugin-hash.md
  .changeset/532-preact-link-hash.md
  .changeset/532-preact-scroll-restore-fix.md
  .changeset/532-react-link-hash.md
  .changeset/532-react-scroll-restore-fix.md
  .changeset/532-solid-link-hash.md
  .changeset/532-solid-scroll-restore-fix.md
  .changeset/532-sources-hash-active.md
  .changeset/532-svelte-link-hash.md
  .changeset/532-svelte-scroll-restore-fix.md
  .changeset/532-vue-link-hash.md
  .changeset/532-vue-scroll-restore-fix.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #532) (#568)
  .changeset/532-angular-link-hash.md
  .changeset/532-angular-scroll-restore-fix.md
  .changeset/532-browser-plugin-hash.md
  .changeset/532-hash-plugin-limitation.md
  .changeset/532-navigation-plugin-hash.md
  .changeset/532-preact-link-hash.md
  .changeset/532-preact-scroll-restore-fix.md
  .changeset/532-react-link-hash.md
  .changeset/532-react-scroll-restore-fix.md
  .changeset/532-solid-link-hash.md
  .changeset/532-solid-scroll-restore-fix.md
  .changeset/532-sources-hash-active.md
  .changeset/532-svelte-link-hash.md
  .changeset/532-svelte-scroll-restore-fix.md
  .changeset/532-vue-link-hash.md
  .changeset/532-vue-scroll-restore-fix.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/navigation-plugin/CHANGELOG.md
  packages/navigation-plugin/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

feat: scroll-restoration `behavior` + `storageKey` options + rename `manual` → `native` (#534)
  .changeset/scroll-restore-options-angular.md
  .changeset/scroll-restore-options-preact.md
  .changeset/scroll-restore-options-react.md
  .changeset/scroll-restore-options-solid.md
  .changeset/scroll-restore-options-svelte.md
  .changeset/scroll-restore-options-vue.md
  packages/angular/README.md
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/angular/tests/functional/scroll-restore.test.ts
  packages/dom-utils/tests/functional/scroll-restore.test.ts
  packages/preact/README.md
  packages/preact/src/RouterProvider.tsx
  packages/preact/tests/functional/RouterProvider.scroll.test.tsx
  packages/react/README.md
  packages/react/src/RouterProvider.tsx
  packages/react/tests/functional/RouterProvider.scroll.test.tsx
  packages/solid/README.md
  packages/svelte/README.md
  packages/svelte/src/RouterProvider.svelte
  packages/vue/README.md
  packages/vue/src/RouterProvider.ts
  packages/vue/tests/functional/RouterProvider.scroll.test.ts
  shared/dom-utils/scroll-restore.ts
Due: react

feat: scroll-restoration React example for #534 — 24 e2e tests across 7 scenarios
  examples/web/react/scroll-restoration/README.md
  examples/web/react/scroll-restoration/e2e/scroll-restoration.spec.ts
  examples/web/react/scroll-restoration/index.html
  examples/web/react/scroll-restoration/package.json
  examples/web/react/scroll-restoration/playwright.config.ts
  examples/web/react/scroll-restoration/src/App.tsx
  examples/web/react/scroll-restoration/src/components/BehaviorToggle.tsx
  examples/web/react/scroll-restoration/src/components/DirectionBadge.tsx
  examples/web/react/scroll-restoration/src/components/ModeToggle.tsx
  examples/web/react/scroll-restoration/src/components/ProgrammaticReloadDemo.tsx
  examples/web/react/scroll-restoration/src/components/ReplaceDemo.tsx
  examples/web/react/scroll-restoration/src/components/ScrollMeter.tsx
  examples/web/react/scroll-restoration/src/main.tsx
  examples/web/react/scroll-restoration/src/pages/Article.tsx
  examples/web/react/scroll-restoration/src/pages/Articles.tsx
  examples/web/react/scroll-restoration/src/pages/Documentation.tsx
  examples/web/react/scroll-restoration/src/pages/Gallery.tsx
  examples/web/react/scroll-restoration/src/pages/Home.tsx
  examples/web/react/scroll-restoration/src/pages/Settings.tsx
  examples/web/react/scroll-restoration/src/routes.ts
  examples/web/react/scroll-restoration/src/styles.css
  examples/web/react/scroll-restoration/src/vite-env.d.ts
  examples/web/react/scroll-restoration/tsconfig.json
  examples/web/react/scroll-restoration/vite.config.ts
  pnpm-lock.yaml
Due: none

release: version packages (#123 #37 #42 #534)
  .changeset/scroll-restore-options-angular.md
  .changeset/scroll-restore-options-preact.md
  .changeset/scroll-restore-options-react.md
  .changeset/scroll-restore-options-solid.md
  .changeset/scroll-restore-options-svelte.md
  .changeset/scroll-restore-options-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #534) (#570)
  .changeset/scroll-restore-options-angular.md
  .changeset/scroll-restore-options-preact.md
  .changeset/scroll-restore-options-react.md
  .changeset/scroll-restore-options-solid.md
  .changeset/scroll-restore-options-svelte.md
  .changeset/scroll-restore-options-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none
