Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

fix(react): remove `useIsActiveRoute` from public API (#280) (#281)
  .changeset/remove-useisactiveroute-export.md
  packages/react/ARCHITECTURE.md
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/legacy-entry.test.tsx
Due: react

release: version packages (#123 #280 #37 #42)
  .changeset/remove-useisactiveroute-export.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#123 #280 #37 #42) (#282)
  .changeset/remove-useisactiveroute-export.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

chore: bump knip, syncpack, and turbo
  package.json
  pnpm-lock.yaml
Due: none

chore: bump stryker-mutator packages
  package.json
  pnpm-lock.yaml
Due: none

chore: fix codecov
  .github/workflows/ci.yml
  README.md
  codecov.yml
  pnpm-lock.yaml
Due: none

chore: fix codecov
  .github/workflows/ci.yml
Due: none

feat(react)!: remove raw Context exports from public API (#283)
  .changeset/remove-raw-context-exports.md
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/RouterProvider.test.tsx
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/integration/RouterProvider.test.tsx
  packages/react/tests/performance/RouterProvider.test.tsx
Due: react

fix: update danger to 13.0.7 and pin http-proxy-agent to 7.0.2
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(react)!: remove raw Context exports from public API (#299)
  .changeset/remove-raw-context-exports.md
  package.json
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/RouterProvider.test.tsx
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/integration/RouterProvider.test.tsx
  packages/react/tests/performance/RouterProvider.test.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: react

release: version packages (#123 #283 #37 #42)
  .changeset/remove-raw-context-exports.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#123 #283 #37 #42) (#300)
  .changeset/remove-raw-context-exports.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

refactor(sources): deduplicate all sources via BaseSource composition (#287)
  .changeset/sources-base-source-refactor.md
  commitlint.config.mjs
  packages/sources/src/BaseSource.ts
  packages/sources/src/createActiveRouteSource.ts
  packages/sources/src/createRouteNodeSource.ts
  packages/sources/src/createRouteSource.ts
  packages/sources/src/createTransitionSource.ts
Due: none

refactor(sources): deduplicate all sources via BaseSource composition (#301)
  .changeset/sources-base-source-refactor.md
  commitlint.config.mjs
  packages/sources/src/BaseSource.ts
  packages/sources/src/createActiveRouteSource.ts
  packages/sources/src/createRouteNodeSource.ts
  packages/sources/src/createRouteSource.ts
  packages/sources/src/createTransitionSource.ts
Due: none

release: version packages (#123 #287 #37 #42)
  .changeset/sources-base-source-refactor.md
  CHANGELOG.md
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

release: version packages (#123 #287 #37 #42) (#302)
  .changeset/sources-base-source-refactor.md
  CHANGELOG.md
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

docs: update imports in documentation to use `@real-router/core/api` subpath
  ARCHITECTURE.md
  packages/browser-plugin/README.md
  packages/hash-plugin/README.md
  packages/route-utils/README.md
Due: none

release: version packages (#123 #297 #37 #42)
  .changeset/core-api-subpath.md
  CHANGELOG.md
  package.json
  packages/browser-env/CHANGELOG.md
  packages/browser-env/package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

release: version packages (#123 #297 #37 #42) (#304)
  .changeset/core-api-subpath.md
  CHANGELOG.md
  package.json
  packages/browser-env/CHANGELOG.md
  packages/browser-env/package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

fix(react): replace use() with useContext() for React 18 compatibility (#288)
  .changeset/react-use-context-fix.md
  packages/react/src/hooks/useNavigator.tsx
  packages/react/src/hooks/useRoute.tsx
  packages/react/src/hooks/useRouter.tsx
Due: react

fix(react): replace use() with useContext() for React 18 compatibility (#305)
  .changeset/react-use-context-fix.md
  packages/react/src/hooks/useNavigator.tsx
  packages/react/src/hooks/useRoute.tsx
  packages/react/src/hooks/useRouter.tsx
Due: react

release: version packages (#123 #288 #37 #42)
  .changeset/react-use-context-fix.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#123 #288 #37 #42) (#306)
  .changeset/react-use-context-fix.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(core): reentrancy-aware #currentToState cleanup in EventBusNamespace (#308)
  .changeset/reentrant-navigate-currenttostate-fix.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/navigation/navigate/reentrant-currentToState-wipe.test.ts
Due: core

chore: limit turbo concurrency to 4 to prevent OOM on uncached runs
  turbo.json
Due: none

chore: limit turbo concurrency to 4 to prevent OOM on uncached runs
  IMPLEMENTATION_NOTES.md
Due: none

fix(core): reentrancy-aware #currentToState cleanup in EventBusNamespace (#308) (#309)
  .changeset/reentrant-navigate-currenttostate-fix.md
  IMPLEMENTATION_NOTES.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/navigation/navigate/reentrant-currentToState-wipe.test.ts
  turbo.json
Due: core

release: version packages (#123 #308 #37 #42)
  .changeset/reentrant-navigate-currenttostate-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #308 #37 #42) (#310)
  .changeset/reentrant-navigate-currenttostate-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

chore: configurable router selection in bench-compare.sh
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/package.json
Due: none

perf(core)!: optimistic sync navigate — eliminate async overhead for sync guards (#307)
  packages/browser-plugin/tests/functional/security.test.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/buildSuccessState.ts
  packages/core/src/namespaces/NavigationNamespace/transition/errorHandling.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleGuards.ts
  packages/core/src/namespaces/NavigationNamespace/transition/guardPhase.ts
  packages/core/src/namespaces/NavigationNamespace/transition/index.ts
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigate/reentrant-currentToState-wipe.test.ts
  packages/core/tests/functional/navigation/navigate/transitions-and-cancellation.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/core/tests/property/transitionSegments.properties.ts
  packages/core/tests/stress/fsm-transitions-stress.stress.ts
  packages/logger-plugin/tests/functional/plugin.test.ts
Due: core

perf(core): merge state construction into single buildNavigateState call (Strategy B+C)
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

perf(core): single-pass freeze chain in buildSuccessState (Strategy E1)
  packages/core/src/namespaces/NavigationNamespace/transition/buildSuccessState.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/react/eslint.config.mjs
Due: core

perf(core,fsm): reduce navigate() allocations — Steps 1-2 (N10, N1+N2, F1-F5, N15, N16)
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/transitionPath.ts
  packages/fsm/src/fsm.ts
  packages/router-benchmarks/src/isolated-navigate.ts
Due: core

perf(core): reduce navigate() allocations — Step 3 (N8+N9, F6, N4+N5+N6)
  packages/core/src/api/getPluginApi.ts
  packages/core/src/fsm/routerFSM.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/buildSuccessState.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

perf(core,event-emitter): reduce navigate() allocations — Step 4 (N13, N14, E2)
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/event-emitter/src/EventEmitter.ts
  packages/event-emitter/tests/functional/event-emitter.test.ts
Due: core

chore(router-benchmarks): add isolated navigate benchmark + fix lint
  packages/react/eslint.config.mjs
  packages/router-benchmarks/src/isolated-navigate.ts
Due: none
