Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

test(core): the State census reads every cast spelling (#2009) + the brand's cast-count records (#1968) + the return side of the transition guarantee (#1976) (#2014)
  .changeset/canonical-brand-cast-count-1968-fix.md
  packages/core/src/pipeline/CLAUDE.md
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/types.ts
  packages/core/tests/functional/canonical-brand-authority-1968.test.ts
  packages/core/tests/functional/state-freeze-authority.test.ts
  packages/core/tests/functional/state/handed-out-transition-1976.test.ts
Due: core

release: version packages (#1968)
  .changeset/canonical-brand-cast-count-1968-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1968) (#2016)
  .changeset/canonical-brand-cast-count-1968-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

docs(core/navigation-plugin): only `replace` is auto-modified — the parenthetical covered all three (#1983)
  packages/core/CLAUDE.md
  packages/navigation-plugin/CLAUDE.md
Due: none

docs(core): three shipped statements corrected, and the behavioural one pinned (#1983)
  .changeset/shipped-statements-1983-docs.md
  packages/core/CLAUDE.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/types/index.ts
  packages/core/tests/functional/routes/shouldUpdateNode.test.ts
Due: core

refactor(core): the trailingSlash narrowing has one home again (#1980)
  .changeset/trailing-slash-projection-1980-refactor.md
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
Due: core

fix(core): the trailingSlash narrowing shares a RULE, not a cache (#1980)
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/routes/buildPath.test.ts
Due: core

docs(core/adapters): everything the vector sweep found, including four claims of my own (#1983 #1980)
  .changeset/shipped-statements-1983-docs.md
  .changeset/trailing-slash-projection-1980-refactor.md
  .changeset/userouteenter-redirected-doc-preact.md
  .changeset/userouteenter-redirected-doc-react.md
  .changeset/userouteenter-redirected-doc-solid.md
  .changeset/userouteenter-redirected-doc-vue.md
  IMPLEMENTATION_NOTES.md
  packages/core/CLAUDE.md
  packages/core/src/types/index.ts
  packages/core/src/types/router.ts
  packages/core/tests/functional/navigation/navigate/navigation-options.test.ts
  packages/core/tests/functional/routes/shouldUpdateNode.test.ts
  packages/navigation-plugin/CLAUDE.md
  packages/preact/src/hooks/useRouteEnter.tsx
  packages/react/src/hooks/useRouteEnter.tsx
  packages/solid/src/hooks/useRouteEnter.tsx
  packages/vue/src/composables/useRouteEnter.ts
Due: core, react

docs(core/adapters): my refutation was wrong — `trailingSlash: "strict"` really does commit an unmatchable path (#1983 #1980 #2017)
  .changeset/userouteenter-redirected-doc-preact.md
  .changeset/userouteenter-redirected-doc-react.md
  .changeset/userouteenter-redirected-doc-solid.md
  .changeset/userouteenter-redirected-doc-vue.md
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/types/index.ts
  packages/core/src/types/router.ts
  packages/preact/src/hooks/useRouteEnter.tsx
  packages/react/src/hooks/useRouteEnter.tsx
  packages/solid/src/hooks/useRouteEnter.tsx
  packages/vue/src/composables/useRouteEnter.ts
Due: core, react

test(core): close the three axes the last pass left unpinned (#1983 #1980)
  packages/core/tests/functional/navigation/navigate/navigation-options.test.ts
  packages/core/tests/functional/routes/buildPath.test.ts
Due: none

test(core): the correction was wrong too — two core-owned arcs, not three, and #2017's radius is wrong in both directions
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/navigation/navigate/navigation-options.test.ts
Due: core

chore: fix lint bugs
  packages/core/tests/functional/routes/shouldUpdateNode.test.ts
Due: none

docs(core): four shipped statements corrected, with the behavioural ones pinned (#1983) + the trailingSlash narrowing has one home (#1980) (#2019)
  .changeset/shipped-statements-1983-docs.md
  .changeset/trailing-slash-projection-1980-refactor.md
  .changeset/userouteenter-redirected-doc-preact.md
  .changeset/userouteenter-redirected-doc-react.md
  .changeset/userouteenter-redirected-doc-solid.md
  .changeset/userouteenter-redirected-doc-vue.md
  IMPLEMENTATION_NOTES.md
  packages/core/CLAUDE.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/types/index.ts
  packages/core/src/types/router.ts
  packages/core/tests/functional/navigation/navigate/navigation-options.test.ts
  packages/core/tests/functional/routes/buildPath.test.ts
  packages/core/tests/functional/routes/shouldUpdateNode.test.ts
  packages/navigation-plugin/CLAUDE.md
  packages/preact/src/hooks/useRouteEnter.tsx
  packages/react/src/hooks/useRouteEnter.tsx
  packages/solid/src/hooks/useRouteEnter.tsx
  packages/vue/src/composables/useRouteEnter.ts
Due: core, react

release: version packages (#1550 #1551 #1980 #1983)
  .changeset/shipped-statements-1983-docs.md
  .changeset/trailing-slash-projection-1980-refactor.md
  .changeset/userouteenter-redirected-doc-preact.md
  .changeset/userouteenter-redirected-doc-react.md
  .changeset/userouteenter-redirected-doc-solid.md
  .changeset/userouteenter-redirected-doc-vue.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#1550 #1551 #1980 #1983) (#2022)
  .changeset/shipped-statements-1983-docs.md
  .changeset/trailing-slash-projection-1980-refactor.md
  .changeset/userouteenter-redirected-doc-preact.md
  .changeset/userouteenter-redirected-doc-react.md
  .changeset/userouteenter-redirected-doc-solid.md
  .changeset/userouteenter-redirected-doc-vue.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

fix(core): withoutUnsafeKey copies descriptors, so sanitising invokes no accessor (#1986)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  packages/core/src/helpers.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: core

fix(core): sanitise at the innermost `next`, where the reported shape actually lives (#1986)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  packages/core/src/Router.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: core

fix(core): forwardState no longer hands back a container that swaps a merge target (#1986)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: core

fix(core): close the forwardState seam BETWEEN interceptors (#1986)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: core

fix(core): retract the render-path claim, correct the mutation record, pin the chain limit (#1986)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/helpers.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: core

fix(core): revert the descriptor copy, guard the absent slot, correct the doors it names (#1986)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  packages/core/src/Router.ts
  packages/core/src/helpers.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: core

fix(core): isActiveRoute asks about the location, not state identity (#1978)
  .changeset/isactiveroute-1978-fix.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/chain-walk-authority.test.ts
  packages/core/tests/functional/is-active-route-scope-authority-1978.test.ts
  packages/core/tests/functional/routes/isActiveRoute.test.ts
  packages/core/tests/functional/utils.test.ts
  packages/core/tests/property/isActiveRoute.properties.ts
  packages/core/tests/stress/is-active-route-stress.stress.ts
  packages/react/tests/functional/dom-utils/link-utils.test.ts
  packages/solid/tests/functional/link-directive.test.tsx
Due: core

fix(core): forwardState no longer hands out a container that swaps a merge target (#1986) (#2024)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/helpers.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: core

release: version packages (#1957 #1986)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1957 #1986) (#2026)
  .changeset/forwardstate-passthrough-sanitise-1986-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(core): isActiveRoute asks about the location, not state identity (#1978) (#2025)
  .changeset/isactiveroute-1978-fix.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/chain-walk-authority.test.ts
  packages/core/tests/functional/is-active-route-scope-authority-1978.test.ts
  packages/core/tests/functional/routes/isActiveRoute.test.ts
  packages/core/tests/functional/utils.test.ts
  packages/core/tests/property/isActiveRoute.properties.ts
  packages/core/tests/stress/is-active-route-stress.stress.ts
  packages/react/tests/functional/dom-utils/link-utils.test.ts
  packages/solid/tests/functional/link-directive.test.tsx
Due: core

release: version packages (#1925 #1978)
  .changeset/isactiveroute-1978-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1925 #1978) (#2027)
  .changeset/isactiveroute-1978-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(core): a clone inherits the limit KEY SET its base was built with (#1961)
  .changeset/clone-limits-key-set-1961-fix.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/limits-read-once-1875.test.ts
Due: core

fix(dom-utils): <Link hash> keeps the query it was told was unchanged (#1925)
  .changeset/link-hash-query-1925-angular-fix.md
  .changeset/link-hash-query-1925-preact-fix.md
  .changeset/link-hash-query-1925-react-fix.md
  .changeset/link-hash-query-1925-solid-fix.md
  .changeset/link-hash-query-1925-svelte-fix.md
  .changeset/link-hash-query-1925-vue-fix.md
  packages/angular/src/dom-utils/link-utils.ts
  packages/preact/tests/property/navigateWithHash.properties.ts
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/functional/dom-utils/link-utils.test.ts
  packages/react/tests/property/navigateWithHash.properties.ts
  packages/svelte/tests/property/navigateWithHash.properties.ts
  packages/vue/tests/property/navigateWithHash.properties.ts
  shared/dom-utils/CLAUDE.md
  shared/dom-utils/link-utils.ts
Due: none

fix(core): a clone inherits the limit KEY SET its base was built with (#1961) (#2028)
  .changeset/clone-limits-key-set-1961-fix.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/limits-read-once-1875.test.ts
Due: core

release: version packages (#1880 #1958 #1961)
  .changeset/clone-limits-key-set-1961-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1880 #1958 #1961) (#2030)
  .changeset/clone-limits-key-set-1961-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

test(angular): pin the #1925 bypass in the coverage-measured copy
  packages/angular/tests/functional/dom-utils-integration.test.ts
Due: none

fix(dom-utils): <Link hash> keeps the query it was told was unchanged (#1925) (#2029)
  .changeset/link-hash-query-1925-angular-fix.md
  .changeset/link-hash-query-1925-preact-fix.md
  .changeset/link-hash-query-1925-react-fix.md
  .changeset/link-hash-query-1925-solid-fix.md
  .changeset/link-hash-query-1925-svelte-fix.md
  .changeset/link-hash-query-1925-vue-fix.md
  packages/angular/src/dom-utils/link-utils.ts
  packages/angular/tests/functional/dom-utils-integration.test.ts
  packages/preact/tests/property/navigateWithHash.properties.ts
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/functional/dom-utils/link-utils.test.ts
  packages/react/tests/property/navigateWithHash.properties.ts
  packages/svelte/tests/property/navigateWithHash.properties.ts
  packages/vue/tests/property/navigateWithHash.properties.ts
  shared/dom-utils/CLAUDE.md
  shared/dom-utils/link-utils.ts
Due: none

release: version packages (#1925)
  .changeset/link-hash-query-1925-angular-fix.md
  .changeset/link-hash-query-1925-preact-fix.md
  .changeset/link-hash-query-1925-react-fix.md
  .changeset/link-hash-query-1925-solid-fix.md
  .changeset/link-hash-query-1925-svelte-fix.md
  .changeset/link-hash-query-1925-vue-fix.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#1925) (#2031)
  .changeset/link-hash-query-1925-angular-fix.md
  .changeset/link-hash-query-1925-preact-fix.md
  .changeset/link-hash-query-1925-react-fix.md
  .changeset/link-hash-query-1925-solid-fix.md
  .changeset/link-hash-query-1925-svelte-fix.md
  .changeset/link-hash-query-1925-vue-fix.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

test(core): the computed-key-write authority reaches every package's src (#1901)
  packages/core/CLAUDE.md
  packages/core/tests/functional/computed-key-write-authority-1852.test.ts
Due: none

docs(core): a drifting queryParams fails the clone only when it drifts INVALID (#2032)
  packages/core/INVARIANTS.md
  packages/core/tests/functional/state/query-strategy-formats-1796.test.ts
Due: none

fix(core): add's TREE_CHANGED payload names the route the tree took (#1931)
  .changeset/add-payload-from-snapshot-1931-fix.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/tests/functional/events/tree-changed.test.ts
  packages/core/tests/functional/read-count-authority.test.ts
Due: core
