Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

fix(react): update Batch 1 tests to use async router API
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/functional/RouterProvider.test.tsx
  packages/react/tests/functional/useRoute.test.tsx
  packages/react/tests/functional/useRouterSubscription.test.tsx
Due: none

fix(react): update useRouteNode tests to use async router API (partial)
  packages/react/tests/functional/useRouteNode.test.tsx
Due: none

fix(react): update integration tests to use async router API
  packages/react/tests/integration/RouterProvider.test.tsx
  packages/react/tests/integration/useRouteNode.test.tsx
Due: none

fix(react): update performance tests to use async router API
  packages/react/tests/performance/BaseLink.test.tsx
  packages/react/tests/performance/RouterProvider.test.tsx
  packages/react/tests/performance/useRoute.test.tsx
  packages/react/tests/performance/useRouteNode.test.tsx
Due: none

docs: update README.md and ARCHITECTURE.md for Promise-based navigation API
  ARCHITECTURE.md
  ASYNC_NAVIGATE_TIMER_FIX.md
  BOULDER_COMPLETION_REPORT.md
  COMPLETION_REPORT.md
  README.md
  WORK_COMPLETE_VERIFICATION.md
Due: none

docs: remove tmp files
  .TODO_COMPLETE
  README_PROMISE_API.md
  TODO_STATUS.json
Due: none

refactor(core): re-enable ESLint rules and fix cognitive complexity
  packages/core/eslint.config.mjs
  packages/core/src/namespaces/NavigationNamespace/transition/executeLifecycleHooks.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeMiddleware.ts
  packages/core/src/namespaces/NavigationNamespace/transition/makeError.ts
  packages/core/src/namespaces/NavigationNamespace/transition/processLifecycleResult.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/tests/benchmarks/index.ts
  packages/core/tests/functional/middleware.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-callback.test.ts
  packages/core/tests/functional/navigation/navigate/guards-can-deactivate.test.ts
  packages/core/tests/functional/navigation/navigate/guards-cannot-redirect.test.ts
  packages/core/tests/functional/navigation/navigate/transitions-and-cancellation.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/navigation/navigateToState.test.ts
  packages/core/tests/functional/observable/addEventListener.test.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/functional/routerLifecycle/start/arguments-validation.test.ts
  packages/core/tests/functional/routerLifecycle/start/error-handling.test.ts
  packages/core/tests/functional/routerLifecycle/start/path-string-scenarios.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/core/tests/functional/routes/routeTree/clearRoutes.test.ts
  packages/core/tests/functional/ssr/race-conditions.test.ts
  packages/core/tests/functional/transition/executeLifecycleHooks.test.ts
Due: core

fix: fix sonar warnings
  ARCHITECTURE.md
  packages/react/src/components/BaseLink.tsx
Due: react

release: version packages (#37 #45)
  .changeset/promise-navigation-browser-plugin.md
  .changeset/promise-navigation-core.md
  .changeset/promise-navigation-react.md
  .changeset/promise-navigation-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#37 #45) (#95)
  .changeset/promise-navigation-browser-plugin.md
  .changeset/promise-navigation-core.md
  .changeset/promise-navigation-react.md
  .changeset/promise-navigation-types.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

fix: override qs to >=6.14.2 to resolve CVE-2026-2391
  package.json
  pnpm-lock.yaml
Due: none

fix: route `forwardState` through facade in `matchPath` for plugin interception
  .changeset/matchpath-forwardstate-fix.md
  packages/browser-plugin/src/index.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/browser-plugin/tests/functional/utils.test.ts
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/persistent-params-plugin/tests/functional/plugin.test.ts
Due: core

docs: add issue references and improve changeset formatting (#90)
  .changeset/matchpath-forwardstate-fix.md
  .changeset/start-path-required-browser-plugin.md
  .changeset/start-path-required-core.md
Due: none

chore: invalidate turbo cache for browser-plugin
  packages/browser-plugin/src/plugin.ts
Due: browser-plugin

fix(ci): rewrite lcov paths for SonarCloud coverage mapping
  .github/workflows/ci.yml
Due: none

release: version packages (#37 #90)
  .changeset/matchpath-forwardstate-fix.md
  .changeset/start-path-required-browser-plugin.md
  .changeset/start-path-required-core.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

release: version packages (#37 #90) (#97)
  .changeset/matchpath-forwardstate-fix.md
  .changeset/start-path-required-browser-plugin.md
  .changeset/start-path-required-core.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

feat!: remove getOption() method (#92)
  .changeset/remove-getoption.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/OptionsNamespace/OptionsNamespace.ts
  packages/core/src/namespaces/OptionsNamespace/helpers.ts
  packages/core/src/namespaces/OptionsNamespace/index.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/index.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/options.test.ts
Due: core

fix: react adapter version
  packages/react/package.json
Due: none

feat!: remove getOption() method (#92) (#98)
  .changeset/remove-getoption.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/OptionsNamespace/OptionsNamespace.ts
  packages/core/src/namespaces/OptionsNamespace/helpers.ts
  packages/core/src/namespaces/OptionsNamespace/index.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/index.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/options.test.ts
  packages/react/package.json
Due: core

release: version packages (#37 #92)
  .changeset/remove-getoption.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

release: version packages (#37 #92) (#99)
  .changeset/remove-getoption.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

feat!: remove clearMiddleware() method (#91)
  .changeset/remove-clear-middleware.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/tests/functional/middleware.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-success.test.ts
  packages/core/tests/functional/navigation/navigate/route-not-found.test.ts
  packages/core/tests/functional/navigation/navigate/router-not-started.test.ts
  packages/core/tests/functional/navigation/navigate/transitions-and-cancellation.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/core/tests/functional/routerLifecycle/start/error-handling.test.ts
  packages/logger-plugin/tests/functional/plugin.test.ts
Due: core

feat!: remove clearMiddleware() method (#91) (#100)
  .changeset/remove-clear-middleware.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/tests/functional/middleware.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-success.test.ts
  packages/core/tests/functional/navigation/navigate/route-not-found.test.ts
  packages/core/tests/functional/navigation/navigate/router-not-started.test.ts
  packages/core/tests/functional/navigation/navigate/transitions-and-cancellation.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/core/tests/functional/routerLifecycle/start/error-handling.test.ts
  packages/logger-plugin/tests/functional/plugin.test.ts
Due: core

release: version packages (#37 #91)
  .changeset/remove-clear-middleware.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

release: version packages (#37 #91) (#101)
  .changeset/remove-clear-middleware.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

refactor(route-tree): ban dots in route names, remove dot-notation parsing
  packages/route-tree/src/builder/buildTree.ts
  packages/route-tree/src/validation/route-batch.ts
Due: route-tree

feat(core): add { parent } option to addRoute for explicit route nesting
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
Due: core

test: update tests for dot-notation removal, add { parent } option tests
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/tests/benchmarks/observable/eventListenerManagement.bench.ts
  packages/core/tests/functional/createRouter.test.ts
  packages/core/tests/functional/navigation/navigate/auto-cleanup.test.ts
  packages/core/tests/functional/navigation/navigate/unknown-route.test.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/functional/routeLifecycle/removeGuard.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/logger-plugin/tests/functional/plugin.test.ts
  packages/route-tree/tests/benchmarks/add.bench.ts
  packages/route-tree/tests/functional/builder.test.ts
  packages/route-tree/tests/functional/operations/create-route-tree.test.ts
  packages/route-tree/tests/functional/validation-route-batch.test.ts
Due: core

docs: update examples for dot-notation removal, add changeset
  .changeset/deprecate-dot-notation.md
  README.md
  packages/core/README.md
  packages/react/README.md
  packages/route-tree/README.md
Due: none

chore: fix changeset, bump route-tree to 0.3.0 (#93)
  .changeset/deprecate-dot-notation.md
  packages/route-tree/CHANGELOG.md
  packages/route-tree/package.json
Due: none

refactor(core): move parent existence check to validator, fix v8 ignore scope
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
Due: core

feat!: remove dot-notation from route names, add { parent } option to addRoute (#93) (#102)
  .changeset/deprecate-dot-notation.md
  README.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/tests/benchmarks/observable/eventListenerManagement.bench.ts
  packages/core/tests/functional/createRouter.test.ts
  packages/core/tests/functional/navigation/navigate/auto-cleanup.test.ts
  packages/core/tests/functional/navigation/navigate/unknown-route.test.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/functional/routeLifecycle/removeGuard.test.ts
  packages/core/tests/functional/routes/routeTree/addRoute.test.ts
  packages/logger-plugin/tests/functional/plugin.test.ts
  packages/react/README.md
  packages/route-tree/CHANGELOG.md
  packages/route-tree/README.md
  packages/route-tree/package.json
  packages/route-tree/src/builder/buildTree.ts
  packages/route-tree/src/validation/route-batch.ts
  packages/route-tree/tests/benchmarks/add.bench.ts
  packages/route-tree/tests/functional/builder.test.ts
  packages/route-tree/tests/functional/operations/create-route-tree.test.ts
  packages/route-tree/tests/functional/validation-route-batch.test.ts
Due: core, route-tree

release: version packages (#37 #93)
  .changeset/deprecate-dot-notation.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

release: version packages (#37 #93) (#103)
  .changeset/deprecate-dot-notation.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/helpers/CHANGELOG.md
  packages/helpers/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
Due: none

refactor(config): replace eslint-plugin-vitest-globals with @vitest/eslint-plugin
  eslint.config.mjs
  package.json
  packages/react/eslint.config.mjs
  packages/rx/.eslintrc.json
  pnpm-lock.yaml
Due: none
