Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

fix(vue): RouterErrorBoundary mounted after an error shows the fallback (#778 P2)
  .changeset/vue-boundary-pre-mount-error-778-fix.md
  packages/vue/src/RouterProvider.ts
  packages/vue/tests/functional/reactive-lifecycle.test.ts
Due: none

fix(svelte): RouterErrorBoundary mounted after an error shows the fallback (#778 P2)
  .changeset/svelte-boundary-pre-mount-error-778-fix.md
  packages/svelte/src/RouterProvider.svelte
  packages/svelte/tests/functional/reactive-lifecycle.test.ts
  packages/svelte/tests/helpers/GatedErrorBoundary.svelte
Due: none

fix(solid): RouterErrorBoundary mounted after an error shows the fallback (#778 P2)
  .changeset/solid-boundary-pre-mount-error-778-fix.md
  packages/solid/src/RouterProvider.tsx
  packages/solid/tests/functional/reactive-lifecycle.test.tsx
Due: none

fix(angular): RouterErrorBoundary instantiated after an error shows the error (#778 P2)
  .changeset/angular-boundary-pre-mount-error-778-fix.md
  packages/angular/src/providers.ts
  packages/angular/tests/functional/reactive-lifecycle.test.ts
Due: none

fix(778): prime the error source tolerantly so RouterProvider never crashes on a non-registered router
  .changeset/sources-prime-error-source-778.md
  packages/angular/src/providers.ts
  packages/preact/src/RouterProvider.tsx
  packages/react/src/RouterProvider.tsx
  packages/solid/src/RouterProvider.tsx
  packages/sources/src/createErrorSource.ts
  packages/sources/src/index.ts
  packages/sources/tests/unit/createErrorSource.test.ts
  packages/svelte/src/RouterProvider.svelte
  packages/vue/src/RouterProvider.ts
Due: react

docs(sources): document primeErrorSource in the factory table (#778)
  packages/sources/CLAUDE.md
Due: none

fix(#778): RouterErrorBoundary sees a pre-mount navigation error (P2, all 6 adapters) (#1022)
  .changeset/angular-boundary-pre-mount-error-778-fix.md
  .changeset/preact-boundary-pre-mount-error-778-fix.md
  .changeset/react-boundary-pre-mount-error-778-fix.md
  .changeset/solid-boundary-pre-mount-error-778-fix.md
  .changeset/sources-prime-error-source-778.md
  .changeset/svelte-boundary-pre-mount-error-778-fix.md
  .changeset/vue-boundary-pre-mount-error-778-fix.md
  packages/angular/src/providers.ts
  packages/angular/tests/functional/reactive-lifecycle.test.ts
  packages/preact/src/RouterProvider.tsx
  packages/preact/tests/integration/reactive-lifecycle.test.tsx
  packages/react/src/RouterProvider.tsx
  packages/react/tests/integration/reactive-lifecycle.test.tsx
  packages/solid/src/RouterProvider.tsx
  packages/solid/tests/functional/reactive-lifecycle.test.tsx
  packages/sources/CLAUDE.md
  packages/sources/src/createErrorSource.ts
  packages/sources/src/index.ts
  packages/sources/tests/unit/createErrorSource.test.ts
  packages/svelte/src/RouterProvider.svelte
  packages/svelte/tests/functional/reactive-lifecycle.test.ts
  packages/svelte/tests/helpers/GatedErrorBoundary.svelte
  packages/vue/src/RouterProvider.ts
  packages/vue/tests/functional/reactive-lifecycle.test.ts
Due: react

release: version packages (#123 #37 #42 #765 #778)
  .changeset/angular-boundary-pre-mount-error-778-fix.md
  .changeset/preact-boundary-pre-mount-error-778-fix.md
  .changeset/react-boundary-pre-mount-error-778-fix.md
  .changeset/solid-boundary-pre-mount-error-778-fix.md
  .changeset/sources-prime-error-source-778.md
  .changeset/svelte-boundary-pre-mount-error-778-fix.md
  .changeset/vue-boundary-pre-mount-error-778-fix.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/dom-utils/CHANGELOG.md
  packages/dom-utils/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #765 #778) (#1023)
  .changeset/angular-boundary-pre-mount-error-778-fix.md
  .changeset/preact-boundary-pre-mount-error-778-fix.md
  .changeset/react-boundary-pre-mount-error-778-fix.md
  .changeset/solid-boundary-pre-mount-error-778-fix.md
  .changeset/sources-prime-error-source-778.md
  .changeset/svelte-boundary-pre-mount-error-778-fix.md
  .changeset/vue-boundary-pre-mount-error-778-fix.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/dom-utils/CHANGELOG.md
  packages/dom-utils/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

fix(core): never-settling async guard no longer hangs navigate() (#1018)
  .changeset/curvy-guards-unblock.md
  packages/core/CLAUDE.md
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/stress/never-settle-guard.stress.ts
  packages/preact/tests/functional/useRouterTransition.test.tsx
  packages/preact/tests/stress/transition-hook-stress.stress.tsx
  packages/react/tests/functional/useRouterTransition.test.tsx
  packages/react/tests/performance/useRouterTransition.test.tsx
  packages/react/tests/stress/transition-hook-stress.stress.tsx
  packages/solid/tests/stress/transition-hook-stress.stress.tsx
  packages/sources/tests/property/transitionSource.properties.ts
  packages/sources/tests/unit/createTransitionSource.test.ts
  packages/svelte/tests/stress/transition-hook-stress.stress.ts
Due: core

test(core): drop non-essential microtask flushes in #1018 abort-signal tests
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
Due: none

fix: dedup no-params Link active-route source across all 6 adapters (#776)
  .changeset/angular-link-active-source-776-fix.md
  .changeset/preact-link-active-source-776-fix.md
  .changeset/react-link-active-source-776-fix.md
  .changeset/solid-link-active-source-776-fix.md
  .changeset/svelte-link-active-source-776-fix.md
  .changeset/vue-link-active-source-776-fix.md
  packages/angular/README.md
  packages/angular/src/directives/RealLink.ts
  packages/angular/src/directives/RealLinkActive.ts
  packages/angular/src/internal/createStableParams.ts
  packages/angular/tests/functional/directives.test.ts
  packages/preact/src/components/Link.tsx
  packages/preact/tests/functional/Link.test.tsx
  packages/react/src/components/InkLink.tsx
  packages/react/src/components/Link.tsx
  packages/react/tests/functional/InkLink.test.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/solid/src/components/Link.tsx
  packages/solid/tests/functional/Link.test.tsx
  packages/sources/CLAUDE.md
  packages/svelte/README.md
  packages/svelte/src/components/Link.svelte
  packages/svelte/tests/functional/Link.test.ts
  packages/vue/src/components/Link.ts
  packages/vue/tests/functional/Link.test.ts
Due: react

fix(core): never-settling async guard no longer hangs navigate() (#1018) (#1021)
  .changeset/curvy-guards-unblock.md
  packages/core/CLAUDE.md
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/stress/never-settle-guard.stress.ts
  packages/preact/tests/functional/useRouterTransition.test.tsx
  packages/preact/tests/stress/transition-hook-stress.stress.tsx
  packages/react/tests/functional/useRouterTransition.test.tsx
  packages/react/tests/performance/useRouterTransition.test.tsx
  packages/react/tests/stress/transition-hook-stress.stress.tsx
  packages/solid/tests/stress/transition-hook-stress.stress.tsx
  packages/sources/tests/property/transitionSource.properties.ts
  packages/sources/tests/unit/createTransitionSource.test.ts
  packages/svelte/tests/stress/transition-hook-stress.stress.ts
Due: core

release: version packages (#1018 #123 #37 #42 #663 #673)
  .changeset/curvy-guards-unblock.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1018 #123 #37 #42 #663 #673) (#1025)
  .changeset/curvy-guards-unblock.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

test: align linkUtils Invariant 3 with the §5.4 base-dedup behaviour lock
  packages/preact/tests/property/linkUtils.properties.ts
  packages/react/tests/property/linkUtils.properties.ts
  packages/solid/tests/property/linkUtils.properties.ts
  packages/vue/tests/property/linkUtils.properties.ts
Due: none

chore: sharpen /bugfix skill (one-root-N-call-sites vs batch; behavior-preserving RED)
  .claude/commands/bugfix.md
Due: none

fix: dedup no-params Link active-route source across all 6 adapters (#776) (#1024)
  .changeset/angular-link-active-source-776-fix.md
  .changeset/preact-link-active-source-776-fix.md
  .changeset/react-link-active-source-776-fix.md
  .changeset/solid-link-active-source-776-fix.md
  .changeset/svelte-link-active-source-776-fix.md
  .changeset/vue-link-active-source-776-fix.md
  packages/angular/README.md
  packages/angular/src/directives/RealLink.ts
  packages/angular/src/directives/RealLinkActive.ts
  packages/angular/src/internal/createStableParams.ts
  packages/angular/tests/functional/directives.test.ts
  packages/preact/src/components/Link.tsx
  packages/preact/tests/functional/Link.test.tsx
  packages/preact/tests/property/linkUtils.properties.ts
  packages/react/src/components/InkLink.tsx
  packages/react/src/components/Link.tsx
  packages/react/tests/functional/InkLink.test.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/property/linkUtils.properties.ts
  packages/solid/src/components/Link.tsx
  packages/solid/tests/functional/Link.test.tsx
  packages/solid/tests/property/linkUtils.properties.ts
  packages/sources/CLAUDE.md
  packages/svelte/README.md
  packages/svelte/src/components/Link.svelte
  packages/svelte/tests/functional/Link.test.ts
  packages/vue/src/components/Link.ts
  packages/vue/tests/functional/Link.test.ts
  packages/vue/tests/property/linkUtils.properties.ts
Due: react

release: version packages (#123 #37 #42 #776)
  .changeset/angular-link-active-source-776-fix.md
  .changeset/preact-link-active-source-776-fix.md
  .changeset/react-link-active-source-776-fix.md
  .changeset/solid-link-active-source-776-fix.md
  .changeset/svelte-link-active-source-776-fix.md
  .changeset/vue-link-active-source-776-fix.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #776) (#1026)
  .changeset/angular-link-active-source-776-fix.md
  .changeset/preact-link-active-source-776-fix.md
  .changeset/react-link-active-source-776-fix.md
  .changeset/solid-link-active-source-776-fix.md
  .changeset/svelte-link-active-source-776-fix.md
  .changeset/vue-link-active-source-776-fix.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

test(core): close navigate deep-audit Test-gaps and docs-drift
  packages/core/CLAUDE.md
  packages/core/tests/functional/navigation/navigate/error-state-recovery.test.ts
  packages/core/tests/functional/navigation/navigate/guards-cannot-redirect.test.ts
  packages/core/tests/functional/navigation/navigate/promise-resolve-values.test.ts
  packages/core/tests/property/transitionSegments.properties.ts
  packages/core/tests/stress/event-listener-memory.stress.ts
  packages/core/tests/stress/fsm-transitions-stress.stress.ts
  packages/core/tests/stress/replace-atomicity-stress.stress.ts
Due: none

perf(core): reuse EMPTY_PARAMS for empty-params navigation
  .changeset/empty-params-singleton-reuse.md
  packages/core/CLAUDE.md
  packages/core/src/helpers.ts
  packages/core/tests/functional/navigation/navigate/empty-params-reuse.test.ts
Due: core

perf(core): reuse EMPTY_PARAMS for empty-params navigation (#1028)
  .changeset/empty-params-singleton-reuse.md
  packages/core/CLAUDE.md
  packages/core/src/helpers.ts
  packages/core/tests/functional/navigation/navigate/empty-params-reuse.test.ts
Due: core

release: version packages (#1027 #123 #37 #42)
  .changeset/empty-params-singleton-reuse.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1027 #123 #37 #42) (#1029)
  .changeset/empty-params-singleton-reuse.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

chore(config): analyze working tree in changeset skill when uncommitted
  .claude/commands/changeset.md
Due: none

fix(core): recover FSM on external opts.signal abort
  .changeset/fix-external-signal-fsm-recovery.md
  packages/core/CLAUDE.md
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/functional/navigation/navigate/abort-signal.test.ts
Due: core

feat(types): add REENTRANT_NAVIGATION error code
  .changeset/reentrant-navigation-ban-types.md
  packages/core-types/src/constants.ts
Due: none

feat(core): unify navigation cancellation — ban reentrant navigate, FSM-owned cancel (#1030)
  .changeset/fix-external-signal-fsm-recovery.md
  .changeset/reentrant-navigation-ban-core.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/EventBusNamespace/types.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/leave-approve-integration.test.ts
  packages/core/tests/functional/navigation/fire-and-forget.test.ts
  packages/core/tests/functional/navigation/navigate/async-leave-listeners.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/events-listeners.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-leave-approve.test.ts
  packages/core/tests/functional/navigation/navigate/leave-signal-cancellation.test.ts
  packages/core/tests/functional/navigation/navigate/reentrant-ban.test.ts
  packages/core/tests/functional/navigation/navigate/reentrant-currentToState-wipe.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/core/tests/helpers/index.ts
  packages/core/tests/property/cancellation.properties.ts
  packages/core/tests/property/error/constants.properties.ts
  packages/core/tests/stress/event-depth-stress.stress.ts
  packages/core/tests/stress/fsm-transitions-stress.stress.ts
  packages/core/tests/stress/reentrant-subscribe-leave.stress.ts
  packages/core/tests/stress/subscribe-reentrant.stress.ts
  packages/sources/tests/unit/createTransitionSource.test.ts
Due: core

feat(types): add REENTRANT_TREE_MUTATION error code
  .changeset/reentrant-crud-ban-types.md
  packages/core-types/src/constants.ts
Due: none

feat(core): ban reentrant route-CRUD from subscribeChanges handlers (#1032)
  .changeset/reentrant-crud-ban-core.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/api/helpers.ts
  packages/core/src/constants.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/api/getRoutesApi/replaceRoutes.test.ts
  packages/core/tests/functional/events/reentrant-crud-ban.test.ts
  packages/core/tests/functional/events/tree-changed.test.ts
  packages/core/tests/property/error/constants.properties.ts
Due: core

refactor(core): coalesce re-entrant emits, remove maxEventDepth + RecursionDepthError (#1033)
  .changeset/coalesce-reentrant-emits-core.md
  .changeset/coalesce-reentrant-emits-types.md
  .changeset/coalesce-reentrant-emits-validation.md
  packages/core-types/src/limits.ts
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/RouterError.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/api/getRoutesApi/replaceRoutes.test.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/stress/event-depth-stress.stress.ts
  packages/event-emitter/CLAUDE.md
  packages/event-emitter/src/EventEmitter.ts
  packages/event-emitter/src/index.ts
  packages/event-emitter/src/types.ts
  packages/event-emitter/tests/functional/event-emitter.test.ts
  packages/event-emitter/tests/property/eventEmitter.properties.ts
  packages/event-emitter/tests/property/helpers.ts
  packages/event-emitter/tests/stress/event-emitter.stress.ts
  packages/event-emitter/tests/stress/recursion-recovery.stress.ts
  packages/validation-plugin/INVARIANTS.md
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tests/functional/limits.test.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
  packages/validation-plugin/tests/functional/validators.test.ts
  packages/validation-plugin/tests/property/helpers.ts
  packages/validation-plugin/tests/property/validation.properties.ts
Due: core

refactor(core): consolidate reentrancy/cancellation dispatch-tracking (#1034)
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/event-emitter/src/EventEmitter.ts
  packages/event-emitter/tests/functional/event-emitter.test.ts
Due: core

test(core): close navigate deep-audit test-gaps + #1030 doc/changeset drift
  .changeset/reentrant-navigation-ban-core.md
  .claude/commands/chain-resolve.md
  .claude/commands/debt-map.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/tests/functional/navigation/navigate/async-leave-listeners.test.ts
  packages/core/tests/functional/navigation/navigate/concurrent-navigation.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-callback.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-input-validation.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-params.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-proxy.test.ts
  packages/core/tests/functional/navigation/navigate/error-state-recovery.test.ts
  packages/core/tests/functional/navigation/navigate/route-not-found.test.ts
  packages/core/tests/functional/navigation/navigate/transition-meta.test.ts
  packages/core/tests/functional/navigation/navigate/unknown-route.test.ts
  packages/core/tests/property/empty-params-reuse.properties.ts
  packages/core/tests/stress/abort-signal-stress.stress.ts
  packages/core/tests/stress/never-settle-guard.stress.ts
Due: none

test(ci): cache-bust lcov for core-layer node packages (#470 recurrence)
  vitest.config.common.mts
Due: none

fix(ci): base-test must test the whole core layer, not just core
  .github/workflows/ci.yml
  IMPLEMENTATION_NOTES.md
  scripts/build-matrix.mjs
  vitest.config.common.mts
Due: none

chore(config): analyze working tree in changeset skill when uncommitted
  .claude/commands/chain-resolve.md
Due: none
