Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

test(core): the #1957 table gets a row for the seam's second door (#2087)
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: none

fix(core): the strip the href seam moved off the door belongs at the arc that skips the pipeline (#2087)
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
Due: core

test(browser-env,navigation): pin the base each URL door applies for itself (#2087)
  packages/browser-plugin/tests/functional/replace-history-state-agreement.test.ts
  packages/navigation-plugin/tests/functional/lifecycle.test.ts
  shared/browser-env/plugin-utils.ts
Due: none

test(core): pin the name channel of the href seam (#2087)
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
Due: none

docs(search-schema-plugin): ARCHITECTURE states what holds, not what it used to say (#2087)
  packages/search-schema-plugin/ARCHITECTURE.md
Due: none

docs(benchmarks): the plugin-seam arms measure the FIRST half of the move (#2087)
  benchmarks/plugin-seam/bench.mts
Due: none

fix(core,browser-env): the href door runs the injection seam above the route-default merge (#2087) (#2096)
  .changeset/core-href-seam-2087.md
  .changeset/search-schema-href-2087.md
  benchmarks/plugin-seam/bench.mts
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/tests/functional/browser-env/plugin-utils-factories.test.ts
  packages/browser-plugin/tests/functional/replace-history-state-agreement.test.ts
  packages/core/INVARIANTS.md
  packages/core/src/Router.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/pipeline/CLAUDE.md
  packages/core/src/pipeline/port.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
  packages/core/tests/functional/seam-coverage-authority-1938.test.ts
  packages/core/tests/property/searchPathConsistency.properties.ts
  packages/hash-plugin/src/plugin.ts
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/tests/functional/lifecycle.test.ts
  packages/persistent-params-plugin/CLAUDE.md
  packages/persistent-params-plugin/README.md
  packages/search-schema-plugin/ARCHITECTURE.md
  packages/search-schema-plugin/CLAUDE.md
  packages/search-schema-plugin/README.md
  packages/search-schema-plugin/tests/functional/forwardState.test.ts
  packages/search-schema-plugin/tests/functional/integration.test.ts
  shared/browser-env/plugin-utils.ts
Due: core, browser-plugin

docs: the root stops carrying its own copy of the invariant-guard list
  CLAUDE.md
Due: none

docs(core): two headers stop carrying their own copy of what they capture (#1971)
  packages/core/src/guards.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
Due: core

fix(core): the forwardState seam hands its chain a snapshot, not the caller's bag (#1849)
  .changeset/core-seam-snapshot-1849.md
  packages/core/src/Router.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
  packages/core/tests/functional/read-count-authority.test.ts
Due: core

test(core): pin that `null` reaches the seam and passes through it (#1849)
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
Due: none

fix(core): the forwardState seam hands its chain a snapshot, not the caller's bag (#1849) (#2098)
  .changeset/core-seam-snapshot-1849.md
  packages/core/src/Router.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/href-equals-destination-with-plugin-2087.test.ts
  packages/core/tests/functional/read-count-authority.test.ts
Due: core

build(deps): the fflate override was the advisory, not the fix for it (GHSA-px8p-9vwx-vf98)
  IMPLEMENTATION_NOTES.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

docs(core): docblock claims across three files, re-measured against what runs
  .changeset/navigation-guards-routes-docblock-fix.md
  packages/core/src/guards.ts
  packages/core/src/namespaces/NavigationNamespace/transition/executeNavigation.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
Due: core

test(core): enumerate what depends on the buildPath seam (#2090)
  packages/core/tests/functional/seam-census-authority-2090.test.ts
Due: none

release: version packages (#1799 #1814 #1847 #1858 #1971)
  .changeset/navigation-guards-routes-docblock-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1799 #1814 #1847 #1858 #1971) (#2100)
  .changeset/navigation-guards-routes-docblock-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

docs(persistent-params-plugin): one seam in the prose, on both doors (#1938)
  .changeset/search-schema-href-coverage-docs.md
  benchmarks/plugin-seam/bench.mts
  packages/persistent-params-plugin/ARCHITECTURE.md
  packages/persistent-params-plugin/CLAUDE.md
  packages/persistent-params-plugin/INVARIANTS.md
  packages/persistent-params-plugin/README.md
  packages/search-schema-plugin/ARCHITECTURE.md
  packages/search-schema-plugin/CLAUDE.md
  packages/search-schema-plugin/README.md
Due: none

fix(persistent-params-plugin): the stored value rides one seam, so a schema governs the href (#1938)
  .changeset/persistent-params-href-leak-1938-fix.md
  packages/core/tests/functional/seam-census-authority-2090.test.ts
  packages/persistent-params-plugin/package.json
  packages/persistent-params-plugin/src/plugin.ts
  packages/persistent-params-plugin/tests/functional/schema-governs-the-href-1938.test.ts
  packages/persistent-params-plugin/tests/functional/search-channel-injection.test.ts
  pnpm-lock.yaml
Due: none

docs(core,plugins): the published interceptable set is two, in every copy (#1938)
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/CLAUDE.md
  packages/core/ARCHITECTURE.md
  packages/core/INVARIANTS.md
  packages/hash-plugin/ARCHITECTURE.md
  packages/hash-plugin/CLAUDE.md
  packages/navigation-plugin/CLAUDE.md
  packages/validation-plugin/INVARIANTS.md
Due: none

docs(core,plugins): the cost of a retired seam is zero passes, not a third (#1938)
  benchmarks/cross-router/apps/react/real-router-full/src/main.tsx
  packages/core/src/Router.ts
  packages/core/src/guards.ts
  packages/core/src/helpers.ts
  packages/core/src/pipeline/CLAUDE.md
  packages/core/tests/functional/api/getPluginApi/add-interceptor-refusals-2088.test.ts
  packages/core/tests/functional/seam-coverage-authority-1938.test.ts
  packages/core/tests/property/canonicalize.properties.ts
  packages/core/tests/property/searchPathConsistency.properties.ts
  packages/memory-plugin/src/plugin.ts
  shared/browser-env/plugin-utils.ts
Due: core

fix(benchmarks): the plugin-seam arm needs its plugins in the prebuild filter (#1938)
  IMPLEMENTATION_NOTES.md
  benchmarks/package.json
  packages/core/ARCHITECTURE.md
  scripts/doc-duplication-baseline.json
Due: none

docs(config): audit-rfc learns four traps from the seam-1938 run
  .claude/commands/audit-rfc.md
Due: none

docs(core): RoutesNamespace names the printer it reaches, not the retired seam
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
Due: core

docs(core): the pre-start window points at its invariant instead of restating it (#1938)
  packages/core/src/Router.ts
Due: core

fix(core): systemCommit reads toState.transition once (#2008)
  .changeset/silver-donkeys-repeat.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/tests/functional/state/systemCommit-transition-2008.test.ts
Due: core

fix(core): four doors read a caller-owned slot once (#2085)
  .changeset/olive-pandas-listen.md
  packages/core/CLAUDE.md
  packages/core/src/helpers.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/errorHandling.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/read-count-authority.test.ts
  packages/core/tests/functional/read-once-doors-2085.test.ts
Due: core

fix(core): cloneRouter and the FSM read a caller slot once (#1930)
  .changeset/lucky-hoops-invite.md
  packages/core/src/api/cloneRouter.ts
  packages/core/src/utils/fsm/fsm.ts
  packages/core/tests/functional/read-once-doors-1930.test.ts
  packages/core/tests/functional/utils/fsm/fsm.test.ts
Due: core

test(core): the docblock ratchet grows a derived form and a second table for counts
  packages/core/tests/functional/comment-historiography-authority.test.ts
Due: none

docs(core,plugins): the historiography ratchet sees the phrasing the tree actually uses
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/engine/createMatcher.ts
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
  packages/core/src/engine/path-matcher/registration/trie.ts
  packages/core/src/guards.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/NavigationNamespace/transition/guardPhase.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routeGuards.ts
  packages/core/src/routerFSM.ts
  packages/core/tests/functional/comment-historiography-authority.test.ts
  packages/persistent-params-plugin/src/validation.ts
Due: core

docs(core,plugins): the historiography ratchet derives its rule instead of listing phrases
  packages/core/src/api/cloneRouter.ts
  packages/core/src/helpers.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/persistent-params-plugin/src/param-utils.ts
Due: core

test(core): the read-once derivation covers every package, not just core
  .changeset/olive-otters-repeat.md
  packages/core/tests/functional/read-count-authority.test.ts
  packages/ssr-utils/src/serializeRouterState.ts
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
