Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

refactor(core): two named doors for the not-found commit instead of one door and a flag (#1981)
  .changeset/not-found-doors-1981-fix.md
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/navigateToNotFound.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
Due: core

refactor(core): the query parser carries the raw value, not a boolean about it (#1982)
  .changeset/parsed-chunk-raw-value-1982-fix.md
  packages/core/src/engine/search-params/searchParams.ts
Due: core

docs(core): name the two not-found doors and the required guard-origin argument (#1977, #1981)
  packages/core/CLAUDE.md
Due: none

fix(core): three internal flags become named doors — guard origin (#1977) + not-found commit (#1981) + query raw value (#1982) (#2004)
  .changeset/guard-origin-required-1977-fix.md
  .changeset/not-found-doors-1981-fix.md
  .changeset/parsed-chunk-raw-value-1982-fix.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/engine/search-params/searchParams.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/transition/navigateToNotFound.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/tests/functional/handed-out-containers-1957.test.ts
  packages/core/tests/functional/routeLifecycle/guard-origin-required-1977.test.ts
Due: core

release: version packages (#1171 #1643 #1652 #1977 #1981 #1982)
  .changeset/guard-origin-required-1977-fix.md
  .changeset/not-found-doors-1981-fix.md
  .changeset/parsed-chunk-raw-value-1982-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1171 #1643 #1652 #1977 #1981 #1982) (#2005)
  .changeset/guard-origin-required-1977-fix.md
  .changeset/not-found-doors-1981-fix.md
  .changeset/parsed-chunk-raw-value-1982-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

refactor(core): processSegment asks the tokenizer for a segment's kind (#1998)
  .changeset/splat-marker-from-token-core-1998.md
  packages/core/src/engine/CLAUDE.md
  packages/core/src/engine/INVARIANTS.md
  packages/core/src/engine/path-matcher/parseSegment.ts
  packages/core/src/engine/path-matcher/registration/errors.ts
  packages/core/src/engine/path-matcher/registration/index.ts
  packages/core/src/engine/path-matcher/registration/trie.ts
  packages/core/src/engine/path-matcher/registration/trieNodes.ts
Due: core

fix(core): the index-under-splat guard reads the normalised parent path (#1996)
  .changeset/index-under-splat-parent-core-1996-fix.md
  packages/core/src/engine/path-matcher/registration/trie.ts
  packages/core/tests/functional/routes/index-under-splat-parent-1996.test.ts
Due: core

fix(core): the splat guard strips EVERY trailing slash, not one (#1996)
  packages/core/src/engine/path-matcher/registration/trie.ts
  packages/core/tests/functional/routes/index-under-splat-parent-1996.test.ts
Due: core

fix(core): buildFullPath joins with ONE separator, not two (#2002)
  .changeset/trailing-slash-parent-core-2002-fix.md
  packages/core/src/engine/path-matcher/pathUtils.ts
  packages/core/tests/functional/routes/index-under-splat-parent-1996.test.ts
  packages/core/tests/functional/routes/trailing-slash-parent-2002.test.ts
Due: core

fix(core): five doors reach this shape, and the bump was wrong (#1996)
  .changeset/index-under-splat-parent-core-1996-fix.md
  packages/core/src/engine/path-matcher/registration/trie.ts
  packages/core/tests/functional/routes/index-under-splat-parent-1996.test.ts
Due: core

fix(core): the root path is a junction too — setRootPath("/app/") broke everything (#2002)
  .changeset/trailing-slash-parent-core-2002-fix.md
  packages/core/tests/functional/routes/index-under-splat-parent-1996.test.ts
  packages/core/tests/functional/routes/trailing-slash-parent-2002.test.ts
Due: none

test(core): a property over TREE SHAPE, which is the axis nothing generated (#2002)
  packages/core/tests/engine/property/tree-shape-roundtrip.properties.ts
Due: none

test(core): the shape property generates absolute paths too — and it found #2006
  packages/core/tests/engine/property/tree-shape-roundtrip.properties.ts
Due: none

test(core): the property asserted nothing for the index family — measured, then closed
  packages/core/tests/engine/property/tree-shape-roundtrip.properties.ts
Due: none

test(core): the property asserted an observation, not the contract (#2002)
  packages/core/tests/engine/property/tree-shape-roundtrip.properties.ts
Due: none

fix(core): a dead-end static branch falls back to its splat sibling (#2006)
  .changeset/static-splat-junction-core-2006-fix.md
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
  packages/core/tests/functional/routes/static-splat-junction-2006.test.ts
Due: core

docs(core): the no-backtrack rule is about TERMINATION, not greediness (#2006)
  packages/core/src/engine/INVARIANTS.md
  packages/core/tests/engine/unit/path-matcher/SegmentMatcher.test.ts
Due: core

docs(config): docblocks describe what the code does now, and stay short
  CLAUDE.md
Due: none

docs(core): corrections the adversarial re-audit of #1976 found in my own prose
  packages/core/INVARIANTS.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/materialize.ts
  packages/core/tests/functional/pending-target-authority.test.ts
Due: core

fix(core): shouldUpdateNode survives the State the commit door commits without `transition` (#1976)
  .changeset/materialize-transition-1976-fix.md
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/types/base.ts
  packages/core/src/types/index.ts
  packages/core/tests/functional/guard-state-completeness-1976.test.ts
Due: core

fix(core): a guard's state satisfies its own type — `transition` attached at construction (#1976)
  .changeset/materialize-transition-1976-fix.md
  packages/core/ARCHITECTURE.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/pipeline/CLAUDE.md
  packages/core/src/pipeline/README.md
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/index.ts
  packages/core/src/pipeline/materialize.ts
  packages/core/src/types/base.ts
  packages/core/src/types/index.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/error/helpers.test.ts
  packages/core/tests/functional/guard-state-completeness-1976.test.ts
  packages/core/tests/functional/pending-target-authority.test.ts
  packages/core/tests/functional/state-freeze-authority.test.ts
Due: core

docs(core): the forced-replace substitution is the plugin's channel, not a restatement (#1979)
  packages/core/src/namespaces/NavigationNamespace/transition/executeNavigation.ts
Due: core

test(core): the transition census guards the SHAPE the bug had, not just outright omission (#1976)
  packages/core/tests/functional/state-freeze-authority.test.ts
Due: none

fix(sources/dom-utils): two shipped consumers still deref `transition` flat on a state core commits without it (#1976)
  .changeset/enter-gate-transition-optional-1976.md
  .changeset/scroll-restore-transition-optional-angular.md
  .changeset/scroll-restore-transition-optional-preact.md
  .changeset/scroll-restore-transition-optional-react.md
  .changeset/scroll-restore-transition-optional-solid.md
  .changeset/scroll-restore-transition-optional-svelte.md
  .changeset/scroll-restore-transition-optional-vue.md
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/react/tests/functional/dom-utils/authority-1838.test.ts
  packages/react/tests/functional/dom-utils/scroll-restore.test.ts
  packages/sources/src/createRouteEnterGate.ts
  packages/sources/tests/unit/createRouteEnterGate.test.ts
  shared/dom-utils/scroll-restore.ts
Due: none

fix(core/tests/docs): the second adversarial pass, over my own remediation (#1976)
  .changeset/userouteexit-transition-doc-preact.md
  .changeset/userouteexit-transition-doc-react.md
  .changeset/userouteexit-transition-doc-solid.md
  .changeset/userouteexit-transition-doc-svelte.md
  .changeset/userouteexit-transition-doc-vue.md
  packages/core/INVARIANTS.md
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/types/base.ts
  packages/core/tests/functional/guard-state-completeness-1976.test.ts
  packages/core/tests/functional/pending-target-authority.test.ts
  packages/core/tests/functional/state-freeze-authority.test.ts
  packages/preact/src/hooks/useRouteExit.tsx
  packages/react/src/hooks/useRouteExit.tsx
  packages/solid/src/hooks/useRouteExit.tsx
  packages/sources/src/createRouteEnterGate.ts
  packages/svelte/src/composables/useRouteExit.svelte.ts
  packages/vue/src/composables/useRouteExit.ts
Due: core, react

test(core): pin what the writable shell carries — core's transition, never the caller's (#1976)
  packages/core/tests/functional/guard-state-completeness-1976.test.ts
Due: none

docs(react/preact/solid/svelte/vue): `nextRoute.transition` is not a preview of the upcoming nav (#1976)
  .changeset/userouteexit-transition-doc-preact.md
  .changeset/userouteexit-transition-doc-react.md
  .changeset/userouteexit-transition-doc-solid.md
  .changeset/userouteexit-transition-doc-svelte.md
  .changeset/userouteexit-transition-doc-vue.md
  packages/preact/src/hooks/useRouteExit.tsx
  packages/react/src/hooks/useRouteExit.tsx
  packages/solid/src/hooks/useRouteExit.tsx
  packages/svelte/src/composables/useRouteExit.svelte.ts
  packages/vue/src/composables/useRouteExit.ts
Due: react

style(dom-utils/react): the lint gate sees a required field, the runtime sees an absent one
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/react/tests/functional/dom-utils/authority-1838.test.ts
  packages/react/tests/functional/dom-utils/scroll-restore.test.ts
  shared/dom-utils/scroll-restore.ts
Due: none

test(core): the State census reads a construction however the cast is SPELLED (#2009)
  packages/core/tests/functional/state-freeze-authority.test.ts
Due: none

docs(core): the Canonical brand's records say how many cast sites there are (#1968)
  .changeset/canonical-brand-cast-count-1968-fix.md
  packages/core/src/pipeline/CLAUDE.md
  packages/core/src/pipeline/canonicalize.ts
  packages/core/src/pipeline/types.ts
  packages/core/tests/functional/canonical-brand-authority-1968.test.ts
Due: core

test(core): close the RETURN side of the transition guarantee (#1976)
  packages/core/tests/functional/state/handed-out-transition-1976.test.ts
Due: none

test(core): the audit of the merge — a double count, two blind spellings, a vacuous branch (#2009)
  packages/core/tests/functional/canonical-brand-authority-1968.test.ts
  packages/core/tests/functional/state-freeze-authority.test.ts
  packages/core/tests/functional/state/handed-out-transition-1976.test.ts
Due: none

test(core): the derived door census had two hand-written parts, and both could hide a door (#1976)
  .changeset/canonical-brand-cast-count-1968-fix.md
  packages/core/tests/functional/state/handed-out-transition-1976.test.ts
Due: none

test(core): the file list was the third hand-written part, and it named four files where there are five (#1976)
  packages/core/tests/functional/state/handed-out-transition-1976.test.ts
Due: none
