Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

fix(core): pre-flight handler-limit check into route-CRUD PREPARE (#1046)
  .changeset/handler-limit-atomicity-1046-fix.md
  packages/core/CLAUDE.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/tests/functional/api/validatorContract.test.ts
  packages/validation-plugin/tests/functional/handler-limit-atomicity.test.ts
Due: core

refactor(core): extract update()'s inline commit into commitRouteUpdate (#1049)
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
Due: core

fix(core): restore always-on route-name hardening parity on replace/remove/update (#1047)
  .changeset/route-name-hardening-parity-1047-fix.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
Due: core

fix(core): cover commitRouteUpdate's lifecycle non-null assertion (#1049)
  packages/core/src/api/getRoutesApi.ts
Due: core

build(deps): bump anyhow to 1.0.103 in tauri examples (RUSTSEC-2026-0190)
  examples/desktop/tauri/react-navigation/src-tauri/Cargo.lock
  examples/desktop/tauri/react/src-tauri/Cargo.lock
Due: none

docs(changeset): add #1049 commitRouteUpdate refactor changeset
  .changeset/commit-route-update-refactor.md
Due: none

fix(core): route-CRUD handler-limit atomicity + bare-core route-name hardening parity (#1053)
  .changeset/commit-route-update-refactor.md
  .changeset/handler-limit-atomicity-1046-fix.md
  .changeset/route-name-hardening-parity-1047-fix.md
  examples/desktop/tauri/react-navigation/src-tauri/Cargo.lock
  examples/desktop/tauri/react/src-tauri/Cargo.lock
  packages/core/CLAUDE.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/tests/functional/api/validatorContract.test.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/validation-plugin/tests/functional/handler-limit-atomicity.test.ts
Due: core

release: version packages (#1046 #1047 #1049 #123 #238 #37 #42 #954 #955 #961)
  .changeset/commit-route-update-refactor.md
  .changeset/handler-limit-atomicity-1046-fix.md
  .changeset/route-name-hardening-parity-1047-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1046 #1047 #1049 #123 #238 #37 #42 #954 #955 #961) (#1054)
  .changeset/commit-route-update-refactor.md
  .changeset/handler-limit-atomicity-1046-fix.md
  .changeset/route-name-hardening-parity-1047-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(dom-utils): guard stale view-transition success resolver from clobbering the next navigation (#781)
  .changeset/view-transitions-clobber-781-angular-fix.md
  .changeset/view-transitions-clobber-781-preact-fix.md
  .changeset/view-transitions-clobber-781-react-fix.md
  .changeset/view-transitions-clobber-781-solid-fix.md
  .changeset/view-transitions-clobber-781-svelte-fix.md
  .changeset/view-transitions-clobber-781-vue-fix.md
  packages/angular/src/dom-utils/view-transitions.ts
  packages/dom-utils/tests/functional/view-transitions.test.ts
  shared/dom-utils/view-transitions.ts
Due: none

fix(dom-utils): honour late-mounted/changed scrollContainer in scroll-spy (#780)
  .changeset/scroll-spy-container-780-angular-fix.md
  .changeset/scroll-spy-container-780-preact-fix.md
  .changeset/scroll-spy-container-780-react-fix.md
  .changeset/scroll-spy-container-780-solid-fix.md
  .changeset/scroll-spy-container-780-svelte-fix.md
  .changeset/scroll-spy-container-780-vue-fix.md
  packages/angular/src/dom-utils/scroll-spy.ts
  packages/dom-utils/tests/functional/scroll-spy.test.ts
  packages/preact/src/RouterProvider.tsx
  packages/react/src/RouterProvider.tsx
  packages/vue/src/RouterProvider.ts
  shared/dom-utils/scroll-spy.ts
Due: react

fix(dom-utils): skip scroll capture during a same-frame navigation transit (#782)
  .changeset/scroll-restore-transit-782-angular-fix.md
  .changeset/scroll-restore-transit-782-preact-fix.md
  .changeset/scroll-restore-transit-782-react-fix.md
  .changeset/scroll-restore-transit-782-solid-fix.md
  .changeset/scroll-restore-transit-782-svelte-fix.md
  .changeset/scroll-restore-transit-782-vue-fix.md
  packages/angular/src/dom-utils/scroll-restore.ts
  packages/dom-utils/tests/functional/scroll-restore.test.ts
  shared/dom-utils/scroll-restore.ts
Due: none

test(dom-utils): add createScrollSpy to the cross-factory lifecycle PBT + NOOP-SSR matrix (#784)
  packages/dom-utils/tests/property/lifecycle.properties.ts
Due: none

fix(dom-utils): ref-count the shared route-announcer element so one provider's teardown doesn't silence others (#783)
  .changeset/route-announcer-refcount-783-angular-fix.md
  .changeset/route-announcer-refcount-783-preact-fix.md
  .changeset/route-announcer-refcount-783-react-fix.md
  .changeset/route-announcer-refcount-783-solid-fix.md
  .changeset/route-announcer-refcount-783-svelte-fix.md
  .changeset/route-announcer-refcount-783-vue-fix.md
  packages/angular/src/dom-utils/route-announcer.ts
  packages/dom-utils/tests/functional/route-announcer.test.ts
  packages/dom-utils/tests/property/routeAnnouncer.properties.ts
  shared/dom-utils/route-announcer.ts
Due: none

fix(path-matcher): reject a marker fused to a static prefix mid-segment (#1050)
  .changeset/fused-marker-rejection-1050-fix.md
  packages/path-matcher/CLAUDE.md
  packages/path-matcher/INVARIANTS.md
  packages/path-matcher/src/registration.ts
  packages/path-matcher/tests/property/param-grammar.properties.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/route-tree/CLAUDE.md
  packages/route-tree/src/validation/routes.ts
  packages/route-tree/tests/functional/validation-routes.test.ts
  packages/route-tree/tests/property/validation.properties.ts
Due: route-tree

fix(dom-utils): self-heal announcer ref-count + align adapter tests after rebase
  packages/angular/src/dom-utils/route-announcer.ts
  packages/angular/tests/functional/scroll-spy.test.ts
  packages/angular/tests/property/scrollRestoration.properties.ts
  packages/svelte/tests/functional/route-announcer.test.ts
  shared/dom-utils/route-announcer.ts
Due: none

fix(path-matcher): reject markers fused to a static prefix mid-segment (#1050) (#1056)
  .changeset/fused-marker-rejection-1050-fix.md
  packages/path-matcher/CLAUDE.md
  packages/path-matcher/INVARIANTS.md
  packages/path-matcher/src/registration.ts
  packages/path-matcher/tests/property/param-grammar.properties.ts
  packages/path-matcher/tests/unit/SegmentMatcher.test.ts
  packages/route-tree/CLAUDE.md
  packages/route-tree/src/validation/routes.ts
  packages/route-tree/tests/functional/validation-routes.test.ts
  packages/route-tree/tests/property/validation.properties.ts
Due: route-tree

release: version packages (#1050 #123 #37 #42 #858 #863)
  .changeset/fused-marker-rejection-1050-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#1050 #123 #37 #42 #858 #863) (#1057)
  .changeset/fused-marker-rejection-1050-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

chore(commands): fold session learnings into bugfix / bugfix-batch / chain-resolve / debt-map
  .claude/commands/bugfix-batch.md
  .claude/commands/bugfix.md
  .claude/commands/chain-resolve.md
  .claude/commands/debt-map.md
Due: none

test(angular): raise dom-utils copy coverage to 100% statements
  packages/angular/tests/functional/route-announcer.test.ts
  packages/angular/tests/functional/scroll-restore.test.ts
  packages/angular/tests/functional/scroll-spy.test.ts
Due: none

test(angular,dom-utils): ratchet coverage thresholds to the measured floor
  packages/angular/vitest.config.mts
  packages/dom-utils/vitest.config.mts
Due: none

ci(build-matrix): route shared-source edits to the sharded path, not leaf
  scripts/build-matrix.mjs
  scripts/build-matrix.test.mjs
Due: none

fix: clear SonarCloud new-code duplication on PR #1055
  packages/angular/src/dom-utils/scroll-spy.ts
  packages/preact/src/RouterProvider.tsx
  packages/react/src/RouterProvider.tsx
  packages/vue/src/RouterProvider.ts
  shared/dom-utils/scroll-spy.ts
Due: react

docs(angular): sync Coverage Ceiling to the 97/93/98/97 thresholds
  packages/angular/CLAUDE.md
Due: none

test(search-params): close arbSafeKey empty-key blind spot + document the erasure (#1051)
  packages/search-params/CLAUDE.md
  packages/search-params/INVARIANTS.md
  packages/search-params/tests/property/formats.properties.ts
  packages/search-params/tests/property/helpers.ts
  packages/search-params/tests/property/parseBuild.properties.ts
Due: none

release: version packages (#123 #37 #42 #780 #781 #782 #783)
  .changeset/route-announcer-refcount-783-angular-fix.md
  .changeset/route-announcer-refcount-783-preact-fix.md
  .changeset/route-announcer-refcount-783-react-fix.md
  .changeset/route-announcer-refcount-783-solid-fix.md
  .changeset/route-announcer-refcount-783-svelte-fix.md
  .changeset/route-announcer-refcount-783-vue-fix.md
  .changeset/scroll-restore-transit-782-angular-fix.md
  .changeset/scroll-restore-transit-782-preact-fix.md
  .changeset/scroll-restore-transit-782-react-fix.md
  .changeset/scroll-restore-transit-782-solid-fix.md
  .changeset/scroll-restore-transit-782-svelte-fix.md
  .changeset/scroll-restore-transit-782-vue-fix.md
  .changeset/scroll-spy-container-780-angular-fix.md
  .changeset/scroll-spy-container-780-preact-fix.md
  .changeset/scroll-spy-container-780-react-fix.md
  .changeset/scroll-spy-container-780-solid-fix.md
  .changeset/scroll-spy-container-780-svelte-fix.md
  .changeset/scroll-spy-container-780-vue-fix.md
  .changeset/view-transitions-clobber-781-angular-fix.md
  .changeset/view-transitions-clobber-781-preact-fix.md
  .changeset/view-transitions-clobber-781-react-fix.md
  .changeset/view-transitions-clobber-781-solid-fix.md
  .changeset/view-transitions-clobber-781-svelte-fix.md
  .changeset/view-transitions-clobber-781-vue-fix.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #780 #781 #782 #783) (#1058)
  .changeset/route-announcer-refcount-783-angular-fix.md
  .changeset/route-announcer-refcount-783-preact-fix.md
  .changeset/route-announcer-refcount-783-react-fix.md
  .changeset/route-announcer-refcount-783-solid-fix.md
  .changeset/route-announcer-refcount-783-svelte-fix.md
  .changeset/route-announcer-refcount-783-vue-fix.md
  .changeset/scroll-restore-transit-782-angular-fix.md
  .changeset/scroll-restore-transit-782-preact-fix.md
  .changeset/scroll-restore-transit-782-react-fix.md
  .changeset/scroll-restore-transit-782-solid-fix.md
  .changeset/scroll-restore-transit-782-svelte-fix.md
  .changeset/scroll-restore-transit-782-vue-fix.md
  .changeset/scroll-spy-container-780-angular-fix.md
  .changeset/scroll-spy-container-780-preact-fix.md
  .changeset/scroll-spy-container-780-react-fix.md
  .changeset/scroll-spy-container-780-solid-fix.md
  .changeset/scroll-spy-container-780-svelte-fix.md
  .changeset/scroll-spy-container-780-vue-fix.md
  .changeset/view-transitions-clobber-781-angular-fix.md
  .changeset/view-transitions-clobber-781-preact-fix.md
  .changeset/view-transitions-clobber-781-react-fix.md
  .changeset/view-transitions-clobber-781-solid-fix.md
  .changeset/view-transitions-clobber-781-svelte-fix.md
  .changeset/view-transitions-clobber-781-vue-fix.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

fix(type-guards): never-crash on a throwing accessor in getTypeDescription / isParams (#1052)
  .changeset/never-crash-throwing-accessor-1052-fix.md
  packages/route-tree/CLAUDE.md
  packages/route-tree/src/validation/route-batch.ts
  packages/route-tree/tests/functional/validation-route-batch.test.ts
  packages/type-guards/CLAUDE.md
  packages/type-guards/src/guards/params.ts
  packages/type-guards/src/utilities/type-description.ts
  packages/type-guards/tests/functional/guards/params.test.ts
  packages/type-guards/tests/functional/utilities/type-description.test.ts
Due: route-tree

fix(type-guards): never-crash on a throwing accessor in getTypeDescription / isParams (#1052) (#1059)
  .changeset/never-crash-throwing-accessor-1052-fix.md
  packages/route-tree/CLAUDE.md
  packages/route-tree/src/validation/route-batch.ts
  packages/route-tree/tests/functional/validation-route-batch.test.ts
  packages/type-guards/CLAUDE.md
  packages/type-guards/src/guards/params.ts
  packages/type-guards/src/utilities/type-description.ts
  packages/type-guards/tests/functional/guards/params.test.ts
  packages/type-guards/tests/functional/utilities/type-description.test.ts
Due: route-tree

release: version packages (#1052 #123 #37 #42 #786 #787 #903)
  .changeset/never-crash-throwing-accessor-1052-fix.md
  CHANGELOG.md
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

release: version packages (#1052 #123 #37 #42 #786 #787 #903) (#1060)
  .changeset/never-crash-throwing-accessor-1052-fix.md
  CHANGELOG.md
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

fix(vue): skip v-link directive-stack push on SSR (#779)
  .changeset/vlink-ssr-779-fix.md
  packages/vue/CLAUDE.md
  packages/vue/src/RouterProvider.ts
  packages/vue/tests/functional/RouterProvider.ssr-leak.test.ts
Due: none

build(config): validate changeset content on pre-push
  .changeset/README.md
  .changeset/check-changeset.mjs
  .husky/pre-push
  IMPLEMENTATION_NOTES.md
  package.json
Due: none

fix(vue): skip v-link directive-stack push on SSR (#779) (#1061)
  .changeset/README.md
  .changeset/check-changeset.mjs
  .changeset/vlink-ssr-779-fix.md
  .husky/pre-push
  IMPLEMENTATION_NOTES.md
  package.json
  packages/vue/CLAUDE.md
  packages/vue/src/RouterProvider.ts
  packages/vue/tests/functional/RouterProvider.ssr-leak.test.ts
Due: none

release: version packages (#123 #37 #42 #779)
  .changeset/vlink-ssr-779-fix.md
  CHANGELOG.md
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#123 #37 #42 #779) (#1062)
  .changeset/vlink-ssr-779-fix.md
  CHANGELOG.md
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

build(deps): bump turbo 2.10.0 → 2.10.1
  package.json
  pnpm-lock.yaml
Due: none

chore(commands): bump-dep — flag release back-merge changelog noise in compare delta
  .claude/commands/bump-dep.md
Due: none
