Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

feat: add extendRouter() to PluginApi for formal router instance extension (#231) (#232)
  .changeset/extend-router-browser-plugin-feature.md
  .changeset/extend-router-core-feature.md
  .changeset/extend-router-types-feature.md
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/README.md
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/core-types/src/api.ts
  packages/core-types/src/constants.ts
  packages/core/ARCHITECTURE.md
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/constants.ts
  packages/core/src/internals.ts
  packages/core/tests/functional/api/getPluginApi/extendRouter.test.ts
  packages/core/tests/functional/api/getPluginApi/getPluginApi.test.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
Due: core, browser-plugin

release: version packages (#231 #37)
  .changeset/extend-router-browser-plugin-feature.md
  .changeset/extend-router-core-feature.md
  .changeset/extend-router-types-feature.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

release: version packages (#231 #37) (#233)
  .changeset/extend-router-browser-plugin-feature.md
  .changeset/extend-router-core-feature.md
  .changeset/extend-router-types-feature.md
  CHANGELOG.md
  package.json
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/logger-plugin/CHANGELOG.md
  packages/logger-plugin/package.json
  packages/persistent-params-plugin/CHANGELOG.md
  packages/persistent-params-plugin/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/route-utils/CHANGELOG.md
  packages/route-utils/package.json
  packages/router-benchmarks/CHANGELOG.md
  packages/router-benchmarks/package.json
  packages/rx/CHANGELOG.md
  packages/rx/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/type-guards/CHANGELOG.md
  packages/type-guards/package.json
Due: none

ci: fix silent git tag failures in changesets workflow
  .github/workflows/changesets.yml
Due: none

feat(browser-env): create internal browser API abstraction package
  commitlint.config.mjs
  packages/browser-env/eslint.config.mjs
  packages/browser-env/package.json
  packages/browser-env/src/constants.ts
  packages/browser-env/src/detect.ts
  packages/browser-env/src/history-api.ts
  packages/browser-env/src/index.ts
  packages/browser-env/src/ssr-fallback.ts
  packages/browser-env/src/types.ts
  packages/browser-env/src/utils.ts
  packages/browser-env/tests/setup.ts
  packages/browser-env/tests/unit/detect.test.ts
  packages/browser-env/tests/unit/history-api.test.ts
  packages/browser-env/tests/unit/ssr-fallback.test.ts
  packages/browser-env/tests/unit/utils.test.ts
  packages/browser-env/tsconfig.json
  packages/browser-env/tsconfig.node.json
  packages/browser-env/tsup.config.mts
  packages/browser-env/vitest.config.mts
  pnpm-lock.yaml
  syncpack.config.mjs
Due: none

refactor(browser-plugin): import shared code from browser-env
  packages/browser-plugin/package.json
  packages/browser-plugin/src/browser.ts
  packages/browser-plugin/tsup.config.mts
  pnpm-lock.yaml
Due: browser-plugin

refactor(browser-plugin)!: remove hash mode, strict validation, always-on preserveHash
  .changeset/remove-hash-mode.md
  packages/browser-plugin/src/browser.ts
  packages/browser-plugin/src/constants.ts
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/popstate-utils.ts
  packages/browser-plugin/src/types.ts
  packages/browser-plugin/src/url-utils.ts
  packages/browser-plugin/src/validation.ts
  packages/browser-plugin/tests/functional/integration.test.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/react/tests/helpers/index.tsx
Due: browser-plugin

feat(hash-plugin): create standalone hash routing plugin
  commitlint.config.mjs
  packages/hash-plugin/.npmignore
  packages/hash-plugin/LICENSE
  packages/hash-plugin/eslint.config.mjs
  packages/hash-plugin/package.json
  packages/hash-plugin/src/browser.ts
  packages/hash-plugin/src/constants.ts
  packages/hash-plugin/src/factory.ts
  packages/hash-plugin/src/hash-utils.ts
  packages/hash-plugin/src/index.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/src/popstate-utils.ts
  packages/hash-plugin/src/types.ts
  packages/hash-plugin/src/validation.ts
  packages/hash-plugin/tests/.gitkeep
  packages/hash-plugin/tests/functional/plugin.test.ts
  packages/hash-plugin/tests/helpers/mockPlugins.ts
  packages/hash-plugin/tests/setup.ts
  packages/hash-plugin/tsconfig.json
  packages/hash-plugin/tsconfig.node.json
  packages/hash-plugin/tsup.config.mts
  packages/hash-plugin/vitest.config.mts
  pnpm-lock.yaml
Due: none

docs(browser-plugin): remove hash mode references from ARCHITECTURE.md
  packages/browser-plugin/ARCHITECTURE.md
Due: none

refactor(browser-env): extract shared plugin logic, remove unnecessary deps
  .size-limit.js
  packages/browser-env/package.json
  packages/browser-env/src/constants.ts
  packages/browser-env/src/history-api.ts
  packages/browser-env/src/index.ts
  packages/browser-env/src/plugin-utils.ts
  packages/browser-env/src/popstate-handler.ts
  packages/browser-env/src/popstate-utils.ts
  packages/browser-env/src/safe-browser.ts
  packages/browser-env/src/ssr-fallback.ts
  packages/browser-env/src/types.ts
  packages/browser-env/src/utils.ts
  packages/browser-env/src/validation.ts
  packages/browser-env/tests/unit/ssr-fallback.test.ts
  packages/browser-env/tests/unit/utils.test.ts
  packages/browser-plugin/src/browser.ts
  packages/browser-plugin/src/factory.ts
  packages/browser-plugin/src/index.ts
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/popstate-utils.ts
  packages/browser-plugin/src/types.ts
  packages/browser-plugin/src/url-utils.ts
  packages/browser-plugin/src/validation.ts
  packages/browser-plugin/tests/functional/integration.test.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/hash-plugin/package.json
  packages/hash-plugin/src/browser.ts
  packages/hash-plugin/src/factory.ts
  packages/hash-plugin/src/index.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/src/types.ts
  packages/hash-plugin/src/validation.ts
  packages/hash-plugin/tests/functional/plugin.test.ts
  packages/hash-plugin/tests/helpers/mockPlugins.ts
  pnpm-lock.yaml
Due: browser-plugin

refactor(hash-plugin): public API tests only, add v8 ignore for unreachable catch
  .changeset/hash-plugin-feature.md
  .changeset/remove-hash-mode.md
  packages/hash-plugin/src/hash-utils.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/plugin.test.ts
Due: none

refactor(browser-plugin): split plugin.test.ts into 5 focused test files
  packages/browser-plugin/tests/functional/compat.test.ts
  packages/browser-plugin/tests/functional/lifecycle.test.ts
  packages/browser-plugin/tests/functional/plugin.test.ts
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/browser-plugin/tests/functional/security.test.ts
  packages/browser-plugin/tests/functional/url.test.ts
  packages/browser-plugin/tests/helpers/testUtils.ts
Due: none

refactor(hash-plugin): extract shared test utilities from plugin.test.ts
  packages/hash-plugin/tests/helpers/testUtils.ts
Due: none

refactor(hash-plugin): split plugin.test.ts into 3 focused test files
  packages/hash-plugin/tests/functional/lifecycle.test.ts
  packages/hash-plugin/tests/functional/plugin.test.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
  packages/hash-plugin/tests/functional/url.test.ts
Due: none

refactor(browser-env): extract safeParseUrl to deduplicate URL parsing
  packages/browser-env/src/index.ts
  packages/browser-env/src/url-parsing.ts
  packages/browser-plugin/src/url-utils.ts
  packages/hash-plugin/src/hash-utils.ts
Due: browser-plugin

docs(browser-plugin, hash-plugin): update docs for hash extraction
  .size-limit.js
  packages/browser-plugin/README.md
  packages/hash-plugin/ARCHITECTURE.md
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/README.md
Due: none

docs(browser-env): add README.md and CHANGELOG.md
  packages/browser-env/CHANGELOG.md
  packages/browser-env/README.md
Due: none

fix: fix version for real-router/hash-plugin
  packages/hash-plugin/package.json
Due: none

fix(hash-plugin): remove unused @real-router/logger dependency
  packages/hash-plugin/package.json
  pnpm-lock.yaml
Due: none

docs: add hash-plugin and browser-env to root documentation
  ARCHITECTURE.md
  README.md
Due: none

fix(deps): override http-proxy-agent to v7 to resolve CVE in @tootallnate/once
  package.json
  pnpm-lock.yaml
Due: none

release: version packages (#234 #37)
  .changeset/hash-plugin-feature.md
  .changeset/remove-hash-mode.md
  CHANGELOG.md
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
Due: none

release: version packages (#234 #37) (#236)
  .changeset/hash-plugin-feature.md
  .changeset/remove-hash-mode.md
  CHANGELOG.md
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
Due: none

fix(deps): remove unused @real-router/logger from browser-plugin and logger-plugin
  .size-limit.js
  knip.json
  packages/browser-plugin/package.json
  packages/logger-plugin/package.json
  pnpm-lock.yaml
Due: none

chore(deps): update changesets to latest versions
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: none

ci: improve release workflows
  .github/workflows/changeset-check.yml
  .github/workflows/changesets.yml
  .github/workflows/release.yml
Due: none

chore(deps): update turbo 2.8.12 → 2.8.13
  package.json
  pnpm-lock.yaml
Due: none

docs: update architecture docs and implementation notes
  IMPLEMENTATION_NOTES.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/core/ARCHITECTURE.md
Due: none

fix(core): protect internal @@ prefix routes from public API mutations (#238)
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/tests/functional/api/getRoutesApi/getRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/removeRoute.test.ts
  packages/core/tests/functional/api/internalRouteProtection.test.ts
Due: core

chore: add changeset file
  .changeset/internal-route-protection-fix.md
Due: none

fix(core): protect internal @@ prefix routes from public API mutations (#238) (#239)
  .changeset/internal-route-protection-fix.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/tests/functional/api/getRoutesApi/getRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/removeRoute.test.ts
  packages/core/tests/functional/api/internalRouteProtection.test.ts
Due: core

release: version packages (#123 #238 #37 #42)
  .changeset/internal-route-protection-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #238 #37 #42) (#240)
  .changeset/internal-route-protection-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

feat(core): add navigateToNotFound() method and UNKNOWN_ROUTE export (#241)
  .changeset/navigate-to-not-found-browser-plugin-feature.md
  .changeset/navigate-to-not-found-core-feature.md
  .changeset/navigate-to-not-found-hash-plugin-feature.md
  .changeset/navigate-to-not-found-types-feature.md
  packages/browser-env/src/popstate-handler.ts
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/tests/functional/popstate.test.ts
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/constants.ts
  packages/core/src/index.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/transitionPath.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/navigation/navigateToNotFound.test.ts
  packages/core/tests/functional/routerLifecycle/start/arguments-validation.test.ts
  packages/core/tests/functional/routerLifecycle/start/path-string-scenarios.test.ts
  packages/core/tests/functional/state.test.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/popstate.test.ts
Due: core, browser-plugin

refactor(core): eliminate cyclic wiring by delegating start() to navigate()
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/src/wiring/wireRouter.ts
Due: core

chore: add changeset for start() → navigate() refactoring (#241)
  .changeset/start-navigate-refactor.md
Due: none

refactor(hash-plugin): pre-compute hash prefix regex and URL prefix at factory time
  packages/hash-plugin/src/factory.ts
  packages/hash-plugin/src/hash-utils.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/url.test.ts
  packages/hash-plugin/tests/helpers/mockPlugins.ts
Due: none

feat(core): force replace history when navigating from UNKNOWN_ROUTE
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/tests/functional/navigation/navigate/unknown-route.test.ts
Due: core

docs: update architecture and README files for navigateToNotFound and hash-plugin refactoring (#241)
  ARCHITECTURE.md
  packages/browser-env/README.md
  packages/browser-plugin/ARCHITECTURE.md
  packages/core/ARCHITECTURE.md
  packages/core/README.md
  packages/hash-plugin/ARCHITECTURE.md
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
