Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

ci(deps): bump typescript-eslint 8.62.0 → 8.65.0
  eslint.config.mjs
  package.json
  packages/angular/tests/stress/change-detection-storm.stress.ts
  pnpm-lock.yaml
Due: none

fix(benchmarks): force production framework runtimes in adapter bench
  IMPLEMENTATION_NOTES.md
  benchmarks/adapter-bench/vite/angular.config.mts
  benchmarks/adapter-bench/vite/base.mts
  benchmarks/adapter-bench/vite/vue.config.mts
Due: none

docs(benchmarks): point each adapter CLAUDE.md at its central perf bench
  .claude/commands/bump-eslint.md
  packages/angular/CLAUDE.md
  packages/preact/CLAUDE.md
  packages/react/CLAUDE.md
  packages/solid/CLAUDE.md
  packages/svelte/CLAUDE.md
  packages/vue/CLAUDE.md
Due: none

ci(deps): bump eslint-plugin-sonarjs 4.1.0 → 4.2.0
  .claude/commands/bump-eslint.md
  eslint.config.mjs
  package.json
  packages/browser-plugin/tests/stress/buildurl-allocation.stress.ts
  packages/browser-plugin/tests/stress/heap-snapshot.stress.ts
  pnpm-lock.yaml
Due: none

ci(deps): bump eslint-plugin-jsdoc 63.0.2 → 63.2.0
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

ci(deps): bump eslint-plugin-import-x 4.17.0 → 4.17.1
  package.json
  pnpm-lock.yaml
Due: none

ci(deps): bump eslint-config-turbo 2.10.2 → 2.10.5
  .claude/commands/bump-eslint.md
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

ci(deps): bump @eslint-react/eslint-plugin 5.10.0 → 5.17.3
  .claude/commands/bump-eslint.md
  package.json
  packages/react/src/components/modern/RouteView/RouteView.tsx
  pnpm-lock.yaml
Due: react

build(deps): bump tsdown 0.22.12 → 0.22.13
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump @commitlint/cli 21.2.0 → 21.2.1
  package.json
  pnpm-lock.yaml
Due: none

ci(benchmarks): run cross-router matrix per-cohort to cap peak RSS and avoid OOM
  .github/workflows/cross-router-bench.yml
  IMPLEMENTATION_NOTES.md
  benchmarks/cross-router/run-all.mjs
Due: none

ci(deps): bump jscpd 5.0.9 → 5.0.12
  package.json
  pnpm-lock.yaml
Due: none

feat(core): introduce SearchParams + State.search query channel (#1548)
  packages/core/src/types/base.ts
  packages/core/src/types/index.ts
Due: core

feat(core): populate navigate-path State.search via declaration split (#1548)
  packages/core/src/helpers.ts
  packages/core/src/wiring/wireNamespaces.ts
Due: core

feat(core): populate State.search via makeState (#1548)
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/constants.ts
  packages/core/src/engine/operations/types.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/wiring/wireNamespaces.ts
Due: core

feat(core): remove query from params, complete the params/search split (#1548)
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/types/base.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/engine/functional/createMatcher.test.ts
  packages/core/tests/engine/functional/operations/build-path-optimizations.test.ts
  packages/core/tests/engine/functional/operations/match-path.test.ts
  packages/core/tests/engine/property/path-matcher/matching.properties.ts
  packages/core/tests/engine/property/path-matcher/query-modes.properties.ts
  packages/core/tests/engine/property/roundtrip.properties.ts
  packages/core/tests/engine/unit/path-matcher/SegmentMatcher.test.ts
  packages/core/tests/functional/api/getPluginApi/getPluginApi.test.ts
  packages/core/tests/functional/api/getRoutesApi/addRoute.test.ts
  packages/core/tests/functional/matchPathInterceptors.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-input-validation.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-params.test.ts
  packages/core/tests/functional/navigation/navigate/query-params.test.ts
  packages/core/tests/functional/navigation/navigate/same-states.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/navigation/navigateToState.test.ts
  packages/core/tests/functional/routerLifecycle/start/edge-cases.test.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/core/tests/functional/routes/matchSourceTrailingSlash.test.ts
  packages/core/tests/functional/utils.test.ts
  packages/core/tests/helpers/index.ts
  packages/core/tests/property/areStatesEqual.properties.ts
  packages/core/tests/property/helpers.ts
  packages/core/tests/property/lifecycle.properties.ts
Due: core

feat(core): split query into MatchResult.search channel (#1548)
  packages/core/src/engine/operations/types.ts
  packages/core/src/engine/path-matcher/SegmentMatcher.ts
  packages/core/src/engine/path-matcher/registration/context.ts
  packages/core/src/engine/path-matcher/registration/index.ts
  packages/core/src/engine/path-matcher/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/engine/unit/path-matcher/SegmentMatcher.test.ts
Due: core

feat(core): remove the path/query name-collision gate (#1548)
  packages/core/src/engine/path-matcher/registration/errors.ts
  packages/core/src/engine/path-matcher/registration/index.ts
  packages/core/src/engine/validation/routes.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/tests/engine/functional/validation-routes.test.ts
  packages/core/tests/engine/property/validation.properties.ts
  packages/core/tests/engine/unit/path-matcher/SegmentMatcher.test.ts
  packages/core/tests/functional/routes/matchPath.test.ts
Due: core

feat(core): forwardState carries the query channel — RFC-4 M2 B1.5 (#1548)
  .changeset/forwardstate-search-channel-core.md
  .changeset/forwardstate-search-channel-persistent-params.md
  .changeset/forwardstate-search-channel-search-schema.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/types/api.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/matchPathInterceptors.test.ts
  packages/persistent-params-plugin/src/plugin.ts
  packages/search-schema-plugin/src/plugin.ts
  packages/search-schema-plugin/tests/functional/integration.test.ts
Due: core

refactor(persistent-params-plugin): drop the last legacy 2-arg interceptor (#1548)
  .changeset/forwardstate-search-channel-core.md
  .changeset/forwardstate-search-channel-persistent-params.md
  packages/core/src/internals.ts
  packages/persistent-params-plugin/CLAUDE.md
  packages/persistent-params-plugin/src/plugin.ts
  packages/persistent-params-plugin/tests/functional/plugin.test.ts
Due: core

feat: two-channel ssr/preload loader target — close query-gap (#1548)
  .changeset/two-channel-preload.md
  .changeset/two-channel-rsc-loader.md
  .changeset/two-channel-ssr-data-loader.md
  packages/preload-plugin/CLAUDE.md
  packages/preload-plugin/src/index.ts
  packages/preload-plugin/src/plugin.ts
  packages/preload-plugin/src/types.ts
  packages/preload-plugin/tests/functional/hover.test.ts
  packages/rsc-server-plugin/CLAUDE.md
  packages/rsc-server-plugin/src/index.ts
  packages/rsc-server-plugin/src/types.ts
  packages/rsc-server-plugin/tests/functional/rsc-loader.test.ts
  packages/rsc-server-plugin/tests/property/rsc.properties.ts
  packages/rsc-server-plugin/tests/stress/rsc-action.stress.ts
  packages/rsc-server-plugin/tests/stress/rsc-stress.stress.ts
  packages/ssr-data-plugin/CLAUDE.md
  packages/ssr-data-plugin/src/index.ts
  packages/ssr-data-plugin/src/types.ts
  packages/ssr-data-plugin/tests/functional/composition-with-rsc.test.ts
  packages/ssr-data-plugin/tests/functional/data-loader.test.ts
  packages/ssr-data-plugin/tests/property/ssr-data.properties.ts
  packages/ssr-data-plugin/tests/stress/concurrent-loaders.stress.ts
  packages/ssr-data-plugin/tests/stress/data-loader-stress.stress.ts
  packages/ssr-data-plugin/tests/stress/loader-error-handling.stress.ts
  packages/ssr-data-plugin/tests/stress/stale-registry-leak.stress.ts
  shared/ssr/createSsrLoaderPlugin.ts
  shared/ssr/index.ts
  shared/ssr/types.ts
Due: none

feat(logger-plugin): diff both params and search channels (#1548)
  .changeset/two-channel-logger-diff.md
  packages/logger-plugin/src/internal/params-diff.ts
  packages/logger-plugin/src/plugin.ts
  packages/logger-plugin/tests/functional/internal/params-diff.test.ts
  packages/logger-plugin/tests/functional/plugin.test.ts
Due: none

feat: search-aware buildUrl + params/search in history.state (#1548)
  .changeset/params-search-slot-shift-browser-plugin.md
  .changeset/params-search-slot-shift-hash-plugin.md
  .changeset/params-search-slot-shift-navigation-plugin.md
  packages/angular/src/dom-utils/link-utils.ts
  packages/angular/tests/functional/dom-utils-integration.test.ts
  packages/browser-plugin/ARCHITECTURE.md
  packages/browser-plugin/CLAUDE.md
  packages/browser-plugin/README.md
  packages/browser-plugin/src/index.ts
  packages/browser-plugin/tests/functional/browser-env/plugin-utils-factories.test.ts
  packages/browser-plugin/tests/functional/url.test.ts
  packages/hash-plugin/CLAUDE.md
  packages/hash-plugin/src/index.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/lifecycle.test.ts
  packages/navigation-plugin/ARCHITECTURE.md
  packages/navigation-plugin/CLAUDE.md
  packages/navigation-plugin/README.md
  packages/navigation-plugin/src/index.ts
  packages/navigation-plugin/src/navigate-handler.ts
  packages/navigation-plugin/src/plugin.ts
  packages/navigation-plugin/tests/functional/lifecycle.test.ts
  packages/navigation-plugin/tests/functional/navigate.test.ts
  packages/preact/tests/integration/Link.test.tsx
  packages/react/tests/functional/dom-utils/link-utils.test.ts
  packages/react/tests/integration/Link.test.tsx
  packages/solid/tests/integration/Link.test.tsx
  packages/svelte/tests/integration/Link.test.ts
  packages/vue/tests/integration/Link.test.ts
  shared/browser-env/plugin-utils.ts
  shared/dom-utils/link-utils.ts
Due: none

feat(sources): active-route sources carry the query/search channel (#1548)
  .changeset/params-search-active-source-sources.md
  packages/angular/src/directives/RealLink.ts
  packages/angular/src/directives/RealLinkActive.ts
  packages/angular/src/functions/injectIsActiveRoute.ts
  packages/angular/tests/functional/createStableParams.test.ts
  packages/angular/tests/functional/directives.test.ts
  packages/angular/tests/functional/reactive-lifecycle.test.ts
  packages/preact/src/hooks/useIsActiveRoute.tsx
  packages/preact/tests/functional/Link.test.tsx
  packages/preact/tests/functional/useIsActiveRoute.test.tsx
  packages/react/src/hooks/useIsActiveRoute.tsx
  packages/react/tests/functional/InkLink.test.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/react/tests/functional/useIsActiveRoute.test.tsx
  packages/solid/src/components/Link.tsx
  packages/solid/src/directives/link.tsx
  packages/solid/tests/functional/Link.test.tsx
  packages/solid/tests/functional/link-directive.test.tsx
  packages/sources/CLAUDE.md
  packages/sources/src/createActiveRouteSource.ts
  packages/sources/src/createActiveSource.ts
  packages/sources/tests/functional/createActiveSource.test.ts
  packages/sources/tests/unit/createActiveRouteSource-cache.test.ts
  packages/sources/tests/unit/createActiveRouteStore.test.ts
  packages/svelte/src/composables/useIsActiveRoute.svelte.ts
  packages/svelte/tests/functional/Link.test.ts
  packages/vue/src/components/Link.ts
  packages/vue/src/composables/useIsActiveRoute.ts
  packages/vue/tests/functional/Link.test.ts
  packages/vue/tests/functional/useIsActiveRoute.test.ts
Due: react

feat: <Link to={NavigationTarget}> descriptor across the 6 adapters (#1548)
  .changeset/to-descriptor-link-angular.md
  .changeset/to-descriptor-link-preact.md
  .changeset/to-descriptor-link-react.md
  .changeset/to-descriptor-link-solid.md
  .changeset/to-descriptor-link-svelte.md
  .changeset/to-descriptor-link-vue.md
  packages/angular/src/directives/RealLink.ts
  packages/angular/src/dom-utils/index.ts
  packages/angular/src/dom-utils/link-utils.ts
  packages/angular/tests/aot/directives.aot.test.ts
  packages/preact/src/components/Link.tsx
  packages/preact/src/types.ts
  packages/preact/tests/integration/Link.test.tsx
  packages/react/CLAUDE.md
  packages/react/src/components/Link.tsx
  packages/react/src/types.ts
  packages/react/tests/integration/Link.test.tsx
  packages/solid/src/components/Link.tsx
  packages/solid/src/types.ts
  packages/solid/tests/functional/Link.test.tsx
  packages/svelte/src/components/Link.svelte
  packages/svelte/src/types.ts
  packages/vue/src/components/Link.ts
  packages/vue/src/types.ts
  shared/dom-utils/CLAUDE.md
  shared/dom-utils/index.ts
  shared/dom-utils/link-utils.ts
Due: react

feat(core): remove per-State meta sidecar; read route param ownership from live matcher
  .changeset/params-search-meta-sidecar-core.md
  IMPLEMENTATION_NOTES.md
  packages/core/ARCHITECTURE.md
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/stateMetaStore.ts
  packages/core/src/transitionPath.ts
  packages/core/src/types/api.ts
  packages/core/src/types/base.ts
  packages/core/src/types/index.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/benchmarks/default.bench.ts
  packages/core/tests/functional/routes/shouldUpdateNode.test.ts
  packages/core/tests/helpers/index.ts
  packages/core/tests/property/stateFactory.properties.ts
  shared/browser-env/plugin-utils.ts
Due: core

feat(core): two-channel encodeParams/decodeParams — codecs see path + query channels
  .changeset/params-search-codec-channels-core.md
  packages/core/README.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/RoutesNamespace/types.ts
  packages/core/src/types/base.ts
  packages/core/src/types/index.ts
  packages/core/src/types/router.ts
  packages/core/tests/benchmarks/default.bench.ts
  packages/core/tests/functional/api/getRoutesApi/addRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/clearRoutes.test.ts
  packages/core/tests/functional/api/getRoutesApi/getRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/removeRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/replaceRoutes.test.ts
  packages/core/tests/functional/api/getRoutesApi/updateRoute.test.ts
  packages/core/tests/functional/events/tree-changed.test.ts
  packages/core/tests/functional/routes/buildPath.test.ts
  packages/core/tests/functional/routes/codec-channels.test.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/core/tests/helpers/testRouters.ts
  packages/core/tests/property/tree-changed.properties.ts
  packages/ssr-utils/tests/helpers/testRouters.ts
  packages/validation-plugin/tests/functional/integration/retrospective-integration.test.ts
Due: core

docs(core): correct matchPath defaultParams-routing follow-up attribution (#1549, not milestone 3)
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
Due: core

feat: caller-supplied search channel on replaceHistoryState across the 3 URL plugins
  .changeset/params-search-slot-shift-browser-plugin.md
  .changeset/params-search-slot-shift-hash-plugin.md
  .changeset/params-search-slot-shift-navigation-plugin.md
  packages/browser-plugin/CLAUDE.md
  packages/browser-plugin/README.md
  packages/browser-plugin/src/index.ts
  packages/browser-plugin/tests/functional/browser-env/plugin-utils-factories.test.ts
  packages/browser-plugin/tests/functional/url.test.ts
  packages/hash-plugin/README.md
  packages/hash-plugin/src/index.ts
  packages/hash-plugin/src/plugin.ts
  packages/hash-plugin/tests/functional/lifecycle.test.ts
  packages/navigation-plugin/CLAUDE.md
  packages/navigation-plugin/src/index.ts
  shared/browser-env/plugin-utils.ts
Due: none

test(core): search-channel benchmark scenarios (navigate/buildPath/isActiveRoute, RFC-4 M2)
  packages/core/tests/benchmarks/default.bench.ts
  packages/core/tests/benchmarks/strict-query.bench.ts
Due: none

chore(benchmarks): routeSearch active-recompute adapter-bench scenario across all 6 frameworks
  benchmarks/adapter-bench/apps/angular/main.ts
  benchmarks/adapter-bench/apps/preact.tsx
  benchmarks/adapter-bench/apps/react.tsx
  benchmarks/adapter-bench/apps/solid.tsx
  benchmarks/adapter-bench/apps/svelte/App.svelte
  benchmarks/adapter-bench/apps/svelte/index.ts
  benchmarks/adapter-bench/apps/vue.ts
  benchmarks/adapter-bench/benches/angular.bench.mts
  benchmarks/adapter-bench/benches/preact.bench.mts
  benchmarks/adapter-bench/benches/react.bench.mts
  benchmarks/adapter-bench/benches/solid.bench.mts
  benchmarks/adapter-bench/benches/svelte.bench.mts
  benchmarks/adapter-bench/benches/vue.bench.mts
  benchmarks/adapter-bench/shared/bench-utils.mts
Due: none

fix(core): route defaultParams by channel (#1549)
  .changeset/lazy-parrots-shout.md
  packages/core/ARCHITECTURE.md
  packages/core/src/api/getPluginApi.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/namespaces/StateNamespace/types.ts
  packages/core/src/wiring/wireNamespaces.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/core/tests/functional/state/default-params-channels.test.ts
  packages/search-schema-plugin/CLAUDE.md
  packages/search-schema-plugin/README.md
  packages/search-schema-plugin/tests/functional/integration.test.ts
Due: core

fix(benchmarks): migrate cross-router apps to RFC-4 M2 search channel (#1548)
  benchmarks/cross-router/apps/angular/real-router/searchparams/src/app.component.ts
  benchmarks/cross-router/apps/angular/real-router/searchparams/src/routes.ts
  benchmarks/cross-router/apps/react/_shared/search-param-spec.ts
  benchmarks/cross-router/apps/react/real-router/search/src/main.tsx
  benchmarks/cross-router/apps/react/real-router/searchparams/src/main.tsx
  benchmarks/cross-router/apps/solid/_shared/search-param-spec.ts
  benchmarks/cross-router/apps/solid/real-router/search/src/main.tsx
  benchmarks/cross-router/apps/solid/real-router/searchparams/src/main.tsx
  benchmarks/cross-router/apps/svelte/_shared/search-param-spec.ts
  benchmarks/cross-router/apps/svelte/real-router/searchparams/src/Content.svelte
  benchmarks/cross-router/apps/svelte/real-router/searchparams/src/main.ts
  benchmarks/cross-router/apps/vue/_shared/search-param-spec.ts
  benchmarks/cross-router/apps/vue/real-router/searchparams/src/main.tsx
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/property/cloneRouter.properties.ts
  packages/core/tests/stress/navigate-to-not-found.stress.ts
Due: none

fix(ssr-utils): include search in serializeRouterState payload (#1548)
  .changeset/two-channel-serialize-router-state.md
  packages/ssr-utils/src/serializeRouterState.ts
  packages/ssr-utils/tests/functional/serializeRouterState.test.ts
  packages/ssr-utils/tests/property/helpers.ts
  packages/ssr-utils/tests/property/serializeRouterState.properties.ts
Due: none

docs(core): sync docs to RFC-4 M2 params/search split (#1548)
  ARCHITECTURE.md
  README.md
  packages/core/ARCHITECTURE.md
  packages/core/CLAUDE.md
  packages/core/INVARIANTS.md
  packages/core/README.md
Due: none
