Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

chore: dedupe lockfile after dependency updates
  pnpm-lock.yaml
Due: none

perf(ci): optimize Bundle Size job — reuse artifacts + skip tests for base build
  .github/workflows/ci.yml
  turbo.json
Due: none

fix(ci): restore turbo.json from PR branch before base build
  .github/workflows/ci.yml
Due: none

fix(ci): save turbo.json to /tmp before base checkout
  .github/workflows/ci.yml
Due: none

chore(deps): bump knip to v6, turbo to 2.8.20
  knip.json
  package.json
  pnpm-lock.yaml
Due: none

docs: update IMPLEMENTATION_NOTES.md with infrastructure changes since 042c10b2
  IMPLEMENTATION_NOTES.md
Due: none

feat: Wave 1 foundation — RouterValidator, guards.ts, forwardChain.ts, routeGuards.ts, validation-plugin scaffold
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/guards.ts
  packages/core/src/index.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/RoutesNamespace/constants.ts
  packages/core/src/namespaces/RoutesNamespace/forwardChain.ts
  packages/core/src/namespaces/RoutesNamespace/forwardToValidation.ts
  packages/core/src/namespaces/RoutesNamespace/routeGuards.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/src/types/RouterValidator.ts
  packages/validation-plugin/package.json
  packages/validation-plugin/src/index.ts
  packages/validation-plugin/tsconfig.build.json
  packages/validation-plugin/tsconfig.json
  packages/validation-plugin/tsconfig.node.json
  packages/validation-plugin/tsup.config.mts
  packages/validation-plugin/vitest.config.mts
  pnpm-lock.yaml
Due: core

feat: Wave 2 partial — retrospective validators, ./validation subpath export
  packages/core/package.json
  packages/core/src/validation.ts
  packages/core/tsup.config.mts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tsconfig.node.json
Due: core

feat: Wave 2 complete — validators, retrospective, validationPlugin factory, ./validation export
  packages/core/src/internals.ts
  packages/core/src/validation.ts
  packages/validation-plugin/src/index.ts
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/dependencies.ts
  packages/validation-plugin/src/validators/eventBus.ts
  packages/validation-plugin/src/validators/forwardTo.ts
  packages/validation-plugin/src/validators/index.ts
  packages/validation-plugin/src/validators/lifecycle.ts
  packages/validation-plugin/src/validators/navigation.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/src/validators/plugins.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/src/validators/routes.ts
  packages/validation-plugin/src/validators/state.ts
Due: core

refactor(core): transform Router.ts — replace 14 noValidate blocks with validator?. pattern
  packages/core/src/Router.ts
  packages/core/src/guards.ts
Due: core

refactor(core): transform all API files — replace noValidate blocks with validator?. pattern, add crash guards in add/replace
  packages/core/src/api/cloneRouter.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

refactor(core): remove noValidate from internal pipeline, types, and Options interface
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
Due: core

refactor(core): delete moved validator files, trim partial files, update tests
  packages/core/src/namespaces/DependenciesNamespace/validators.ts
  packages/core/src/namespaces/EventBusNamespace/validators.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/validators.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/validators.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/validators.ts
  packages/core/src/namespaces/RoutesNamespace/forwardToValidation.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/src/namespaces/StateNamespace/validators.ts
  packages/core/tests/functional/api/getLifecycleApi/getLifecycleApi.test.ts
  packages/core/tests/functional/api/getRoutesApi/getRoutesApi.test.ts
  packages/core/tests/functional/api/getRoutesApi/replaceRoutes.test.ts
  packages/core/tests/functional/api/internalRouteProtection.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/routeLifecycle/guardApi.test.ts
  packages/core/tests/functional/state/buildNavigationState.test.ts
Due: core

test: Wave 4 partial — remove/transform validation tests from core, update INVARIANTS.md
  packages/core/INVARIANTS.md
  packages/core/tests/functional/api/getDependenciesApi/setDependencies.test.ts
  packages/core/tests/functional/api/getDependenciesApi/setDependency.test.ts
  packages/core/tests/functional/api/internalRouteProtection.test.ts
  packages/core/tests/functional/createRouter.test.ts
  packages/core/tests/functional/guards.test.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/core/tests/functional/plugins.test.ts
  packages/core/tests/property/routeManagement.properties.ts
Due: none

test(core): remove DX-validation tests from core test files (plugin required for those)
  packages/core/tests/functional/api/getDependenciesApi/getDependenciesApi.test.ts
  packages/core/tests/functional/api/getDependenciesApi/hasDependency.test.ts
  packages/core/tests/functional/api/getDependenciesApi/removeDependency.test.ts
  packages/core/tests/functional/api/getDependenciesApi/resetDependencies.test.ts
  packages/core/tests/functional/api/getLifecycleApi/addActivateGuard.test.ts
  packages/core/tests/functional/api/getLifecycleApi/addDeactivateGuard.test.ts
  packages/core/tests/functional/api/getLifecycleApi/getLifecycleApi.test.ts
  packages/core/tests/functional/api/getPluginApi/areStatesEqual.test.ts
  packages/core/tests/functional/api/getPluginApi/buildState.test.ts
  packages/core/tests/functional/api/getPluginApi/forwardState.test.ts
  packages/core/tests/functional/api/getPluginApi/makeState.test.ts
  packages/core/tests/functional/api/getRoutesApi/addRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/getRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/hasRoute.test.ts
  packages/core/tests/functional/dependencies.test.ts
  packages/core/tests/functional/dependencies/getDependency.test.ts
  packages/core/tests/functional/observable/addEventListener.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/validation-plugin/tests/functional/createRouter.validation.test.ts
  packages/validation-plugin/tests/functional/dependencies.validation.test.ts
  packages/validation-plugin/tests/functional/event-bus.validation.test.ts
  packages/validation-plugin/tests/functional/lifecycle.validation.test.ts
  packages/validation-plugin/tests/functional/limits.test.ts
  packages/validation-plugin/tests/functional/navigation.validation.test.ts
  packages/validation-plugin/tests/functional/plugin-api.validation.test.ts
  packages/validation-plugin/tests/functional/router-methods.validation.test.ts
  packages/validation-plugin/tests/functional/routes.validation.test.ts
  packages/validation-plugin/tests/functional/validationPlugin.test.ts
  packages/validation-plugin/tests/helpers.ts
  packages/validation-plugin/tests/setup.ts
  packages/validation-plugin/vitest.config.mts
Due: none

test(core): continue removing DX-validation tests from core test files
  packages/core/src/Router.ts
  packages/core/tests/functional/api/getRoutesApi/addRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/removeRoute.test.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/functional/routes/isActiveRoute.test.ts
  packages/core/tests/functional/routes/matchPath.test.ts
  packages/core/tests/functional/state/buildNavigationState.test.ts
Due: core

test(core): complete DX-validation test cleanup — all validation tests removed from core
  packages/core/tests/functional/api/getRoutesApi/hasRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/removeRoute.test.ts
  packages/core/tests/functional/api/getRoutesApi/replaceRoutes.test.ts
  packages/core/tests/functional/api/getRoutesApi/updateRoute.test.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-input-validation.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-params.test.ts
  packages/core/tests/functional/navigation/navigate/edge-cases-proxy.test.ts
  packages/core/tests/functional/navigation/navigateToDefault.test.ts
  packages/core/tests/functional/routes/buildPath.test.ts
  packages/core/tests/functional/routes/isActiveRoute.test.ts
  packages/core/tests/functional/routes/shouldUpdateNode.test.ts
  packages/validation-plugin/tests/functional/validation.test.ts
Due: none

docs+chore: Wave 5 — validation-plugin docs, root docs updated, benchmarks cleaned, changeset
  ARCHITECTURE.md
  CLAUDE.md
  IMPLEMENTATION_NOTES.md
  packages/core/CLAUDE.md
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/validation-plugin/ARCHITECTURE.md
  packages/validation-plugin/README.md
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/tests/functional/createRouter.validation.test.ts
  packages/validation-plugin/tests/functional/event-bus.validation.test.ts
  packages/validation-plugin/tests/functional/navigation.validation.test.ts
  packages/validation-plugin/tests/functional/validationPlugin.test.ts
Due: core

test(validation-plugin): achieve 100% test coverage and restore vitest config
  packages/validation-plugin/src/validators/dependencies.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/tests/functional/integration/plugin-lifecycle.test.ts
  packages/validation-plugin/tests/functional/integration/routes-coverage.test.ts
Due: none

test(validation-plugin): add integration and retrospective validation tests
  packages/core/src/Router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/guards.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/src/validation.ts
  packages/core/tests/functional/api/getRoutesApi/removeRoute.test.ts
  packages/core/tests/functional/guards.test.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/core/tests/functional/routes/shouldUpdateNode.test.ts
  packages/validation-plugin/src/index.ts
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/dependencies.ts
  packages/validation-plugin/src/validators/eventBus.ts
  packages/validation-plugin/src/validators/forwardTo.ts
  packages/validation-plugin/src/validators/index.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/src/validators/routes.ts
  packages/validation-plugin/tests/functional/createRouter.validation.test.ts
  packages/validation-plugin/tests/functional/dependencies.validation.test.ts
  packages/validation-plugin/tests/functional/event-bus.validation.test.ts
  packages/validation-plugin/tests/functional/integration/forwardto-coverage.test.ts
  packages/validation-plugin/tests/functional/integration/plugin-lifecycle.test.ts
  packages/validation-plugin/tests/functional/integration/retrospective-integration.test.ts
  packages/validation-plugin/tests/functional/integration/routes-coverage.test.ts
  packages/validation-plugin/tests/functional/lifecycle.validation.test.ts
  packages/validation-plugin/tests/functional/limits.test.ts
  packages/validation-plugin/tests/functional/navigation.validation.test.ts
  packages/validation-plugin/tests/functional/plugin-api.validation.test.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
  packages/validation-plugin/tests/functional/router-methods.validation.test.ts
  packages/validation-plugin/tests/functional/routes.validation.test.ts
  packages/validation-plugin/tests/functional/validation.test.ts
  packages/validation-plugin/tests/functional/validationPlugin.test.ts
  packages/validation-plugin/tests/helpers.ts
  packages/validation-plugin/tests/unit/validators.test.ts
Due: core

fix: resolve post-noValidate test failures and unused exports
  packages/browser-plugin/tests/functional/security.test.ts
  packages/core/src/api/getLifecycleApi.ts
  packages/core/src/constants.ts
  packages/persistent-params-plugin/tests/functional/plugin.test.ts
  packages/validation-plugin/src/validators/index.ts
Due: core

chore: remove test:properties from validation-plugin — no property tests exist
  packages/validation-plugin/package.json
Due: none

chore: add changesets and fix stale noValidate comment in routesStore
  .changeset/validation-plugin-core-breaking.md
  .changeset/validation-plugin-new-package.md
  .changeset/validation-plugin-types-breaking.md
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
Due: core

chore(router-benchmarks): remove noValidate references from benchmark helpers
  packages/router-benchmarks/src/helpers/constants.ts
  packages/router-benchmarks/src/helpers/router-adapter.ts
Due: none

chore: fix configs
  .size-limit.js
  packages/validation-plugin/eslint.config.mjs
  packages/validation-plugin/package.json
  packages/validation-plugin/src/validationPlugin.ts
Due: none

refactor(core): expand RouterValidator interface with 17 Phase 2 slots + validator getter wiring
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/validation-plugin/src/validationPlugin.ts
Due: core

refactor(core): extract DX validators and warnings behind ctx.validator
  packages/core/src/Router.ts
  packages/core/src/api/cloneRouter.ts
  packages/core/src/api/getDependenciesApi.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/guards.ts
  packages/core/src/helpers.ts
  packages/core/src/namespaces/OptionsNamespace/OptionsNamespace.ts
  packages/core/src/namespaces/OptionsNamespace/constants.ts
  packages/core/src/namespaces/OptionsNamespace/index.ts
  packages/core/src/namespaces/OptionsNamespace/validators.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/constants.ts
  packages/core/src/namespaces/PluginsNamespace/validators.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/RoutesNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/constants.ts
  packages/core/src/namespaces/RoutesNamespace/index.ts
  packages/core/src/namespaces/RoutesNamespace/validators.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/src/namespaces/index.ts
  packages/core/src/wiring/RouterWiringBuilder.ts
  packages/core/tests/functional/api/getDependenciesApi/removeDependency.test.ts
  packages/core/tests/functional/api/getDependenciesApi/setDependencies.test.ts
  packages/core/tests/functional/api/getDependenciesApi/setDependency.test.ts
  packages/core/tests/functional/api/getLifecycleApi/addActivateGuard.test.ts
  packages/core/tests/functional/api/getLifecycleApi/addDeactivateGuard.test.ts
  packages/core/tests/functional/api/getRoutesApi/addRoute.test.ts
  packages/core/tests/functional/clone.test.ts
  packages/core/tests/functional/guards.test.ts
  packages/core/tests/functional/limits.test.ts
  packages/core/tests/functional/navigation/navigate/auto-cleanup.test.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/core/tests/functional/options.test.ts
  packages/core/tests/functional/plugins.test.ts
  packages/core/tests/functional/routeLifecycle/canNavigateTo.test.ts
  packages/core/tests/functional/routeLifecycle/guardApi.test.ts
  packages/core/tests/stress/dependencies-store.stress.ts
  packages/validation-plugin/tests/functional/limits.test.ts
Due: core

feat(validation-plugin): implement Phase 2 validator slots
  commitlint.config.mjs
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/validation.ts
  packages/validation-plugin/package.json
  packages/validation-plugin/src/helpers.ts
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/dependencies.ts
  packages/validation-plugin/src/validators/lifecycle.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/src/validators/plugins.ts
  packages/validation-plugin/src/validators/routes.ts
  packages/validation-plugin/tests/functional/limits.test.ts
  packages/validation-plugin/tests/functional/phase2.validation.test.ts
  packages/validation-plugin/tests/unit/phase2-validators.test.ts
  pnpm-lock.yaml
Due: core

chore(core): remove type-guards from noExternal, dead re-exports, and devDependencies
  packages/core/package.json
  packages/core/src/helpers.ts
  packages/core/src/typeGuards.ts
  packages/core/tests/benchmarks/validation/isNavigationOptions.bench.ts
  packages/core/tsup.config.mts
  pnpm-lock.yaml
Due: core

refactor: enforce id-length rule — rename single-letter variables across all packages
  .size-limit.js
  eslint.config.mjs
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/guards.ts
  packages/core/src/internals.ts
  packages/core/src/namespaces/EventBusNamespace/EventBusNamespace.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/src/namespaces/StateNamespace/helpers.ts
  packages/event-emitter/src/EventEmitter.ts
  packages/path-matcher/src/SegmentMatcher.ts
  packages/path-matcher/src/registration.ts
  packages/route-tree/src/builder/computeCaches.ts
  packages/route-tree/src/validation/route-batch.ts
  packages/route-utils/src/RouteUtils.ts
  packages/router-benchmarks/eslint.config.mjs
  packages/router-benchmarks/src/01-navigation-basic/1.1-success.bench.ts
  packages/router-benchmarks/src/01-navigation-basic/1.2-edge-cases.bench.ts
  packages/router-benchmarks/src/08-current-state/8.7-edge-cases.bench.ts
  packages/router-benchmarks/src/index.ts
  packages/router-benchmarks/src/isolated-anomalies.ts
  packages/router-benchmarks/src/isolated-navigate.ts
  packages/rx/src/RxObservable.ts
  packages/rx/src/operators/distinctUntilChanged.ts
  packages/sources/src/createTransitionSource.ts
  packages/ssr-data-plugin/src/factory.ts
  packages/type-guards/src/guards/params.ts
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/dependencies.ts
  packages/validation-plugin/src/validators/forwardTo.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/src/validators/routes.ts
  packages/vue/src/components/RouteView/helpers.ts
Due: core, route-tree

test(validation-plugin): add property-based tests, id-length rule, v8 ignore cleanup
  packages/core/src/namespaces/RoutesNamespace/constants.ts
  packages/core/src/validation.ts
  packages/validation-plugin/ARCHITECTURE.md
  packages/validation-plugin/INVARIANTS.md
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/retrospective.ts
  packages/validation-plugin/src/validators/routes.ts
  packages/validation-plugin/tests/functional/phase2-validators.test.ts
  packages/validation-plugin/tests/functional/retrospective/retrospective.test.ts
  packages/validation-plugin/tests/functional/routes.validation.test.ts
  packages/validation-plugin/tests/functional/validationPlugin.test.ts
  packages/validation-plugin/tests/functional/validators.test.ts
  packages/validation-plugin/tests/property/helpers.ts
  packages/validation-plugin/tests/property/validateCloneArgs.properties.ts
  packages/validation-plugin/tests/property/validateOptions.properties.ts
Due: core

chore: fix changesets — add (#334) refs, add Phase 2 changesets
  .changeset/validation-phase2-core-refactor.md
  .changeset/validation-phase2-plugin-feature.md
  .changeset/validation-plugin-core-breaking.md
  .changeset/validation-plugin-new-package.md
  .changeset/validation-plugin-types-breaking.md
Due: none

feat(core): usePlugin() silently skips false, null, undefined (#341)
  .changeset/useplugin-falsy-feature.md
  .changeset/useplugin-falsy-types.md
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/tests/functional/plugins.test.ts
Due: core

feat(core,validation-plugin): improve runtime validation DX
  packages/core/src/Router.ts
  packages/core/src/api/getPluginApi.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/dependencies.ts
  packages/validation-plugin/src/validators/eventBus.ts
  packages/validation-plugin/src/validators/forwardTo.ts
  packages/validation-plugin/src/validators/lifecycle.ts
  packages/validation-plugin/src/validators/navigation.ts
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/src/validators/plugins.ts
  packages/validation-plugin/src/validators/routes.ts
  packages/validation-plugin/tests/functional/dependencies.validation.test.ts
  packages/validation-plugin/tests/functional/lifecycle.validation.test.ts
  packages/validation-plugin/tests/functional/navigation.validation.test.ts
  packages/validation-plugin/tests/functional/phase2-validators.test.ts
  packages/validation-plugin/tests/functional/phase2.validation.test.ts
  packages/validation-plugin/tests/functional/plugin-api.validation.test.ts
  packages/validation-plugin/tests/functional/router-methods.validation.test.ts
  packages/validation-plugin/tests/functional/routes.validation.test.ts
  packages/validation-plugin/tests/functional/validation.test.ts
  packages/validation-plugin/tests/functional/validators.test.ts
Due: core

docs: update documentation for validation-plugin extraction
  .changeset/useplugin-falsy-feature.md
  .changeset/useplugin-falsy-types.md
  .gitignore
  ARCHITECTURE.md
  CLAUDE.md
  IMPLEMENTATION_NOTES.md
  README.md
  packages/core/ARCHITECTURE.md
  packages/core/CLAUDE.md
  packages/core/README.md
  packages/core/package.json
  packages/validation-plugin/ARCHITECTURE.md
  packages/validation-plugin/README.md
  packages/validation-plugin/tests/functional/plugin-api.validation.test.ts
Due: none

chore(router-benchmarks): remove validation-plugin benchmarking
  packages/router-benchmarks/README.md
  packages/router-benchmarks/bench-compare.sh
  packages/router-benchmarks/compare.mjs
  packages/router-benchmarks/package.json
  packages/router-benchmarks/src/helpers/constants.ts
Due: none

chore(types): bump @real-router/types to 0.25.0
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
Due: none

refactor(validation-plugin): reuse core resolveForwardChain
  packages/validation-plugin/src/validators/retrospective.ts
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
