Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

release: version packages (#123 #258 #37 #42) (#267)
  .changeset/link-optimization.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(react): remove this use of the void operator in Link component
  packages/react/src/components/Link.tsx
Due: react

refactor(sources): replace @real-router/types dependency with @real-router/core (#259)
  packages/sources/package.json
  packages/sources/src/computeSnapshot.ts
  packages/sources/src/createActiveRouteSource.ts
  packages/sources/src/createRouteNodeSource.ts
  packages/sources/src/createRouteSource.ts
  packages/sources/src/shouldUpdateCache.ts
  pnpm-lock.yaml
Due: none

feat(sources): add createTransitionSource for transition lifecycle subscriptions (#259)
  packages/sources/src/createTransitionSource.ts
  packages/sources/src/index.ts
  packages/sources/src/types.ts
  packages/sources/tests/unit/createTransitionSource.test.ts
Due: none

perf(sources): add createTransitionSource benchmarks (#259)
  packages/sources/tests/benchmarks/index.ts
  packages/sources/tests/benchmarks/transition.bench.ts
Due: none

feat(react): add useRouterTransition hook (#259)
  packages/react/src/hooks/useRouterTransition.tsx
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/functional/useRouterTransition.test.tsx
Due: react

test(react): add useRouterTransition performance tests (#259)
  packages/react/tests/performance/useRouterTransition.test.tsx
Due: none

docs: update documentation for useRouterTransition (#259)
  ARCHITECTURE.md
  packages/react/README.md
  packages/sources/README.md
Due: none

chore: add changesets for useRouterTransition feature (#259)
  .changeset/transition-source-feature.md
  .changeset/use-router-transition-feature.md
Due: none

fix(react): replace direct node access with fireEvent in useRouterTransition test (#259)
  packages/react/tests/functional/useRouterTransition.test.tsx
Due: none

chore: add task number to changeset file
  .changeset/transition-source-feature.md
  .changeset/use-router-transition-feature.md
Due: none

chore: add @real-router/core to size-limit config
  .size-limit.js
Due: none

feat(react, sources): add `useRouterTransition` hook for transition state indication (#259) (#268)
  .changeset/transition-source-feature.md
  .changeset/use-router-transition-feature.md
  .size-limit.js
  ARCHITECTURE.md
  packages/react/README.md
  packages/react/src/hooks/useRouterTransition.tsx
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/functional/useRouterTransition.test.tsx
  packages/react/tests/performance/useRouterTransition.test.tsx
  packages/sources/README.md
  packages/sources/package.json
  packages/sources/src/computeSnapshot.ts
  packages/sources/src/createActiveRouteSource.ts
  packages/sources/src/createRouteNodeSource.ts
  packages/sources/src/createRouteSource.ts
  packages/sources/src/createTransitionSource.ts
  packages/sources/src/index.ts
  packages/sources/src/shouldUpdateCache.ts
  packages/sources/src/types.ts
  packages/sources/tests/benchmarks/index.ts
  packages/sources/tests/benchmarks/transition.bench.ts
  packages/sources/tests/unit/createTransitionSource.test.ts
  pnpm-lock.yaml
Due: react

release: version packages (#123 #259 #37 #42)
  .changeset/transition-source-feature.md
  .changeset/use-router-transition-feature.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

release: version packages (#123 #259 #37 #42) (#269)
  .changeset/transition-source-feature.md
  .changeset/use-router-transition-feature.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

feat(react): add RouteView declarative route matching component (#260)
  .changeset/route-view-feature.md
  .size-limit.js
  packages/react/ARCHITECTURE.md
  packages/react/README.md
  packages/react/src/components/RouteView.tsx
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/RouteView.test.tsx
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/integration/RouteView.test.tsx
  packages/react/tests/performance/RouteView.test.tsx
Due: react

test(react): add confirmation tests for useRouteNode known issues (#270, #271)
  packages/react/tests/functional/useRouteNode-issues.test.tsx
Due: none

feat(react): add `<RouteView>` declarative route matching component (#260) (#272)
  .changeset/route-view-feature.md
  .size-limit.js
  packages/react/ARCHITECTURE.md
  packages/react/README.md
  packages/react/src/components/RouteView.tsx
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/RouteView.test.tsx
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/functional/useRouteNode-issues.test.tsx
  packages/react/tests/integration/RouteView.test.tsx
  packages/react/tests/performance/RouteView.test.tsx
Due: react

release: version packages (#123 #260 #37 #42)
  .changeset/route-view-feature.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#123 #260 #37 #42) (#273)
  .changeset/route-view-feature.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

feat(react): add RouteView module with keepAlive support to modern/ (#261)
  packages/react/src/components/modern/RouteView/RouteView.tsx
  packages/react/src/components/modern/RouteView/components.tsx
  packages/react/src/components/modern/RouteView/helpers.tsx
  packages/react/src/components/modern/RouteView/index.ts
  packages/react/src/components/modern/RouteView/types.ts
Due: react

feat(react)!: move RouteView to modern/ entry point, remove from legacy (#261)
  .changeset/route-view-modern-move.md
  packages/react/src/components/RouteView.tsx
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/legacy-entry.test.tsx
Due: react

test(react): add keepAlive functional tests for RouteView (#261)
  .changeset/route-view-keep-alive-feature.md
  packages/react/tests/functional/RouteView.test.tsx
Due: none

test(react): add keepAlive integration tests for RouteView (#261)
  packages/react/tests/integration/RouteView.test.tsx
Due: none

test(react): update performance tests for RouteView keepAlive (#261)
  packages/react/tests/performance/RouteView.test.tsx
Due: none

docs(react): update architecture and readme for RouteView changes (#261)
  packages/react/ARCHITECTURE.md
  packages/react/README.md
Due: none

chore: fix @real-router/react size in size-limit config
  .size-limit.js
Due: none

feat(react): add `keepAlive` prop to `<RouteView.Match>` via React Activity (#274)
  .changeset/route-view-keep-alive-feature.md
  .changeset/route-view-modern-move.md
  .size-limit.js
  packages/react/ARCHITECTURE.md
  packages/react/README.md
  packages/react/src/components/RouteView.tsx
  packages/react/src/components/modern/RouteView/RouteView.tsx
  packages/react/src/components/modern/RouteView/components.tsx
  packages/react/src/components/modern/RouteView/helpers.tsx
  packages/react/src/components/modern/RouteView/index.ts
  packages/react/src/components/modern/RouteView/types.ts
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/RouteView.test.tsx
  packages/react/tests/functional/legacy-entry.test.tsx
  packages/react/tests/integration/RouteView.test.tsx
  packages/react/tests/performance/RouteView.test.tsx
Due: react

release: version packages (#123 #261 #37 #42)
  .changeset/route-view-keep-alive-feature.md
  .changeset/route-view-modern-move.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

release: version packages (#123 #261 #37 #42) (#275)
  .changeset/route-view-keep-alive-feature.md
  .changeset/route-view-modern-move.md
  CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: none

fix(stores): convert RouteNodeSource to lazy-connection pattern (#270)
  .changeset/routenodesource-subscription-leak-fix.md
  packages/react/tests/functional/useRouteNode-issues.test.tsx
  packages/sources/ARCHITECTURE.md
  packages/sources/README.md
  packages/sources/src/createRouteNodeSource.ts
  packages/sources/tests/unit/createRouteNodeStore.test.ts
Due: none

chore: fix @real-router/ size in size-limit config
  .size-limit.js
Due: none

fix(sources): RouteNodeSource subscription leak on unmount (#270) (#276)
  .changeset/routenodesource-subscription-leak-fix.md
  .size-limit.js
  packages/react/tests/functional/useRouteNode-issues.test.tsx
  packages/sources/ARCHITECTURE.md
  packages/sources/README.md
  packages/sources/src/createRouteNodeSource.ts
  packages/sources/tests/unit/createRouteNodeStore.test.ts
Due: none

release: version packages (#123 #270 #37 #42)
  .changeset/routenodesource-subscription-leak-fix.md
  CHANGELOG.md
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

release: version packages (#123 #270 #37 #42) (#277)
  .changeset/routenodesource-subscription-leak-fix.md
  CHANGELOG.md
  packages/sources/CHANGELOG.md
  packages/sources/package.json
Due: none

perf(core): cache getNavigator() result per router via WeakMap (#271)
  .changeset/getnavigator-perf.md
  packages/core/src/getNavigator.ts
  packages/core/tests/functional/navigator.test.ts
  packages/react/tests/functional/useRouteNode-issues.test.tsx
  packages/sources/tests/functional/subscription-lifecycle.test.ts
Due: core

perf(core): cache getNavigator() result per router via WeakMap (#271) (#278)
  .changeset/getnavigator-perf.md
  packages/core/src/getNavigator.ts
  packages/core/tests/functional/navigator.test.ts
  packages/react/tests/functional/useRouteNode-issues.test.tsx
  packages/sources/tests/functional/subscription-lifecycle.test.ts
Due: core

release: version packages (#123 #271 #37 #42)
  .changeset/getnavigator-perf.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #271 #37 #42) (#279)
  .changeset/getnavigator-perf.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(react): remove from public API (#280)
  .changeset/remove-useisactiveroute-export.md
  packages/react/ARCHITECTURE.md
  packages/react/src/index.ts
  packages/react/src/legacy.ts
  packages/react/tests/functional/legacy-entry.test.tsx
Due: react

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
