Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

docs(notes): composition-step + K-calibration rules from the P1/P2 cycle (suite 56→59, final pair 59/59)
  IMPLEMENTATION_NOTES.md
Due: none

docs(notes): consolidate six CodSpeed sections into one record + threshold decision
  IMPLEMENTATION_NOTES.md
Due: none

feat: port dev-only HttpStatusCode validation to five adapters (#1441) (#1492)
  .changeset/httpstatus-validation-angular.md
  .changeset/httpstatus-validation-react.md
  .changeset/httpstatus-validation-solid.md
  .changeset/httpstatus-validation-svelte.md
  .changeset/httpstatus-validation-vue.md
  packages/angular/ssr/components/HttpStatusCode.ts
  packages/react/src/components/HttpStatusCode.tsx
  packages/react/tests/functional/HttpStatusCode.test.tsx
  packages/solid/src/components/HttpStatusCode.tsx
  packages/solid/tests/functional/HttpStatusCode.test.tsx
  packages/svelte/src/components/HttpStatusCode.svelte
  packages/svelte/tests/functional/HttpStatusCode.test.ts
  packages/vue/src/components/HttpStatusCode.ts
  packages/vue/tests/functional/HttpStatusCode.test.ts
Due: react

release: version packages (#1441)
  .changeset/httpstatus-validation-angular.md
  .changeset/httpstatus-validation-react.md
  .changeset/httpstatus-validation-solid.md
  .changeset/httpstatus-validation-svelte.md
  .changeset/httpstatus-validation-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#1441) (#1493)
  .changeset/httpstatus-validation-angular.md
  .changeset/httpstatus-validation-react.md
  .changeset/httpstatus-validation-solid.md
  .changeset/httpstatus-validation-svelte.md
  .changeset/httpstatus-validation-vue.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

bench(poc): react adapter hot-path bench — pure tinybench + vite prebuild under jsdom
  benchmarks/adapter-bench-poc/app.tsx
  benchmarks/adapter-bench-poc/jsdom-env.mts
  benchmarks/adapter-bench-poc/jsdom.d.ts
  benchmarks/adapter-bench-poc/react.bench.mts
  benchmarks/adapter-bench-poc/tsconfig.json
  benchmarks/adapter-bench-poc/vite.config.mts
  benchmarks/package.json
  pnpm-lock.yaml
Due: none

ci: codspeed-adapters.yml — dispatch-only Phase 1 for the react adapter PoC
  .github/workflows/codspeed-adapters.yml
  benchmarks/package.json
Due: none

bench(poc): adapter K 16→2 — jsdom render is ~3.5-4.2 ms/op under callgrind
  benchmarks/adapter-bench-poc/react.bench.mts
Due: none

docs(notes): adapter-bench PoC record (jsdom+prebuild shape, flushSync, K empirics, gotchas)
  IMPLEMENTATION_NOTES.md
Due: none

fix(sources): unwind partially-registered listeners on addEventListener throw (#1440)
  .changeset/sources-partial-registration-1440-fix.md
  packages/sources/CLAUDE.md
  packages/sources/src/createErrorSource.ts
  packages/sources/src/createTransitionSource.ts
  packages/sources/tests/unit/createErrorSource.test.ts
  packages/sources/tests/unit/createTransitionSource.test.ts
Due: none

bench(adapters): scale the jsdom suite to all six adapters (react→+preact/vue/solid/svelte/angular)
  .github/workflows/codspeed-adapters.yml
  benchmarks/adapter-bench-poc/react.bench.mts
  benchmarks/adapter-bench-poc/vite.config.mts
  benchmarks/adapter-bench/apps/angular/main.ts
  benchmarks/adapter-bench/apps/angular/tsconfig.app.json
  benchmarks/adapter-bench/apps/angular/tsconfig.json
  benchmarks/adapter-bench/apps/preact.tsx
  benchmarks/adapter-bench/apps/react.tsx
  benchmarks/adapter-bench/apps/solid.tsx
  benchmarks/adapter-bench/apps/svelte/App.svelte
  benchmarks/adapter-bench/apps/svelte/Host.svelte
  benchmarks/adapter-bench/apps/svelte/ItemsPage.svelte
  benchmarks/adapter-bench/apps/svelte/ItemsSubscriber.svelte
  benchmarks/adapter-bench/apps/svelte/RootSubscriber.svelte
  benchmarks/adapter-bench/apps/svelte/index.ts
  benchmarks/adapter-bench/apps/vue.ts
  benchmarks/adapter-bench/benches/angular.bench.mts
  benchmarks/adapter-bench/benches/preact.bench.mts
  benchmarks/adapter-bench/benches/react.bench.mts
  benchmarks/adapter-bench/benches/solid.bench.mts
  benchmarks/adapter-bench/benches/svelte.bench.mts
  benchmarks/adapter-bench/benches/vue.bench.mts
  benchmarks/adapter-bench/codspeed.mts
  benchmarks/adapter-bench/shared/bench-utils.mts
  benchmarks/adapter-bench/shared/jsdom-env.mts
  benchmarks/adapter-bench/shared/jsdom.d.ts
  benchmarks/adapter-bench/tsconfig.json
  benchmarks/adapter-bench/vite/angular.config.mts
  benchmarks/adapter-bench/vite/base.mts
  benchmarks/adapter-bench/vite/preact.config.mts
  benchmarks/adapter-bench/vite/react.config.mts
  benchmarks/adapter-bench/vite/solid.config.mts
  benchmarks/adapter-bench/vite/svelte.config.mts
  benchmarks/adapter-bench/vite/vue.config.mts
  benchmarks/package.json
  pnpm-lock.yaml
Due: none

chore(config): port a precedent's lint/coverage suppressions with its pattern in /bugfix
  .claude/commands/bugfix.md
Due: none

bench(adapters): alias @real-router/svelte to src — the one adapter without internal-source
  benchmarks/adapter-bench/vite/svelte.config.mts
Due: none

bench(adapters): K 2→4 for the three under-massed benches (first-callgrind calibration)
  benchmarks/adapter-bench/benches/angular.bench.mts
  benchmarks/adapter-bench/benches/solid.bench.mts
  benchmarks/adapter-bench/benches/svelte.bench.mts
Due: none

bench(adapters): solid/navigate-param-swap K 2→8 — calibration reading was GC-inflated
  benchmarks/adapter-bench/benches/solid.bench.mts
Due: none

bench(adapters): solid/navigate-param-swap K 8→24 — chronic GC-alignment victim needs double mass (straddled at K=2 and K=8; ~13 ms turns the ~0.5 ms swing into ~3.5%; same medicine as core task-#1)
  benchmarks/adapter-bench/benches/solid.bench.mts
Due: none

docs(notes): adapter-bench record — six frameworks, commit mechanics, pipeline landmines, 18/18 verdict
  IMPLEMENTATION_NOTES.md
Due: none

ci: enable adapter-bench Phase 2 — push+PR triggers, fork-PR gated off self-hosted
  .github/workflows/codspeed-adapters.yml
Due: none

fix(benchmarks): correct deep-config matcher — TanStack is O(depth), real-router WINS (was a late-binding bug)
  benchmarks/cross-router/SCENARIO-LAG-ANALYSIS.md
  benchmarks/cross-router/matcher-bench/README.md
  benchmarks/cross-router/matcher-bench/matchers.mjs
  benchmarks/cross-router/matcher-bench/run.mjs
Due: none

docs(benchmarks): sync SCENARIO-LAG-ANALYSIS from independent audit — 2 REFUTED, DRIFTED syncs, completeness
  benchmarks/cross-router/SCENARIO-LAG-ANALYSIS.md
Due: none

refactor(dom-utils): buildHref takes hash positionally (#1442)
  .changeset/tame-otters-refactor-angular.md
  .changeset/tame-otters-refactor-preact.md
  .changeset/tame-otters-refactor-react.md
  .changeset/tame-otters-refactor-solid.md
  .changeset/tame-otters-refactor-svelte.md
  .changeset/tame-otters-refactor-vue.md
  packages/angular/src/directives/RealLink.ts
  packages/angular/src/dom-utils/link-utils.ts
  packages/angular/tests/functional/dom-utils-integration.test.ts
  packages/angular/tests/property/buildHref.properties.ts
  packages/preact/src/components/Link.tsx
  packages/preact/tests/property/linkUtils.properties.ts
  packages/react/src/components/Link.tsx
  packages/react/tests/functional/dom-utils/link-utils.test.ts
  packages/react/tests/property/linkUtils.properties.ts
  packages/solid/src/components/Link.tsx
  packages/solid/tests/property/linkUtils.properties.ts
  packages/svelte/src/components/Link.svelte
  packages/svelte/tests/property/buildHref.properties.ts
  packages/vue/src/components/Link.ts
  packages/vue/tests/functional/dom-utils-link.test.ts
  packages/vue/tests/property/linkUtils.properties.ts
  shared/dom-utils/CLAUDE.md
  shared/dom-utils/link-utils.ts
Due: react

docs(benchmarks): fix relative link to cross-router-benchmarks-design.md
  benchmarks/CLAUDE.md
  benchmarks/README.md
Due: none

fix(sources): unwind partially-registered listeners on addEventListener throw (#1440) (#1494)
  .changeset/sources-partial-registration-1440-fix.md
  packages/sources/CLAUDE.md
  packages/sources/src/createErrorSource.ts
  packages/sources/src/createTransitionSource.ts
  packages/sources/tests/unit/createErrorSource.test.ts
  packages/sources/tests/unit/createTransitionSource.test.ts
Due: none

refactor(dom-utils): buildHref takes hash positionally (#1442) (#1495)
  .changeset/tame-otters-refactor-angular.md
  .changeset/tame-otters-refactor-preact.md
  .changeset/tame-otters-refactor-react.md
  .changeset/tame-otters-refactor-solid.md
  .changeset/tame-otters-refactor-svelte.md
  .changeset/tame-otters-refactor-vue.md
  packages/angular/src/directives/RealLink.ts
  packages/angular/src/dom-utils/link-utils.ts
  packages/angular/tests/functional/dom-utils-integration.test.ts
  packages/angular/tests/property/buildHref.properties.ts
  packages/preact/src/components/Link.tsx
  packages/preact/tests/property/linkUtils.properties.ts
  packages/react/src/components/Link.tsx
  packages/react/tests/functional/dom-utils/link-utils.test.ts
  packages/react/tests/property/linkUtils.properties.ts
  packages/solid/src/components/Link.tsx
  packages/solid/tests/property/linkUtils.properties.ts
  packages/svelte/src/components/Link.svelte
  packages/svelte/tests/property/buildHref.properties.ts
  packages/vue/src/components/Link.ts
  packages/vue/tests/functional/dom-utils-link.test.ts
  packages/vue/tests/property/linkUtils.properties.ts
  shared/dom-utils/CLAUDE.md
  shared/dom-utils/link-utils.ts
Due: react

release: version packages (#1440 #1442)
  .changeset/sources-partial-registration-1440-fix.md
  .changeset/tame-otters-refactor-angular.md
  .changeset/tame-otters-refactor-preact.md
  .changeset/tame-otters-refactor-react.md
  .changeset/tame-otters-refactor-solid.md
  .changeset/tame-otters-refactor-svelte.md
  .changeset/tame-otters-refactor-vue.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

release: version packages (#1440 #1442) (#1496)
  .changeset/sources-partial-registration-1440-fix.md
  .changeset/tame-otters-refactor-angular.md
  .changeset/tame-otters-refactor-preact.md
  .changeset/tame-otters-refactor-react.md
  .changeset/tame-otters-refactor-solid.md
  .changeset/tame-otters-refactor-svelte.md
  .changeset/tame-otters-refactor-vue.md
  CHANGELOG.md
  packages/angular/CHANGELOG.md
  packages/angular/package.json
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/sources/CHANGELOG.md
  packages/sources/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
  packages/vue/CHANGELOG.md
  packages/vue/package.json
Due: none

bench(cross-router): apply audit follow-ups — provenance dirtyFiles, wide-target gate, ledger annotations
  benchmarks/cross-router/SCENARIO-LAG-ANALYSIS.md
  benchmarks/cross-router/harness/provenance.mjs
  benchmarks/cross-router/matcher-bench/matchers.mjs
  benchmarks/cross-router/matcher-bench/run.mjs
Due: none

fix: isolate a throwing <Link> onClick handler from navigation (#1436)
  .changeset/link-onclick-isolation-1436-preact.md
  .changeset/link-onclick-isolation-1436-react.md
  .changeset/link-onclick-isolation-1436-solid.md
  .changeset/link-onclick-isolation-1436-svelte.md
  packages/preact/src/components/Link.tsx
  packages/preact/tests/functional/Link.test.tsx
  packages/react/src/components/Link.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/solid/src/components/Link.tsx
  packages/solid/tests/functional/Link.test.tsx
  packages/svelte/src/components/Link.svelte
  packages/svelte/tests/functional/Link.test.ts
Due: react

docs(config): /bugfix — match precedent bump for symmetric cross-adapter fixes
  .claude/commands/bugfix.md
Due: none

fix: isolate a throwing <Link> onClick handler from navigation (#1436) (#1497)
  .changeset/link-onclick-isolation-1436-preact.md
  .changeset/link-onclick-isolation-1436-react.md
  .changeset/link-onclick-isolation-1436-solid.md
  .changeset/link-onclick-isolation-1436-svelte.md
  packages/preact/src/components/Link.tsx
  packages/preact/tests/functional/Link.test.tsx
  packages/react/src/components/Link.tsx
  packages/react/tests/functional/Link.test.tsx
  packages/solid/src/components/Link.tsx
  packages/solid/tests/functional/Link.test.tsx
  packages/svelte/src/components/Link.svelte
  packages/svelte/tests/functional/Link.test.ts
Due: react

release: version packages (#1352 #1436 #799)
  .changeset/link-onclick-isolation-1436-preact.md
  .changeset/link-onclick-isolation-1436-react.md
  .changeset/link-onclick-isolation-1436-solid.md
  .changeset/link-onclick-isolation-1436-svelte.md
  CHANGELOG.md
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
Due: none

release: version packages (#1352 #1436 #799) (#1498)
  .changeset/link-onclick-isolation-1436-preact.md
  .changeset/link-onclick-isolation-1436-react.md
  .changeset/link-onclick-isolation-1436-solid.md
  .changeset/link-onclick-isolation-1436-svelte.md
  CHANGELOG.md
  packages/preact/CHANGELOG.md
  packages/preact/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/solid/CHANGELOG.md
  packages/solid/package.json
  packages/svelte/CHANGELOG.md
  packages/svelte/package.json
Due: none

fix(core): harden claimContextNamespace against a "__proto__" namespace (#1191)
  .changeset/claimcontextnamespace-1191-proto-hardening.md
  packages/core/CLAUDE.md
  packages/core/src/api/getPluginApi.ts
  packages/core/src/utils/serializeRouterState.ts
  packages/core/tests/functional/api/getPluginApi/claimContextNamespace.test.ts
  packages/core/tests/functional/utils/serializeRouterState.test.ts
Due: core

docs(config): /bugfix — verify which describe/fixtures a new test lands in
  .claude/commands/bugfix.md
Due: none

fix(core): harden claimContextNamespace against a "__proto__" namespace (#1191) (#1499)
  .changeset/claimcontextnamespace-1191-proto-hardening.md
  packages/core/CLAUDE.md
  packages/core/src/api/getPluginApi.ts
  packages/core/src/utils/serializeRouterState.ts
  packages/core/tests/functional/api/getPluginApi/claimContextNamespace.test.ts
  packages/core/tests/functional/utils/serializeRouterState.test.ts
Due: core

fix(core): reject cleanly when a start interceptor never calls next() (#1411)
  .changeset/start-interceptor-non-thenable-1411-fix.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/tests/functional/routerLifecycle/start/boundary-gaps.test.ts
Due: core

fix(core): reject cleanly when a start interceptor never calls next() (#1411) (#1501)
  .changeset/start-interceptor-non-thenable-1411-fix.md
  packages/core/CLAUDE.md
  packages/core/src/Router.ts
  packages/core/tests/functional/routerLifecycle/start/boundary-gaps.test.ts
Due: core

release: version packages (#1411 #939)
  .changeset/start-interceptor-non-thenable-1411-fix.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
