Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

codecov.yml:

# Codecov Configuration
# Docs: https://docs.codecov.com/docs/codecovyml-reference

# Basic Settings
codecov:
  require_ci_to_pass: yes # Wait for CI to pass before reporting
  notify:
    wait_for_ci: yes # Wait for all CI checks before notifications
    after_n_builds: 1 # Process after receiving all uploads

# Coverage Configuration
coverage:
  precision: 2 # Decimal places for coverage percentage
  round: down # Round down for conservative estimates
  range: "90...100" # Green status range (strict)

  # Coverage Status Checks
  status:
    project:
      default:
        target: 100% # Project must maintain 100% coverage
        threshold: 1% # Allow 1% drop without failing
        if_ci_failed: error # Fail if CI failed
        informational: false # Block on failure
        only_pulls: false # Run on all commits

    patch:
      default:
        target: 100% # New code must have 100% coverage
        threshold: 1% # Allow 1% variance
        if_ci_failed: error
        informational: false
        only_pulls: true # Only for pull requests

    changes:
      default:
        if_ci_failed: error
        informational: false
        only_pulls: true

# Pull Request Comments Configuration
comment:
  layout: "header, diff, changes, suggestions, tree, footer"
  behavior: default # Update existing comment
  require_changes: false # Always show comment
  require_base: false # Don't require base commit
  require_head: true # Require head commit
  require_bundle_changes: true # Only comment when bundle size changes
  bundle_change_threshold: 1Kb # Warn on 1KB+ increase

# Ignore paths (no coverage tracking)
ignore:
  - "**/tests/**" # Test files
  - "**/*.test.ts" # Unit tests
  - "**/*.test.tsx" # React tests
  - "**/*.spec.ts" # Spec tests
  - "**/*.spec.tsx" # React spec tests
  - "**/*.bench.ts" # Benchmark files
  - "**/dist/**" # Built files
  - "**/coverage/**" # Coverage reports
  - "**/*.config.ts" # Config files
  - "**/*.config.mts" # Config files
  - "**/*.config.mjs" # Config files
  - "**/*.config.js" # Config files
  - ".github/**" # GitHub workflows
  - "docs/**" # Documentation
  - "**/types.ts" # Type definitions
  - "**/constants.ts" # Constants
  - "**/index.ts" # Re-exports
  - "**/__mocks__/**" # Mocks
  - "**/__fixtures__/**" # Fixtures

# Flags for organizing coverage by package
flags:
  core:
    paths:
      - packages/core/src/
    carryforward: false
  react:
    paths:
      - packages/react/src/
    carryforward: false
  browser-plugin:
    paths:
      - packages/browser-plugin/src/
    carryforward: false
  helpers:
    paths:
      - packages/helpers/src/
    carryforward: false
  route-tree:
    paths:
      - packages/route-tree/src/
    carryforward: false

# GitHub Checks Integration
github_checks:
  annotations: true # Show inline annotations on GitHub

# Parser configuration for JavaScript/TypeScript
parsers:
  javascript:
    enable_partials: true # Track partial coverage

# Bundle Analysis Configuration
# Docs: https://docs.codecov.com/docs/javascript-bundle-analysis
bundle_analysis:
  warning_threshold: "5%" # Warn if bundle increases by 5%
  status: "informational" # Don't block PRs, just inform

feat(fsm): scaffold @real-router/fsm package structure
  packages/fsm/eslint.config.mjs
  packages/fsm/package.json
  packages/fsm/src/fsm.ts
  packages/fsm/src/index.ts
  packages/fsm/tests/functional/.gitkeep
  packages/fsm/tests/functional/placeholder.test.ts
  packages/fsm/tsconfig.json
  packages/fsm/tsconfig.node.json
  packages/fsm/tsup.config.mts
  packages/fsm/vitest.config.mts
  pnpm-lock.yaml
Due: none

build(fsm): add @real-router/fsm to monorepo configs
  .size-limit.json
  commitlint.config.mjs
  packages/fsm/src/fsm.ts
  packages/fsm/src/index.ts
  tsconfig.json
Due: none

test(fsm): add comprehensive FSM test suite with 100% coverage
  packages/fsm/src/fsm.ts
  packages/fsm/tests/functional/.gitkeep
  packages/fsm/tests/functional/fsm.test.ts
  packages/fsm/tests/functional/placeholder.test.ts
Due: none

fix(fsm): resolve ESLint violations in test file
  packages/fsm/tests/functional/fsm.test.ts
Due: none

feat(fsm): add benchmark suite and extract types to separate module
  .size-limit.json
  packages/fsm/package.json
  packages/fsm/src/fsm.ts
  packages/fsm/src/index.ts
  packages/fsm/src/types.ts
  packages/fsm/tests/benchmarks/fsm.bench.ts
  packages/fsm/tests/benchmarks/index.ts
  packages/fsm/tests/functional/fsm.test.ts
  packages/fsm/tsconfig.json
  pnpm-lock.yaml
Due: none

docs(fsm): add README and changeset for @real-router/fsm
  .changeset/fsm-package-feature.md
  packages/fsm/README.md
Due: none

fix(fsm): replace no-op assertions and fix lint-safe ring config typing
  packages/fsm/tests/benchmarks/fsm.bench.ts
  packages/fsm/tests/functional/fsm.test.ts
Due: none

test: remove flaky wall-clock timing assertions from 5 test files
  packages/core/tests/functional/transitionPath/nameToIDs.test.ts
  packages/helpers/tests/functional/helpers.test.ts
  packages/react/tests/functional/useIsActiveRoute.test.tsx
  packages/react/tests/performance/BaseLink.test.tsx
  packages/route-tree/tests/functional/validation-routes.test.ts
Due: none

feat(fsm): add @real-router/fsm package (#111)
  .changeset/fsm-package-feature.md
  .size-limit.json
  commitlint.config.mjs
  packages/core/tests/functional/transitionPath/nameToIDs.test.ts
  packages/fsm/README.md
  packages/fsm/eslint.config.mjs
  packages/fsm/package.json
  packages/fsm/src/fsm.ts
  packages/fsm/src/index.ts
  packages/fsm/src/types.ts
  packages/fsm/tests/benchmarks/fsm.bench.ts
  packages/fsm/tests/benchmarks/index.ts
  packages/fsm/tests/functional/fsm.test.ts
  packages/fsm/tsconfig.json
  packages/fsm/tsconfig.node.json
  packages/fsm/tsup.config.mts
  packages/fsm/vitest.config.mts
  packages/helpers/tests/functional/helpers.test.ts
  packages/react/tests/functional/useIsActiveRoute.test.tsx
  packages/react/tests/performance/BaseLink.test.tsx
  packages/route-tree/tests/functional/validation-routes.test.ts
  pnpm-lock.yaml
  tsconfig.json
Due: none

release: version packages (#110 #37)
  .changeset/fsm-package-feature.md
  CHANGELOG.md
  packages/fsm/CHANGELOG.md
  packages/fsm/package.json
Due: none

release: version packages (#110 #37) (#112)
  .changeset/fsm-package-feature.md
  CHANGELOG.md
  packages/fsm/CHANGELOG.md
  packages/fsm/package.json
Due: none

fix: fix fsm package version
  IMPLEMENTATION_NOTES.md
  packages/fsm/CHANGELOG.md
  packages/fsm/package.json
Due: none

feat(core): add FSM infrastructure (RouterFSM + TransitionFSM)
  packages/core/package.json
  packages/core/src/Router.ts
  packages/core/src/fsm/index.ts
  packages/core/src/fsm/routerFSM.ts
  packages/core/src/fsm/transitionFSM.ts
  pnpm-lock.yaml
Due: core

feat(core): add FSM shadow mode — events sent to FSM in parallel
  packages/core/src/Router.ts
Due: core

feat(core): switch event emission to FSM chain (TransitionFSM → RouterFSM → Observable)
  packages/core/src/Router.ts
Due: core

fix(core): correct v8 ignore comment count in transitionFSM.onTransition
  packages/core/src/Router.ts
Due: core

test(core): add FSM integration tests for RouterFSM and TransitionFSM
  packages/core/tests/functional/fsm/fsm-integration.test.ts
Due: none

fix(core): improve FSM comments and add stop/cancel integration tests
  packages/core/src/Router.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/tests/functional/fsm/fsm-integration.test.ts
Due: core

feat(core): integrate FSM into Router event system (#118)
  packages/core/package.json
  packages/core/src/Router.ts
  packages/core/src/fsm/index.ts
  packages/core/src/fsm/routerFSM.ts
  packages/core/src/fsm/transitionFSM.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/tests/functional/fsm/fsm-integration.test.ts
  pnpm-lock.yaml
Due: core

refactor(core): add STOP to STARTING transitions and fix onTransition ROUTER_STOP guard
  packages/core/src/Router.ts
  packages/core/src/fsm/routerFSM.ts
Due: core

docs(core): update rfc-2-router-fsm.md with STOP in STARTING, annotate implementation plan with critical fixes
  packages/core/.claude/rfc/2-fsm-migration-rfc-list/release-2-implementation-plan.md
  packages/core/.claude/rfc/2-fsm-migration-rfc-list/rfc-2-router-fsm.md
Due: none

refactor(core): replace boolean flags with FSM state checks in Router facade
  packages/core/src/Router.ts
Due: core

refactor(core): remove boolean flags from RouterLifecycleNamespace, simplify start/stop
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
Due: core

test(core): add FSM lifecycle unit tests for Release 2
  packages/core/tests/functional/fsm/fsm-lifecycle-release2.test.ts
Due: none

test(core): add FSM lifecycle unit tests for Release 2
  packages/core/tests/functional/fsm/fsm-integration.test.ts
Due: none

chore: remove tracked .claude files from git, fix test description
  packages/core/.claude/rfc/2-fsm-migration-rfc-list/release-2-implementation-plan.md
  packages/core/.claude/rfc/2-fsm-migration-rfc-list/rfc-2-router-fsm.md
  packages/core/tests/functional/fsm/fsm-lifecycle-release2.test.ts
Due: none

refactor(core): replace boolean flags with RouterFSM state checks (#119)
  packages/core/src/Router.ts
  packages/core/src/fsm/routerFSM.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/tests/functional/fsm/fsm-integration.test.ts
  packages/core/tests/functional/fsm/fsm-lifecycle-release2.test.ts
Due: core

refactor(core): add TransitionFSM infrastructure fields and dependency interfaces (R3 Phase A)
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
Due: core

refactor(core): replace #navigating with TransitionFSM, restructure start() for full FSM cycle (R3 Phase B+C+D.14)
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/validators.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/tests/functional/fsm/fsm-integration.test.ts
  packages/core/tests/functional/fsm/fsm-lifecycle-release2.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigateToState.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/core/tests/functional/routerLifecycle/start/error-handling.test.ts
  packages/core/tests/functional/routerLifecycle/start/lifecycle-events.test.ts
Due: core

refactor(core): remove #handleEvent bridge and invokeEventListeners lambdas (R3 Phase D cleanup)
  packages/core/src/Router.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
Due: core

refactor(browser-plugin): update navigateToState calls for emitSuccess removal (R3)
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/tests/functional/integration.test.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
Due: core, browser-plugin

refactor(browser-plugin): update stale emitSuccess comments in utils.ts (R3)
  packages/browser-plugin/src/utils.ts
Due: browser-plugin

test(core): add TransitionFSM integration tests and verify R3 readiness criteria
  packages/core/src/Router.ts
  packages/core/tests/functional/fsm/fsm-transition-release3.test.ts
Due: core

test(core): add TransitionFSM integration tests and verify R3 readiness criteria
  packages/core/tests/functional/fsm/fsm-transition-release3.test.ts
Due: none

refactor(core): remove cancel(), #pendingCancel, isNavigating()
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/fsm/index.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/tests/functional/fsm/fsm-transition-release3.test.ts
  packages/core/tests/functional/navigation/navigate/transitions-and-cancellation.test.ts
  packages/router-benchmarks/src/02-navigation-plugins/2.3-edge-cases.bench.ts
  packages/router-benchmarks/src/09-redirects/9.5-edge-cases.bench.ts
  packages/router-benchmarks/src/11-events/11.4-edge-cases.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.1-high-load-sequential.bench.ts
Due: core

refactor(core): replace #navigating with TransitionFSM, restructure start() (#120)
  packages/browser-plugin/src/plugin.ts
  packages/browser-plugin/src/utils.ts
  packages/browser-plugin/tests/functional/integration.test.ts
  packages/core/README.md
  packages/core/src/Router.ts
  packages/core/src/fsm/index.ts
  packages/core/src/namespaces/NavigationNamespace/NavigationNamespace.ts
  packages/core/src/namespaces/NavigationNamespace/types.ts
  packages/core/src/namespaces/NavigationNamespace/validators.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/RouterLifecycleNamespace.ts
  packages/core/src/namespaces/RouterLifecycleNamespace/types.ts
  packages/core/tests/functional/fsm/fsm-integration.test.ts
  packages/core/tests/functional/fsm/fsm-lifecycle-release2.test.ts
  packages/core/tests/functional/fsm/fsm-transition-release3.test.ts
  packages/core/tests/functional/navigation/navigate/events-transition-start.test.ts
  packages/core/tests/functional/navigation/navigate/transitions-and-cancellation.test.ts
  packages/core/tests/functional/navigation/navigateToState.test.ts
  packages/core/tests/functional/noValidate.test.ts
  packages/core/tests/functional/observable/observable.test.ts
  packages/core/tests/functional/routerLifecycle/start/error-handling.test.ts
  packages/core/tests/functional/routerLifecycle/start/lifecycle-events.test.ts
  packages/router-benchmarks/src/02-navigation-plugins/2.3-edge-cases.bench.ts
  packages/router-benchmarks/src/09-redirects/9.5-edge-cases.bench.ts
  packages/router-benchmarks/src/11-events/11.4-edge-cases.bench.ts
  packages/router-benchmarks/src/12-stress-testing/12.1-high-load-sequential.bench.ts
Due: core, browser-plugin

feat(core): add ROUTER_DISPOSED error code
  packages/core-types/src/constants.ts
  packages/core/src/constants.ts
  packages/core/tests/property/error/constants.properties.ts
Due: none

feat(core): add namespace cleanup methods for dispose()
  packages/core/src/namespaces/MiddlewareNamespace/MiddlewareNamespace.ts
  packages/core/src/namespaces/ObservableNamespace/ObservableNamespace.ts
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/StateNamespace/StateNamespace.ts
  packages/core/tests/functional/namespaces/MiddlewareNamespace/clearAll.test.ts
  packages/core/tests/functional/namespaces/ObservableNamespace/clearAll.test.ts
  packages/core/tests/functional/namespaces/PluginsNamespace/disposeAll.test.ts
  packages/core/tests/functional/namespaces/StateNamespace/reset.test.ts
Due: core

feat(types): add TransitionMeta, TransitionReason types and State.transition field
  packages/core-types/src/base.ts
  packages/core-types/src/index.ts
Due: none

feat(core): implement dispose() with full resource cleanup and guardAgainstDisposed
  packages/core-types/src/router.ts
  packages/core/src/Router.ts
  packages/core/tests/functional/routerLifecycle/dispose.test.ts
Due: core
