Repository greydragon888/real-router: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, browser-plugin, helpers, route-tree

fix(core): accept full logger config surface + drop dead validation-plugin validator (#789) (#889)
  .changeset/logger-config-789-fix.md
  .changeset/validation-logger-789-refactor.md
  packages/core/src/typeGuards.ts
  packages/core/tests/functional/createRouter.test.ts
  packages/core/tests/functional/typeGuards.test.ts
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/INVARIANTS.md
  packages/validation-plugin/src/validators/options.ts
  packages/validation-plugin/tests/functional/validators.test.ts
  packages/validation-plugin/tests/property/helpers.ts
Due: core

release: version packages (#123 #37 #42 #789)
  .changeset/logger-config-789-fix.md
  .changeset/validation-logger-789-refactor.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

release: version packages (#123 #37 #42 #789) (#890)
  .changeset/logger-config-789-fix.md
  .changeset/validation-logger-789-refactor.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

fix(logger): guard against re-entrant callbacks calling logger.* (#791)
  .changeset/logger-callback-reentrancy-fix.md
  packages/logger/CLAUDE.md
  packages/logger/INVARIANTS.md
  packages/logger/README.md
  packages/logger/src/Logger.ts
  packages/logger/tests/functional/logger.test.ts
  packages/logger/tests/property/callback.properties.ts
Due: none

fix(logger): guard against re-entrant callbacks calling logger.* (#791) (#891)
  .changeset/logger-callback-reentrancy-fix.md
  packages/logger/CLAUDE.md
  packages/logger/INVARIANTS.md
  packages/logger/README.md
  packages/logger/src/Logger.ts
  packages/logger/tests/functional/logger.test.ts
  packages/logger/tests/property/callback.properties.ts
Due: none

release: version packages (#123 #37 #42 #791)
  .changeset/logger-callback-reentrancy-fix.md
  CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: none

release: version packages (#123 #37 #42 #791) (#892)
  .changeset/logger-callback-reentrancy-fix.md
  CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: none

fix(core): persist custom route fields in routes.update (#797)
  .changeset/update-custom-fields-core.md
  .changeset/update-custom-fields-lifecycle.md
  .changeset/update-custom-fields-preload.md
  .changeset/update-custom-fields-search-schema.md
  .changeset/update-custom-fields-types.md
  packages/core-types/src/api.ts
  packages/core-types/src/router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/constants.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/tests/functional/api/getRoutesApi/updateRoute.test.ts
  packages/core/tests/functional/events/tree-changed.test.ts
  packages/lifecycle-plugin/CLAUDE.md
  packages/lifecycle-plugin/src/index.ts
  packages/lifecycle-plugin/tests/functional/lifecycle.test.ts
  packages/preload-plugin/CLAUDE.md
  packages/preload-plugin/src/index.ts
  packages/preload-plugin/tests/functional/lifecycle.test.ts
  packages/search-schema-plugin/CLAUDE.md
  packages/search-schema-plugin/src/index.ts
  packages/search-schema-plugin/tests/functional/forwardState.test.ts
  packages/validation-plugin/tests/functional/routes.validation.test.ts
Due: core

fix(logger): ignore callback inherited from config prototype
  .changeset/logger-configure-own-callback-792.md
  packages/logger/CLAUDE.md
  packages/logger/INVARIANTS.md
  packages/logger/src/Logger.ts
  packages/logger/tests/functional/logger.test.ts
Due: none

fix(logger): reject Object.prototype keys as configured level
  .changeset/logger-configure-own-level-895.md
  packages/logger/CLAUDE.md
  packages/logger/INVARIANTS.md
  packages/logger/src/Logger.ts
  packages/logger/tests/functional/logger.test.ts
  packages/logger/tests/property/config.properties.ts
  packages/logger/tests/property/helpers.ts
Due: none

fix(core): persist custom route fields in routes.update (#797) (#893)
  .changeset/update-custom-fields-core.md
  .changeset/update-custom-fields-lifecycle.md
  .changeset/update-custom-fields-preload.md
  .changeset/update-custom-fields-search-schema.md
  .changeset/update-custom-fields-types.md
  packages/core-types/src/api.ts
  packages/core-types/src/router.ts
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/constants.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/tests/functional/api/getRoutesApi/updateRoute.test.ts
  packages/core/tests/functional/events/tree-changed.test.ts
  packages/lifecycle-plugin/CLAUDE.md
  packages/lifecycle-plugin/src/index.ts
  packages/lifecycle-plugin/tests/functional/lifecycle.test.ts
  packages/preload-plugin/CLAUDE.md
  packages/preload-plugin/src/index.ts
  packages/preload-plugin/tests/functional/lifecycle.test.ts
  packages/search-schema-plugin/CLAUDE.md
  packages/search-schema-plugin/src/index.ts
  packages/search-schema-plugin/tests/functional/forwardState.test.ts
  packages/validation-plugin/tests/functional/routes.validation.test.ts
Due: core

release: version packages (#123 #37 #42 #797)
  .changeset/update-custom-fields-core.md
  .changeset/update-custom-fields-lifecycle.md
  .changeset/update-custom-fields-preload.md
  .changeset/update-custom-fields-search-schema.md
  .changeset/update-custom-fields-types.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/lifecycle-plugin/CHANGELOG.md
  packages/lifecycle-plugin/package.json
  packages/preload-plugin/CHANGELOG.md
  packages/preload-plugin/package.json
  packages/search-schema-plugin/CHANGELOG.md
  packages/search-schema-plugin/package.json
Due: none

release: version packages (#123 #37 #42 #797) (#896)
  .changeset/update-custom-fields-core.md
  .changeset/update-custom-fields-lifecycle.md
  .changeset/update-custom-fields-preload.md
  .changeset/update-custom-fields-search-schema.md
  .changeset/update-custom-fields-types.md
  CHANGELOG.md
  benchmarks/CHANGELOG.md
  benchmarks/package.json
  package.json
  packages/core-types/CHANGELOG.md
  packages/core-types/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/lifecycle-plugin/CHANGELOG.md
  packages/lifecycle-plugin/package.json
  packages/preload-plugin/CHANGELOG.md
  packages/preload-plugin/package.json
  packages/search-schema-plugin/CHANGELOG.md
  packages/search-schema-plugin/package.json
Due: none

fix(logger): freeze exported LEVEL_CONFIGS and LOG_LEVELS
  .changeset/logger-freeze-constants-897.md
  packages/logger/CLAUDE.md
  packages/logger/src/constants.ts
  packages/logger/tests/functional/logger.test.ts
Due: none

fix(search-params): keep negative zero "-0" as a string under auto
  .changeset/search-params-negative-zero-898.md
  packages/search-params/CLAUDE.md
  packages/search-params/INVARIANTS.md
  packages/search-params/src/strategies/number.ts
  packages/search-params/tests/functional/search-params.test.ts
  packages/search-params/tests/functional/strategies.test.ts
  packages/search-params/tests/property/helpers.ts
Due: none

fix(search-params): keep negative zero "-0" as a string under auto
  .claude/commands/create-pr.md
Due: none

fix(logger): own-property & immutability hardening — configure + constants (#792 #895 #897) (#894)
  .changeset/logger-configure-own-callback-792.md
  .changeset/logger-configure-own-level-895.md
  .changeset/logger-freeze-constants-897.md
  packages/logger/CLAUDE.md
  packages/logger/INVARIANTS.md
  packages/logger/src/Logger.ts
  packages/logger/src/constants.ts
  packages/logger/tests/functional/logger.test.ts
  packages/logger/tests/property/config.properties.ts
  packages/logger/tests/property/helpers.ts
Due: none

release: version packages (#123 #37 #42 #792 #895 #897)
  .changeset/logger-configure-own-callback-792.md
  .changeset/logger-configure-own-level-895.md
  .changeset/logger-freeze-constants-897.md
  CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: none

release: version packages (#123 #37 #42 #792 #895 #897) (#900)
  .changeset/logger-configure-own-callback-792.md
  .changeset/logger-configure-own-level-895.md
  .changeset/logger-freeze-constants-897.md
  CHANGELOG.md
  packages/logger/CHANGELOG.md
  packages/logger/package.json
Due: none

test(logger): property-lock own-property callback detection; clarify INVARIANT #5
  packages/logger/INVARIANTS.md
  packages/logger/tests/property/config.properties.ts
  packages/logger/tests/property/helpers.ts
Due: none

fix(search-params): keep negative zero "-0" as a string under numberFormat:"auto" (#898) (#899)
  .changeset/search-params-negative-zero-898.md
  .claude/commands/create-pr.md
  packages/search-params/CLAUDE.md
  packages/search-params/INVARIANTS.md
  packages/search-params/src/strategies/number.ts
  packages/search-params/tests/functional/search-params.test.ts
  packages/search-params/tests/functional/strategies.test.ts
  packages/search-params/tests/property/helpers.ts
Due: none

release: version packages (#123 #37 #42 #742 #898)
  .changeset/search-params-negative-zero-898.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

release: version packages (#123 #37 #42 #742 #898) (#902)
  .changeset/search-params-negative-zero-898.md
  CHANGELOG.md
  package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: none

fix(type-guards): add prototype check to isParamsStrict
  packages/type-guards/CLAUDE.md
  packages/type-guards/INVARIANTS.md
  packages/type-guards/README.md
  packages/type-guards/src/guards/params.ts
  packages/type-guards/tests/functional/guards/params.test.ts
  packages/type-guards/tests/property/guards/params-edge-cases.properties.ts
Due: none

test(type-guards): raise S2 fan-out to 300k for hardware-robust margin
  packages/type-guards/tests/stress/serializable-scale.stress.ts
Due: none

test(type-guards): add ReDoS sentinel for route-name pattern
  packages/type-guards/tests/stress/route-name-redos.stress.ts
Due: none

fix(type-guards): prevent stack overflow on deep params
  .changeset/browser-plugin-deep-state-901-fix.md
  .changeset/hash-plugin-deep-state-901-fix.md
  .changeset/validation-plugin-deep-params-901-fix.md
  packages/type-guards/ARCHITECTURE.md
  packages/type-guards/CLAUDE.md
  packages/type-guards/INVARIANTS.md
  packages/type-guards/package.json
  packages/type-guards/src/guards/params.ts
  packages/type-guards/tests/functional/guards/params.test.ts
  packages/type-guards/tests/stress/serializable-scale.stress.ts
  packages/type-guards/vitest.config.stress.mts
Due: none

fix(type-guards): accept shared refs (diamonds) in isParams
  .changeset/browser-plugin-shared-refs-786-fix.md
  .changeset/hash-plugin-shared-refs-786-fix.md
  .changeset/validation-shared-refs-786-fix.md
  packages/type-guards/ARCHITECTURE.md
  packages/type-guards/INVARIANTS.md
  packages/type-guards/src/guards/params.ts
  packages/type-guards/tests/functional/guards/params.test.ts
  packages/type-guards/tests/property/guards/params-edge-cases.properties.ts
  packages/type-guards/tests/stress/serializable-scale.stress.ts
Due: none

fix(type-guards): guard adversarial constructor in getTypeDescription
  .changeset/validation-typedesc-787-fix.md
  packages/type-guards/INVARIANTS.md
  packages/type-guards/src/utilities/type-description.ts
  packages/type-guards/tests/functional/utilities/type-description.test.ts
  packages/type-guards/tests/property/utilities/type-description.properties.ts
Due: none

fix(route-tree): guard adversarial constructor in getTypeDescription
  .changeset/validation-routedesc-903-fix.md
  packages/route-tree/src/validation/route-batch.ts
  packages/route-tree/tests/functional/validation-route-batch.test.ts
Due: route-tree

docs(type-guards): correct stale INVARIANTS, JSDoc, and consumer docs (#788)
  packages/type-guards/ARCHITECTURE.md
  packages/type-guards/CLAUDE.md
  packages/type-guards/INVARIANTS.md
  packages/type-guards/src/guards/state.ts
  packages/type-guards/tests/property/guards/state-edge-cases.properties.ts
  packages/type-guards/tests/property/guards/state.properties.ts
  packages/type-guards/tests/property/helpers.ts
Due: none

test(type-guards): add structural property tests with differential oracle
  packages/type-guards/INVARIANTS.md
  packages/type-guards/tests/property/guards/params-structural.properties.ts
  packages/type-guards/tests/property/guards/state.properties.ts
  packages/type-guards/tests/property/helpers.ts
  packages/type-guards/tests/property/utilities/type-description.properties.ts
Due: none

fix(type-guards): harden runtime guards from the audit (#785 #786 #787 #901 #903) + docs cleanup (#788) (#904)
  .changeset/browser-plugin-deep-state-901-fix.md
  .changeset/browser-plugin-shared-refs-786-fix.md
  .changeset/hash-plugin-deep-state-901-fix.md
  .changeset/hash-plugin-shared-refs-786-fix.md
  .changeset/validation-plugin-deep-params-901-fix.md
  .changeset/validation-routedesc-903-fix.md
  .changeset/validation-shared-refs-786-fix.md
  .changeset/validation-typedesc-787-fix.md
  packages/route-tree/src/validation/route-batch.ts
  packages/route-tree/tests/functional/validation-route-batch.test.ts
  packages/type-guards/ARCHITECTURE.md
  packages/type-guards/CLAUDE.md
  packages/type-guards/INVARIANTS.md
  packages/type-guards/README.md
  packages/type-guards/package.json
  packages/type-guards/src/guards/params.ts
  packages/type-guards/src/guards/state.ts
  packages/type-guards/src/utilities/type-description.ts
  packages/type-guards/tests/functional/guards/params.test.ts
  packages/type-guards/tests/functional/utilities/type-description.test.ts
  packages/type-guards/tests/property/guards/params-edge-cases.properties.ts
  packages/type-guards/tests/property/guards/params-structural.properties.ts
  packages/type-guards/tests/property/guards/state-edge-cases.properties.ts
  packages/type-guards/tests/property/guards/state.properties.ts
  packages/type-guards/tests/property/helpers.ts
  packages/type-guards/tests/property/utilities/type-description.properties.ts
  packages/type-guards/tests/stress/route-name-redos.stress.ts
  packages/type-guards/tests/stress/serializable-scale.stress.ts
  packages/type-guards/vitest.config.stress.mts
Due: route-tree

release: version packages (#123 #37 #42 #786 #787 #901 #903)
  .changeset/browser-plugin-deep-state-901-fix.md
  .changeset/browser-plugin-shared-refs-786-fix.md
  .changeset/hash-plugin-deep-state-901-fix.md
  .changeset/hash-plugin-shared-refs-786-fix.md
  .changeset/validation-plugin-deep-params-901-fix.md
  .changeset/validation-routedesc-903-fix.md
  .changeset/validation-shared-refs-786-fix.md
  .changeset/validation-typedesc-787-fix.md
  CHANGELOG.md
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

release: version packages (#123 #37 #42 #786 #787 #901 #903) (#905)
  .changeset/browser-plugin-deep-state-901-fix.md
  .changeset/browser-plugin-shared-refs-786-fix.md
  .changeset/hash-plugin-deep-state-901-fix.md
  .changeset/hash-plugin-shared-refs-786-fix.md
  .changeset/validation-plugin-deep-params-901-fix.md
  .changeset/validation-routedesc-903-fix.md
  .changeset/validation-shared-refs-786-fix.md
  .changeset/validation-typedesc-787-fix.md
  CHANGELOG.md
  packages/browser-plugin/CHANGELOG.md
  packages/browser-plugin/package.json
  packages/hash-plugin/CHANGELOG.md
  packages/hash-plugin/package.json
  packages/validation-plugin/CHANGELOG.md
  packages/validation-plugin/package.json
Due: none

docs: correct 4 stale claims surfaced by core architecture review
  ARCHITECTURE.md
  IMPLEMENTATION_NOTES.md
  packages/core/CLAUDE.md
Due: none

refactor(core,validation-plugin): remove dead validation machinery (#906)
  .changeset/dead-validation-machinery-906-core.md
  .changeset/dead-validation-machinery-906-validation-plugin.md
  packages/core/src/namespaces/PluginsNamespace/PluginsNamespace.ts
  packages/core/src/namespaces/RouteLifecycleNamespace/RouteLifecycleNamespace.ts
  packages/core/src/types/RouterValidator.ts
  packages/core/tests/functional/no-validation-plugin.test.ts
  packages/validation-plugin/CLAUDE.md
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/lifecycle.ts
  packages/validation-plugin/tests/functional/integration/plugin-lifecycle.test.ts
  packages/validation-plugin/tests/functional/validators.test.ts
Due: core

refactor(validation-plugin): type validator-bridge casts to clear sonar S4325 (#906)
  packages/validation-plugin/src/validationPlugin.ts
  packages/validation-plugin/src/validators/eventBus.ts
Due: none

refactor(core): drop treeOperations indirection + cache getRoutesApi (#909 #910)
  .changeset/getroutesapi-cache-910-perf.md
  .changeset/treeops-removal-909-refactor.md
  IMPLEMENTATION_NOTES.md
  packages/core/src/api/getRoutesApi.ts
  packages/core/src/namespaces/RoutesNamespace/routesStore.ts
  packages/core/tests/functional/api/getRoutesApi/getRoutesApi.test.ts
Due: core

refactor(core): §4 review cleanups — drop dead type, assertLoggerConfig (#911)
  .changeset/review-s4-911-cleanup.md
  packages/core/src/Router.ts
  packages/core/src/index.ts
  packages/core/src/transitionPath.ts
  packages/core/src/typeGuards.ts
  packages/core/src/types.ts
  packages/core/tests/functional/typeGuards.test.ts
Due: core

Path conditions:
  core: any of: packages/core/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  react: any of: packages/react/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  browser-plugin: any of: packages/browser-plugin/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  helpers: any of: packages/helpers/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
  route-tree: any of: packages/route-tree/src/, but not: **/tests/**, **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/*.spec.tsx, **/*.bench.ts, **/dist/**, **/coverage/**, **/*.config.ts, **/*.config.mts, **/*.config.mjs, **/*.config.js, .github/**, docs/**, **/types.ts, **/constants.ts, **/index.ts, **/__mocks__/**, **/__fixtures__/**
